[2022-01-24 10:42] #454 closed

[2022-01-24 20:43] HumairAK commented on #298
Awesome @dystewart keep us posted, feel free to throw a pr to the apps repo to add it to smaug when ready.

[2022-01-24 21:38] aakankshaduggal opened #512 "Increase timeout for Seldon Operators"
**Is your feature request related to a problem? Please describe.**
I am working on a seldon model service for AI4CI, I am getting <504 gateway timeouts> since it's taking more than 30 seconds to post the request.

Model service - http://optimal-stopping-point-ds-ml-workflows-ws.apps.smaug.na.operate-first.cloud/predict

**Describe the solution you'd like**
Increase the timeout for Seldon operators

[2022-01-24 21:38] KPostOffice commented on #439
/remove-lifecycle stale

[2022-01-25 03:23] #736 closed

[2022-01-25 09:25] sesheta commented on #442
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-25 11:38] anishasthana commented on #435
Have a WIP PR open at https://github.com/operate-first/apps/pull/1554

[2022-01-25 12:25] sesheta commented on #371
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-25 19:04] #509 closed

[2022-01-25 19:47] dystewart commented on #298
@larsks @HumairAK
Here is the official way to auto-unseal the vault: [https://learn.hashicorp.com/tutorials/vault/autounseal-transit?in=vault/auto-unseal](https://learn.hashicorp.com/tutorials/vault/autounseal-transit?in=vault/auto-unseal) The process is relatively straightforward but it requires creating another instance of vault to run the transit secrets engine so in theory it saves a bit of co

[2022-01-25 21:25] sesheta commented on #443
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-26 14:30] HumairAK commented on #443
The support page in general was updated and moved to: https://www.operate-first.cloud/community-handbook/support/README.md -- closing.

[2022-01-26 14:30] #443 closed

[2022-01-26 14:33] HumairAK commented on #439
Hello, just notice that is still ongoing, this can be self provisioned by following the instructions here:

https://www.operate-first.cloud/apps/content/cluster-scope/onboarding_to_cluster.html
Jupyterhub access here: https://www.operate-first.cloud/apps/content/odh/jupyterhub/access_jupyterhub.html

Let us know if there are any issues as we are continuously trying to improve the docs. Thanks.

[2022-01-26 15:00] amfred opened #513 "Broken link on homepage"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
(Google Chrome browser)
1. Go to ['Operate First'](https://www.operate-first.cloud/)
2. Scroll down near the bottom of the page and click on 'Find out about our resources'
3. The link https://www.operate-first.cloud/hitchhikers-guide/support/README.md opens
4. The page displa

[2022-01-26 15:46] anishasthana opened #514 "Set up prow for RHODS repository"
We would like to set up prow to manage merging based on specific conditions for the odh-deployer repository at https://github.com/red-hat-data-services/odh-deployer

[2022-01-26 16:37] skanthed opened #515 "Issues about curator running in smaug cluster"
**Describe the bug**

Cron jobs not starting for curator project -

Pod backup-to-bucket says - "Unable to attach or mount volumes: unmounted volumes=[koku-metrics-operator-data]"

Link to the issue -
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/koku-metrics-operator/pods/backup-to-bucket-27385920-crmjz/events

**Screenshots**

![backup-to-bucket](https://user-images.

[2022-01-26 21:54] bryanmontalvan opened #682 "Co-op Project Idea, looking for feedback and insight"
# Update
#### More detailed proposal here
https://github.com/bryanmontalvan/opf-storage-project

## Introduction
Since I will be working in a storage product group in the summer I've been tasked to come up with a project idea related to storage. And since I am doing SRE work, my project idea will revolve around monitoring.

## The Idea
My co-op project will essentially be, expanding the way we cur

[2022-01-27 14:10] durandom commented on #489
@HumairAK do you have a recent PR that can act as an example for adding project/group and namespace?

@Gregory-Pereira didn't we have bots to automate that?

[2022-01-27 15:31] larsks commented on #515
It's likely this job failed because the pod was scheduled on a node other than the one on which the volume was available. Despite this error it looks like your backups are otherwise completing regularly; right now I see:

[code]

We may be able to avoid this problem by providing some sort of scheduling hint that ensures the backup pod runs in the right place. I'm going to investigate what our opti

[2022-01-27 15:33] HumairAK commented on #515
Just to confirm @larsks that was indeed the issue. We changed the node for the cronjob to run on the same node as the controller pod, and the job ran successfully.

[2022-01-27 15:40] skanthed commented on #515
But the pod that was created has nothing in logs, It pushed nothing to the database and the status was completed. Waiting for another few pods to be created and will update it here.

[2022-01-27 15:45] HumairAK commented on #515
@skanthed apologies by _successfully_ I meant the pod was scheduled and ran to completion. Not that the container process within it performed as it was supposed to.

That I have no idea about.

[2022-01-27 16:15] skanthed commented on #515
@HumairAK I understand. No issues, I was just clarifying the details.

[2022-01-27 17:34] HumairAK commented on #489
This should offer detailed instructions: https://www.operate-first.cloud/apps/content/cluster-scope/onboarding_to_cluster.html

Follow the links mentioned there, if you do not know about notebooks or how to use the operate-first JH instance to onboard read [here](https://www.operate-first.cloud/apps/content/notebooks/README.html). Let us know if there are any issues!

[2022-01-27 20:43] larsks commented on #515
We should be able to solve this by configuring [pod affinity constraints](https://docs.openshift.com/container-platform/4.9/nodes/scheduling/nodes-scheduler-pod-affinity.html). That allows us to schedule one pod (e.g., the backup pod) by requiring that it runs on a node that is already running other pods with specific labels.

For this to work, we need to ensure the koku metrics pod has appropriat

[2022-01-27 23:38] dystewart commented on #298
I have successfully deployed an H.A instance of vault with 3 pods in a dev cluster. I've also installed the external-secrets operator via OLM, and deployed an instance of external-secrets with said operator.

Next steps are involving some self teaching of the different vault authentication methods and how to get the integration with external-secrets right.

[2022-01-28 14:53] HumairAK commented on #439
Project onboarded via: https://github.com/operate-first/apps/pull/1559

Access namespace here: https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/cluster/projects/varangian-test

[2022-01-28 14:53] #439 closed

[2022-01-28 18:10] larsks commented on #298
I think if we were deploying multiple vaults (e.g., with a master vault on the infra cluster and then additional vaults in our managed clusters) that maybe we could use the infra vault to auto-unseal the others, but I don't think that's a high priority right now.

[2022-01-28 20:06] mubariskhan96 opened #681 "Looking for suggestions on Co-op Project Idea"

[2022-01-29 12:25] sesheta commented on #339
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-29 18:25] sesheta commented on #410
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-30 21:23] sesheta commented on #375
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-30 21:23] sesheta commented on #375
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/375#issuecomment-1025234387):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-01-30 21:23] #375 closed

[2022-01-31 11:06] tumido commented on #339
/remove-lifecycle rotten

[2022-01-31 13:39] schwesig commented on #452
talk at DevConf.czt 2022 delivered
https://github.com/AICoE/content-pipeline/issues/27#issuecomment-1025632170

[2022-01-31 13:59] HumairAK commented on #386
@screeley44 in our last acm meeting I believe you mentioned someone you had in mind that can help out with this (unless I misheard), let us know if that's still the case! From what I understand, this will mostly consist of just installing the policy manifest onto the smaug cluster.

@larsks (fyi)

[2022-01-31 20:26] #1010 closed

[2022-01-31 21:00] HumairAK commented on #410
Hrmm missed this, if this is still needed you can follow instructions here: https://www.operate-first.cloud/apps/content/cluster-scope/onboarding_to_cluster.html

[2022-01-31 21:02] margarethaley commented on #410
@HumairAK I dont think it's needed anymore - sorry about that, I'll close it out!

[2022-01-31 21:02] #410 closed

[2022-01-31 21:26] sesheta commented on #324
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-31 21:36] carlosGimeno opened #680 "Project Idea (SRE + Security), looking for feedback"

[2022-02-01 09:25] sesheta commented on #398
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-01 18:26] sesheta commented on #449
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-01 18:27] sesheta commented on #453
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-01 19:32] larsks commented on #339
@HumairAK @tumido I think we can close this now, yes?

[2022-02-01 19:51] larsks commented on #515
@skanthed where does the operator come from? It doesn't provide a very rich set of labels on the controller pod, but there is one label we can use:

[code]

So if we match on the `control-plane` label, we would add an `affinity` section something like this to the backup pod:

[code]

This should arrange for the backup-to-bucket pod to run on the same
node as the koku-metrics-controller-manager pod

[2022-02-01 20:05] billburnseh opened #517 "https://www.operate-first.cloud/hitchhikers-guide/support/README.md is broken"
**Describe the bug**
The above like reports a 404...sadness as they say

**To Reproduce**
Click on the link and see that it's broken

**Expected behaviour**
Should get yo to the HitchHikers Guide support readme

**Screenshots**
N/A

**Additional context**
N/a

[2022-02-01 20:09] larsks commented on #517
In fact, it's https://www.operate-first.cloud/ that is broken; it has  a stale link that needs updating. I'll submit a PR.

[2022-02-01 21:19] #517 closed

[2022-02-01 23:08] mubariskhan96 opened #679 "Alerting Framework"

[2022-02-02 10:43] pacospace opened #574 "Do we have a section describing how to update grafana dashboard once a new version of the JSON template is modified"
Describe the process on how to get a new version of the grafana dashboard updated:

1. Modify your grafana dashboards, making sure the ID is different
2. Modify the grafana operator CRD, changing version, so that the operator recognizes the change in the CRD
3. ??

[2022-02-02 11:55] schwesig commented on #453
/remove-lifecycle stale

[2022-02-02 11:56] schwesig commented on #449
/remove-lifecycle stale

[2022-02-02 15:13] #710 closed

[2022-02-02 18:43] larsks opened #678 "Provide information to NERC about size of loki deployment"

[2022-02-02 18:51] larsks opened #677 "Can project labels be propagated to metrics collected from things in those projects?"
If we add some sort of higher-level organization label to projects (like "company" or "primary investigator"), can we include those labels in metrics coming from those projects (so that we could produce graphs for things like "container cpu utilization by company", for example)?

[2022-02-02 20:43] HumairAK commented on #435
Keeping this open until we confirm deployment on smaug is meeting requirements

[2022-02-03 15:40] durandom opened #518 "Onboard ManageIQ"
### Target cluster

Infra

### Team name

manageiq

### Desired project names

manageiq

### Project description

I talked to @fryguy and @chessbyte from the https://github.com/manageiq community to deploy an instance of ManageIQ to our environment.

The initial use-case would be to connect as many cloud accounts (providers) and display resource usage. Later it can serve a complimentary use-case a

[2022-02-03 15:42] durandom commented on #518
@fryguy can you add some more resource requirements for a minimal instance?
@4n4nd can you point to docs and a PR that deploys an operator that is not part of operatorhub?

[2022-02-03 15:42] durandom commented on #518
We can also start with smaug and later move the app to the infra cluster.

[2022-02-03 15:43] chessbyte commented on #518
Exciting stuff!

[2022-02-03 16:12] Fryguy commented on #518
cc @bdunne @agrare @jrafanie @kbrock

[2022-02-03 16:13] 4n4nd commented on #518
@chessbyte @Fryguy you can start by onboarding your team/project to the moc/smaug cluster using [these instructions](https://www.operate-first.cloud/apps/content/cluster-scope/onboarding_to_cluster.html).

Once a namespace is available for your project, you can add a new application in the apps repo ([example PR](https://github.com/operate-first/apps/pull/628)) which deploys the operator in your p

[2022-02-03 16:50] Fryguy commented on #518
@bdunne can you comment here with resource requirements?  At least for, say, if we include 1 amazon provider to start?

[2022-02-03 17:00] Fryguy commented on #518
Just noticed that https://github.com/operate-first/apps/pull/628 is @tumido's PR. Hi @tumido 👋

[2022-02-03 18:27] sesheta commented on #165
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 18:27] sesheta commented on #458
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 18:27] sesheta commented on #459
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 18:27] sesheta commented on #460
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 18:27] sesheta commented on #461
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 21:27] sesheta commented on #464
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 21:27] sesheta commented on #465
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 21:44] bryanmontalvan commented on #498
Hey @anishasthana did you have anything specifically in mind?

I think adding an quick introduction and description of the clusters in the `Support` page would suffice. Made a quick mockup
<img src="https://user-images.githubusercontent.com/68972382/152433889-2fb5de5f-2cc9-4091-a9c8-e02ca6c25447.png" width="600"/>

Let me know what you think, and @HumairAK should Balrog be added? Bit confused on w

[2022-02-03 22:47] larsks commented on #513
This was fixed by https://github.com/operate-first/operate-first.github.io/pull/355

[2022-02-03 22:47] #513 closed

[2022-02-04 14:22] anishasthana commented on #498
Yeah honestly this  looks pretty good. Could you also add links on each line to the openshift-console

[2022-02-04 14:31] #735 closed

[2022-02-04 18:30] dystewart commented on #298
I've finally gotten a working instance of high availability vault with Raft storage back-end and external-secrets in the dev cluster. Admittedly, actual configuration and initialization of the vault is a bit cumbersome but in all it has helped to understand some of the confusions of Vault.

So basically what we need to do to get Vault ready for use with external-secrets is:

Vault deployment and c

[2022-02-04 23:33] bdunne commented on #518
Hi @durandom I think 2 cores, 10GB RAM and a 15GB PVC is probably a minimum starting point.

[2022-02-05 03:26] sesheta commented on #411
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-05 07:44] 4n4nd commented on #518
@bdunne you should be able to choose the resource quota for your project if you follow the above mentioned process

[2022-02-05 12:26] sesheta commented on #342
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-05 15:26] sesheta commented on #360
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-06 18:24] sesheta commented on #379
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-06 18:24] sesheta commented on #219
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-06 18:24] #379 closed

[2022-02-06 18:24] sesheta commented on #379
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/379#issuecomment-1030887131):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-02-06 18:24] sesheta commented on #219
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/219#issuecomment-1030887136):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-02-06 18:24] #1003 closed

[2022-02-07 09:24] #770 closed

[2022-02-07 09:39] pacospace commented on #219
/reopen
/remove-lifecycle rotten

[2022-02-07 09:39] sesheta commented on #219
@pacospace: Reopened this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/219#issuecomment-1031260268):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-02-07 11:30] PixelJonas commented on #489
I followed the notebook creating:
https://github.com/operate-first/apps/pull/1585

[2022-02-07 12:27] sesheta commented on #182
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 12:27] sesheta commented on #434
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 14:47] HumairAK commented on #342
We have resource overview metrics here: https://grafana.operate-first.cloud/dashboards/f/XhHHmTT7z/cluster-management

If these are insufficient we should make explicit issues requesting what additional dashboards/info we need.

[2022-02-07 14:47] #342 closed

[2022-02-07 14:51] #761 closed

[2022-02-07 14:53] HumairAK commented on #165
/remove-lifecycle stale

[2022-02-07 15:26] rbo opened #520 "Firmare update morty-master-2.emea.operate-first.cloud required -> OVN Problem -> Reinstall morty"
---------- Forwarded message ---------
From: <support@hetzner.com>
Date: Wed, Feb 2, 2022 at 11:20 AM
Subject: Important client information: Recommended firmware update
To: <goern@redhat.com>, <hild@redhat.com>, <robert.bohne@redhat.com>

Hetzner
Online GmbH
Dear Sir or Madam

We're writing to you today because you have one or more dedicated root servers mounted with a Samsung PM9A1 NVMe SSD, and

[2022-02-07 15:27] sesheta commented on #448
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 17:10] dystewart commented on #298
##  Docs which come in handy for Vault specific actions
[Policies](https://www.vaultproject.io/docs/concepts/policies)
[Seal/Unseal](https://www.vaultproject.io/docs/concepts/seal)
[KV Engine](https://www.vaultproject.io/docs/commands/kv)
[raft](https://www.vaultproject.io/docs/commands/operator/raft)
[kubernetes auth](https://www.vaultproject.io/docs/auth/kubernetes)

[2022-02-07 18:27] sesheta commented on #469
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-08 10:40] anishasthana commented on #498
Oooh nice, that works too!

[2022-02-08 11:56] anishasthana commented on #298
So what are your planned next steps? Do you have a service in mind to start using Vault with? (following a PR to opf/apps to get it merged and deployed?)

[2022-02-08 12:27] sesheta commented on #472
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-08 14:16] HumairAK opened #676 "Grafana regular backups of dashboards to external storage"
Since grafana operator will reboot grafana on CR changes (e.g. when a grafana datasource/dashboard CR) is added. We should consider if there's an easy way for us to setup periodic external backups for grafana in case someone loses critical work during one of these deployments.

[2022-02-08 14:48] dystewart commented on #298
Once the PR is merged the goal is actually to move all services that use KSOPS for secrets/encryption in the Smaug cluster over to Vault for secrets management.

[2022-02-08 15:27] sesheta commented on #335
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-08 19:09] HumairAK commented on #298
for everything that's not a secret we can use patch operator :D

[2022-02-08 19:57] HumairAK commented on #339
Yeah we have a framework in place on how to do this for other clusters. If this issue was about a specific cluster let's get another one going on bringing certs to it via cert manager using our current workflow.

[2022-02-08 19:57] #339 closed

[2022-02-08 20:58] #685 closed

[2022-02-08 21:26] sesheta commented on #337
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-09 14:47] durandom opened #675 "rename this repo to `operations`"

[2022-02-09 15:27] sesheta commented on #102
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-10 09:27] sesheta commented on #419
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-10 19:08] #675 closed

[2022-02-11 01:28] jeremychoi opened #521 "need to improve onboarding_project.ipynb re authentication for git push"
**Describe the bug**

Rather than a bug, this is feedback for the notebook to be improved.

'!git push' in the notebook (seen in https://www.operate-first.cloud/apps/content/notebooks/onboarding_project.html ) will require the user to put their username/password for Github authentication, which makes the notebook run hang, if simply running the notebook. (waiting for user input which doesn't seem

[2022-02-11 13:07] durandom commented on #182
/remove-lifecycle stale

[2022-02-11 18:09] sallyom commented on #491
Also, this is related to https://github.com/operate-first/support/issues/401 but this can be completed without OKD modifications

[2022-02-11 20:57] rbo opened #522 "Cancel public IPv4 addresses of all morty node - not needed and save money 1,7 Euro per Node"
**User story**

Cancel public IPv4 addresses of all Morty node - not needed and save money 1,7 Euro per Node

**Additional context**

**Acceptance Criteria**
- [x] No more IPv4 addresses available for Morty nodes. The rescue system is only via IPv6 available.

**Linked epics / issues**

[2022-02-11 21:26] sesheta commented on #334
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-12 15:27] sesheta commented on #187
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-12 18:27] sesheta commented on #253
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-13 15:25] #726 closed

[2022-02-13 15:27] sesheta commented on #424
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-13 15:28] sesheta commented on #163
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-14 18:28] sesheta commented on #319
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-14 21:44] HumairAK commented on #319
/remove-lifecycle stale

[2022-02-14 21:55] dystewart commented on #298
Error message from vault statefulset (operator deployment)

Generated from statefulset-controller
575 times in the last 2 days
create Pod vault-0 in StatefulSet vault failed error: pods "vault-0" is forbidden: unable to validate against any security context constraint: [provider "anyuid": Forbidden: not usable by user or serviceaccount, provider restricted: .spec.securityContext.fsGroup: Invalid v

[2022-02-14 22:16] larsks commented on #298
The [resource you are trying to deploy](https://gist.github.com/dystewart/fb8f5e92baa370750a4bd7145a796e1a) has:

[code]

That means "run this pod without any constraints, providing access to all host devices and effectively make it `root` on the host". For obvious reasons it's not possible to request this sort of privileged access by default, but that also leads to the question: why does `vault`

[2022-02-15 09:27] sesheta commented on #307
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-15 12:27] sesheta commented on #111
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-15 15:28] sesheta commented on #477
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 16:11] roytman commented on #41
/remove-lifecycle rotten

[2022-02-15 18:23] anishasthana commented on #298
I think it's worth investigating if you can minimize the privileges.

[2022-02-15 21:43] sallyom commented on #401
moving discussion over to the Kspan issue, until there's news with enabling tracing in OpenShift: https://github.com/operate-first/support/issues/491

[2022-02-15 21:44] sallyom commented on #491
/assign @4n4nd

[2022-02-15 21:56] sallyom commented on #491
Update:
**jaeger:**
* Red Hat distributed tracing platform appears to be the same as Jaeger Community Operator and both are available from OperatorHub
* as **cluster-admin** I've installed the RH distributed tracing platform operator in a test cluster
    * this creates a controller that watches `Jaeger` CustomResources in configured namespaces (i've added the watch for all namespaces).
    * when

[2022-02-16 14:52] #828 closed

[2022-02-16 16:04] HumairAK commented on #489
Great, I see namespace was created. Can this be closed now?

[2022-02-16 20:45] dystewart commented on #298
@larsks,

@HumairAK and I had a lengthy discussion today while doing some debugging of the vault operators I have been looking back into again, namely vault-config-operator and the banzaicloud vault operator.

The vault-config-operator offers many custom resources that we're looking for (such as kubernetes auth endpoint, vault role, vault policy, etc), but the documentation is very confusing and I

[2022-02-17 13:39] HumairAK commented on #298
The operator nerc folks are trying: https://github.com/nerc-project/nerc-k8s-operators/tree/main/k8s/base/vault

[2022-02-17 14:57] HumairAK opened #674 "Smaug OpenShift Cluster upgrade, Wednesday, February 23rd."

[2022-02-17 22:04] dystewart commented on #298
@larsks @HumairAK

So after trying to install the banzaicloud operator (via a new catalog added today [https://github.com/operate-first/apps/pull/1640/files](https://github.com/operate-first/apps/pull/1640/files) I'm running into more issues when actually trying to get vault deployed.

In this case the vault operator pod deploys and starts but with this error in the logs:
`leaderelection.go:325] e

[2022-02-17 22:14] sesheta commented on #431
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-18 10:34] sesheta commented on #300
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-18 10:34] #300 closed

[2022-02-18 10:34] sesheta commented on #300
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/300#issuecomment-1044299275):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-02-18 19:34] sesheta commented on #387
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-20 16:07] sesheta commented on #462
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-21 10:07] sesheta commented on #445
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-21 11:44] schwesig commented on #445
/remove-lifecycle stale

[2022-02-21 19:13] codificat commented on #488
/close
as we are going with `cosigned` instead, see https://github.com/operate-first/apps/pull/1560

[2022-02-21 19:13] #488 closed

[2022-02-21 19:14] sesheta commented on #488
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/488#issuecomment-1047164887):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-02-22 10:07] sesheta commented on #277
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 16:07] sesheta commented on #480
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 16:07] sesheta commented on #482
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-23 15:40] harshad16 opened #673 "[INCIDENT][SMAUG/CI-PROW] - CI PROW Fails due to storages issue"

[2022-02-23 15:40] harshad16 opened #966 "[INCIDENT][SMAUG/CI-PROW] - CI PROW Fails due to storages issue"
### Clusters Affected

smaug

### Users Affected

Users using ci prow on the Github repos.
Organizations affected:
- Open-services-group
- AICoE
- Operate-first
- AICoE-AIOps
- Thoth-station

### Incident Description

Hello Operate First Users,

we are investigating an ongoing incident affecting CI prow which is deployed on smaug cluster

we will provide updates to this issue thread as the inciden

[2022-02-23 15:40] harshad16 opened #967 "[INCIDENT][SMAUG/CI-PROW] - CI PROW Fails due to storages issue"

[2022-02-23 17:12] husky-parul opened #523 "Request access on Rick"
### Target cluster

Rick

### Team name

boatrockers

### Desired project names

boatrockers-ns

### Project description

Experimental project with operate first

### Users needing access

husky-parul

### Namespace Quota

Large

### Custom quota

_No response_

### Your GPG key or contact

86AA33D3B33DD202B2564EE5DCDA96433EA640A3 available from http://keyserver.ubuntu.com/

[2022-02-23 17:58] dystewart opened #672 "Add apirequestcount read permissions to sre group in smaug/infra"

[2022-02-24 08:24] #489 closed

[2022-02-24 09:52] rbo commented on #520
[code]

[2022-02-24 09:52] rbo commented on #520
Slack announcement: https://operatefirst.slack.com/archives/C01TLUB9X6Y/p1645696139429649

[2022-02-24 09:54] rbo commented on #520
Reboot in rescue mode:
[code]

[2022-02-24 09:57] rbo commented on #520
Firmware update:
[code]

[2022-02-24 10:35] rbo commented on #520
Boot fails, ordered a KVM access:

![image](https://user-images.githubusercontent.com/36604/155508030-c622c265-8f9b-4fb5-93ab-091ce029c05b.png)

[2022-02-24 11:04] rbo commented on #520
Let's reinstall the master-2: https://docs.openshift.com/container-platform/4.9/backup_and_restore/control_plane_backup_and_restore/replacing-unhealthy-etcd-member.html

[2022-02-24 11:10] rbo commented on #520
Reboot in rescure mode

Wipe disks:
[code]

[2022-02-24 11:13] rbo commented on #520
Remove etcd member and node:

[code]

[2022-02-24 11:21] rbo commented on #520
<details>
  <summary>Prepare / reset server</summary>

[code]

</details>

<details>
  <summary>Rollout ignition</summary>

[code]

</details>

<details>
  <summary>Run installer & reboot</summary>

[code]

</details>

[2022-02-24 11:24] rbo commented on #520
Watch csr's and approve it...

[2022-02-24 11:41] rbo commented on #520
OVN failes to start on master-2:
[code]

[2022-02-24 12:35] rbo commented on #520
Create the interface by hand:
[code]

[2022-02-24 12:39] rbo commented on #520
master-2 is ready.

Start force to redeploy / rebalance etcd: `oc patch etcd cluster -p='{"spec": {"forceRedeploymentReason": "recovery-'"$( date --rfc-3339=ns )"'"}}' --type=merge `

[2022-02-24 14:59] rbo commented on #520
Tried to restart entire ovn stack:
[code]
Doesn't solve a problem. It's also not possible anymore to schedule any pods:
[code]

[2022-02-24 15:10] rbo commented on #520
https://access.redhat.com/solutions/6646561  -> https://bugzilla.redhat.com/show_bug.cgi?id=2027402

[2022-02-24 16:08] sesheta commented on #478
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-24 16:34] rbo commented on #522
A Records deleted too.

[2022-02-24 17:10] rbo commented on #520
Doesn't make sense to spent more time, the cluster is fairly empty. Let's reinstall

[2022-02-24 17:24] sesheta commented on #442
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-24 17:24] sesheta commented on #371
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-24 20:53] rbo commented on #520
Cluster installed.

Label & Taint storage nodes:
[code]

[2022-02-24 20:59] #523 closed

[2022-02-25 08:12] rbo commented on #520
Update the cluster to 4.9.21

[2022-02-25 08:12] rbo commented on #520
Updated bitwarden with new credentials.

[2022-02-25 08:54] rbo commented on #277
Meanwhile, Hypershift is available as TechPreview with OpenShift 4.10 / ACM 2.5

![image](https://user-images.githubusercontent.com/36604/155685145-2ba5aac6-7c24-4cbf-bd12-4fe3ccfdf42f.png)

[2022-02-25 09:07] rbo commented on #477
We have a `sa-dach` group: https://github.com/operate-first/apps/blob/master/cluster-scope/base/user.openshift.io/groups/sa-dach/group.yaml

[2022-02-25 09:53] joschro commented on #477
/remove-lifecycle stale

[2022-02-25 09:55] joschro commented on #477
@rbo would you be available to guide Christian, Daniel and myself through the process and explain what meaning the group sa-dach has in this context?

[2022-02-25 09:57] rbo commented on #477
@joschro yes. Currently, we set up a new cluster in EMEA (Morty) if this cluster is available I will create a PR with everything for your smart office project.

[2022-02-25 10:22] schwesig commented on #478
/remove-lifecycle stale

[2022-02-25 17:24] husky-parul opened #524 "NEW PROJECT: boatroackers"
### Target cluster

Smaug

### Team name

boatroackers

### Desired project names

boatrockers

### Project description

Testing volsync managed service on operate first.

### Users needing access

husky-parul

### Namespace Quota

Large

### Custom quota

_No response_

### Your GPG key or contact

86AA33D3B33DD202B2564EE5DCDA96433EA640A3 available from http://keyserver.ubuntu.com/

[2022-02-25 17:33] HumairAK commented on #524
Hello @husky-parul !

How do you feel about self servicing this request? We have a jupyter notebook that you can use to onboard yourself (we're looking to improve this process as well so feedback is appreciated), it's all relatively automated, you just fill out some fields in the first codeblock and fork the repo (making sure main branch is sync'd with upstream master).

https://www.operate-first.

[2022-02-25 20:15] #694 closed

[2022-02-28 13:00] schwesig commented on #447
/remove-lifecycle stale

[2022-02-28 15:42] harshad16 opened #525 "Switch on backup for pulp instance"
**Is your feature request related to a problem? Please describe.**
The pulp instance in operate-first is successfully running https://pulp.operate-first.cloud/pulp/api/v3/status/.
we would like to turn on the backup for the pulp instance for reproducibility and security.

**Describe the solution you'd like**
Pulp operator already has the ability to turn on backup on its component  based on the fol

[2022-02-28 15:44] harshad16 commented on #525
/assign @harshad16
/assign @mayaCostantini

[2022-02-28 16:10] gagansk opened #526 "Curator team unable to access https://github.com/operate-first/curator-operator"
**Description**
The Curator team is unable to push commits to https://github.com/operate-first/curator-operator repository. We are also unable to create Milestones.

**Additional context**

[2022-02-28 16:21] tumido commented on #526
Hi @gagansk, you need to follow this guide https://github.com/operate-first/common/blob/main/docs/add_gh_member_and_access.md

And add a line like this to your GitHub team:
https://github.com/operate-first/common/blob/eb94cb641abcac87fc7c8aa7e7dea178930ff783/github-config.yaml#L284

[2022-02-28 17:54] husky-parul commented on #524
Hi @HumairAK
Sorry I am not understanding it correctly, the link you've shared is to onboard a project. I don't need to onboard projects, I am trying to use the projects/apps already present on operate first env. I just want to privilege to run a given workload in a namespace and use the hosted managed services. Do I need to onboard the workload I am wanting to run as a project?

[2022-02-28 18:20] gagansk commented on #526
@tumido I followed that guide and created this PR: https://github.com/operate-first/common/pull/70

I have added a new member and addressed your last comment in https://github.com/operate-first/common/pull/74

[2022-02-28 18:30] HumairAK commented on #526
@gagansk an invitation was sent to @timflannagan once they accept, they should have write access to this repo

[2022-02-28 18:35] timflannagan commented on #526
@HumairAK Interesting - I just checked and I didn't see any notifications for an invite.

[2022-02-28 18:36] HumairAK commented on #526
Hrmm strange, it says it's pending here:
![image](https://user-images.githubusercontent.com/10904967/156038976-a02631e2-2d53-4672-8cd4-8a53073953a4.png)

Where are you looking? I believe it also gets emailed out to whatever email is attached to your gh account.

[2022-02-28 18:38] timflannagan commented on #526
It looks like I didn't get the notification but I just checked my personal email and it looks like that invite _just_ got routed through. I just accepted the invite so we should be good to go.

[2022-02-28 18:38] HumairAK commented on #526
awesome!, let us know if you are able to push successfully!

[2022-02-28 18:41] HumairAK commented on #524
@husky-parul onboard project in this context means to get an OCP namespace provisioned, with a quota set based on what cpu/memory/storage/etc you require for this namespace, as well ass the people that will need access to said namespace.

[2022-02-28 18:42] timflannagan commented on #526
Just pushed my local branch up to o-f/curator-operator: https://github.com/operate-first/curator-operator. I think we can close this out now. Thanks for the help :tada:

[2022-02-28 18:45] HumairAK commented on #526
Npnp, closing.

[2022-02-28 18:45] #526 closed

[2022-02-28 19:38] husky-parul commented on #524
Yes that's right and thank you for putting the context. I get it now. So I need to follow this [notebook](https://www.operate-first.cloud/apps/content/notebooks/onboarding_project.html)

[2022-02-28 20:34] HumairAK commented on #524
@husky-parul in this case it seems that @Gregory-Pereira has sorted our the pr for you, so you no longer need to do that, we just need to review/merge this pr: https://github.com/operate-first/apps/pull/1666

Once merged, our argocd instance will bring these changes to live and your should have your namespace privisioned w/ access.

[2022-03-01 13:50] HumairAK commented on #524
@husky-parul namespace was provisioned, see if you can access it here: https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/boatrockers/pods

[2022-03-01 14:19] husky-parul commented on #524
I was able to access the namespace. Thank you.

[2022-03-01 18:17] HumairAK opened #671 "Decide on a dev osc cluster for new odh component development (starting with BYON)"
In the [OSG devsecops WG](https://github.com/open-services-group/devsecops) it was brought up that the [BYON WG](https://github.com/open-services-group/byon/issues/20) requires a dev/stage environment for BYON development. the `devsecops` WG is not responsible for cluster management, and this is under the purview of cluster-ops subproject in Operate First.

The OSC clusers were identified as the i

[2022-03-01 21:38] metaversed opened #527 "chrisproject"
### Target cluster

Smaug

### Team name

redhat-impact

### Desired project names

chrisproject

### Project description

Overview
ChRIS is a pervasively open source platform that utilizes cloud technologies to democratize medical analytics application development. It enables healthcare organizations to keep owning their data while benefiting from public cloud processing capabilities. ChRIS is de

[2022-03-02 06:09] jeremychoi opened #528 "subproject which has API endpoints"
**Description**

I am working on getting RapiDAST project operating on the cluster, which can do security scanning against RESTful API services. One of the goals is to help securing subprojects or internal services running on the cluster. RapiDAST can scan targets that come with REST API and its OpenAPI spec file. If information on such a target could be provided, it would help the project more fo

[2022-03-02 14:54] HumairAK commented on #528
@durandom @4n4nd @larsks

I don't have an exhaustive list of applications running on our clusters using openapi, but you could try it on our jupyterhub stage instance.

I don't know much about RapiDAST, would the POC require to run on OCP in some namespace for other services on the cluster to utilize, or is this something one would run in their local environment?

[2022-03-02 14:55] #524 closed

[2022-03-02 14:57] HumairAK commented on #470
If this is still needed, instructions for onboarding project can be found here: https://www.operate-first.cloud/apps/content/cluster-scope/onboarding_to_cluster.html

[2022-03-02 15:12] HumairAK commented on #527
Hello @metaversed onboarding namespaces can be self serviced via jupyter notebooks, instructions are here: https://www.operate-first.cloud/apps/content/odh/jupyterhub/access_jupyterhub.html

You can use our jupyterhub to provision the notebook found here: https://www.operate-first.cloud/apps/content/odh/jupyterhub/access_jupyterhub.html

[2022-03-02 21:20] hemajv opened #529 "Notebook cannot perform put operation on to s3 nooba bucket on Smaug"
EDIT by @HumairAK : This looks like it's an issue at the s3 level, not trino, read comments in this thread for further context.
----

**Describe the bug**
Unable to upload data to `opf-datacatalog` bucket

**To Reproduce**
Steps to reproduce the behavior:
1. Spin up a notebook on opf smug jupyterhub
2. Connect to the `opf-datacatalog` s3 bucket
3. Try uploading data to the s3 bucket under a specif

[2022-03-02 23:25] sesheta commented on #324
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-02 23:30] jeremychoi commented on #528
RapiDAST can be used for both (anything that can be accessible remotely). However we already have a few test targets that can be set up locally, so here what'd be helpful is something which is running on the MOC cluster.

[2022-03-02 23:33] jeremychoi commented on #528
thanks! could you let me know more information about it?

[2022-03-03 07:09] goern commented on #528
Thoth Guidance Service API is at https://api.prod.thoth-station.ninja/api/v1/ui/
It would be cool to get that checked!

[2022-03-03 10:08] sesheta commented on #466
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-03 10:37] mayaCostantini opened #530 "504 Error when trying to access Thoth datasets on `opf-datacatalog`"
**Describe the bug**
The following error occurs when trying to list the content of `s3://opf-datacatalog/thoth/datasets/`:

[code]

Listing the content of the `opf-datacatalog` and `opf-datacatalog/thoth/` works normally.

**To Reproduce**
Run `aws s3 --endpoint https://s3-openshift-storage.apps.smaug.na.operate-first.cloud ls s3://opf-datacatalog/thoth/datasets/` and see the error.

**Expected be

[2022-03-03 10:44] mayaCostantini commented on #530
/kind bug

[2022-03-03 11:03] sesheta commented on #398
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-03 11:03] sesheta commented on #398
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/398#issuecomment-1057930267):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-03 11:03] #398 closed

[2022-03-03 12:52] mayaCostantini commented on #530
The issue seems to have been resolved. Closing.
/close

[2022-03-03 12:52] sesheta commented on #530
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/530#issuecomment-1058011980):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/

[2022-03-03 12:52] #530 closed

[2022-03-03 17:16] HumairAK commented on #529
@hemajv can you post the code snippet that fails in the note book here with the output?

[2022-03-03 17:32] HumairAK commented on #529
We tried this via a jh notebook, connected to trino via python trino lib and were able to query a table successfully.

[2022-03-03 18:58] larsks opened #670 "Mailman is offline"
Trying to access the mailman ui at <https://lists.operate-first.cloud/admin/lists/community.lists.operate-first.cloud/> results in this error:

[2022-03-03 19:28] Shreyanand opened #531 "Insufficient permissions to access Superset"
When I log in Superset with my username, I see following errors:
![Screenshot from 2022-03-03 14-21-15](https://user-images.githubusercontent.com/8916126/156638228-20f99e50-ce10-456e-a35b-b5c44b019b1d.png)
)

I think permissions have to be updated to get me access to the dashboards.
cc @HumairAK @hemajv

[2022-03-03 19:59] HumairAK commented on #531
hello, docs here on how to get access: https://www.operate-first.cloud/apps/content/odh/superset/add_superset_users.html
let us know if something isn't clear!

[2022-03-03 20:41] #711 closed

[2022-03-04 01:10] jeremychoi commented on #528
@goern thanks! I will definitely check it out too.

[2022-03-04 10:08] sesheta commented on #485
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-04 13:56] Shreyanand commented on #531
Thanks @HumairAK the docs are awesome :rocket:  I created the linked PR following them.

[2022-03-04 15:11] HumairAK commented on #324
/remove-lifecycle rotten

[2022-03-04 15:18] HumairAK commented on #531
@Shreyanand let us know if it worked, pr was merged.

[2022-03-04 15:36] Shreyanand commented on #531
@HumairAK I still see the same error messages :thinking:

[2022-03-04 15:51] HumairAK commented on #531
taking a look

[2022-03-04 16:41] HumairAK commented on #531
@Shreyanand can this be closed now?

[2022-03-04 17:05] Shreyanand commented on #531
yes, the lowercase user name did the trick. I can access the dashboard now.

[2022-03-04 17:05] #531 closed

[2022-03-05 20:25] sesheta commented on #458
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-05 20:25] sesheta commented on #459
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-05 20:25] sesheta commented on #461
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-05 20:25] sesheta commented on #460
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-05 23:25] sesheta commented on #464
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-05 23:25] sesheta commented on #463
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-05 23:25] sesheta commented on #465
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-06 17:03] #730 closed

[2022-03-07 05:03] sesheta commented on #411
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-07 05:03] sesheta commented on #411
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/411#issuecomment-1060197225):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-07 05:03] #411 closed

[2022-03-07 10:08] sesheta commented on #446
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-07 10:56] schwesig commented on #446
/remove-lifecycle stale

[2022-03-07 14:03] #759 closed

[2022-03-07 14:03] #935 closed

[2022-03-07 14:03] #994 closed

[2022-03-07 17:04] sesheta commented on #360
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-07 17:04] #360 closed

[2022-03-07 20:57] hemajv commented on #529
@HumairAK I believe the error is when we try to upload something to the bucket, we get:
[code]
We are pre-processing a data frame in the notebook which we then want to store as a parquet file to the bucket. However, seems like we don't have the permissions to do so?

[2022-03-08 07:09] sesheta commented on #494
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-08 16:09] sesheta commented on #495
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-08 19:32] HumairAK commented on #529
@hemajv is there a code snippet you could provide us so we could run it to replicate this issue?

[2022-03-08 20:15] HumairAK commented on #529
Updated the title of the issue, the issue seems to be related to s3 storage on smaug, in particular the opf-datacatalog bucket. We should verify that we can connect to this bucket and store data in there, and other buckets created using noobaa. This may be related to the recent nooba issues we experienced

[2022-03-08 20:25] hemajv commented on #529
So we are basically doing the following:
[code]
The error we get is:
![Screenshot from 2022-03-08 15-22-41](https://user-images.githubusercontent.com/7343099/157318715-d7a593e6-6aff-43df-a753-91c87a468fbb.png)

(the s3 class we have defined [here](https://github.com/open-services-group/metrics/blob/main/notebooks/s3_communication.py))

[2022-03-09 09:53] schwesig commented on #495
as far as I know this was a speed/cpu power/memory issue and also depends heavily on the amount of labels and prios requested in one comment.
<4 seems never a problem

I consider this closed/workaround

/close

[2022-03-09 09:53] #495 closed

[2022-03-09 14:26] sesheta commented on #434
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-09 15:26] 4n4nd commented on #529
@hemajv do you still see this issue? I just tested connecting to the bucket and successfully uploaded an object to it.

[2022-03-09 16:01] MichaelClifford opened #532 "Add OpenShift Serverless Operator to Smaug"
### Requested actions

Install the OpenShift Serverless Operator on to the smaug cluster

#### Operator request

OpenShift Serverless Operator

If you want to request an operator, please provide the following:

1. **Name of the Operator**:

OpenShift Serverless Operator

2. **Operator version**:
   Desired operator version. If left blank we assume the latest version released by the operator mainta

[2022-03-09 16:09] sesheta commented on #467
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-09 16:09] sesheta commented on #406
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-09 16:40] Gregory-Pereira commented on #337
Hi @cdolfi, I was just wondering if you still wanted to onboard into Operate First. I made a PR which is being held, all we need is confirmation that you are still interested.

[2022-03-09 16:55] cdolfi commented on #337
@Gregory-Pereira Lets put this on hold for the time being. We have gone about setting this on the Red Hat community cage but I could definitely see sometime in the future their being some form of sandiego onboarded to operate first, just not sure what that looks like at this time

[2022-03-09 17:01] suppathak commented on #529
I think the issue is somewhat what I am also facing right now.  Hence I am posting over here.

As I am trying to retrieve contents for opf-datacatlog bucket (using the credentials from [here](https://www.operate-first.cloud/apps/content/odh/trino/access_public_bucket.html) )
`s3cmd ls s3://opf-datacatalog/ --access_key=S3_ACCESS_KEY --secret_key=secret_key --host=s3_endpoint --host-bucket=s3_endpo

[2022-03-09 17:05] #1015 closed

[2022-03-09 17:09] Gregory-Pereira commented on #518
Hi @Fryguy and @chessbyte, could you confirm that you are still interested in an Operate-First namespace?

[2022-03-09 17:21] Fryguy commented on #518
Yes, we are interested, but we've been swamped with our release at the current time.

[2022-03-09 17:34] mattdm commented on #500
Yes. Just have had a lot going on and other things drawing my priority attention.

[2022-03-09 17:47] larsks commented on #529
Using the credentials from the `opf-datacatalog` secret and the information from the `opf-datacatalog` configmap, I am not able to reproduce this problem.

Writing a file:

[code]

Reading a file:

[code]

[2022-03-09 18:43] Gregory-Pereira commented on #518
Yeah no problem, I made the PR so the work is done. You should have access once it gets merged and can deal with it at your leisure.

[2022-03-09 18:46] Gregory-Pereira commented on #500
No Problem. I have made the PR so the work is done, and once it gets merged you should have access and can deal with it when you have time.

[2022-03-09 19:36] mattdm commented on #500
Thanks!

--
Matthew Miller            ***@***.***             <http://mattdm.org/>
Fedora Project Leader  ***@***.***  <http://fedoraproject.org/>

[2022-03-09 20:26] sesheta commented on #469
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-10 14:26] sesheta commented on #472
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-10 16:59] suppathak commented on #529
Update:
I was able to access `opf-datacatalog` bucket, using boto3. However, I am not sure why I still cannot access the bucket through s3cmd from the command line using the following command.
[code]

[2022-03-10 16:59] hemajv commented on #529
I am still unable to upload to the bucket. Im using the `boto s3` python module and still get an access denied error. The creds for the bucket Im using are [here](https://github.com/operate-first/apps/blob/master/docs/content/odh/trino/access_public_bucket.md)

[2022-03-10 17:26] sesheta commented on #335
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-10 17:49] suppathak commented on #529
Hey @hemajv ,

With the same credentials, I was able to get access: what is did was,

[code]

The to list all the files in the bucket:

[code]

And to upload files in a bucket:

[code]

It worked for me. May be this could help.

[2022-03-10 18:27] #518 closed

[2022-03-10 19:08] dystewart commented on #298
Adding vault deployment to opf smaug cluster (via Helm for now but will revisit the operators at some point) in this PR [https://github.com/operate-first/apps/pull/1712](https://github.com/operate-first/apps/pull/1712)

[2022-03-11 12:55] rbo commented on #504
Just for documentation: part of  https://github.com/operate-first/apps/issues/1471

[2022-03-11 12:56] rbo commented on #339
Just for documentation: part of  https://github.com/operate-first/apps/issues/1471

[2022-03-11 13:00] #520 closed

[2022-03-11 13:06] rbo commented on #419
Our new Morty cluster supports/have a CPU with AVX2 feature:

[code]

[2022-03-11 14:56] rbo commented on #477
@joschro @DanielFroehlich @koep please try you access to morty cluster: https://console-openshift-console.apps.morty.emea.operate-first.cloud/

[2022-03-11 14:58] rbo commented on #419
@pacospace feel free to create a ticket or pr to onboard on morty cluster. I will close this ticket, feel free to reopen it if needed.

[2022-03-11 14:58] #419 closed

[2022-03-11 16:13] rbo commented on #341
pr merged.

[2022-03-11 16:13] #341 closed

[2022-03-11 16:19] rbo commented on #307
Now I understand it better, right now it is document: https://github.com/operate-first/apps/blob/master/argocd/overlays/moc-infra/applications/envs/emea/morty/cluster-management/kubevirt-hyperconverged.yaml - app-of-apps gitops approach. For me we can close the issue.

[2022-03-11 16:19] #307 closed

[2022-03-11 16:21] rbo commented on #522
Ordered IPv4 address for Morty router and updated DNS. (a couple days ago) all works fine...

[2022-03-11 16:21] #522 closed

[2022-03-11 16:21] rbo commented on #343
pr merged

[2022-03-11 16:21] #343 closed

[2022-03-11 16:24] rbo commented on #477
@joschro @DanielFroehlich @koep I will close the issue, if something doesn't work feel free to ping me, reopen the issuer and/or create a new one.

[2022-03-11 16:24] #477 closed

[2022-03-11 17:26] sesheta commented on #102
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-11 19:40] dystewart commented on #298
PR to add vault to smaug (Helm deployment for now, we will revisit the operator at a later date): [https://github.com/operate-first/apps/pull/1712/files](https://github.com/operate-first/apps/pull/1712/files)

[2022-03-11 19:41] dystewart commented on #298
And here is the PR adding the external secrets operator to smaug: [https://github.com/operate-first/apps/pull/1732](https://github.com/operate-first/apps/pull/1732)

[2022-03-11 20:05] sesheta commented on #403
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-11 20:05] #403 closed

[2022-03-11 20:05] sesheta commented on #403
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/403#issuecomment-1065467623):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-13 08:21] koep commented on #477
Works for me, thanks a lot @rbo

[2022-03-13 23:05] sesheta commented on #334
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-13 23:05] sesheta commented on #334
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/334#issuecomment-1066201250):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-13 23:05] #334 closed

[2022-03-14 01:57] jliagouris opened #533 "Secure Cross-site Analytics on OpenShift Logs"
**Description**

This [project](https://www.bu.edu/rhcollab/projects/security-privacy/secure-cross-site-analytics-on-openshift-logs/) aims to explore whether cryptographically secure Multi-Party Computation, or MPC for short, can be used to perform secure cross-site analytics on OpenShift logs with minimum client participation. MPC enables mutually distrusting parties (in our case Red Hat clients

[2022-03-14 13:05] jliagouris commented on #533
@pechora please have a look into 1.

[2022-03-14 16:01] cdolfi opened #534 "Shaw University data science internship"
**Description**
I met with Dr. Butler at Shaw University regarding their current data science internship and goals for the future for providing data science courses/minor. The two action items that came from the call was on data science learning materials (@langdon is helping with this) and on getting shaw the cloud resources they need. Overall from that conversation I thought it would be good at

[2022-03-14 17:05] sesheta commented on #187
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-14 17:05] #803 closed

[2022-03-14 17:05] #187 closed

[2022-03-14 17:40] larsks opened #669 "Fix permissions on meeting document"
The shared notes for the cluster operations project (https://docs.google.com/document/d/1QjZKlSKaAPUuq0OetR3uOp-Rm2Zo5qX5r5ReUoiETM4/edit#) is not editable by members of the cluster operations group. We need to ensure that everyone is able to edit that as appropriate (and manage sharing privileges so that we can add additional people).

[2022-03-14 20:05] sesheta commented on #253
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-14 20:05] #253 closed

[2022-03-14 20:05] sesheta commented on #253
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/253#issuecomment-1067234912):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-15 11:48] pacospace commented on #419
Great timing, NM introduced new speeds up also on old CPU with avx2 only with version 0.11.0: https://github.com/neuralmagic/deepsparse/releases/

[2022-03-15 15:06] rbo opened #535 "[TASK] Checkout google groups feature to share documents with an group and not persons."
Based on Meeting March 15.2022 : https://docs.google.com/document/d/1uEcLGP_sBSNwTLPOo_2Nu6oTqPytOTBt0c0_pVUQJwo/edit#

"Create a red hat google group for managing docs access across op1st, look into restrictions for this Robert Bohne"

[2022-03-15 15:07] rbo commented on #535
There is a group available: https://groups.google.com/a/redhat.com/g/operate-first

But we can also create our own group in RedHat or public with @googlegroups?

[2022-03-15 17:05] #424 closed

[2022-03-15 17:05] sesheta commented on #424
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/424#issuecomment-1068234062):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-15 17:26] sesheta commented on #163
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-15 21:34] tzumainn opened #536 "NEW PROJECT: rh-curator-eval"
### Target cluster

Smaug

### Team name

rh-curator-eval

### Desired project names

rh-curator-eval

### Project description

Evaluation of Curator

### Users needing access

tzumainn

### Namespace Quota

X-Small

### Custom quota

_No response_

### Your GPG key or contact

_No response_

[2022-03-16 01:54] 4n4nd commented on #533
@jliagouris docs for 1. should be available [here](https://www.operate-first.cloud/apps/content/observatorium/loki/README.html).

[2022-03-16 13:53] #709 closed

[2022-03-16 13:55] #701 closed

[2022-03-16 13:56] #669 closed

[2022-03-16 14:53] heyselbi opened #537 "Need access to a cluster for a demo during Operate First meeting next week"
### Target cluster

_No response_

### Team name

multinode-demo

### Desired project names

multinode-demo

### Project description

I will be presenting a demo on multi GPU node ML workload distribution using Kubeflow, Pytorch and GPU operator. For the demo, I needed a cluster that will have 2 nodes, each node containing 1 GPU (total of 2 GPUs). It could run just for a week since the meeting is

[2022-03-16 15:24] durandom commented on #537
@heyselbi do you have more background on the requirements for the demo?

@redmikhail do you have a status link on the GPU availability on os-cl2 ?

[2022-03-16 15:33] HumairAK opened #668 "[INCIDENT][MOC Environment] - MOC Clusters Infra / Smaug potential networking issues, services/console endpoints unresponsive"

[2022-03-16 15:51] #668 closed

[2022-03-16 16:09] sesheta commented on #502
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-16 16:15] heyselbi commented on #537
This is the yaml file I will need to deploy:
https://github.com/heyselbi/multi-node-pytorch/blob/main/pytorch-dist.yaml

And this is needed for DS community meet up ( @oindrillac )

[2022-03-16 16:17] heyselbi commented on #537
For access time: the sooner the better :) But since presentation is on Tuesday March 22, the day before that (Monday the 21st) should work too. If it's not possible, I can look into postponing it to week after or try to see if I could find GPU cluster with other avenues.

[2022-03-16 16:23] HumairAK commented on #537
AFAIK the `osc-cl2` only has 1 gpu node. But I'll let @redmikhail confirm.

[2022-03-16 18:55] HumairAK commented on #502
I think this was briefly brought up in the last sig-ops meeting. So I'm going to bump this a bit and tag some folks to discuss this a bit further:

@durandom @redmikhail @erikerlandson  @4n4nd

Currently the osc-cl1/osc-cl2 cluster metrics are handled differently than other operate-first cloud clusters. That is to say...they are not really being monitored at all.

As mentioned in the original post

[2022-03-16 21:36] redmikhail commented on #537
@HumairAK osc-cl2 has currently only one GPU node but mostly due to practical reasons of not using resources unnecessarily.  Node count can be increased fairly easily. @heyselbi  NFD and NVIDIA operators are already on the cluster.  I can not comment on ODH compatibility with the test. From technical side I don't see problem using osc-cl2. We do need ,however, confirmation from OS Climate that the

[2022-03-16 23:28] erikerlandson commented on #502
IMO, as long as we aren't leaking any data that could either (1) compromise any data commons access credentials, or (2) leak privileged data from trino or other data resources from the data commons, then I do not see a problem with that.

[2022-03-17 09:54] mamurak opened #538 "NEW PROJECT: Object detection demo app"
### Target cluster

Smaug

### Team name

emea-sa

### Desired project names

od-demo

### Project description

Deployment of a simple object detection app based on the [RHODS object detection workshop](https://redhat-scholars.github.io/rhods-od-workshop/rhods-od-workshop/index.html).

Contains a real-time image streaming part for which Kafka integration is required.

### Users needing access

mam

[2022-03-17 13:08] heyselbi commented on #537
@redmikhail sounds good to me! As long as they don't mind me installing the ODH operator (or at least Kubeflow) and using GPUs for 2-3 days (1-2 days for testing and 1 day for demo), that should be sufficient.

[2022-03-17 13:10] #673 closed

[2022-03-17 13:10] #966 closed

[2022-03-17 13:10] #967 closed

[2022-03-17 17:05] sesheta commented on #111
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/111#issuecomment-1071097994):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-17 17:05] #111 closed

[2022-03-17 20:02] MichaelClifford opened #539 "Can I provision a namespace on one of the GPU enabled clusters to deploy a VM?"
**Description**

I am working on a demo for summit and one of the components we need is a self driving car [simulator](https://docs.donkeycar.com/guide/simulator/). We currently have a VM set up on Smaug in the `train-model` namespace. However, due to the graphics requirements of the simulator, it does not work in that cluster. In the mean time (and to confirm the need for GPU hardware) we used an

[2022-03-17 20:02] MichaelClifford commented on #539
cc @HumairAK @redmikhail

[2022-03-17 20:05] HumairAK commented on #539
also @durandom

[2022-03-18 09:56] PixelJonas opened #540 "BUCKET: team-pixel"
### Username

pixeljonas

### Desired bucket name

pixel-secrets-backup

### Maximal bucket size

250GiB

### Maximal bucket object count

25.000

### Your GPG key or contact

`16787415FA4A18A006599425A5D655E1C8499F03` available at https://keys.openpgp.org/vks/v1/by-fingerprint/16787415FA4A18A006599425A5D655E1C8499F03

[2022-03-18 09:56] PixelJonas commented on #540
storage should be provided in `morty` cluster @rbo

[2022-03-18 15:26] harshad16 commented on #525
![pulp](https://user-images.githubusercontent.com/14028058/159032171-a2369ab6-e4a7-4b18-9652-c37d81045452.png)
The pulp backup is set correctly and is now running in the current deployment.

[2022-03-18 15:26] #525 closed

[2022-03-18 16:30] hemajv opened #541 "Superset charts not rendering"
**Describe the bug**
The Superset dashboards are not rendering and throws a Trino related error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://superset.operate-first.cloud/superset/dashboard/osg-metrics/
2. View the charts
3. See error

**Expected behaviour**
The charts to render and display the visualization.

**Screenshots**
![Screenshot from 2022-03-17 09-35-45](https://us

[2022-03-18 16:30] hemajv commented on #541
cc @HumairAK @rbo

[2022-03-18 16:49] hemajv commented on #541
I also see that CloudBeaver isn't able to execute any of the queries either, so I'm wondering if the issue is related to the Trino database itself and not s3?

CloudBeaver shows this error:
[code]

[2022-03-18 18:46] rbo commented on #541
Conversation in slack: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1647524221198349

I tried to delete the csv to force a reconsile
[code]
 Nothing happen...

I miss the ocs operator deployment:
[code]

[2022-03-18 18:47] rbo commented on #541
[code]

Install plan is available

[2022-03-18 18:48] rbo commented on #541
OCS is not managed by argocd: https://argocd.operate-first.cloud/applications/opf-app-of-apps-rick?resource=

[2022-03-18 18:55] rbo commented on #541
Reapplied csv:
[code]

[2022-03-18 18:58] rbo commented on #541
[code]

[2022-03-18 19:32] rbo commented on #541
There are a bunch of service accounts missing:

[code]

[2022-03-18 19:38] rbo commented on #541
On morty:
[code]

Another ocs cluster:
[code]

[2022-03-18 19:46] rbo commented on #541
Almost everything is missing what is defined in the install plan. `oc get installplan/install-kp8c9 -o yaml`

[2022-03-19 04:01] redmikhail commented on #539
@MichaelClifford OSC clusters currently don't have kubevirt installed and since it supposed to be template for the OSC platform we potentially may want to avoid adding platform components (especially as complex as kubevirt) that are not directly needed by the OSC community. Considering that kubevirt primarily was targeted for bare metal installation  EC2 vm's in AWS may also not be the best perfor

[2022-03-19 23:06] sesheta commented on #431
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-19 23:06] #431 closed

[2022-03-19 23:06] sesheta commented on #431
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/431#issuecomment-1073127236):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-21 13:50] HumairAK commented on #540
AFAIK on morty if you have project admin (which you do for namespace `pixel-demo`) then you should be able to create an OBC in there and use it as you see fit.

[2022-03-21 16:24] rbo commented on #541
It's a bad idea to change the clusterID: https://github.com/operate-first/apps/commit/a0148cf3b39f97b6f03df23bc022d326240ca3a7#diff-cb8643695fa800ec2fbd4cfd454ba96475e3717221ec45bc1d0e6f734a76bcb2R7
[code]

[2022-03-21 18:34] sallyom opened #667 "Create "script" or overview to share"
share with those brand new to Op 1st:  “What is Op 1st?” (With a well documented overview in place, I would volunteer to hold such a meeting once in a while) There are recordings already we can start from.

[2022-03-22 08:51] dmoessne commented on #541
OCS issue fixed as follows:

- no subs, csv available, but no secrets, service accounts, roles / rolebindings
deleted csv, recreate subscription -> service accounts, roles,.. eventually build
--> got issues with oc get commands ....

- check etcd --> time drift >3m5 between etcd members
  --> apply chrony
  --> too much drift :

[code]

[code]

  -- defrag etcd (need to do that on all 3 of them)

[2022-03-22 14:36] larsks opened #666 "Update project admin(/editor/viewer) permissions for volsync access"
In https://github.com/backube/volsync/issues/161, @johnstrunk suggests some clusterroles that are more complete (and more granular) than the `volsync-rs-aggregate-to-admin` we're currently using. We should probably use them.

Definition of done for this task:

- `volsync-rs-aggregate-to-admin` replaced with roles from the linked issue
- Successfully test `edit` vs `view` role (this may require htt

[2022-03-22 15:10] #688 closed, assigned to nobody

[2022-03-22 17:30] sesheta commented on #462
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-22 18:27] hemajv opened #542 "Argo workflow request"
**Description**

As part of https://github.com/open-services-group/metrics/issues/18, we would like to use argo workflows to help serve our automation needs.

**Additional context**

We want to execute our notebook daily that fetches and updates data in s3 and in turn update our Superset dashboards. To do this, we decided to use argo workflows/cron job, similar to the approach in the [Mailing List

[2022-03-22 19:13] sesheta commented on #505
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-23 08:23] rbo commented on #541
Dashboard works again. Thank you very much @dmoessne

[2022-03-23 08:23] #541 closed

[2022-03-23 13:42] MichaelClifford opened #543 "add 'action' subdomain to operate-first.cloud"
**Is your feature request related to a problem? Please describe.**
We need a landing page for our summit demo "Operate First In Action"

**Describe the solution you'd like**
We would like to have a subdomain for our summit demo landing page `action.operate-first.cloud`

**Describe alternatives you've considered**
One alternative that has been considered it to not create a subdomain, but simple add

[2022-03-23 17:21] csibbitt opened #544 "NEW PROJECT: rhosp-cloudops"
### Target cluster

_No response_

### Team name

rhosp-cloudops

### Desired project names

rhosp-cloudops

### Project description

I'm following the Elyra AIDevSecOps Tutorial to get acquainted with Operate First and AIOps at Red Hat. I do not know the correct target cluster or required quota for the tutorial.

### Users needing access

csibbitt

### Namespace Quota

Medium

### Custom quota

_

[2022-03-23 17:22] csibbitt opened #545 "BUCKET: rhosp-cloudops"
### Username

csibbitt

### Desired bucket name

rhosp-cloudops

### Maximal bucket size

_No response_

### Maximal bucket object count

_No response_

### Your GPG key or contact

https://keys.openpgp.org/vks/v1/by-fingerprint/E5FED983740E38C732A37D0BD90BAE39D1495FC7

[2022-03-23 19:11] tzumainn commented on #536
Thanks!

[2022-03-24 07:51] goern commented on #543
no problem, to where shall the CNAME point? do we have a webserver deployed somewhere hosting a website?

/unassign goern
/assign @Gregory-Pereira
/assign @harshad16

[2022-03-24 07:52] goern commented on #543
/kind feature
/priority critical-urgent
/triage accepted

[2022-03-24 10:18] rbo opened #546 "[TASK] Configure & Deploy etcd backup on morty cluster"
During incident ticket https://github.com/operate-first/support/issues/541 we find out there is no etcd backup in place.  Let's finish this for morty,

[2022-03-24 12:56] harshad16 commented on #543
I don't have access to this, happy to help if any require
seems like this is over my permission levels.
@tumido will you be able to help with this?

/unassign harshad16

[2022-03-24 13:01] MichaelClifford commented on #543
@goern

No, not yet. My initial though would be that we'd use a meteor built jupyterbook for this. Any objections to that format?
@durandom @schwesig

[2022-03-24 14:10] schwesig commented on #543
@MichaelClifford  I could offer on of my webhoster domains, but I am not sure if this is the correct/regular way.
If meteor jptrbk works, I would go with that! +1

[2022-03-24 17:27] sesheta commented on #482
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-24 17:27] sesheta commented on #480
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-25 18:37] MichaelClifford commented on #539
closing for now. OS-C Subproject members decided this would not be an appropriate use case for either of the current OS-C clusters.

We can reopen when there are other GPU enabled clusters as part of the OPF cloud.

[2022-03-25 18:37] #539 closed

[2022-03-26 19:10] sesheta commented on #305
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-26 20:06] sesheta commented on #442
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-26 20:06] sesheta commented on #371
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-26 20:06] #371 closed

[2022-03-26 20:06] sesheta commented on #442
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/442#issuecomment-1079766010):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-26 20:06] #442 closed

[2022-03-26 20:06] sesheta commented on #371
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/371#issuecomment-1079766012):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-27 11:27] sesheta commented on #277
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-27 20:46] quaid commented on #482
Original issue of adding Michael to the org was resolved, and we're working on the issues discussed here in new working groups, so closing this issue as completed.

[2022-03-27 20:46] #482 closed

[2022-03-28 15:06] codificat commented on #165
I just found this issue while searching for details about the "public" bucket, and thought I'd add a note here to mention that I found the credentials documented here: https://www.operate-first.cloud/apps/content/odh/trino/access_public_bucket.html

It's unclear to me if there is more to be done in this issue though, so I will not close it

[2022-03-28 15:35] Gregory-Pereira commented on #538
Hey all, Just wanted to notify you that [your namespace](https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/cluster/projects/od-demo) is ready to go.

[2022-03-28 16:27] #538 closed

[2022-03-28 18:18] HumairAK opened #665 "Create labels to distinguish between clusters"
Update this file: https://github.com/operate-first/common/blob/main/labels.yaml
We want the labels to be in operations related repos, I'm thinking:

- apps
- operations
- toolbox
- opfcli
- odh-manifests

[2022-03-28 18:31] Gregory-Pereira opened #547 "[TASK] Update the issue and bug templates"
**User story**
With many changes having occured in Operate-First, particularly clusters coming and going, we would like to update our various templates to use up to date information (particularly the `onboarding_to_cluster.yaml` issue template). We also no longer use GPG keys with the move to using Github handles for account creation and authentication, so that should be deprecated.

[2022-03-29 14:43] HumairAK opened #664 "Add osc-cl1 and osc-cl2 to opf monitoring"
We want to be able to visualize osc-cl2/osc-cl1 in much the same way we can visualize the other clusters within the operate-first cloud.

[2022-03-29 15:01] HumairAK opened #663 "Automate Project Onboarding via GitHub issue"
We want to go from this form like [this](https://github.com/operate-first/support/issues/new?assignees=first-operator&labels=kind%2Fonboarding%2Carea%2Fcluster&template=onboarding_to_cluster.yaml&title=NEW+PROJECT%3A+%3Cname%3E).

To an onboard pr like the ones found here: https://github.com/operate-first/apps/pulls?q=is%3Apr+is%3Aclosed+onboard .

In the background, we want to use openshift pipel

[2022-03-30 12:18] sallyom commented on #491
let's pick this up again - i let it slip due to other work
@4n4nd is there a process for installing the community Jaeger operator from the hub?
I'll work on getting a deployment in the apps repository for KSpan

[2022-03-30 15:40] HumairAK opened #662 "OCP groups and permission handling for services in OSC"
Continuation of:  https://github.com/operate-first/apps/pull/1821#issuecomment-1083207189

For services we deploy in OSC clusters (like superset/trino/etc.) we gate access via OCP rbac (like we do for our other services in operate-first in other clusters).

So the process to hand out permissions results in adding a github user to some OpenShift Group like [this one](https://github.com/operate-firs

[2022-03-30 17:15] HumairAK commented on #547
Hrmm I'm a bit unclear, it seems like title/body is saying different things to me. These are the different tasks I'm seeing based on your title/body:

1. Update cluster/env values in onboarding issue template [here](https://github.com/operate-first/support/issues/new?assignees=first-operator&labels=kind%2Fonboarding%2Carea%2Fcluster&template=onboarding_to_cluster.yaml&title=NEW+PROJECT%3A+%3Cname%

[2022-03-30 17:18] Gregory-Pereira commented on #547
Yeah that is an accurate summary of what this issue was meant to be. Are you suggesting that I should either refactor the issue text or split this up into separate issues?

[2022-03-30 17:20] HumairAK commented on #547
I think the scope for these varies greatly. #2 is already done. Based on the title this thread is more about #1, but that's also a easy fix.

#3 is a bit more involved and can be it's separate issue.

[2022-04-01 10:44] mayaCostantini opened #549 "`503` Service Unavailable error when retrieving data from `thoth` bucket at `s3-openshift-storage.apps.smaug.na.operate-first.cloud`"
**Describe the bug**

When posting a request from Thoth management API to [run a `dependency-monkey` job](https://management.moc.thoth-station.ninja/api/v1/ui/#/Python%20Dependency%20Monkey/post_dependency_monkey_python) with default values, init container for `dependency-monkey` pods fail with `Init:Error` because data could not be retrieved from the `thoth` bucket at `s3-openshift-storage.apps.s

[2022-04-01 10:44] mayaCostantini commented on #549
cc @harshad16 @fridex

[2022-04-01 12:19] heyselbi commented on #537
Bump, just checking if there were any updates

[2022-04-01 14:46] oindrillac commented on #537
cc: @HumairAK

[2022-04-01 16:20] HumairAK commented on #537
We have odh operator installed. What components of kubeflow are you loooking for? We have ml-pipelines also available.

We have GPU via notebooks available now on osc-cl2 as well though they are limited. But I'm sure 3 days of use is manageable. @redmikhail @erikerlandson ?

[2022-04-01 17:28] sesheta commented on #470
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-01 18:17] dystewart commented on #298
The Vault PR above has been merged but we need PVCs in the infra cluster for vault to operate. [Here](https://github.com/operate-first/apps/issues/1844) is the issue to track this.

[2022-04-01 23:05] Gregory-Pereira opened #551 "[TASK] Better use of Github Labels to scope issues"
**User story**
It would be nice to make better use of Github labels to help scope our issues and bugs. We can accomplish this through two subtasks.
    1. [x] Create labels for each `env/cluster` to allow us to tag affected clusters per issue
        - see implementation [here](https://github.com/operate-first/common/pull/81)
    2. [ ] Add functionality to @ tag users based on github labels

[2022-04-02 11:28] sesheta commented on #466
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-02 23:41] quaid commented on #551
Here is some content that can be scoped into this:
https://github.com/operate-first/community-handbook/blob/main/content/how-to-use-community-centric-labels.md

And a related issue:
https://github.com/operate-first/community/issues/49

[2022-04-03 11:28] sesheta commented on #485
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-03 20:07] #706 closed

[2022-04-04 16:54] MichaelClifford commented on #400
/remove-lifecycle stale

[2022-04-04 17:57] #684 closed

[2022-04-04 17:59] #995 closed

[2022-04-04 19:16] heyselbi commented on #537
@HumairAK I needed PytorchJob from Kubeflow. I won't be using pipelines.

I wouldn't need notebooks with GPUs, I just need a JH notebook via ODH (not super necessary though, I could resort to terminal as well) that runs on CPUs. As long as I can access the two nodes with at least 1 GPU each (for which I'll need NVIDIA GPU and NFD operators) via terminal or via logging into cluster in the notebook,

[2022-04-04 20:24] erikerlandson commented on #537
osc cl1 or cl2 would be fine, I think. I sent an invitation, including `odh-env-users`

[2022-04-04 23:07] sesheta commented on #458
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-04 23:07] sesheta commented on #459
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-04 23:07] sesheta commented on #460
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-04 23:07] #458 closed

[2022-04-04 23:07] sesheta commented on #461
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-04 23:07] sesheta commented on #458
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/458#issuecomment-1088099533):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-04 23:07] #459 closed

[2022-04-04 23:07] #461 closed

[2022-04-04 23:07] sesheta commented on #459
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/459#issuecomment-1088099547):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-04 23:07] sesheta commented on #460
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/460#issuecomment-1088099541):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-04 23:07] #460 closed

[2022-04-04 23:07] sesheta commented on #461
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/461#issuecomment-1088099555):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-05 02:07] sesheta commented on #464
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-05 02:07] sesheta commented on #463
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-05 02:07] sesheta commented on #465
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-05 02:07] #463 closed

[2022-04-05 02:07] #464 closed

[2022-04-05 02:07] sesheta commented on #463
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/463#issuecomment-1088195765):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-05 02:07] sesheta commented on #464
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/464#issuecomment-1088195760):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-05 02:07] #465 closed

[2022-04-05 02:07] sesheta commented on #465
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/465#issuecomment-1088195767):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-05 14:24] redmikhail commented on #537
I would recommend to try cl1 first (it should have enough resources) and if doesn't work go with cl2

[2022-04-05 19:31] MichaelClifford commented on #543
@goern @durandom @HumairAK or other OPF org admin. I'd like a new repo in this org called "operate-first-in-action" that I can use as the source for the content and jupyter book I'll be making for our summit video. Can one of you help me out with this? :smiley:  Or is there an alternative solution you'd prefer? LMK!

[2022-04-05 20:10] HumairAK commented on #543
@MichaelClifford instructions here: https://github.com/operate-first/common/blob/main/docs/add_repo.md

[2022-04-05 21:09] MichaelClifford commented on #543
Thanks @HumairAK PR submitted :smile:

https://github.com/operate-first/common/pull/83

[2022-04-06 12:02] tumido opened #552 "Authentication error when accessing OS-Climate CL1 cluster"
**Describe the bug**
Unable to log into https://console-openshift-console.apps.odh-cl1.apps.os-climate.org/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://console-openshift-console.apps.odh-cl1.apps.os-climate.org/
2. Click on `githubidp`
3. See error

**Expected behaviour**
Can log in

**Screenshots**

https://user-images.githubusercontent.com/7453394/161970167-237047ff-2762-

[2022-04-06 13:48] HumairAK commented on #552
From slack:

unfortunately we haven't had the chance to move the osc clusters under our auth yet, they need to be invited into a github team on the osc org to get access
[9:44](https://operatefirst.slack.com/archives/C033W4E8ATA/p1649252697756339)
can you get a list of users
[9:45](https://operatefirst.slack.com/archives/C033W4E8ATA/p1649252709676439)
and send a message on gchat to eithe mikhail o

[2022-04-06 15:29] harshad16 commented on #552
More discussion on : https://operatefirst.slack.com/archives/C033W4E8ATA/p1649254002714969

[2022-04-06 21:44] tumido commented on #552
Thank you, this solution worked. :+1:

[2022-04-06 21:44] #552 closed

[2022-04-07 08:28] sesheta commented on #494
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-07 22:11] sesheta commented on #361
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-08 17:07] sesheta commented on #434
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-08 17:07] #434 closed

[2022-04-08 17:07] sesheta commented on #434
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/434#issuecomment-1093096251):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-08 17:28] sesheta commented on #406
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-08 17:28] sesheta commented on #467
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-08 18:53] durandom commented on #406
/remove-lifecycle rotten

[2022-04-08 23:07] sesheta commented on #469
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-08 23:07] sesheta commented on #469
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/469#issuecomment-1093455333):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-08 23:07] #469 closed

[2022-04-09 17:07] sesheta commented on #472
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-09 17:07] #472 closed

[2022-04-09 17:07] sesheta commented on #472
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/472#issuecomment-1094086806):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-09 20:07] sesheta commented on #335
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-09 20:07] #335 closed

[2022-04-09 20:07] sesheta commented on #335
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/335#issuecomment-1094117018):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-09 20:07] #993 closed

[2022-04-10 17:07] sesheta commented on #346
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-10 17:07] #346 closed

[2022-04-10 17:07] sesheta commented on #346
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/346#issuecomment-1094329038):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-10 20:07] sesheta commented on #102
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-10 20:08] #102 closed

[2022-04-10 20:08] sesheta commented on #102
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/102#issuecomment-1094359738):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-11 15:18] HumairAK opened #661 "OSC-CL2 Trino crashing"
[code]

Triggered by this pr: https://github.com/operate-first/apps/pull/1883

[2022-04-11 20:25] #661 closed, assigned to erikerlandson, MichaelTiemannOSC

[2022-04-12 16:11] sesheta commented on #422
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-12 16:54] harshad16 commented on #422
/remove-lifecycle stale
This issue somehow missed out of my list.

This is not expected behavior, we didn't notice this.
I will investigate.

[2022-04-12 17:02] harshad16 commented on #422
I can confirm that it is an issue.
Will work on fixing this issue.
thank you for the issue.

/lifecycle active

[2022-04-12 17:54] harshad16 commented on #422
After the investigation, we have found the reason for their existence.

During the image builds, the python packages are installed via the source method.
Two of the packages have data_files stated in their install method, so the REAME and requirements.txt directory are formed in build time as a part of these package installations.

README via python-string-utils : https://github.com/daveoncode/pyt

[2022-04-12 19:25] Gregory-Pereira opened #660 "Elevated temperature in the MGHPCC Computer Room"

[2022-04-13 07:33] mayaCostantini commented on #549
The issue seems to have been solved. Closing this issue.
/close

[2022-04-13 07:33] #549 closed

[2022-04-13 07:33] sesheta commented on #549
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/549#issuecomment-1097656376):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/

[2022-04-13 19:31] computate opened #553 "smart-village-view"
### Target cluster

_No response_

### Team name

boston-university-redhat

### Desired project names

smart-village-view

### Project description

For gathering smart village data from sensors deployed in the village and reporting them in a dashboard and maps. We are also working on simulations of traffic data to build a healthier, cleaner traffic system in the village. The work is with Boston Un

[2022-04-14 07:51] durandom commented on #553
/approve

I suggest smaug cluster.

cc @Gregory-Pereira @HumairAK

[2022-04-14 16:12] sesheta commented on #247
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-14 17:34] Gregory-Pereira commented on #553
Rather than utilizing a custom quota, all your resource requirements fit within the `Medium` quota, so I will use that to generate the namespace.

[2022-04-14 20:08] sesheta commented on #163
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-14 20:08] #900 closed

[2022-04-14 20:08] #163 closed

[2022-04-14 20:08] sesheta commented on #163
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/163#issuecomment-1099580300):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-16 16:13] sesheta commented on #147
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-17 16:13] sesheta commented on #312
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-17 16:13] sesheta commented on #508
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-17 19:13] sesheta commented on #248
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-17 22:13] sesheta commented on #381
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-18 12:20] harshad16 commented on #508
This issue will take more time to get fixed
The solution, for now, is to have all pods get on the same node to replicate the ReadWriteMany with the same node ReadWriteOnce.

thanks everyone for help.

[2022-04-18 12:20] #508 closed

[2022-04-18 14:48] first-operator[bot] opened #554 "nfs storage unavailability fails the image-registry in Smaug."
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RT0S2WKX/p1650292138102839?thread_ts=1650292138.102839&cid=C01RT0S2WKX_

[2022-04-18 15:59] harshad16 commented on #554
Related-to: https://github.com/operate-first/operations/issues/416

[2022-04-18 16:13] sesheta commented on #395
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 02:09] #763 closed

[2022-04-19 12:51] MichaelClifford commented on #147
/remove-lifecycle stale

[2022-04-19 13:00] MichaelClifford commented on #312
/remove-lifecycle stale

[2022-04-19 14:44] #712 closed

[2022-04-19 15:06] 4n4nd commented on #553
@computate your requested project namespace should be available [here](https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/smart-village-view/pods), you should be able to use the `operate-first` login using your github account. Please feel free to close this issue or let us know if you need anything else.

[2022-04-19 18:38] computate commented on #553
@4n4nd and team, could you please grant access to the cluster for these github usernames as well?
yqchenn, anlianni

[2022-04-19 18:41] 4n4nd commented on #553
@computate do you or one of the users want to create a PR to do this?
All you need to do is add the users to the following list: https://github.com/operate-first/apps/blob/master/cluster-scope/base/user.openshift.io/groups/boston-university-redhat/group.yaml#L5

[2022-04-19 19:13] sesheta commented on #347
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 21:43] computate commented on #553
Thanks for the clever tip, I have added a PR: https://github.com/operate-first/apps/pull/1911

[2022-04-19 22:10] heyselbi commented on #537
I have presented my demo, thank you so much for the resources! My access to the cluster can be deleted, as well as the namespace. Or if there is a way I can do it myself, please let me know.

[2022-04-20 14:17] #674 closed

[2022-04-20 20:45] HumairAK opened #556 "As a potential OPF user, I would like an OPF service catalog, so that I may request access/onboarding to a service from this catalog"
### Additional context

The service catalog should display the following information in a user-friendly table format:

- Service Name
- Service Description
- Link navigating to a form or docs on how to get access.
- SLA
- Support Path

### Acceptance Criteria

- [x] Identify a generic service catalog solution ([#560](https://github.com/operate-first/support/issues/560) )
- [ ] Catalog is **easily*

[2022-04-20 21:15] HumairAK opened #557 "As an OPF SRE, I want all OPF clusters to use Identitatem for their Authentication, to further synchronize cluster management."
### Additional context

With [identitatem added](https://github.com/operate-first/apps/tree/master/acm/overlays/moc/infra/identitatem) to MOC, all clusters can be configured to use identitatem instead of keycloak. [Docs here](https://www.operate-first.cloud/apps/content/acm/adding_managed_cluster_to_identitatem.html). Please keep in mind that Identitatem respects letter cases for usernames, while

[2022-04-20 21:15] #693 closed

[2022-04-20 21:50] HumairAK opened #659 "As an OPF SRE, I want to see only critical alerts in the alerts repo, so that there is less alert fatigue and thus more reason to look at it."
### Additional Context

There is too much bloat in the alerts repo, no one looks at it. Instead of sending everything, let's reduce the Alerts to only show critical alerts. Then start with checking those critical alerts, are they really critical? Can they be ignored? Then ignore these by name.

For non-critical alerts we want to see, we should selectively add them, and include docs on how they can

[2022-04-21 08:35] PixelJonas opened #558 "Username changed and removed access to ressources"
**Describe the bug**
It looks like my username got changed from `pixeljonas` to `PixelJonas` on the `morty` cluster which results in me not having access to my namespaces when logging in

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Don't see any namespaces

**Expected behavior**
Have access to my namespaces

**Screenshots**
![image](https://user-images.githubusercontent.com/54348

[2022-04-21 14:46] computate opened #559 ""smart-village-view"/"openshift-service-ca.crt" not registered error deploying postgresql:10"
### Requested actions

#### Resource request

Please list all the resources you want to have deployed. Please list only the resources which can't be deployed by your project-admins. If possible, please include the resource manifest as a link to upstream definition or as an attachment file.

Requesting these resources to be deployed:

- A resource name: postgresql DeploymentConfig

Hello Operate Fi

[2022-04-21 16:45] computate commented on #559
I was able to resolve the issue myself by creating an ImageStream for postgresql that pointed to the DockerContainer registry.redhat.io/rhscl/postgresql-12-rhel7:latest instead. I will close this issue.

[2022-04-21 16:45] #559 closed

[2022-04-21 20:09] sesheta commented on #462
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-21 20:09] #462 closed

[2022-04-21 20:09] sesheta commented on #462
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/462#issuecomment-1105708994):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-21 20:30] sesheta commented on #505
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-22 20:09] #697 closed

[2022-04-23 14:09] #745 closed, assigned to nobody

[2022-04-23 20:09] sesheta commented on #480
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-23 20:09] #480 closed

[2022-04-23 20:09] sesheta commented on #480
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/480#issuecomment-1107641717):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-25 13:32] HumairAK opened #560 "Investigate options for a re-usable/generic service catalog (rather than re-inventing the wheel)."

[2022-04-25 14:01] HumairAK opened #561 "As a potential user, I can start using an OCP project in Operate First by filling out a single issue form"
### Acceptance Criteria:

- [ ] Implement the process for user passing information (via github issue) and converting this issue into a PR in a fully automated way
- [ ] Create a GitHub issue form template for this form (either refine existing, or create new & improved one).
- [ ] The process should allow for enabling of options available for onboarding, e.g. enabling argocd.

[2022-04-25 14:03] HumairAK opened #562 "As an OPF OCP user, I can start using OPF ArgoCD by filling out a single form, so that I can manage my OPF service via GitOps."
### Acceptance Criteria

- [ ] Implement the process for user passing information (via github issue) and converting this issue into a PR in a fully automated way
- [ ] Create a GitHub issue form template for this form (either refine existing, or create new & improved one).

[2022-04-25 14:05] HumairAK opened #563 "As an operate first user, I want to manage members in my group, so that they too can use my groups OCP project."
### Acceptance Criteria

- [ ] Implement the process for user passing information (via github issue) and converting this issue into a PR in a fully automated way
- [ ] Create a GitHub issue form template for this form (either refine existing, or create new & improved one).
- [ ] Form should give options to add/remove users from an OCP group they are a part of, provide feedback (e.g. provide a repl

[2022-04-25 14:09] HumairAK opened #564 "As an operate first user, I want to be able to add/adjust/manage my group's OCP project quota."
### Acceptance Criteria

- [ ] Implement the process for user passing information (via github issue) and converting this issue into a PR in a fully automated way
- [ ] Create a GitHub issue form template for this form (either refine existing, or create new & improved one).
- [ ] Users should be able to change their tiers
- [ ] Have the option to define custom quotas (or be able to switch between t

[2022-04-25 14:15] HumairAK opened #565 "As an operate first operator, I would like to have an extendible framework for automating user interactions."
### Acceptance Criteria

- [ ] Framework should consumes data from github issues
- [ ] Results in a PR creation
- [ ] Changes manifests in operate-first apps/common
- [ ] Adding new scenarios is done in a declarative way (does not require direct, possibly code, changes to implementation of framework).

[2022-04-25 15:06] HumairAK opened #566 "Propose an architecture for user interactions automation"
The architecture should be able to satisfy: https://github.com/operate-first/support/issues/565

[2022-04-25 16:13] sesheta commented on #512
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 18:11] riprasad opened #567 "Onboard API Designer"
### Target cluster

Smaug

### Team name

apicurio

### Desired project names

api-designer

### Project description

The API Designer project is an API design studio that can be used to create new or edit existing API designs (using the OpenAPI specification).

### Users needing access

carlesarnal, ericwittmann, craicoverflow, jsenko, paoloantinori, riprasad

### Namespace Quota

Large

### Cust

[2022-04-25 18:24] riprasad commented on #567
This is our second operate-first deployment. First one is [apicurio-registry](https://console-openshift-console.apps.smaug.na.operate-first.cloud/topology/ns/apicurio-apicurio-registry?view=graph) and therefore I have used the same team name `apicurio` but a different project name.

I hope I have done the right thing and this doesn't create any issue since the group [apicurio](https://github.com/o

[2022-04-25 19:19] 4n4nd commented on #554
discussed a possible solution for this issue: https://docs.openshift.com/container-platform/4.9/registry/configuring_registry_storage/configuring-registry-storage-aws-user-infrastructure.html

[2022-04-25 19:28] #672 closed

[2022-04-25 20:30] sesheta commented on #305
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-26 14:09] sesheta commented on #277
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-26 14:09] #277 closed

[2022-04-26 14:09] sesheta commented on #277
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/277#issuecomment-1109846068):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-04-26 16:13] sesheta commented on #514
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-27 00:28] anishasthana commented on #514
/close

[2022-04-27 00:28] #514 closed

[2022-04-27 00:28] sesheta commented on #514
@anishasthana: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/514#issuecomment-1110375883):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-04-27 02:48] dystewart opened #658 "Decommission Rick Cluster"
We need to Decommission the Rick cluster so we need to:

- [x] Confirm nothing is running on Rick
- [x] Migrate argocd apps currently deploying in Rick to deploy in Morty
- [x] Offboard Rick according to these [cluster offboarding docs](https://www.operate-first.cloud/apps/content/cluster-scope/offboarding_cluster.html)
- [x] Make any necessary changes or updates to [cluster offboarding docs](http

[2022-04-27 12:46] HumairAK commented on #558
This is related to: https://github.com/operate-first/apps/issues/1885

@PixelJonas for now can you add PixelJonas to this list: https://github.com/operate-first/apps/blob/master/cluster-scope/base/user.openshift.io/groups/team-pixel/group.yaml

This should resolve the issue

[2022-04-27 16:15] anishasthana commented on #494
/close

[2022-04-27 16:15] #494 closed

[2022-04-27 20:01] Shreyanand opened #568 "[OSC cl2] Pods scheduled by kubeflow should be able to get GPU nodes"
In the os-climate kubeflow namespace on the cl2 cluster, the pods spawned by the kubeflow pipelines can not match the nodes that have taints for GPUs.
To be able to do so, either Elyra or kubeflow has to add toleration to the pod it generates ([upstream issue](https://github.com/elyra-ai/elyra/issues/2681)).
While that gets addressed upstream, a temporary workaround should be found.

[2022-04-28 19:50] sallyom commented on #491
Here is a jaeger CR - when you create this in any namespace, some jaeger resources should be created:
[code]

[2022-04-28 20:04] sallyom commented on #491
https://github.com/operate-first/apps/pull/1933
https://github.com/operate-first/apps/pull/1932

[2022-05-01 16:14] sesheta commented on #452
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-01 16:14] sesheta commented on #386
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-01 20:10] sesheta commented on #470
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-01 20:10] sesheta commented on #470
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/470#issuecomment-1114325457):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-05-01 20:10] #470 closed

[2022-05-02 09:10] tumido commented on #560
Evaluating opensource options that serve similar purpose:

1. https://backstage.io/ (live demo: https://demo.backstage.io/, https://backstage.io/demos)
   - It has a Helm Chart + Kubernetes documentation
   - Service resources are YAMLs in Kubernetes-like format, however it seems it's not a CR (applies through config change, not through Kubernetes API)
   - Very complex and complete, full of featu

[2022-05-02 14:10] sesheta commented on #466
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-02 14:10] #466 closed

[2022-05-02 14:10] sesheta commented on #466
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/466#issuecomment-1114927340):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-05-02 15:37] carlosGimeno opened #657 "[Ops-docs] Create labels related to documentation"
This suggestions was brought up during an Ops-docs meeting. The idea would be to add labels such as needs-documentation and has-documentation as a way to make sure that new features or changes are correctly documented (specially within the ops-docs) prior to the approval and merger of a PR.

[2022-05-02 16:20] HumairAK commented on #558
This should be now resolved https://github.com/operate-first/apps/issues/1885

[2022-05-02 16:20] #558 closed

[2022-05-02 17:40] larsks opened #656 "Automation to remove complete projects from Done column on project board"
We are using a [project board](https://github.com/orgs/operate-first/projects/57) to help keep track of currently active projects happening in the Operate First operations WG. We would like to avoid the "Done" column growing without bound. We would like automation that will remove items from the "Done" column some amount of time after they have been completed.

[2022-05-02 17:49] HumairAK commented on #298
See: https://github.com/operate-first/apps/issues/1844

Let's go with smaug for now @dystewart

[2022-05-02 18:05] #665 closed

[2022-05-02 19:35] #386 closed

[2022-05-02 19:35] husky-parul commented on #386
/close

[2022-05-02 19:35] HumairAK commented on #386
Volsync was deployed on smaug.

[2022-05-02 19:42] husky-parul opened #569 "Onboarding Kepler to Operate-First"
### Description

Hi Team,

We want to onboard our project [Kepler](https://github.com/sustainable-computing-io/kepler/tree/main/manifests/openshift) as a managed service on Operate-First. The list of manifests we would need to deploy comprises `MachineConfig` `ClusterRole` `ClusterRoleBonding` `SA` `SCC` etc. I understand we would need the ArgoCD to deploy these privileged CRs. Could you help us t

[2022-05-02 21:01] dystewart commented on #298
@HumairAK Should I leave the instance in infra as is or should that be removed for now?

[2022-05-02 21:02] dystewart commented on #298
PR adding vault to smaug: [https://github.com/operate-first/apps/pull/1954](https://github.com/operate-first/apps/pull/1954)

[2022-05-02 22:14] sesheta commented on #515
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-02 22:20] erikerlandson opened #570 "public operations project board"
### Description

I'm interested in being able to cross-link tickets into external project boards.  Part of my desired goal is to allow external communities to get a broader view into OPF activities, and where their particular tasks might be in the workflow.

However, one of the likely project boards for that purpose is private:
![image](https://user-images.githubusercontent.com/259898/166336041-e7

[2022-05-03 03:10] redmikhail commented on #568
Preferred solution is if Elyra could pass podTemplate section to tekton pipelines https://tekton.dev/vault/pipelines-v0.14.3/podtemplates/ . Something similar to https://github.com/kubeflow/kfp-tekton/blob/b14f952ceb9c2c8b02f8b38298fa6264fac6b1dd/sdk/python/tests/compiler/testdata/node_selector_from_pipeline.yaml . As a temporary solution tolerations in podTemplates can be set for all pipelines ht

[2022-05-03 12:24] durandom commented on #569
ACK

@HumairAK can you have a look at the manifest and see if there any roadblockers? Since it seems to be a deeper change, maybe we start with rick/morty?

[2022-05-03 13:14] sesheta commented on #453
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 13:14] sesheta commented on #449
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 13:19] HumairAK commented on #567
resolved https://github.com/operate-first/apps/pull/1937
see: https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/cluster/projects/api-designer

[2022-05-03 13:19] #567 closed

[2022-05-03 14:10] sesheta commented on #485
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-03 14:10] #485 closed

[2022-05-03 14:10] sesheta commented on #485
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/485#issuecomment-1116146040):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-05-03 15:08] HumairAK opened #571 "As an OPF admin / PO, I want to define the "time to onboard a new application" metric and set up a pipeline to calculate it, so that I can track the efficiency of the onboarding process over time, and so that I can measure the impact of interaction automation (service catalog, automation, etc.)"
- [ ] define the metric (issue_close - issue_open? something else?). [Create an exploration type of notebook to see what data we have available, and what are some possible definitions.](https://github.com/operate-first/apps/issues/1957)
- [ ] dashboard to visualize metric over time

[2022-05-03 15:15] HumairAK opened #572 "As the stakeholder (sig-data-science), I want to prototype a pipeline to calculate the OSD/ROSA operational efficiency metrics, so that I can show the implementation and lessons learned to internal RH teams so they can replicate it. (Deemed Out of Scope)."
- [ ] determine if definitions in doc make sense and are feasible
- [ ] cron job / pipeline / workflow to regularly calculate metric and save to s3
- [ ] dashboard to visualize metrics

[2022-05-03 15:56] HumairAK commented on #570
@erikerlandson this was a mistake on my part, operations board is public now

[2022-05-03 16:19] erikerlandson commented on #570
Thanks @HumairAK !

[2022-05-03 16:19] #570 closed

[2022-05-03 16:23] durandom commented on #533
I dont have a concrete example.
@4n4nd @iNecas @erana  do we have runbooks that depend on examining log files?

[2022-05-03 17:17] #664 closed, assigned to nobody

[2022-05-03 17:27] HumairAK commented on #557
all clusters save for osc-cl1 and osc-cl2 are migrated, for osc-cl* clusters see: https://github.com/operate-first/apps/issues/1953
closing

[2022-05-03 17:27] #557 closed

[2022-05-03 19:25] #784 closed

[2022-05-03 20:17] #554 closed

[2022-05-03 22:14] sesheta commented on #435
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-04 13:41] iNecas commented on #533
I would recommend checking https://github.com/openshift/ops-sop/blob/master/v4/alerts/, where there are a lot of examples of runbooks and many are touching on using logs as well, just random example https://github.com/openshift/ops-sop/blob/master/v4/alerts/FluentdQueueLengthIncreasing.md (I'm sure there are more)

[2022-05-04 14:17] schwesig commented on #453
/remove-lifecycle stale

[2022-05-04 14:17] schwesig commented on #452
/remove-lifecycle stale

[2022-05-04 14:25] schwesig commented on #447
can be closed, valid as a lookup for future ideas

[2022-05-04 14:25] #447 closed

[2022-05-04 14:35] jliagouris commented on #533
Links seem to be broken.

[2022-05-05 14:53] 4n4nd opened #573 "[smaug] opf-jupyterhub namespace has reached it's cpu limits quota"

[2022-05-05 14:53] 4n4nd commented on #573
![screenshot_from_2022-05-05_10-46-25](https://user-images.githubusercontent.com/22333506/166951277-e37e40d9-cf5a-4551-acc2-de6c62aaf514.png)

[2022-05-06 19:48] HumairAK commented on #298
Vault / ESO added to smaug, acceptance criteria for this issue updated in original post

[2022-05-07 23:31] sesheta commented on #361
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-08 10:14] sesheta commented on #219
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-08 12:49] eranra commented on #533
@durandom I am not sure that there is anything "special" in Loki in comparison to the behavior against any other log store solutions. Same with regards to RH in comparison to other SRE's.

[2022-05-08 12:49] eranra commented on #533
@Periklis maybe you can help here. The internal customer using Loki/observatorium, did they document the queries/usage?

[2022-05-08 20:11] sesheta commented on #467
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-08 20:12] #467 closed

[2022-05-08 20:12] sesheta commented on #467
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/467#issuecomment-1120480270):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-05-09 10:30] riprasad commented on #567
@HumairAK is this good enough to replace a user from the group?
PR: https://github.com/operate-first/apps/pull/1967

[2022-05-09 13:26] #1002 closed

[2022-05-09 13:56] HumairAK commented on #560
#1 definitely looks a lot more polished

I think this is fine, can the configs be something we store declaratively to roll out changes?
Based on repo stats it seems very popular as well.

#2 looks like it's still very new, and it's on 0.1.x still so not sure if we can expect much in terms of stability (also seems to have much lower adoption). _However_ if it gets the job done and is much easier/si

[2022-05-09 20:00] HumairAK opened #655 "Update onboarding notebook to use new opfcli onboard command"
1. [Merge toolbox image version bump](https://github.com/operate-first/toolbox/pull/74) @humairAK
2. [Update kustomization work with opfcli onboard command](https://github.com/operate-first/apps/pull/1800)
    - holding for now

[2022-05-10 06:24] riprasad commented on #567
Add team apicurio to operate first group: https://github.com/operate-first/common/pull/107
More info about this: https://github.com/operate-first/common/blob/main/docs/add_gh_member_and_access.md#adding-github-members-and-managing-repo-access

[2022-05-11 16:51] carlosGimeno opened #654 "[Ops-docs] Fill in with content the empty Section Headings of the Git-Ops Docs"
# Empty Section Headings

The Git-Ops Documentation notebook currently has 16 sections. Each of the sections has a section heading page, which in most of the cases is just an empty page.

On one of the meetings of the Ops-docs subproject, this issue was discussed and it was proposed that these empty pages would include introductions to each of the sections, avoiding misleading empty pages while in

[2022-05-12 14:31] HumairAK opened #653 "[INCIDENT][Smaug/Nooba] - A NooBaa system approached its capacity, usage is at 100%"

[2022-05-12 19:19] sesheta commented on #521
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-14 11:07] durandom commented on #569
@4n4nd can you have a look please?

[2022-05-14 17:34] sesheta commented on #247
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-14 17:34] sesheta commented on #425
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-14 17:54] codificat commented on #247
/remove-lifecycle rotten

I believe this is still relevant and it could be useful for users.

One (admittedly rare) use case could be for users to self-service volume deletion during the migration of PVs to other storage: https://github.com/operate-first/operations/issues/416#issuecomment-1125042984

[2022-05-15 22:15] sesheta commented on #319
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-16 16:15] sesheta commented on #41
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-16 17:40] larsks opened #652 "Configure ODF (OCS) using NESE storage on Infra cluster"
In order to use volume storage on the moc-infra cluster, we need to configure access to the NESE ceph storage cluster.

[2022-05-16 22:15] sesheta commented on #401
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-17 04:31] roytman commented on #41
/remove-lifecycle rotten

[2022-05-17 17:18] HumairAK commented on #298
task done, docs pending https://github.com/operate-first/apps/issues/1992

[2022-05-17 17:18] #298 closed

[2022-05-17 20:35] sesheta commented on #248
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-17 23:35] sesheta commented on #381
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-18 03:45] redmikhail commented on #568
Following https://access.redhat.com/documentation/en-us/openshift_container_platform/4.9/html/cicd/pipelines#release-notes-1-6-2_op-release-notes document added toleration to TektonConfig in following form
[code]
While objects in openshift-pipelines namespace have received toleration , it appears change has no effect on kubeflow pipelines . As temporary workaround add tolerations on the whole kube

[2022-05-18 17:35] sesheta commented on #395
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-18 19:12] skanthed opened #575 "Deploy curator-operator in Smaug cluster"
Earlier we have deployed the curator project in Smaug and it's up and running.
We have built an operator using Operator-SDK for that and implemented the same functionality and will keep adding more features to curator-operator.

Curator operator repo - https://github.com/operate-first/curator-operator

Need to install this operator in Smaug cluster

[2022-05-18 19:24] skanthed commented on #575
@dystewart

[2022-05-18 19:59] dystewart commented on #575
/assign

[2022-05-18 23:44] #1006 closed

[2022-05-19 20:35] sesheta commented on #347
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-21 23:13] sesheta commented on #505
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-21 23:13] #505 closed

[2022-05-21 23:13] sesheta commented on #505
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/505#issuecomment-1133781630):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-05-22 13:16] sesheta commented on #445
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-22 16:16] sesheta commented on #448
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-24 14:23] larsks opened #651 "Respect privacy when collecting email addresses during onboarding"
We would like to collect email addresses during onboarding, but we would like to respect people's privacy and not expose their email in public git issues or in our repositories. How do we do that?

[2022-05-24 14:33] larsks opened #650 "Options for per-cluster and per-namespace notifications"
During incidents such as the current MGHPCC power outage, we would like a mechanism for sending targeted notifications to the affected audience: that is, we want to be notify Smaug users of the downtime without bugging people using Rick or the OSC cluster. We would like even more granular channels, so that if we are forced to disabled resources on a cluster due to a problem, we would like to be ab

[2022-05-24 17:25] quaid commented on #574
@pacospace @4n4nd this seems like an open questions still, yes?

/remove-lifecycle stale

[2022-05-24 18:12] trachten opened #576 "Access to Smaug cluster"
Hi ... I'm interested in working on Jonathan Appavoo's jupyter text book project, and I'd like access to Smaug for these purposes.

[2022-05-24 19:16] HumairAK commented on #576
Hello @trachten ! I personally don't know who that is or what textbook project you're referring to :)

Do you have a link to a github issue? Or more details on the project?

If there's a specific Operate First maintainer/admin that is aware of your request can you @ mention them here so they can respond accordingly (or link this to them).

Is there a specific Openshift namespace you're looking for

[2022-05-24 19:29] HumairAK opened #649 "[Announcement] MOC Clusters down until May 26th (Emea clusters auth also down)"

[2022-05-25 01:29] trachten commented on #576
Sorry ... I'm referring to https://github.com/jappavoo/bu-cs-book-dev, which appears to require access to smaug.

[2022-05-25 14:14] HumairAK commented on #576
If you're just looking to use this notebook you can log in to jupyterhub directly on smaug. Unfortunately smaug is expected to be down until tomorrow, see [here](https://github.com/operate-first/operations/issues/478) for details. I would try again then.

[2022-05-25 17:28] computate opened #577 "smaug cluster down"
### Describe the Problem

Hello, I noticed our application and the whole smaug OpenShift Cluster is down today. Can you please help bring it back online?
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/smart-village-view/deploymentconfigs

### Steps to Reproduce

1. Go to: https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/smart-village-view/deplo

[2022-05-25 19:27] computate commented on #577
The cluster seems to be back up, but I'm having other issues starting my deployment configs related to persistent volume claims:
[code]
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/smart-village-view/pods/postgresql-4-mp5p7/events

[2022-05-25 20:02] #576 closed

[2022-05-25 21:32] computate commented on #577
Thanks for your help, the cluster is back up and running now!

[2022-05-25 21:32] #577 closed

[2022-05-26 11:53] tumido commented on #560
Conclusion and plan on SD deployment going forward:

- We're gonna start with https://github.com/operate-first/operate-first.github.io/pull/57 and use that as a baseline for list of provided services
- In the meantime we start working on a Backstage deployment transforming the Helm Chart into a Kustomize based set of manifests or use their Kubernetes guide directly to achieve the same.
- We expect

[2022-05-26 11:56] tumido opened #578 "Deploy experimental instance of Backstage"
As per https://github.com/operate-first/support/issues/560 we decided to try to adopt Backstage as our Service catalog. This issue is a request for ourselves to attempt to deploy Backstage to Operate First Community Cloud.

We should utilize either:
- https://backstage.io/docs/deployment/helm
- https://backstage.io/docs/deployment/k8s

[2022-05-26 12:00] tumido commented on #560
Reopening. Creating ADR for this.

[2022-05-26 13:39] larsks opened #648 "[INCIDENT][smaug/object storage] - Unable to create new buckets or access existing buckets"

[2022-05-26 13:47] suppathak opened #579 "Unable to connect to opf-datacatalog using boto3 client"
Unable to connect to opf-datacatalog bucket using boto3 client :
https://github.com/operate-first/apps/blob/master/docs/content/odh/trino/access_public_bucket.md.
![Screenshot from 2022-05-26 06-45-48](https://user-images.githubusercontent.com/30439457/170500408-c2613274-61dd-4a47-85a4-37df5355f1f2.png)

[2022-05-26 13:48] suppathak commented on #579
assign @larsks

[2022-05-26 13:48] suppathak commented on #579
Related https://github.com/operate-first/operations/issues/479

[2022-05-26 15:24] quaid opened #647 "Decouple central ops and abstract from MOC"
This is probably a longer-term goal but it would be great if it were substantively in place for the next MOC multi-day power outage.

As a cloud environment provider, we need to design our cloud so it is not dependent on one region or one data center.

The vision here is, when the next MOC multi-day planned power outage occurs, the Op1st project is able to maintain uptime throughout and does not n

[2022-05-26 20:54] sesheta commented on #305
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-26 21:03] #305 closed

[2022-05-27 05:54] sesheta commented on #478
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-27 14:31] ajinkyababar opened #580 "Unable to access curator cluster"
### Describe the Problem

Unable to access the curator development cluster.
https://console-openshift-console.apps.curator.massopen.cloud/

### Steps to Reproduce

NA

### Expected behaviour

We should be able to access the curator cluster

### Screenshots

![curator_issue](https://user-images.githubusercontent.com/19320305/170719712-78d9e250-97ac-4945-be11-8dbbeec1ef84.png)

### Additional contex

[2022-05-27 14:49] larsks commented on #579
@suppathak can you try again and let us know if the behavior has changed?

[2022-05-30 14:06] HumairAK commented on #579
@suppathak bump

[2022-05-31 12:31] veniceofcode opened #581 "ChrisProject Onboarding to smaug Cluster"
**Cluster**
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/cluster/projects

**Namespaces**

- [ ] ChrisProject-Dev

- [ ] ChrisProject-Staging

**Github Id**

- veniceofcode
- mairin
- ejsa13
- bretmullinix

**Operators**

- [ ] OpenShift Pipelines

- [ ] OpenShift GitOps

- [ ] Codeready Workspaces

- [ ] Advanced Cluster Security

Note

If the namespaces /projects are n

[2022-05-31 12:47] suppathak commented on #579
@larsks @HumairAK , Thanks :)
It is fixed now.
Closing this issue now.
/close

[2022-05-31 12:49] #579 closed

[2022-05-31 12:50] sesheta commented on #579
@suppathak: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/579#issuecomment-1142090517):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-05-31 14:27] HumairAK commented on #581
[code]

AFAIK these weren't discussed in our last call.

So CodeReadyContainers afaik will create new namespaces in the cluster, and this goes against our gitops model of managing everything in the cluster via git. Do you know if there's a way to leverage this operator and confine all resource creation to the namespace ? What privileges does this operator need?

Not familiar with Advanced Cluster

[2022-05-31 14:41] larsks commented on #581
[ACS](https://www.redhat.com/en/resources/advanced-cluster-security-for-kubernetes-datasheet) sounds interesting but it really looks like an admin-level tool. There's some notes on the architecture [here](https://docs.openshift.com/acs/3.67/architecture/acs-architecture.html). It sounds interesting, and has some features (such as a policy-based admissions controller) that we've talked about in the

[2022-05-31 14:52] veniceofcode commented on #581
@larsks , @HumairAK  I think this could be worth looking at https://redhat-scholars.github.io/acs-workshop/acs-workshop/index.html , because this helps to have a dev secops pipeline , for example this one : https://github.com/rcarrata/devsecops-demo

[2022-05-31 14:55] veniceofcode commented on #581
![image](https://user-images.githubusercontent.com/93591339/171204165-3a65e5fb-42bc-4beb-8886-027fcdf23a76.png)

[2022-05-31 14:55] veniceofcode commented on #581
So if there is a central instance of ACS running and provided by OF team , i think its still possible to use it

[2022-05-31 15:07] HumairAK commented on #581
@larsks -- how do you propose we go about this? I'm not sure we currently have the bandwidth to deploy / setup/ maintain this within a time frame that works for @veniceofcode.

I think an approach like this makes more sense to me.

[2022-05-31 16:10] veniceofcode commented on #581
@HumairAK @larsks , I m happy to help getting some of these components deployed in collaboration with your team , in case if you do not have enough bandwidth

[2022-05-31 16:14] harshad16 commented on #581
@shreekarSS is working on the initial phase on onboarding the team, namespace and access to the cluster and argocd.

[2022-05-31 17:30] HumairAK commented on #581
@veniceofcode the cluster operations team meets in an open call weekly on Monday to discuss cluster operations. If you would be willing to join I can put this on the agenda item for the upcoming meeting Monday.

You can find the meeting here: https://calendar.google.com/calendar/u/0/embed?src=operate.first.community@gmail.com&ctz=America/Los_Angeles

Look for `[Op1st] Sub Project Cluster Ops weekl

[2022-06-01 00:57] sesheta commented on #527
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-01 12:12] veniceofcode commented on #581
@HumairAK , In the meantime, is it possible to get started with what can be given access to such as cluster, project

[2022-06-01 12:53] harshad16 commented on #581
@veniceofcode, yes . one of our team member is assigned and is working on it
you should be expecting the within today

[2022-06-01 16:27] aakankshaduggal opened #582 "Superset - importing Dashboards"
### Describe the Problem

I am trying to import a superset dashboard using an existing json backup, however when I try to do so, it's giving me this error-
![image](https://user-images.githubusercontent.com/26301643/171453558-cf06b8a3-bf46-406e-b835-16e74781d084.png)

And when I retry -
![image](https://user-images.githubusercontent.com/26301643/171451264-085cc322-ca73-4a1f-8f54-22879f331aad.png)

[2022-06-01 21:01] larsks commented on #580
The curator cluster is back online. There are some temporary fixes in place that mean in the event of a reboot the nodes may require additional manual intervention. I'm investigating a more permanent fix, but things should be fine for now.

[2022-06-02 06:51] sesheta commented on #515
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-02 07:00] sesheta commented on #528
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-02 08:05] #528 closed

[2022-06-03 00:48] sesheta commented on #435
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-03 13:34] rd4398 opened #583 "Access to MOC clusters"
Hi, I am Rohan and I joined Red Hat as Software Engineer Intern this summer. I wanted to access the MOC clusters since I will be working on that during my internship. Can you please grant me the access?
My Red Hat email is: rdevasth at redhat dot com

[2022-06-03 13:39] veniceofcode opened #584 "Access request for smaug cluster to additional teammates"
**Cluster**
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/cluster/projects

**Namespaces**

- [ ] ChrisProject-Dev

- [ ] ChrisProject-Staging

**Github Id**

- jennydaman
- rudolphpienaar

[2022-06-04 11:19] veniceofcode opened #585 "Codeready Workspaces"
Please help with Codeready workspaces. This can be installed in a specific namespace so that it would not have impact to the cluster wrt other apps .

If possible please install this in a new namespace

The namespace can be called as devtools-infra and this can be used for any other operators that can be used in common

Below is a screenshot to deploy in given namespace

<img width="1429" alt="Scr

[2022-06-05 06:49] quaid commented on #585
Hi, this is an interesting idea. Is this something just you are looking for? Or is there some other group or initiative involved?

[2022-06-05 11:42] veniceofcode commented on #585
At the moment , i would like to have this used for chris project along with me . We have a few red hat volunteers and teammates from chris project . For example a workshop like this can demonstrating the need for code ready workspaces  : https://redhat-scholars.github.io/inner-loop-guide/inner-loop/5.1/introduction.html

[2022-06-05 13:00] sesheta commented on #446
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-05 18:39] #1014 closed

[2022-06-06 12:58] SamoKopecky commented on #578
- PR for catalog definitions files: https://github.com/operate-first/apps/pull/2030
- Temporary repo for the `backstage` code/deployments: https://github.com/samoKopecky/backstage-deployment

[2022-06-06 13:47] HumairAK commented on #585
Codeready Workspaces will create new namespaces for users/workspaces, brief skim of the docs indicates you could possibly limit this [by steting CHE_INFRA_KUBERNETES_NAMESPACE_DEFAULT](https://access.redhat.com/documentation/en-us/red_hat_codeready_workspaces/2.0/html/installation_guide/advanced-configuration-options_crw#one_namespace_for_all_workspaces_strategy) env var. @veniceofcode have you co

[2022-06-06 17:29] #582 closed

[2022-06-06 17:47] mairin commented on #585
@quaid We were interested in trying it out as a potential better way to onboard new contributors from the Red Hat Impact program as well as Outreachy.

[2022-06-06 18:42] #649 closed

[2022-06-07 00:39] sesheta commented on #361
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-07 00:39] #361 closed

[2022-06-07 00:39] sesheta commented on #361
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/361#issuecomment-1148072293):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-06-07 08:21] tumido commented on #566
I've put together some initial draft which I will convert into ADR. https://docs.google.com/document/d/1K7-lBRvYCrEbjKG0-G74vbE9xVlV1-v1HJncAotHMD4/edit?usp=sharing

[2022-06-07 08:26] tumido commented on #578
Question: The repo backstage-deployment you have.. can you explain what would be the appropriate next steps for this? It seems we need to host all the Backstage codebase somewhere, correct? Do you suggest to fork their repos and apply our config on top? Is that the right course of actions?

[2022-06-07 10:18] SamoKopecky commented on #578
I don't think forking is a good idea since the official backstage [repo](https://github.com/backstage/backstage) is meant to be a repo for developing backstage and contains a lot of unnecessary code.

What I've done in my temporary repo is that I created the very basic backstage app using the command `npx@backstage/create-app` and then uploaded this to the repo (more info [here](https://backstage.

[2022-06-07 12:47] sesheta commented on #219
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-07 13:21] SamoKopecky commented on #578
I've done some more research on authentication and user management in backstage:
#### Users/teams from the operate-first org can be imported straight into backstage as users/groups.
- This will use the GitHub API to create users/groups in the backstage app but the authentication of users is not defined here.
- This also required GitHub integration which can be set up using a bot or a GitHub app.
-

[2022-06-07 13:52] HumairAK commented on #569
Potentially concerned about the need for these. Can you show us what these look like? @larsks

[2022-06-07 13:59] husky-parul commented on #569
[MachineConfig](https://github.com/sustainable-computing-io/kepler/tree/main/manifests/openshift/cluster-prereqs)
 [SCC](https://github.com/sustainable-computing-io/kepler/blob/main/manifests/openshift/kepler/00-kepler-scc.yaml)

[2022-06-07 15:37] HumairAK commented on #578
@SamoKopecky demo'd a experimental instance, both locally and on a dev cluster, it meets our mvp

[2022-06-07 15:37] #578 closed

[2022-06-07 15:39] HumairAK commented on #560
Completed by: https://github.com/operate-first/blueprint/pull/106

[2022-06-07 15:39] #560 closed

[2022-06-07 15:40] HumairAK commented on #566
The draft proposal completes this issue out. We will be looking to assign a RH intern to move this forward.

[2022-06-07 15:40] #566 closed

[2022-06-07 17:53] #219 closed

[2022-06-07 18:11] HumairAK commented on #583
@rd4398 you may need to elaborate on what sort of access you are looking for. If you don't know, then maybe you can elaborate on the sort of work/project you are planning to contribute towards, and we can figure out the type of access you will need, starting with the cluster.

[2022-06-07 18:12] HumairAK commented on #435
/remove-lifecycle stale

after smaug was upgrade to 4.9 we should be unblocked on making kfp work on smaug, in much the same way it's working on osc clusters

[2022-06-07 18:17] rd4398 commented on #583
Hi Humair,

As of now, I don’t exactly know what type of access I am looking for.
However, I am currently working on ESI project and will work on NERC in
later half of my internship here at Red Hat

Thanks
Rohan

On Tue, Jun 7, 2022 at 2:11 PM Humair Khan ***@***.***> wrote:

[2022-06-07 18:18] #705 closed

[2022-06-07 18:50] HumairAK commented on #583
as per @tzumainn in slack:

@rd4398 seems you have the access you currently require, closing this for now. If there is additional access required to ocp clusters/namespaces, please re-open or create a new issue specifying what resources you will need access to. Thanks!

[2022-06-07 18:50] #583 closed

[2022-06-07 19:30] rd4398 commented on #583
Oh okay, thanks for letting me know!

On Tue, Jun 7, 2022 at 2:50 PM Humair Khan ***@***.***> wrote:

[2022-06-07 20:40] veniceofcode opened #586 "Namespace Request"
**Cluster**
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/cluster/projects

**Namespaces**

- [ ] demolab-dev

- [ ] demolab-staging

- [ ] demolab

**Github Id**

- veniceofcode

**Operators**

- [ ] OpenShift Pipelines

[2022-06-07 20:46] veniceofcode commented on #586
Resource Quota Tiers

Large

[2022-06-07 21:16] veniceofcode commented on #585
As an example , if the level of access provided with the code ready workspaces operator installed in smaug cluster can allow users to perform the steps in the following workshops : https://redhat-scholars.github.io/inner-loop-guide/inner-loop/6.1/developer-workspace.html , https://redhat-scholars.github.io/outer-loop-guide/outer-loop/5.0/index.html  then it can  be helpful.

[2022-06-07 22:01] sesheta commented on #500
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-08 12:44] durandom commented on #586
@veniceofcode can you provide more background on the project/code you intend to deploy and on the team/community you're coming from?

@HumairAK can you provide a link to the documentation on how to create a PR for namespace creation

[2022-06-08 13:16] HumairAK commented on #586
You can use the notebook here: https://www.operate-first.cloud/apps/content/cluster-scope/onboarding_project.html

[2022-06-08 13:34] HumairAK commented on #585
I can't say for sure as I don't have much exposure to codeready workspaces. I would suggest first deploying this in a dev cluster and checking for the following:

- Can code ready workspaces' namespace/resource creations be limited to a single namespace?
- Is there multi tenancy? Can we restrict access + resource creation (e.g. via ocp rbac). As smaug is accessible via public internet -- we don't

[2022-06-08 18:53] veniceofcode commented on #586
@HumairAK  @durandom - I would like to use these namespaces for long term demo purposes , also would like to create a template for interns (outreachy)who can be onboarded to be productive from day1 , please let me know if you need more info.

[2022-06-09 12:45] schwesig commented on #446
/remove-lifecycle stale

[2022-06-09 12:54] carlosGimeno opened #646 "[GitOps Docs] Review and improve the current GitOps-docs"

[2022-06-09 13:05] HumairAK commented on #498
cluster links are now one of the first pieces of information displayed for the operate first community cloud page: https://www.operate-first.cloud/community-cloud, hopefully this is sufficient :)

[2022-06-09 13:05] #498 closed

[2022-06-09 13:27] schwesig commented on #445
it is an ongoing process, all that was needed it tested and installed
most things now are on the doing, involve and do it regularly side.
/close

[2022-06-09 13:27] #445 closed

[2022-06-09 13:28] schwesig commented on #478
labels are growing and the SCRUM Team idea changed a view of the assumption earlier ago.
There is room for improvement still and always, but /closed for now.

[2022-06-09 13:29] EldritchJS opened #587 "NEW PROJECT: Disinformation Detection at Scale"
### Target cluster

Smaug

### Team name

eldritch-team13

### Desired project names

ddas-proj

### Project description

Red Hat Research projects on disinformation detection at scale

### Users needing access

eldritchjs,wtheisen

### Namespace Quota

Large

### Custom quota

_No response_

### Your GPG key or contact

'8B22B8231A6946A63F5E6C7D21CD1D19A02B22ED' available from keys.openpgp.org

[2022-06-09 13:35] EldritchJS opened #588 "onboarding-project.ipynb !git push expects username/pw"
### Describe the Problem

I ran `onboarding-project.ipynb` on the smaug jupyterhub instance using a hitchhikers guide image. All went well until the step where the changes are to be pushed to my fork via `!git push`

A prompt for username appeared in the output section of the notebook, which I couldn't send input to AFAIA. My workaround was to open a terminal in JupyterHub and `git push` there. I'

[2022-06-09 13:45] HumairAK commented on #588
As we are looking to move away from notebooks to automate this onboarding process, we're likely not going to be able to investigate the issue. But we can add a disclaimer suggesting the above workaround if any issues are encountered.

Thanks for bringing this to our attention @EldritchJS

[2022-06-09 14:26] #588 closed

[2022-06-09 17:42] jliagouris commented on #533
@durandom The Loki server has been down for more than a week and we cannot make any progress without access to the logs. Do you have an estimation of when the service will be up? In the meantime, can we have a log dump or something to work with? We have been looking into the above alerts but we also need to extract and explore some related logs. @pechora

[2022-06-09 20:07] suppathak opened #589 "Operate First Superset data getting blocked when embedded in an iframe"
Opf superset dashboard (https://superset.operate-first.cloud/superset/dashboard/14/) data is getting blocked when embedded in an iframe in thoth website.

cc: @Gkrumbach07

[2022-06-09 20:15] Gkrumbach07 commented on #589
Thoth website: https://thoth-station.ninja/help/metrics/issue_metrics.md

[2022-06-10 19:36] #589 closed

[2022-06-10 20:28] #587 closed

[2022-06-10 22:27] veniceofcode commented on #585
@HumairAK - So i have deployed CRW in a namespace called crw. However i have configured to use one namespace for all workspaces. Please see the screenshot below

<img width="1655" alt="Screenshot 2022-06-10 at 23 25 01" src="https://user-images.githubusercontent.com/93591339/173158447-2dcaa6bf-7b39-4b35-a982-1be2a395bced.png">

CR

[code]

[2022-06-11 15:48] sesheta commented on #182
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-11 21:48] sesheta commented on #521
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-13 16:01] sesheta commented on #535
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-13 18:40] sesheta commented on #425
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-13 18:40] #425 closed

[2022-06-13 18:40] sesheta commented on #425
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/425#issuecomment-1154254287):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-06-15 00:48] sesheta commented on #319
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-15 01:01] sesheta commented on #502
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-15 16:03] traytorous commented on #581
So instead of putting the RHACS operator onto the cluster I am instead suggesting to put the sister project of the operator (stackrox) onto the cluster. As of right now I am testing out the full capablities of it on our test cluster and will update it this ticket as soon as I get more information.

[2022-06-16 00:48] sesheta commented on #401
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-16 06:48] sesheta commented on #41
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-16 10:43] roytman commented on #41
/remove-lifecycle rotten

[2022-06-16 14:47] durandom commented on #569
@husky-parul do you need any more pointers on how to create a PR to add those manifests to the https://github.com/operate-first/apps repo?

@HumairAK what cluster do you suggest to start with?

[2022-06-16 14:49] jotak opened #590 "Onboarding new service: NetObserv"
### Description

Hello team,

We would like to onboard a new monitoring service to operate-first: [NetObserv](https://github.com/netobserv/network-observability-operator/) (also on [OperatorHub](https://operatorhub.io/operator/netobserv-operator)). It consists of an operator that deploys a flow collection infra and network observability dashboards integrated in the openshift console. At the moment

[2022-06-16 21:40] sesheta commented on #248
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-16 21:41] sesheta commented on #248
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/248#issuecomment-1158160840):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-06-17 00:40] sesheta commented on #381
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-17 00:40] #381 closed

[2022-06-17 00:40] sesheta commented on #381
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/381#issuecomment-1158345734):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-06-17 07:53] durandom commented on #590
@HumairAK is any of our clusters on 4.10? If not, which one could be upgraded?

[2022-06-17 13:32] veniceofcode opened #591 "Minio Operator"
Please help with access to install operator (community) https://github.com/minio/operator.git on smaug cluster under below namespaces

**Cluster**
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/cluster/projects

- [ ] ChrisProject-Dev

- [ ] ChrisProject-Staging

Operator Screenshot

![Screenshot 2022-06-17 at 14 31 03](https://user-images.githubusercontent.com/93591339/17

[2022-06-17 13:41] veniceofcode commented on #591
Kustomize : https://github.com/minio/operator/tree/master/resources

[2022-06-17 13:43] veniceofcode commented on #591
Helm : https://github.com/minio/operator/tree/master/helm/operator ,  Using existing persistence : https://github.com/minio/minio/tree/master/helm/minio#existing-persistentvolumeclaim

[2022-06-17 14:23] #660 closed

[2022-06-17 14:25] #653 closed

[2022-06-17 15:55] chauhankaranraj opened #592 "Kubeflow Pipeline unable to access s3 bucket"
### Describe the Problem

Hi team, I'm trying to run this [kubeflow pipeline](https://ml-pipeline-ui-kubeflow.apps.odh-cl2.apps.os-climate.org/#/runs/details/feb4d56c-0670-44a8-826a-1adff8bb4036) for a demo for OSS NA 2022. However, it errors out with the following message:
[code]
I am able to access the s3 bucket just fine though. And in fact the code in the jupyter notebook (which is being run i

[2022-06-17 16:09] HumairAK commented on #592
Not sure if related but I'm noticing different outcomes when running the same command multiple times:

[code]

suspecting issue with noobaa on morty

also noticing `noobaa-db-pg-0` stuck on init:

[code]
But the bucket is using storage class `ocs-storagecluster-ceph-rgw` so this might not be related.

[2022-06-17 16:23] HumairAK commented on #592
looks like once `noobaa-db` came back up, it rebooted various pods:

[code]

[2022-06-17 16:30] HumairAK commented on #592
This:

~ $ mc ls opf-datacatalog-morty/opf-datacatalog-morty/ | tail -n 1
mc: <ERROR> Unable to list folder. <html><body><h1>502 Bad Gateway</h1>
The server returned an invalid or incomplete response.
</body></html>

seems to be reporting the following in the rook-ceph `rook-ceph-rgw-ocs-storagecluster-cephobjectstore-a` logs:

[code]

Indeed when I try to query against the secure route: https://s

[2022-06-17 18:39] HumairAK commented on #590
I'd say we can upgrade Morty. I don't think Smaug is in a state where it ought to be upgraded, as there are some pending issues that ought to be resolved first.

[2022-06-17 18:40] sesheta commented on #395
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-17 18:40] sesheta commented on #395
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/395#issuecomment-1159141825):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-06-17 18:40] #395 closed

[2022-06-17 18:40] #687 closed

[2022-06-18 09:55] durandom commented on #401
/remove-lifecycle rotten

@sallyom are you still planning to work on this?

[2022-06-18 10:05] durandom commented on #533
@HumairAK can you point us to any runbooks on how to troubleshoot loki?
@periklis would you be able to help if we grant you access to the loki/observatorium namespace?

[2022-06-18 21:40] sesheta commented on #347
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-18 21:40] sesheta commented on #347
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/347#issuecomment-1159569461):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-06-18 21:40] #347 closed

[2022-06-19 16:01] sesheta commented on #540
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-21 13:06] oindrillac opened #593 "Unable to spawn Jupyter Notebooks on Smaug"
### Describe the Problem

I am unable to spawn a jupyter notebook on the smaug cluster. Irrespective of the container size i select, I get errors such as the following

[code]

### Steps to Reproduce

1. Go to https://jupyterhub-opf-jupyterhub.apps.smaug.na.operate-first.cloud/
2. Select `Openshift CI Analysis Notebook Image` notebook image
3. Select "default", "small", "medium", or "large" cluste

[2022-06-21 13:18] HumairAK commented on #593
@oindrillac you're right this is due to the jupyterhub namespace being capped on resources.

![image](https://user-images.githubusercontent.com/10904967/174808173-a37087c9-2180-4596-ad14-cb04968e900f.png)

Looks like we're capped on cpu/memory limits. Let's increase those. They are found here: https://github.com/operate-first/apps/blob/master/cluster-scope/base/core/namespaces/opf-jupyterhub/resou

[2022-06-21 14:07] #593 closed

[2022-06-21 15:05] suppathak opened #594 "Unable to publicly view opf Superset Dashboard"
Having an issue with Superset. Whenever I am trying to view the dashboard (http://superset.operate-first.cloud/r/23) publicly. I am unable to view the charts. Here is attached error message.
![Screenshot from 2022-06-21 07-36-33](https://user-images.githubusercontent.com/30439457/174833285-9cb3210d-671a-4be6-8244-3bab4b1b416d.png)

[2022-06-21 15:17] larsks opened #645 "Investigate MinIO for object storage"
Red Hat's Open Data Foundation (ODF) provides object storage via the Noobaa service (branded as the [Multicloud Object Gateway](https://access.redhat.com/documentation/en-us/red_hat_openshift_data_foundation/4.10/html/managing_hybrid_and_multicloud_resources/about-the-multicloud-object-gateway)). Noobaa provides an extremely flexible set of storage management features (mirrored storage, storage th

[2022-06-21 15:45] HumairAK commented on #594
Data source is fine, as this data is visible once a user logs in.

![image](https://user-images.githubusercontent.com/10904967/174842167-4c90e4b4-4842-49ad-bd44-4cd4474bde61.png)

[2022-06-21 15:47] HumairAK commented on #594
Superset logs from pod:

[code]

[2022-06-21 19:20] HumairAK commented on #533
@durandom we do not have any runbooks on loki. We can grant access, but they will need to dig into the logs & search existing docs, loki issues, etc. to resolve any issues.

For this issue in particular it is not a loki issue but an issue with storage on the [smaug cluster ](https://github.com/operate-first/operations/issues/479)

I believe @harshad16 has been helping with moving to storage on mor

[2022-06-21 19:23] harshad16 commented on #533
Loki service is up and running from past few days.
please retry the service, and lets us know if you face any more issues.

[2022-06-21 19:41] HumairAK commented on #594
Added the following additional permission to the public role `datasource access on [Trino].[thoth_support_issues](id:83)`

By going to: Settings -> List users -> Edit Public role -> Permissions -> Select from drop down.

[2022-06-21 19:41] #594 closed

[2022-06-21 22:02] sesheta commented on #544
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-21 22:02] sesheta commented on #545
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-22 17:18] dwertent opened #595 "I want to add Kubescape integration"
### Additional context

@durandom @schwesig

### Acceptance Criteria

-

### Relevant links

https://github.com/armosec/kubescape

[2022-06-23 13:40] suppathak opened #596 "Admin Access Request to Superset for @suppathak"
Request Admin Access to opf Superset for @suppathak

[2022-06-23 13:41] HumairAK commented on #596
This is so @suppathak can resolve these sorts of issues themselves: https://github.com/operate-first/support/issues/594

We don't have docs on adding an admin, will add that as well.

[2022-06-23 14:24] #596 closed

[2022-06-23 18:49] sesheta commented on #574
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-24 14:13] HumairAK commented on #521
same as: https://github.com/operate-first/support/issues/588
 which is now addressed/resolved, closing.

[2022-06-24 14:13] #521 closed

[2022-06-24 14:41] HumairAK commented on #580
closing as this seems resolved.

[2022-06-24 14:41] #580 closed

[2022-06-24 14:42] HumairAK commented on #532
/remove-lifecycle stale

[2022-06-24 14:50] #540 closed

[2022-06-24 17:09] HumairAK opened #644 "Various alerts firing related machine config on Smaug cluster"
Alerts in question:
---
[ClusterOperatorDegraded](https://console-openshift-console.apps.smaug.na.operate-first.cloud/monitoring/alerts/1936982513?alertname=ClusterOperatorDegraded&condition=Degraded&endpoint=metrics&instance=128.52.62.253%3A9099&job=cluster-version-operator&name=machine-config&namespace=openshift-cluster-version&pod=cluster-version-operator-64f9c8cf6d-77bnp&reason=MachineConfigDa

[2022-06-24 18:40] suppathak opened #597 "Request for admin access to @suppathak for seldon namespace on smaug"
I want to create a new deployment (using yaml) in Seldon Operator, for which I need admin access for seldon namespace on smaug.

Thank you!

[2022-06-25 15:47] #670 closed

[2022-06-25 21:41] sesheta commented on #512
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-25 21:41] #512 closed

[2022-06-25 21:41] #899 closed

[2022-06-25 21:41] sesheta commented on #512
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/512#issuecomment-1166366019):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-06-26 10:01] #682 closed

[2022-06-26 16:02] sesheta commented on #165
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-27 12:42] durandom commented on #533
@jliagouris @pechora please also see https://github.com/operate-first/apps/pull/2094/files for some documentation improvements.
I was able to query loki via the command line, which would allow you to export logs.

[2022-06-27 14:28] #597 closed

[2022-06-27 14:31] #707 closed

[2022-06-27 21:13] jliagouris commented on #533
@SuJingyu111 can you have a look?

[2022-06-28 15:44] oindrillac opened #598 "seldon deployment failing, pods getting OOM killed"
### Describe the Problem

Our seldon [deployment](https://gist.github.com/oindrillac/bd7bab14b189d22bb2af6b42fa23901d) is failing without any descriptive log at the model de-serialization step.

Tested this locally and on jupyterhub, this works.

On the ds-ml-worklows-ws namespace, the pods error out and get OOMkilled after downloading the model.

Wonder if this happening because of the memory lim

[2022-06-28 16:19] HumairAK commented on #598
resource cap for this namespace can be updated via: https://github.com/operate-first/apps/blob/master/cluster-scope/base/core/namespaces/ds-ml-workflows-ws/resourcequota.yaml

[2022-06-28 19:02] sesheta commented on #542
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-28 19:02] sesheta commented on #546
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-29 14:05] #598 closed, assigned to HumairAK, harshad16

[2022-06-29 14:37] oindrillac opened #599 "Jupyterhub spawner page cant select container size"
### Describe the Problem

Recently on smaug I am seeing the jupyterhub spawner page being quite buggy and not showing me the container size dropdown option often. This makes me unable to select a container size and I need to proceed with the last default setting.

### Steps to Reproduce

1. Go to https://jupyterhub-opf-jupyterhub.apps.smaug.na.operate-first.cloud/hub/
2. Login
3. Select any notebo

[2022-06-29 14:44] oindrillac opened #600 "Jupyterhub spawn failing coz of resource limits"
### Describe the Problem

[code]

### Steps to Reproduce

1. Go to https://jupyterhub-opf-jupyterhub.apps.smaug.na.operate-first.cloud/
2. Select any notebook image
3. Select any container size above small
4. Fails with the above error

### Expected behaviour

Should successfully spawn jupyter lab

### Screenshots

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/324352