[2021-03-16 22:28] #1057 closed

[2021-03-16 23:33] sesheta opened #1056 "SystemMemoryExceedsReservation"

[2021-03-16 23:38] #1056 closed

[2021-03-17 00:04] sesheta opened #1055 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 00:08] #1055 closed, assigned to nobody

[2021-03-17 00:39] sesheta opened #1054 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 00:39] #1054 closed

[2021-03-17 00:39] sesheta opened #1053 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 00:41] #1053 closed

[2021-03-17 00:42] sesheta opened #1052 "SystemMemoryExceedsReservation"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=sum&#43;by%28node%29&#43;%28container_memory_rss%7Bid%3D%22%2Fsystem.slice%22%7D%29&#43;%3E&#43;%28%28sum&#43;by%28node%29&#43;%28kube_node_status_capacity%7Bresource%3D%22memory%22%7D&#43;-&#43;kube_node_status_all

[2021-03-17 00:46] sesheta opened #1051 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 00:47] #1052 closed

[2021-03-17 00:51] #1051 closed

[2021-03-17 00:53] sesheta opened #1050 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 00:58] #1050 closed, assigned to nobody

[2021-03-17 01:06] sesheta opened #1049 "SystemMemoryExceedsReservation"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.moc-infra.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.moc-infra.massopen.cloud/graph?g0.expr=sum&#43;by%28node%29&#43;%28container_memory_rss%7Bid%3D%22%2Fsystem.slice%22%7D%29&#43;%3E&#43;%28%28sum&#43;by%28node%29&#43;%28kube_node_status_capacity%7Bresource%3D%22memory%22%7D&#43;-&#43;kube_node_

[2021-03-17 01:27] sesheta opened #1048 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 01:31] #1048 closed

[2021-03-17 01:52] sesheta opened #1047 "FluentdQueueLengthBurst"

[2021-03-17 01:52] #1047 closed

[2021-03-17 01:57] sesheta opened #1046 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 02:02] #1046 closed

[2021-03-17 02:17] sesheta opened #1045 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * resolved https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname =

[2021-03-17 02:22] #1045 closed, assigned to nobody

[2021-03-17 02:28] sesheta opened #1044 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 02:33] #1044 closed

[2021-03-17 02:39] sesheta opened #1043 "FluentdQueueLengthBurst"

[2021-03-17 02:43] #1043 closed

[2021-03-17 02:48] sesheta opened #1042 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 02:53] #1042 closed

[2021-03-17 03:09] sesheta opened #1041 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 03:14] #1041 closed

[2021-03-17 03:30] sesheta opened #1040 "FluentdQueueLengthBurst"

[2021-03-17 03:30] #1040 closed

[2021-03-17 03:44] sesheta opened #1039 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 03:50] #1039 closed

[2021-03-17 03:50] sesheta opened #1038 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * resolved https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname =

[2021-03-17 03:59] #1038 closed, assigned to nobody

[2021-03-17 04:18] sesheta opened #1037 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 04:23] #1037 closed

[2021-03-17 04:41] sesheta opened #1036 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 04:41] #1036 closed

[2021-03-17 05:04] sesheta opened #1035 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 05:09] #1035 closed

[2021-03-17 05:35] sesheta opened #1034 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 05:36] #1034 closed, assigned to nobody

[2021-03-17 05:51] sesheta opened #1033 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 05:56] #1033 closed

[2021-03-17 06:13] sesheta opened #1032 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 06:18] #1032 closed

[2021-03-17 06:25] sesheta opened #1031 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * resolved https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname =

[2021-03-17 06:30] #1031 closed

[2021-03-17 06:32] sesheta opened #1030 "FluentdQueueLengthBurst"

[2021-03-17 06:37] #1030 closed

[2021-03-17 07:21] sesheta opened #860 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 07:26] #860 closed

[2021-03-17 07:34] sesheta opened #859 "FluentdQueueLengthBurst"

[2021-03-17 07:39] #859 closed

[2021-03-17 08:18] sesheta opened #858 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 08:23] #858 closed

[2021-03-17 08:26] sesheta opened #857 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 08:30] #857 closed

[2021-03-17 08:37] sesheta opened #856 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 08:40] #856 closed

[2021-03-17 08:47] sesheta opened #855 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * resolved https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname =

[2021-03-17 08:52] #855 closed

[2021-03-17 09:25] sesheta opened #854 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 09:26] #854 closed

[2021-03-17 09:42] #1049 closed, assigned to nobody

[2021-03-17 09:57] sesheta opened #853 "FluentdQueueLengthBurst"

[2021-03-17 10:02] #853 closed

[2021-03-17 10:10] sesheta opened #852 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 10:13] #852 closed

[2021-03-17 10:20] sesheta opened #851 "FluentdQueueLengthBurst"

[2021-03-17 10:25] #851 closed

[2021-03-17 10:27] sesheta opened #850 "SystemMemoryExceedsReservation"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=sum&#43;by%28node%29&#43;%28container_memory_rss%7Bid%3D%22%2Fsystem.slice%22%7D%29&#43;%3E&#43;%28%28sum&#43;by%28node%29&#43;%28kube_node_status_capacity%7Bresource%3D%22memory%22%7D&#43;-&#43;kube_node_status_all

[2021-03-17 10:32] sesheta opened #849 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 10:32] #850 closed

[2021-03-17 10:37] #849 closed

[2021-03-17 10:46] sesheta opened #848 "SystemMemoryExceedsReservation"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.moc-infra.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.moc-infra.massopen.cloud/graph?g0.expr=sum&#43;by%28node%29&#43;%28container_memory_rss%7Bid%3D%22%2Fsystem.slice%22%7D%29&#43;%3E&#43;%28%28sum&#43;by%28node%29&#43;%28kube_node_status_capacity%7Bresource%3D%22memory%22%7D&#43;-&#43;kube_node_

[2021-03-17 10:46] sesheta opened #847 "FluentdQueueLengthBurst"

[2021-03-17 10:58] #848 closed

[2021-03-17 11:01] #847 closed

[2021-03-17 11:05] sesheta opened #846 "SystemMemoryExceedsReservation"

[2021-03-17 11:10] #846 closed

[2021-03-17 11:11] sesheta opened #845 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 11:16] #845 closed, assigned to nobody

[2021-03-17 11:36] sesheta opened #844 "SystemMemoryExceedsReservation"

[2021-03-17 11:51] sesheta opened #843 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-17 11:56] #843 closed

[2021-03-17 13:56] #128 closed

[2021-03-17 14:05] HumairAK opened #842 "Move github alerts to separate repo."

[2021-03-17 14:08] #844 closed

[2021-03-17 14:42] HumairAK opened #841 "Automate toil tasks that can be automated."
The outcome should be a list of tasks that are repetitive. We should start with low hanging tasks that are commonly enacted.

I'll aggregate suggestions in the list below:

Edit: Updating this list below, the action item now is to complete this checklist.

Apps/repo:
- [ ] Adding new/existing cluster resources to cluster-scope app (in base), if it's new then a file is required. (https://github.com

[2021-03-17 14:46] HumairAK opened #840 "Identify On-call process for common issues, procedures, prs."

[2021-03-17 14:53] HumairAK opened #839 "Identify runbooks in idh that can be ported to operate-first"
With the eventual goal to send them upstream.

Edit with checklist to start with:
- [x] JH notebook
- [x] Kafka

[2021-03-17 15:10] HumairAK opened #838 "Find out/implement a way for a bot to tag people on a given set of labels within a repo."
Due to operate-first/support#842 , we'll be moving all alerts to a single repo. This will make the repo _very_ noisy, so everyone is likely going to mute it to avoid alert fatigue.

Unfortunately afaik github does not allow you to mute by labels.

I've noticed that we have some bots that can recognize labels like `lgtm` etc.,  Could we extend this functionality to tag people when a certain label e

[2021-03-17 15:29] sesheta opened #837 "KubePodNotReady"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.moc-infra.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.moc-infra.massopen.cloud/graph?g0.expr=sum&#43;by%28namespace%2C&#43;pod%29&#43;%28max&#43;by%28namespace%2C&#43;pod%29&#43;%28kube_pod_status_phase%7Bjob%3D%22kube-state-metrics%22%2Cnamespace%3D~%22%28openshift-.%2A%7Ckube-.%2A%7Cdefault%7Clo

[2021-03-17 15:39] #837 closed

[2021-03-17 15:41] sesheta opened #836 "SystemMemoryExceedsReservation"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.moc-infra.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.moc-infra.massopen.cloud/graph?g0.expr=sum&#43;by%28node%29&#43;%28container_memory_rss%7Bid%3D%22%2Fsystem.slice%22%7D%29&#43;%3E&#43;%28%28sum&#43;by%28node%29&#43;%28kube_node_status_capacity%7Bresource%3D%22memory%22%7D&#43;-&#43;kube_node_

[2021-03-17 15:42] #842 closed

[2021-03-17 17:19] 4n4nd opened #130 "Thanos missing data"
**Describe the bug**
- Thanos query: [link](http://thanos-query-frontend-opf-observatorium.apps.zero.massopen.cloud/graph?g0.range_input=1d&g0.max_source_resolution=1h&g0.expr=up%7Bnamespace%3D~%22opf-.*%22%7D&g0.tab=0)
- Prometheus query: [link](http://prometheus-portal-opf-monitoring.apps.zero.massopen.cloud/graph?g0.range_input=1w&g0.expr=up%7Bnamespace%3D~%22opf-.*%22%7D&g0.tab=0)

Same query

[2021-03-17 19:18] hemajv opened #131 "Cannot create tables in Hue"
**Describe the bug**
I have data stored in the `black-flake` ceph bucket and I am trying to create a table for it in Hue so that I can visualize the data using Superset.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://hue-opf-datacatalog.apps.zero.massopen.cloud/
2. Try to create a table by executing the following query:
[code]
4. See error:
[code]

**Expected behaviour**
The t

[2021-03-17 19:19] hemajv commented on #131
cc @MichaelClifford @4n4nd

[2021-03-17 20:38] hemajv commented on #131
(as per conversation in chat)
seems like (by default) the `opf-datacatalog` bucket has been configured to Hue, however I stored a CSV file into this bucket and tried to create a table for it in Hue and I still end up with the same error:
[code]
@tumido any idea what the issue might be?

also, since both the `black-flake` and `opf-datacatalog` buckets have different access/secret keys, is it possib

[2021-03-17 22:29] #836 closed

[2021-03-18 10:25] tumido commented on #131
Yes, this is duplicate of: https://github.com/operate-first/support/issues/117

The problem is with `s3.openshift-storage.svc` not being recognised as a proper hostname by `boto` in Hue and Thriftserver not using `433` port. I'll experiment with the external route on this, but that one was problematic in Argo due to some SSL errors. I'll look into it.

[2021-03-18 10:28] tumido commented on #131
default bucket doesn't change anything. This is a hostname/port problem. And OpenShift Container Storage is not helping us here.

Of course they can! They must be available on the same S3 cluster though - and the connection to S3 is the problem here. Maybe we can even make Hue/Hive connect to multiple Ceph endpoints? I don't know, we can also try that...

[2021-03-18 11:20] tumido opened #132 "ODH Dashboard points to custom kfdef deploymenst"
**Describe the bug**
JupyterHub tile at https://odh-dashboard-opf-dashboard.apps.zero.massopen.cloud/
points to https://jupyterhub-ds-ml-workflows-ws.apps.zero.massopen.cloud/

**Expected behaviour**
Point to supported namespaces only

**Additional context**
Will ultimately solved by allowing `kfdefs` in `opf-*` namespaces only

/kind bug
/sig user-experience

[2021-03-18 11:24] tumido commented on #132
Seems like we have users deploying kfdefs. We should document against that.

[code]

[2021-03-18 11:25] tumido opened #133 "Advice against user-owned ODH deployments"
Seems like we have users deploying kfdefs. We should document against that.

[code]

_Originally posted by @tumido in https://github.com/operate-first/support/issues/132#issuecomment-801842495_

[2021-03-18 11:25] tumido commented on #133
Related to: https://github.com/operate-first/apps/issues/206

[2021-03-18 13:27] #868 closed, assigned to nobody

[2021-03-18 13:30] #865 closed, assigned to nobody

[2021-03-18 13:30] #863 closed

[2021-03-18 13:30] #1070 closed

[2021-03-18 13:30] #867 closed

[2021-03-18 13:31] #866 closed

[2021-03-18 13:53] HumairAK commented on #133
We need to give a place for folks to submit their kfdefs as an alternative. How about an app dedicated to kfdefs?

[2021-03-18 13:54] 4n4nd commented on #133
yeah this sounds like a good idea

[2021-03-18 14:06] HumairAK commented on #133
So thoughts:

Currently each kfdef in the odh app folder is mapped to an argocd app, so if we added the user kfdef's there, we'd need an argocd app for each kfdef, seems like overkill to me.

Suggestion:
We move all kfdefs to one app e.g. `apps/kfdefs`. We keep overrides in the apps/odh folder, and we keep argocd apps for the apps/odh/opf-* folders where we're actually deploying additional content

[2021-03-18 15:22] larsks opened #134 "Should we move our public chat to a different platform?"
The "Operate First Ops" chat is hosted on Google Chat. This is convenient (most of us already have Google accounts), but it comes with some disadvantages. I think the ones with the biggest impact are:

- People can't join the chat without an invite.

  This is the sort of "file a ticket, wait for a response" workflow
  that we really want to avoid. People should be able to join that
  chat just be

[2021-03-18 15:39] tumido commented on #134
Some platforms and conferences started moving lately to Discord, which may be another option. Not sure what are the limitations on free plans, but the overall integration capabilities are comparable to Slack and it's a very versatile tool.

Gitter.im was always very resource demanding on the web client from my experience, not that much comfortable to use or search, the integration for bots was not

[2021-03-18 15:40] tumido commented on #134
/cc @HumairAK @4n4nd @durandom

[2021-03-18 15:58] larsks commented on #134
@tumido I'm also fine with discord. I think the UI is a little more irc-like, but that's fine with me. I like their "scan qr code" login option, although I'm sad that they don't offer any sort of federated login.

Lastly, my kids will be impressed that I'm finally using Discord.

[2021-03-18 16:37] durandom commented on #134
Unless somebody has a strong opinion, I'd stay with gchat or move over to the coreos slack until we have many external people and then revisit.

For now, I'd stick with the "create issue -> gchat invite" workflow.

re: gitter.im - I liked it, and it has inifite history for free

[2021-03-18 16:38] HumairAK commented on #134
I'm leaning towards Slack since that's what most folks are familiar with + the resources available for writing bots could really help us with adding some neat automation later down the road. Though I admit, lack of chat history is a major bummer, but any permanent discussions should be happening in github issues/prs anyways, and I feel like we do make a good attempt to move discussions to git when

[2021-03-18 16:38] larsks commented on #134
@durandom the problem, as I noted earlier, is that someone people *can't join* the gchat because support for chat is disabled by their organization. This is true for everyone `@bu.edu`.

[2021-03-18 17:32] tumido commented on #134
@durandom as it turned out the `@bu.edu` people can't join us in gchat. That's a big limitation for me... CoreOS Slack is fine with me, we don't need a full workspace for ourselves, :+1: to that option.

[2021-03-18 17:54] larsks commented on #134
@tuido does coreos slack alllow people to join without an invite? If I visit https://coreos.slack.com from an incognito window, my options are:

- Log in with my `@redhat.com` google account, or
- Log in with a guest account if I have one

I'm not able to log in using another Google account, nor can I create an account for use on coreos.slack.com. I can "Contact the workspace administrator for an

[2021-03-18 17:57] tumido commented on #134
@larsks you're right. It doesn't solve that... I got carried away for a moment...

[2021-03-18 18:07] tumido commented on #134
@larsks @durandom RH is also paying for Ansible slack, that one seems to be open to public though: https://ansible.slack.com/

[2021-03-18 18:11] larsks commented on #134
@tumido I'm not sure that works either. If I try logging in there with a random Google account, I get e.g. "lars@bu.edu doesn’t have an account on this workspace.".  There doesn't seem to be a "request access" or "create an account" option.

[2021-03-18 18:22] 4n4nd opened #835 "Import Thanos dashboards from upstream"

[2021-03-18 18:30] 4n4nd commented on #134
I am down for slack or discord, since I already use them both.

[2021-03-18 18:41] harshad16 commented on #101
The update of the cluster zero has fixed this issue.

[2021-03-18 18:41] #101 closed

[2021-03-18 18:42] harshad16 commented on #19
Thanks for all the help.

[2021-03-18 18:42] #19 closed

[2021-03-19 09:27] goern opened #136 "jupyter notebook can not be started"
**Describe the bug**
500 : Internal Server Error
CERTIFICATE_VERIFY_FAILED

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://odh-dashboard-opf-dashboard.apps.zero.massopen.cloud/
2. Click on 'JupyterHub Launch'
4. See error

**Expected behaviour**
I see a notebook

/kind bug
/priority critical-urgent
/sig devops

[2021-03-19 10:46] tumido commented on #136
Yup, this is caused by https://github.com/operate-first/support/issues/132

ODH Dashboard is picking up a wrong url for JupyterHub - please use:
https://jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud/
not
https://jupyterhub-ds-ml-workflows-ws.apps.zero.massopen.cloud/ advised by ODH Dashboard

[2021-03-19 12:01] durandom commented on #136
@tumido @HumairAK is this something we could catch via monitoring?
Or is this going into the testing territory?

https://github.com/prometheus/blackbox_exporter

[2021-03-19 12:02] durandom commented on #136
For testing we can engage with https://github.com/red-hat-data-services/ods-ci

[2021-03-19 12:07] tumido commented on #136
Sure we can be catching that via monitoring somehow. However please know that the certificate issue is not happening on OPF supported instance of JupyterHub. Our instance works flawlessly. Just the ODH Dashboard is pointing in a wrong direction - hence the dashboard bug.

[2021-03-19 12:24] #129 closed

[2021-03-19 13:37] tumido commented on #84
@pacospace we've installed the operator. Do you want us to deploy the Knative Serving and Knative Eventing or is the current state enough for you?
https://docs.openshift.com/container-platform/4.6/serverless/installing_serverless/installing-openshift-serverless.html#installing-openshift-serverless-next-steps

https://docs.openshift.com/container-platform/4.6/serverless/installing_serverless/instal

[2021-03-19 13:59] pacospace commented on #84
Thanks a lot @tumido!!! 🍻

That would be greate to have it actually, I wanted to start working on one example for deployment using KF Serving to extend the demo we have: https://github.com/thoth-station/elyra-aidevsecops-tutorial/blob/master/docs/source/deploy-model.md

[2021-03-19 14:29] tumido opened #137 "Is it possible to configure the bot to not assign me as a reviewer? by @naved000"
Is it possible to configure the bot to not assign me as a reviewer?

I can be explicitly assigned for reviews when there's something specific I should be looking at. Just trying to cut down on some bot notifications. Thanks!

_Originally posted by @naved001 in https://github.com/operate-first/argocd-apps/issues/106#issuecomment-802872438_

[2021-03-19 14:43] tumido commented on #137
@naved001 you've been removed from the reviewers list in all the repos :slightly_smiling_face: No more autoassigned issues for you! :+1: Closing

[2021-03-19 16:03] tumido opened #1029 "[INCIDENT][MOC/ZERO] - Storage Error"

[2021-03-19 16:17] tumido commented on #84
knative-serving is not behaving after intial deployment. Will debug on Monday.

[2021-03-19 16:19] durandom commented on #134
The `bu.edu` restriction is weird, given that they work a lot with RH, which is all over the place for google apps 🤷‍♂️
But, yeah, that's what I meant with "until ... revisit", seems we're blocking people.

Given the Slack Paywall, I'd vote for gitter.im which has auth with GH, unlimited messages and you can link to threads.
@larsks would even get his IRC integration :P

[2021-03-19 16:28] tumido commented on #134
Ugh.. I don't like Gitter. :smile:. Searching and notifications are really bad... (Notifications on the same level of bad as GChat, search even worse). I'd rather spend my time arguing with BU to relax the policies and allow them to use GChat than use Gitter.

[2021-03-19 16:29] larsks commented on #134
Unfortunately the BU policy is set at an institutional level and isn't something I think we'll be able to change. It sounds like the MOC folks have tried previously with no success.

[2021-03-19 16:30] 4n4nd commented on #134
that's weird, I get the same issue with my redhat account
![Screenshot from 2021-03-19 12-29-08](https://user-images.githubusercontent.com/22333506/111812792-d12ce700-88ae-11eb-81e0-45e504eff3d7.png)

[2021-03-19 16:30] durandom commented on #134
https://github.com/mschimmer/docker-slack-export-toolbox - more hacking

[2021-03-19 16:31] larsks commented on #134
@tumido can you provide more detail on the notification and search issues with gitter?

[2021-03-19 16:42] tumido commented on #134
@larsks notifications are not tracked anywhere... If I remember it correctly from my time using it in ManageIQ, you have that green circle by a persons/channels name, no way to scroll back to the actual mention, see all the mentions if there are multiple ones in the same channel or to see where you've left of and so on... Compared to Slack, where you have threads tracked separately, dms and unread

[2021-03-19 16:42] HumairAK commented on #134
How about we go with free slack + some archival solution that runs daily or something?

[2021-03-19 16:44] larsks commented on #134
@tumido thank you for the details!

@HumairAK I was just going to suggest something like that. It sounds like slack may have the feature set we want. Is it actually possible to create public workspaces? All the ones we've looked at so far require some sort of pre-approval.

[2021-03-19 16:47] durandom commented on #134
then let's try a free slack instance and play with https://github.com/mschimmer/docker-slack-export-toolbox

or we just live with no history :)

[2021-03-19 16:55] tumido commented on #134
Ok, I'm gonna create a workspace and we can try it out :)

[2021-03-19 16:57] HumairAK commented on #134
The way I understand it is that it is invite only, however, you can have invitations be auto-approved for certain domains. So if you auto approve the domain for @redhat.com, then when you request an invitation from this e-mail, you are auto invited via an e-mail confirmation.

[2021-03-19 16:59] tumido commented on #134
Try if you can join :) https://join.slack.com/t/operatefirst/shared_invite/zt-o2gn4wn8-O39g7sthTAuPCvaCNRnLww

[2021-03-19 18:16] 4n4nd commented on #130
There were some corrupt block errors in thanos receive and store, so I deleted the Observatorium CR and recreated it. No more errors and the data seems to be stable since yesterday. will keep monitoring it over the weekend.

[2021-03-19 19:24] larsks opened #834 "Update openshift on zero cluster to 4.7.2"
There are a bunch of fixes in 4.7.2:

- https://access.redhat.com/errata/RHBA-2021:0678 (4.7.1)
- https://access.redhat.com/errata/RHBA-2021:0749 (4.7.2)

[2021-03-20 17:08] durandom opened #139 "#B4mad Minecraft"
### Questionnaire

1. **Team name**:

b4mad

2. **Desired namespaces**:

b4mad-minecraft

3. **Users needing access**:

mhild@redhat.com
cgoern@redhat.com

4. **Target cluster**:

zero

5. **Team or maintainer owned GPG key fingerprint along with a keyserver** (OPTIONAL):

// TODO

    We store all OCP `groups` in git. Sometimes this info can be considered confidential, for example if the username

[2021-03-20 17:10] durandom commented on #139
This project is to run a community operated private Minecraft server to teach kids coding, operating resources and community collaboration

[2021-03-20 17:18] goern commented on #139
/lgtm

[2021-03-22 09:02] xtuchyna commented on #117
Hello @tumido, I've noticed that meanwhile the fix is on the way, the 'S3' option disappeared. Should I make an Issue out of it?

[2021-03-22 09:55] xtuchyna commented on #103
Hello @tumido , I've tried to access it but I am probably doing somehting wrong?
[code]
Here's my config:
[code]

[2021-03-22 10:18] tumido commented on #139
Resolved via https://github.com/operate-first/apps/pull/415

[2021-03-22 10:18] #139 closed

[2021-03-22 10:38] tumido commented on #117
Nono, the the dissapearing s3 option is part of the problem - it is hidden if Hue can't access the S3 server (so it doesn't bother user with something which doesn't work). I still need to spend some time investigating this, sorry for the inconvenience.

[2021-03-22 10:39] tumido commented on #117
Thank you for your concern though! :+1: :slightly_smiling_face:

I think one issue to track it all is enough for now. :smile:

[2021-03-22 15:12] 4n4nd commented on #130
We have had consistent data in Thanos for 5 days now (since March 17).
After 7 days, the data should downsample to a 5m resolution and after 30 days to 1h.
The 1h resolution data is targeted to be stored indefinitely.

[2021-03-22 15:38] harshad16 opened #140 "Introduce jupyerthub stagging namespace for jupyterhub related enhancement research"
**Is your feature request related to a problem? Please describe.**
As Jupyterhub Image Developer, would like to have access to a jupyterhub stagging namespace so that all the developer can have a space to develop new image without having to create in local and then find a cluster to test it.

The proposal is to have a separate deployment of jupyterhub for developer, the actions in here shouldn't a

[2021-03-22 15:55] tumido commented on #140
We already have a JupyterHub staging namespace declared. Anything happening in there? @4n4nd @HumairAK

[2021-03-22 15:57] 4n4nd commented on #140
The intention was to test new updates in the namespace before deploying them in prod. But rn we are not using it for anything.
We should replicate our prod instance in there ideally.

[2021-03-22 15:59] 4n4nd commented on #140
I can copy the kfdef from the prod env and deploy it in the staging namespace manually.

[2021-03-22 16:05] tumido commented on #140
@4n4nd that sounds like a neat idea. Yup, I think we should do it. But rather by creating new stage overlay for jupyterhub allowing changes described above by @harshad16 , wdyt?

[2021-03-22 16:09] tumido opened #141 "[TASK] Create namespace for the slack bot"
### Questionnaire

1. **Team name**:

    operate-first

2. **Desired namespaces**:

    opf-slack-first

3. **Users needing access**:

    Current group members

4. **Target cluster**:

    zero

5. **Team or maintainer owned GPG key fingerprint along with a keyserver** (OPTIONAL):

    n/a

---

If you don't want to wait for the maintainers to notice this issue, you can do the changes yourself.

[2021-03-22 16:10] harshad16 commented on #140
I m in favor of deploying a new staging namespace, manually new change or new development is a good way to start.
The we can slowly bring that to git or have the bots open pull request based on new change of the images

[2021-03-22 16:12] 4n4nd commented on #140
@tumido are you suggesting we use argocd to deploy it or just to keep track of what resources are deployed in the namespace?

[2021-03-22 16:15] 4n4nd commented on #140
@harshad16 Can you please elaborate on this a little? Where will the pull request be created? The pull request is for new images that have been tested in the namespace or other resources?

[2021-03-22 16:57] harshad16 commented on #140
The idea is to enable developer open a pull request in respective image they are working on for example. s2i-lab-elyra then used the `deploy` command provided by aicoe-ci, then the ci takes that pull -request and containerizes it and the opens another pull-request(this is one previously referred in above comments) to the designated repo where the manifests lives, and updates the imagestream to get

[2021-03-22 17:21] isabelizimm commented on #107
Imagestream was added to JH. Thanks all!

[2021-03-22 17:21] #107 closed

[2021-03-22 17:27] tumido commented on #140
@4n4nd :
For a "staging" namespace to serve @harshad16's purpose, we would have to have the JupyterHub managed by ArgoCD + allow users to define imagestreams and so on manually in the namespace. Like have the ArgoCD deployed JH as a stable foundation while allowing users to interact with the namespace and touch resources.  And I'd suggest to put such ArgoCD managed JupyterHub into a separate overl

[2021-03-22 18:29] oindrillac opened #142 ""No Kernel" Error in MOC JupyterHub and JupyterLab"
**Describe the bug**

I see a "No Kernel" error as I try to spawn up any notebook in JupyterHub/JupyterLab.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud/'
2. Spawn up Elyra Version 0.0.6 Image
3. Clone ocp-ci-analysis (https://github.com/aicoe-aiops/ocp-ci-analysis)
4. Spawn up notebooks/data-sources/TestGrid/testgrid_EDA.ipynb no

[2021-03-22 20:27] Shreyanand opened #143 "How to add extensions in JH with Elyra images"
**Describe the bug**
I tried to add a spell check extension to the Elyra image on JH but got into the error in the screenshot. Is there a workaround this?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Operate First JH instance
2. Spawn a notebook with Elyra v0.0.5
3. Click on extensions and install any extension
4. See error

**Expected behaviour**
I expect the extension to be added

[2021-03-23 08:44] tumido commented on #143
I honestly have no idea. It may be better to direct this to our JupyterLab/ODH experts on this

cc @pacospace @vpavlin , can you please help? I'm clueless..

[2021-03-23 08:44] tumido commented on #143
/kind bug
/sig user-experience

[2021-03-23 08:44] tumido commented on #143
/assign @pacospace @vpavlin

[2021-03-23 09:46] pacospace commented on #143
Hi @Shreyanand,

To install extensions in jupyterlab you need to consider few things.

- there are two types of jupyterlab extensions at the moment due to API version

- most of the extensions with API jupyterlab < 3.0 requires compilation of the code when creating an image.
For example. Elyra https://github.com/opendatahub-io/s2i-lab-elyra/blob/fbb209769b0ba04a43a041fd862315a9fa9fe7ad/.s2i/bin/as

[2021-03-23 09:54] pacospace commented on #143
@tumido @goern @durandom @harshad16 do we have a section in Operate First docs to describe, how to propose/request a new package ithat can be added to base images?

[2021-03-23 09:59] xtuchyna commented on #103
Hello @tumido, so both me and @pacospace tried the credentials, but most probably they are invalid (see comment above)

[2021-03-23 10:01] pacospace commented on #143
Other comment, I just noticed you are using Elyra image v0.0.5 from operate first, this is based on old Elyra < 2, therefore jupyterlab 2.0 version. Try spawning Elyra v0.0.6 image which is Elyra 2.0 and jupyterlab 3.0 compliant with jupyterlab-requirements also. If you try installing there a jupyterlab 3.0 compliant extension and reload you should see the new extension available.

@tumido @vpavli

[2021-03-23 10:01] pacospace commented on #143
@tumido @vpavlin @goern @durandom what is the rule for keeping versions? Having Elyra v0.0.5 and Elyra v0.0.6 for users might be confusing and not helping, especially if they don't find descriptions about the packages in those versions. Do we have a place where these images are described more into details? or at least changing the tag maybe to say one is elyra <2 jupyterlab 2 version, while the ot

[2021-03-23 10:33] pacospace commented on #103
the AWS_KEY_ACCESS_KEY_ID are in capital letters usually, in the credentials @xtuchyna has received, they are not

[2021-03-23 11:20] tumido commented on #143
@pacospace I think we can turn that into an RFE for JH spawner. It would be nice if you can see some (rich? markdown with links?) description to the images (possibly listing the components and so on) here:
![image](https://user-images.githubusercontent.com/7453394/112137612-c1741200-8bd0-11eb-8b78-e8de37d71fff.png)

Similarly to the size tooltip:
![image](https://user-images.githubusercontent.com/

[2021-03-23 11:32] pacospace commented on #143
I love this idea @tumido. Let's do it!!

[2021-03-23 11:35] tumido commented on #103
@pacospace that is true for AWS only. Ceph is issuing credentials differently. The creds I gave you should match the ones in the secret, let's compare what you have:

![image](https://user-images.githubusercontent.com/7453394/112138984-7a871c00-8bd2-11eb-9e92-11939ff36628.png)

@xtuchyna I was able to use it with `s3cmd` just fine:

[code]

These are the important bits from my `.s3cfg`:

[code]

I

[2021-03-23 11:39] xtuchyna commented on #103
therefore I think the creds does not match?
[code]

[2021-03-23 12:05] tumido commented on #103
Ok.. :smile:  Then what have I sent you? I have no idea where those credentials I've sent you came from then... They don't exist anywhere on the cluster. We may monitor this, because it feels like the credentials were rotated(?) If that's true, that's not good.

Anyways, here's the proper set of credentials for you and I humbly apologize for this mess. I'm very sorry, sir!

[dtuchyna.gpg.txt](http

[2021-03-23 12:25] xtuchyna commented on #103
nice, it works :) ! thanks a lot @tumido :beers:

[2021-03-23 12:31] pacospace commented on #103
Thanks a lot @tumido!! Good to know :) 🍻

[2021-03-23 13:03] #103 closed

[2021-03-23 14:01] Gkrumbach07 opened #144 "get access to Kafka"
**Description**
I am working to port my demo onto MOC (more details https://github.com/operate-first/support/issues/126). I need access Kafka which is located on the namespace `opf-kafka`. I run into the following error which I try to get the broker https://odh-message-bus-kafka-bootstrap-opf-kafka.apps.zero.massopen.cloud.
![image](https://user-images.githubusercontent.com/12587674/112155321-2f11

[2021-03-23 14:06] Gkrumbach07 commented on #144
cc @KPostOffice

[2021-03-23 14:07] HumairAK opened #833 "Incident Management Runbook"
Let's get a basic runbook for when Incidents occurs. We can draw inspiration from internal data hub's [process](https://gitlab.cee.redhat.com/data-hub/dh-runbooks/-/blob/master/incident_management_procedure.md).

I don't think we need to go too all out with the roles, the key roles I think we should have are:
1. Communicaitons Coordinator
2. Operation Technician  (and maybe a lead technician, but

[2021-03-23 14:11] 4n4nd opened #832 "[JupyterHub] Pods stuck in pending state because of insufficient CPU resources"
Pods are failing to schedule because of not enough CPU resources being available.

![Screenshot from 2021-03-23 10-07-39](https://user-images.githubusercontent.com/22333506/112159938-0e9bb800-8bc0-11eb-8cb6-154c6415d85d.png)

[2021-03-23 14:21] HumairAK commented on #144
I've sent the `ca.key` file required -- let us know if it works!

[2021-03-23 14:30] HumairAK commented on #134
I think we're getting pretty comfortable with slack, we'll keep testing the waters there but for now I think this issue has served it's purpose, closing. Feel free to open if there's more.

[2021-03-23 14:31] larsks commented on #134
If we're settling on slack, can we close the gchat room or otherwise indicate that we're not using it anymore?

[2021-03-23 14:32] Shreyanand commented on #143
@pacospace I tried jupyterlab 3.0 (through Elyra v0.0.6) and I get the same error. Try going to the extension manager and searching for spell checker. It'll take you to the spell checker you attached [1]. If you install it from the UI it'll give the same rebuild error. If I do a pip install instead, it downloads the extension but I don't see it working in a notebook. Maybe I'm missing something he

[2021-03-23 14:37] tumido commented on #134
@larsks that's a concern worth reopening the issue.

Can we even close/lock channels in GChat? Or pin a post with the slack url?

[2021-03-23 14:40] larsks opened #831 "Use consistent default branch name on opf repositories?"
I keep tripping up because the `apps` repository uses `master` but the `argocd-apps` repository uses `main`. Can we just pick one and stick with it? My fingers would thank you.

[2021-03-23 14:44] Shreyanand opened #145 "View logs in Elyra"
**Is your feature request related to a problem? Please describe.**
In order to debug pipelines while automating my workflow, I'd need to see Jupyter lab logs. Currently, when I go to log console I don't the see the logs there. When I submit a faulty pipeline, I can see a traceback of the error added in Elyra v06 which is very helpful. However, for a detailed analysis, should the logs be available

[2021-03-23 14:45] 4n4nd opened #830 "[JupyterHub] pod clean up policy for pods with no cpu activity"
Since we have a lot users for Jupyterhub, we might need to start cleaning up pods that are not being used to save resources.

Related operate-first/support#832

[2021-03-23 14:57] tumido commented on #145
/assign @pacospace  can you please help with this?

[2021-03-23 14:58] #831 closed

[2021-03-23 15:20] HumairAK commented on #134
We can just rename the channel with a `DEPRECATED-*` prefix with a pinned post, I feel like that would be enough.

[2021-03-23 16:31] pacospace commented on #145
I had a look upstream and as of now for local run of pipeline there is an open feature request: https://github.com/elyra-ai/elyra/issues/1265

We have to wait for that feature to be available, but in Elyra v0.0.6 it is more helpful indeed:
![Screenshot from 2021-03-23 17-24-57](https://user-images.githubusercontent.com/27498679/112182482-9d7af580-8bfd-11eb-8fd1-bc8070dbc1ba.png)

[2021-03-23 16:37] pacospace commented on #143
hey @Shreyanand I installed it and it is working for me as described in the readme in [1], after a simple pip install.

The installation through npm package from the UI might require always rebuild, but not the pip one from the terminal.

Try reloading the page and it shoud be available.

Please open an issue in https://github.com/thoth-station/s2i-minimal-notebook or better into https://github.co

[2021-03-23 18:31] goern commented on #145
/assign @pacospace
/kind feature

[2021-03-23 19:51] Shreyanand commented on #145
![Screenshot from 2021-03-23 15-47-28](https://user-images.githubusercontent.com/8916126/112208967-f7e87600-8c3e-11eb-88fd-3fcf84832811.png)

@pacospace Got an error with no traceback in Elyra v0.0.6. Is it the kind of error that determines if we get a traceback or not?

[2021-03-23 20:28] Shreyanand opened #146 ""Manage kubeflow pipeline runtime" doesn't work"
**Describe the bug**
We were trying to follow the Elyra [pipeline tutorial](https://github.com/thoth-station/elyra-aidevsecops-tutorial/blob/master/docs/source/create-ai-pipeline.md) but got stuck on the "Manage kubeflow pipeline runtime" step. In the attached screenshot, we can see that there is no way to edit the runtime configuration as shown in the tutorial.

Related to this [issue](https://gi

[2021-03-24 08:01] pacospace commented on #145
Maybe having public view on pod/logs might be good, I saw discussion on Slack cc @tumido

[2021-03-24 08:06] pacospace commented on #146
Thanks @Shreyanand I started that image and noticed that as well. I tried with ml-prague-workflow:latest image today and now I have that issue as well. Yesterday did not have that...mmm weird.

[2021-03-24 08:34] pacospace commented on #146
Running the images locally, I can see correctly all parameters. cc @harshad16 @vpavlin

[2021-03-24 10:18] pacospace opened #147 "GPU Supported in Operate First"
**Is your feature request related to a problem? Please describe.**
As Operate First User (data scientist and/or devops),

I would like to use GPUs for my training or inference

**Describe the solution you'd like**
Having GPU and GPU Operator

**Describe alternatives you've considered**

**Additional context**

[2021-03-24 10:21] tumido commented on #147
We don't have GPUs in the zero cluster neither we plan on having them there. We're currently discussing HW budget for additional clusters and I'm sure we will have GPUs on future clusters.

Is GPU a hard requirement for you, right now? @pacospace

/kind question
/sig user-experience

[2021-03-24 10:38] pacospace commented on #147
Not a very hard requirement, but it might be nice to have soonish for some use cases.

cc @harshad16 for tf-gpu-buil and tensorRT

[2021-03-24 10:46] tumido commented on #147
/cc @durandom @larsks do you know if we have any timeline for GPUs in our MOC clusters?

[2021-03-24 10:53] tumido commented on #145
Thread link: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1616437865005500

We will create a rolebinding for that :+1:

[2021-03-24 11:02] tumido commented on #145
@pacospace does it make sense to move discussions on this to upstream? I'm not sure how much more besides https://github.com/operate-first/apps/issues/428 we can help with this in here

[2021-03-24 11:14] pacospace commented on #145
Yes definitely, maybe the issue I linked above is slightly different but also a feature that is interesting to have in Elyra I guess.

@Shreyanand can you please open an issue upstream in https://github.com/elyra-ai/elyra/issues/new?assignees=&labels=component%3Apipeline-editor%2C+component%3Apipeline-runtime%2C+status%3ANeeds+Triage%2C+kind%3Auser-feedback&template=pipeline-issue-template.md&titl

[2021-03-24 12:18] pacospace commented on #146
To make you continue working you can use the CLI instead of CLI: https://github.com/thoth-station/elyra-aidevsecops-tutorial/pull/129

[2021-03-24 13:34] HumairAK commented on #144
@Gkrumbach07 -- has this been resolved?

[2021-03-24 13:36] harshad16 commented on #146
happy to help if i can in this issue,@pacospace  can you guide me through this.

[2021-03-24 13:39] Gkrumbach07 commented on #144
@HumairAK  I cant seem to get ssl certs setup on my Kafka client. Any suggestions?

[2021-03-24 13:43] HumairAK commented on #144
I believe @harshad16 has done this already, maybe he can chime in with the steps he took.

[2021-03-24 13:52] harshad16 commented on #144
i assume you are using kafka-python.https://kafka-python.readthedocs.io/en/master/apidoc/KafkaProducer.html
it has arguments for passing the values.
try setting this in your kafkaproducer:
[code]

[2021-03-24 14:50] oindrillac commented on #142
this "No Kernel" error persists even if i spawn a new server. do we have any ideas about this?

[2021-03-24 15:14] ptitzler commented on #146
-  I've just tried this scenario (see https://github.com/elyra-ai/elyra/issues/1473#issuecomment-805901723) in this environment and the runtime metadata editor is displayed properly.
- Which browser are you using?
- Are there any errors logged in the browser's console?

[2021-03-24 15:31] ptitzler commented on #146
I'm now able to recreate the problem in my environment

[2021-03-24 15:50] pacospace commented on #146
Can you share what did you do @ptitzler to replicate? Thanks for looking into this!

[2021-03-24 15:58] tumido commented on #142
Any idea @4n4nd @HumairAK ?

[2021-03-24 16:01] 4n4nd commented on #142
@oindrillac Is this issue just in the Elyra image or does it persist when spawning other images as well?

[2021-03-24 16:07] ptitzler commented on #146
Workaround:
 - Don't use the command palette (`<cmd/ctrl> <shift> <c>`) to open the runtime configuration wizard. Select the tab marked `Runtimes` from the sidebar. (If there's another one named `Kubeflow Pipelines runtimes` ignore it - that's the one that does not work.)
 ![image](https://user-images.githubusercontent.com/13068832/112342089-32720300-8c7f-11eb-8b91-5c4762a707c2.png)

Root cause: T

[2021-03-24 16:12] pacospace commented on #146
Is this valid also for runtime images? Because the issue is also happening there and if you start Elyra you don't find the tab for runtime images unless you go through the command palette:

![Screenshot from 2021-03-24 17-10-57](https://user-images.githubusercontent.com/27498679/112344022-fad97a00-8cc3-11eb-89f1-efd4fceba9dc.png)

[2021-03-24 16:12] oindrillac commented on #142
@4n4nd this started with the Elyra image, but now it exists for all images

[2021-03-24 16:40] ptitzler commented on #146
That is possibly a side effect. Running in 2.1 I see neither behavior. Unfortunately the only workaround is to use the CLI in 2.0.1.

[2021-03-24 17:14] Gkrumbach07 commented on #144
1. On your local machine, you need to setup your GPG key pair so that you can receive your ca.cert securely. ( Send your public key)
2. Once you receive the file (it should be encrypted), you can decrypt it using your GPG private key.
3. Then you will be left with a `ca.crt` file that needs to be imported into OpenShift.
4. In OpenShift, create a  new key/value secret.
5. Name the secret (doesn't

[2021-03-24 17:14] #144 closed

[2021-03-24 17:31] pacospace commented on #84
What is the status here @tumido? Thanks!

[2021-03-24 17:47] tumido commented on #84
@pacospace still investigating.. seems kubeflow is touching things, but it's hard to debug locally, since the kubeflow manifests treated differently by the operator than by the local kfctl. :slightly_frowning_face:

[2021-03-24 17:50] pacospace commented on #84
Thanks for the update @tumido :)

[2021-03-24 18:02] HumairAK commented on #142
I followed the steps and was not able to reproduce this issue
![image](https://user-images.githubusercontent.com/10904967/112361256-94dff900-8ca9-11eb-97c6-47c260853b2b.png)

After restarting the kernel:
![image](https://user-images.githubusercontent.com/10904967/112361216-87c30a00-8ca9-11eb-8f49-c11e2fe17526.png)

-- has anyone else encountered this?

[2021-03-24 18:23] 4n4nd commented on #142
I could not reproduce this

[2021-03-24 18:56] Jooho commented on #114
I requested and I got namespace!

Thanks!

You can close it

[2021-03-24 19:07] HumairAK commented on #114
Thanks @Jooho -- closing.

[2021-03-24 19:07] #114 closed

[2021-03-24 20:03] tumido commented on #84
@pacospace knative is synced. Kubeflow's Istio was making a fuss about it, but in the end I've convinced it! :tada:

https://github.com/knative/serving/issues/8323#issuecomment-644250918

Knative serving is reporting as "ready", hope it works. :smile:

[2021-03-24 20:15] 4n4nd commented on #142
This is what it looks in the directory where the error is seen:
[code]
and none of the python bins work
[code]

[2021-03-24 20:55] harshad16 commented on #142
i will take this one

[2021-03-24 20:57] harshad16 commented on #142
on this question, currently the elyra image only has this support.
i will be updating the other image as well in upstream
the image with python38 have the support for jupyterlab-requirements extension as of now.

[2021-03-24 21:11] harshad16 commented on #142
cc: @pacospace

[2021-03-24 21:29] harshad16 commented on #142
the restart of kernel is not giving error
![kernel](https://user-images.githubusercontent.com/14028058/112385871-83f1b080-8cc6-11eb-8d06-8982958d2829.png)

[2021-03-24 21:32] harshad16 commented on #142
is this issue occuring in v0.0.6 of elyra?

[2021-03-24 21:36] oindrillac commented on #142
The issue is not occurring in Elyra 0.0.6 now, but the issue is occurring in all other JupyterLab and JupyterHub images.
I tried restarting the kernel and restarting the server and the issue still persists in the other images.

[2021-03-24 21:42] pacospace commented on #142
I might have an idea of why that is happening.
@oindrillac did you use the default name (python3) as kernel name when using jupyterlab-requirements?

Also can you please run from terminal `jupyter kernelspec list` command and report the result here please?

[2021-03-24 21:47] harshad16 commented on #142
On other image jupyterlab-requirment extension is not fully supported as they are pthon36 based image
any other image like s2i-pytorch-py38-notebook would have the support for this.
we would update the image and try to get them in odh soon.

[2021-03-24 21:47] pacospace commented on #142
From the screenshot seems yes. I can replicate the issue and the solution is to put back the default jupyter configuration for the kernelspec. I will create a bug in jupyterlab-requirements and solve this inconvenient, I always used a different kernel name, so I did not identify this bug before!!

[2021-03-24 21:50] pacospace commented on #142
We definetly need tests in the cluster before providing jupyterlab-requirements :)

Also elyra v0.0.6 actually has jupyterlab-requirements v0.4.7 which does not has the new features and the bug fixes for pipenv cache. cc @harshad16

[2021-03-24 21:53] harshad16 commented on #142
ack, lets have another release of elyra to have the pipenv cache feature

[2021-03-24 21:56] pacospace commented on #142
I will release patch tomorrow for the issue referenced so we can include jupyterlab-requirements v0.5.1

[2021-03-24 21:58] oindrillac commented on #142
yes, I think I did use the default name.

is there a specific image you want me to try this from?
from JupyterHub, ocp-ci image I get this

**Available kernels:
  python3    /opt/app-root/src/.local/share/jupyter/kernels/python3**

[2021-03-24 22:00] oindrillac commented on #142
thanks for debugging this @pacospace & @harshad16

[2021-03-24 22:03] pacospace commented on #142
You can do it from every image as these configurations are saved in your PVC.

[2021-03-24 22:03] harshad16 commented on #142
Thanks @pacospace  for the fixes.

[2021-03-24 22:16] pacospace commented on #142
can you try running `ipython kernel install --user --name=python3 --display-name 'Python (python3)'` to see if the issue still persists?

[2021-03-24 22:25] pacospace commented on #84
NIce!!! Thanks @tumido 💯 🥇 I will create a simple app to verify that everything works!!

[2021-03-24 22:26] pacospace commented on #84
and in the future extend the tutorial for deploying a model with serverless: https://github.com/thoth-station/elyra-aidevsecops-tutorial/issues/124

[2021-03-24 23:22] oindrillac commented on #142
@pacospace that seemed to do the trick! 🎉 Now I am able to see the Kernel Python 3

[2021-03-25 09:16] tumido opened #148 "Document how to restore python kernels in JupyterHub"
@oindrillac  can you please try running `ipython kernel install --user --name=python3 --display-name 'Python 3'` from the terminal of any image and see if the issue still persists?

_Originally posted by @pacospace in https://github.com/operate-first/support/issues/142#issuecomment-806220803_

[2021-03-25 09:16] tumido commented on #148
/kind documentation
/sig user-experience

[2021-03-25 09:42] tumido commented on #142
Great read folks! Thank you @pacospace !

@oindrillac can we mark this issues as resolves? :+1:

[2021-03-25 10:32] tumido opened #1028 "Ask requesters of untracked namespaces to fully onboard and to use provided services if possible"

[2021-03-25 11:13] rbo opened #149 "Onboarding rbohne to zero"
**Describe the bug**
After login into the zero cluster with my Red Hat account, I was able to create a project/namespace without any quotas or limitation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://console-openshift-console.apps.zero.massopen.cloud/search'
2. Login with our Red Hat Account
3. Click on create project
4. Start some bit count mining ;)

**Expected behaviour*

[2021-03-25 11:18] tumido commented on #149
Duplicate of: https://github.com/operate-first/apps/issues/432 FIX pending

Re-purposing this ticket as an onboarding for your namespace.

namespace is: `rbohne-demo1`
Any desired team name @rbo ?
Any secrets you want us to manage?

See [this template](https://github.com/operate-first/support/issues/new?assignees=&labels=onboarding&template=onboarding_to_cluster.md&title=) for a template in what k

[2021-03-25 12:18] #142 closed

[2021-03-25 12:29] tumido opened #150 "Make JH spawner show details to images"
I love this idea @tumido. Let's do it!!

_Originally posted by @pacospace in https://github.com/operate-first/support/issues/143#issuecomment-804829208_

I have no idea which upstream repo to open an issue for this. Any idea @vpavlin @pacospace ?

[2021-03-25 12:32] tumido commented on #150
closing in favor of https://github.com/opendatahub-io/jupyterhub-odh/issues/85 that's probably a better fit

[2021-03-25 12:32] #150 closed

[2021-03-25 12:59] rbo commented on #149
### Questionnaire

1. **Team name**: rbohne
2. **Desired namespaces**:
* rbohne-openshift-examples
* rbohne-acme
* rbohne-demo
* rbohne-anwendertreffen

3. **Users needing access**: rbohne@redhat.com (RedHat SSO) or my Kerberos Id rbohne

4. **Target cluster**:
* zero for namespaces above.
* infra to take a look for the upcoming hetzner deployment (If approval needed ask: @goern )

5. **Team or ma

[2021-03-25 13:00] #132 closed

[2021-03-25 13:01] tumido commented on #149
/retitle Onboarding rbohne to zero

[2021-03-25 13:01] tumido commented on #149
/title Onboarding rbohne to zero

[2021-03-25 13:58] durandom commented on #149
/hold

I'm not sure if we want personal demo namespaces and one-man teams on the zero cluster :)

@rbohne could you pick a demo that you already have and then work onboarding that to the cluster? Like https://github.com/operate-first/support/issues/113

I'm not sure about the team name in such a case. Maybe the team is the demo maintainers and the team name would be the demo name?! Or if its a wor

[2021-03-25 14:24] rbo commented on #149
It is to get experience in that env and later on to promote it to the german SA team.
Demo/examples/use cases, I have a couple:
- https://examples.openshift.pub / https://github.com/openshift-examples -> Running on OpenShift online OCP 3.11 :-/ , maybe moved to zero.
- http://www.openshift-anwender.de - a german openshift user group running on openshift online maybe move to zero.

I'm one of the g

[2021-03-25 14:38] durandom commented on #149
Thanks for the background.

Is http://www.openshift-anwender.de "just" a website app? If you're good with the kind of SLA we provide for the zero cluster https://github.com/open-infrastructure-labs/ops-issues/issues/32 (production cluster) we could target this as a first onboarding example?

I'd suggest naming the group and namespace `www-openshift-anwender-de` (to avoid `openshift-` prefixes).

[2021-03-25 14:39] durandom commented on #149
Oh, and you can start the onboarding yourself by following option 2 in https://www.operate-first.cloud/users/support/docs/onboarding_to_cluster.md

[2021-03-25 14:49] HumairAK commented on #149
I agree -- let's avoid adding individual usernames as team names, maybe this should be better reflected in the onboarding template.

[2021-03-25 15:59] #69 closed

[2021-03-25 16:32] durandom commented on #147
nope, unfortunately not.
@billburnseh @msdisme ?

[2021-03-25 16:52] pacospace opened #152 "Document how to debug KFP issues when submitting pipelines"

[2021-03-25 17:16] pacospace opened #153 "KFP Events shows FailedScheduling error when submitting a pipeline through Elyra"
**Describe the bug**
KFP steps do not start due to FailedScheduling error when submitting a pipeline through Elyra.

I tested the default pipeline for KFP and it works.
I tested also submitting directly a pipeline through .yaml file and it works.

It appears to be an issue of Elyra scheduling KFP pipelines

**To Reproduce**
Steps to reproduce the behavior:
1. create pipeline run from Elyra

**Expe

[2021-03-25 17:17] pacospace commented on #153
cc @4n4nd @tumido

[2021-03-25 17:21] pacospace opened #154 "Issue spawning an image from JH"
**Describe the bug**
Issue spawning an image from JH

**To Reproduce**
Steps to reproduce the behavior:
1. Go to JH on Operate First
2. Select an image

**Expected behaviour**
Image is spawned successfully

**Screenshots**
![Screenshot from 2021-03-25 18-19-31](https://user-images.githubusercontent.com/27498679/112515801-e619e680-8d96-11eb-8d09-fc4169c09f31.png)

**Additional context**

[2021-03-25 17:22] pacospace commented on #153
It might be related to: https://github.com/operate-first/support/issues/154

[2021-03-25 18:26] harshad16 opened #155 "Kubeflow pipeline from elyra are exposing cerds"
**Describe the bug**
we noticed that when we use elyra and kubeflow pipelines, the aws cerds and other information are being stored as env vars. which are being exposed on the kubeflow pipelines and tekton pipeline dashboard as the status show the configuration and environment variable value gets displayed.

 It should be suggested to the operate-first users to refrain from using the aws cerds for

[2021-03-25 19:50] MichaelClifford opened #156 "Can Members of the data science group get access to the Jupyterhub project so that we can view our own pod logs?"
### Requested actions

Select all that apply:

- [ ] Create a new ArgoCD project for existing team
- [ ] Enlist an application to be deployed automatically via ArgoCD
- [x] Add a new user to an ArgoCD Project

### Questionnaire

#### Creating a new project

1. **Team name**:
   Please tell us your team name, which corresponds to [an already available user `Group`](https://github.com/operate-first/

[2021-03-25 23:34] harshad16 opened #157 "cant access grafana dashboard"
**Describe the bug**

The grafana dashboard is not available https://grafana-route-opf-monitoring.apps.zero.massopen.cloud/
As i m part of operate-first group, i have access to the namespace of the deployment.
The pod is failing due to the `ImagePullBack` error
![grafana](https://user-images.githubusercontent.com/14028058/112556549-d7383180-8da0-11eb-97b2-731a9b1e6385.png)

This seems to be becaus

[2021-03-26 06:55] durandom opened #158 "HTTP Url of odh dashboard"
**Describe the bug**
When accessing http://odh.operate-first.cloud/ I get a "Application is not available" - the https URL works
https://odh.operate-first.cloud/

**Expected behaviour**
I expect to be redirected to the https version. Is that possible with OpenShift route configuration?

[2021-03-26 07:42] goern commented on #149
Why dont we create a group 'sa-dach' with Robert as the goto/proxy/first?

Deploying  http://www.openshift-anwender.de seems to be a good idea, it will give us some insides on how 'content creators' will fit into our GitOps'ish workflows. And (I guess) the website will show a seasonality, using HPA and analysing metrics might be a nice project to come up with a little bit more cleaver pod autoscal

[2021-03-26 07:51] rbo commented on #149
sa-dach group sounds good.

openshift-anwender is wordpres with an MySQL backend and persistend storage. So how a legacy application fit into gitops :-)

[2021-03-26 08:47] tumido commented on #158
/kind bug

Should be an easy change. Thanks for pointing that out. Let me take a look :+1:

[2021-03-26 09:51] tumido commented on #156
@MichaelClifford just to get this clarified, what do you want exactly? You want to be able to log in to:
https://console-openshift-console.apps.zero.massopen.cloud/

go to `opf-jupyterhub` project and see your pods, right?

[2021-03-26 09:56] tumido commented on #155
This has to be fixed upstream. I don't think there's anything we can do about it. We can warn users though.

/kind documentation
/sig user-experience

[2021-03-26 09:57] tumido commented on #153
Yup, seems to be the same issue CPU eaters everywhere. We need to enforce some quotas asap.

Closing in favor of  https://github.com/operate-first/apps/issues/438

[2021-03-26 09:57] #153 closed

[2021-03-26 09:57] tumido commented on #154
Yup, seems to be the same issue as https://github.com/operate-first/support/issues/153

Closing in favor of  https://github.com/operate-first/apps/issues/438

[2021-03-26 09:57] #154 closed

[2021-03-26 09:58] tumido commented on #156
/kind bug

This should have been resolved by https://github.com/operate-first/apps/issues/428 it was not, sorry for that

[2021-03-26 11:01] tumido opened #159 "opf-ci-prow is reserving ton of CPU but not using it"
**Describe the bug**
`opf-ci-prow` is reserving whopping **180** out of 288 available CPU cores for itself only, while the actual usage is 1.6 cores under max ever observed load

**To Reproduce**
Steps to reproduce the behavior:
[code]
![image](https://user-images.githubusercontent.com/7453394/112622081-cf24d400-8e2a-11eb-8945-7998519209ed.png)

[code]
![image](https://user-images.githubuserconten

[2021-03-26 11:03] tumido commented on #159
/kind bug
/priority critical-urgent
/sig dev-ops

/assign @tumido @HumairAK @harshad16 @4n4nd
/cc @goern

[2021-03-26 11:03] sesheta commented on #159
@tumido: The label(s) `sig/dev-ops` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/support/issues/159#issuecomment-808123530):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to

[2021-03-26 11:03] tumido commented on #159
/sig devops

[2021-03-26 11:05] tumido commented on #159
Purging those completed/failed pods should help short term

[2021-03-26 11:19] tumido commented on #159
It seems to me that the Prow pods are actually never auto-deleted, if not removed manually they pollute the system forever, am I missing something?

[2021-03-26 11:23] xtuchyna commented on #117
Hello @tumido , wassup! Do you see this resolved today or should I wait for next week?

[2021-03-26 11:28] tumido commented on #117
I've fiddled with this on Tuesday, but without any progress I'm missing something somewhere but I can't figure out what it is. Sorry I wasn't able to progress with this one much... :disappointed:

[2021-03-26 11:30] tumido commented on #157
Yup, the image is gone. We need to find a new one or clone it ourselves. I'm gonna clone the upstream for now and we can talk to the SRE team why it went down...

[2021-03-26 11:40] tumido commented on #157
Image available here: https://quay.io/repository/operate-first/grafana?tab=tags

[2021-03-26 12:20] tumido commented on #156
So, the role works as intended, though you can't access the project :facepalm: Investigating

This should work on your account though:
[code]

[2021-03-26 12:28] MichaelClifford commented on #156
Thank @tumido ! I can confirm

`oc get pods -n opf-jupyterhub` shows the pods running there and  `oc logs <pod_name> -n opf-jupyterhub` displays the logs.

[2021-03-26 12:56] dankenigsberg opened #160 "Testing OpenShift Virtualization (CNV) on MassOpenCloud"
### Questionnaire

1. **Team name**:

    Your team name can be any name that satisfies [RFC 1123][1]. We will use this name to create an OCP `group` for you, and your team members. If you are only requesting access for yourself, and you do not have a team, you will still need to pick a team name.

`cnv-testing`

2. **Desired namespaces**:

    Please provide the names of the `namespaces` you woul

[2021-03-26 13:17] MichaelClifford opened #161 "Cannot Access Jupyterhub - 403 Error"
**Describe the bug**
Attempting to log into `https://jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud/` leads to 403 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud/`'
2. Click on 'moc-sso'
3. Click on 'google''
3. Enter your credentials
4. See  403 error

**Expected behaviour**
See Jupyterhub Spawner not 403

**Scree

[2021-03-26 13:17] #158 closed

[2021-03-26 13:23] durandom commented on #161
let's try to catch this via an alert or a test in the future...

[2021-03-26 13:24] tumido commented on #161
`system:authenticated` must be set instead of advised `""` for `allowed_users` configmap entry. @4n4nd is making a PR with a fix. This is an upstream issue. Filing ticket upstream.

[2021-03-26 13:26] #161 closed

[2021-03-26 13:34] tumido commented on #159
cleaning up the pods manually to free up resources now

[2021-03-26 13:39] tumido commented on #159
That should help a lot:
![image](https://user-images.githubusercontent.com/7453394/112639845-04d4b780-8e41-11eb-9fd8-6d99c1072310.png)

[2021-03-26 13:39] harshad16 commented on #159
ack, i will check on this
and try to establish a cleanup system first and parallelly check on the prow side on how to resolve this

[2021-03-26 13:51] #157 closed

[2021-03-26 13:54] MichaelClifford opened #162 "Jupyterhub Image Documentation / Discovery"
**Is your feature request related to a problem? Please describe.**

As a user of the JupyterHub I want to know the contents (packages/files/data) of the images available to me on the spawner page before selecting it. For example, where can I find the difference between `s2i-lab-elyra:v0.0.5` and `s2i-lab-elyra:v0.0.6`?

**Describe the solution you'd like**

Either documentation on the operate firs

[2021-03-26 13:56] HumairAK commented on #162
Sounds like: https://github.com/opendatahub-io/jupyterhub-odh/issues/85

While we wait for that, I think adding docs about current images would be useful. Good idea!

[2021-03-26 14:42] tumido opened #163 "Allow everybody to view cluster metrics and monitoring"
SSIA, even the default dasboards are useful sometimes - let's allow every authenticated user to view it

[2021-03-26 15:10] tumido commented on #163
We're thinking if it wouldn't be better to rather import the dashboards to our grafana.

Dashboards are here as a `ConfigMapList` https://github.com/openshift/cluster-monitoring-operator/blob/master/assets/grafana/dashboard-definitions.yaml

[2021-03-26 15:10] tumido commented on #163
The data source would be different though

[2021-03-26 15:16] Gkrumbach07 opened #164 "requesting a namespace on zero cluster"
### Questionnaire

1. **Team name**:

   fde

2. **Desired namespaces**:

   I already have a namespace setup on zero named `audio-decoder-demo`, but this can be deleted if a new namespace needs to be made. In that case it can be called `fde-audio-decoder` to comply with then naming recommendations.

3. **Users needing access**:

    gkrumbac@redhat.com

4. **Target cluster**:

    zero cluster

5

[2021-03-26 15:22] pacospace commented on #155
What about creating a bucket with public credentials (playpen bucket) as of know (username: `operatefirst`, password: `operatefirstzero` that anyone can use to at least test pipelines, maybe with data can be public or also just trying to learn about pipelines?

[2021-03-26 15:23] tumido commented on #155
we can't set the credentials, but we have one bucket like that already. It should be used by the data catalog by default but that's stuck on me fixing the data catalog. :smile:

[2021-03-26 15:24] tumido opened #165 "Document default "public" bucket credentials"
Make the datacatalog's default bucket public by telling the credentials

What about creating a bucket with public credentials (playpen bucket) for now (username: `operatefirst`, password: `operatefirstzero` that anyone can use to at least test pipelines, maybe with data that can be public or also just trying to learn about elyra and pipelines while upstream issue is solved?

_Originally posted by

[2021-03-26 15:33] #160 closed

[2021-03-26 15:34] tumido commented on #164
@Gkrumbach07 thank's for suggesting the namespace rename. :slightly_smiling_face: Can you please delete your project then? I'm creating the `fde-*` one in a PR asap. :slightly_smiling_face:

[2021-03-26 16:06] larsks commented on #160
@dankenigsberg you should be all set with access to the `cnv-testing` project on the zero cluster (https://console-openshift-console.apps.zero.massopen.cloud/). Let me know if you need any help getting a virtual machine up and running. The Red Hat docs are at https://docs.openshift.com/container-platform/4.7/virt/about-virt.html.

[2021-03-26 16:24] dankenigsberg commented on #160
@larsks thanks!
It works flawlessly. However, would you add sources to templates so users can get a vm running with a single click

[2021-03-26 16:36] #164 closed

[2021-03-26 16:57] harshad16 commented on #159
The cpu request of 2 for each prow job seems bit too high, we would ask prow users to drop that and that should help a little with this.

found out that the prow has a configuration for this , setting it in a short while to restrict it to a day. This way users will be able to see the logs at least for a day.

[2021-03-26 18:06] tloubrieu-jpl opened #167 "Access to operate first cluster for SDAP and MSLSP data"
### Questionnaire

1. **Team name**:

    sdap_mslsp

2. **Desired namespaces**:

    sdap

3. **Users needing access**:

    loubrieu@jpl.caltech.edu (thomas loubrieu)
    nchung@jpl.caltech.edu (nga chung)
    wphyo@jpl.caltech.edu (wai phyo)

    Note that if you are looking for access to the MOC `zero` cluster, you will first need to log in to the [console][5] using SSO (any Gmail account will

[2021-03-26 18:58] 4n4nd commented on #167
@tloubrieu-jpl can you please give us a small description of your project?

[2021-03-26 19:00] larsks commented on #167
@4n4nd these folks have been invited to use the cluster by the MOC. They're setting up some data processing involving Solr and Cassandra.

[2021-03-26 19:03] 4n4nd commented on #167
Cool cool, I'll just add this description:
`Data processing of HDF and NetCDF files involving Solr and Cassandra`

[2021-03-26 19:28] #167 closed

[2021-03-26 19:30] larsks commented on #167
@tloubrieu-jpl you should be all set! If you have any questions about this cluster, you can open a new issue [in this repository](https://github.com/operate-first/support/issues/), or you can drop by the `#support` channel in our public slack workspace. You can join the slack workspace by following [this link](https://join.slack.com/t/operatefirst/shared_invite/zt-o2gn4wn8-O39g7sthTAuPCvaCNRnLww(.

[2021-03-26 19:41] #835 closed

[2021-03-26 22:20] rob-baron opened #169 "moc-reporting"
### Questionnaire

1. reporting

    Your team name can be any name that satisfies [RFC 1123][1]. We will use this name to create an OCP `group` for you, and your team members. If you are only requesting access for yourself, and you do not have a team, you will still need to pick a team name.

2. moc-reporting

    Please provide the names of the `namespaces` you would like created. Names should s

[2021-03-29 08:25] xtuchyna commented on #117
No problem @tumido, just lemme know whenever you see this resolved, I am all hyped to use it! :)

[2021-03-29 09:17] tumido commented on #159
Thank you @harshad16 :+1: :rocket: The Prow job TTL settings looks nice.

Yup... we should lower the requests across the board.. I'll start with the on-repo configs in operate-first, let's try `200m` for now. We don't need much CPU on these tasks anyways.

[2021-03-29 10:39] fridex opened #171 "Manage APIs with 3Scale"
### Requested actions

Deploy 3Scale API (or similar project) for managing APIs.

#### Operator request

If you want to request an operator, please provide the following:

1. **Name of the Operator**:

3scale operator

2. **Operator version**:

No requirement on a specific version.

3. **Operator scope**:

For us, it is OK to work just on Thoth's frontend namespace.

4. **Documentation and links**

[2021-03-29 10:46] tumido commented on #171
Thank you @fridex for this ticket. At first we will have to resolve 2 limitations on 3Scale side:

- OpenShift 4.7 is still [unsupported](https://access.redhat.com/articles/2798521)
- Requires additional RH subscription entitlement on the nodes
   1. I have no idea how that scales (with dynamically provisioned/reprovisioned nodes) since the  docs mention a manual entitlement on every machine in th

[2021-03-29 11:13] tumido commented on #149
So, let's sum it up again:

1. User group: `sa-dach` with @rbo as the sole member for now
2. Namespaces:
    - `sa-dach-openshift-examples`
    - `sa-dach-anwendertreffen`

Did I miss anything?

:+1: If we can proceed with this setup.

[2021-03-29 11:41] tumido commented on #117
Trying to spend some time on this today. It seems I'm able to get Hue working, though Thriftserver is giving me a ton of troubles see https://github.com/operate-first/support/issues/131

I'm gonna make Hue usable as a single creds S3 explorer now but the Triftserver problem is persistent.

Note: It seems each user in Hue is fixed to S3 creds associated their group membership only. Therefore I can'

[2021-03-29 12:06] isabelizimm opened #172 "User support: JupyterHub hardware requirements"
### Questionnaire

1. **User details**:
izimmerm

2. **Desired resource change**:
I currently have a 2GiB PVC, but would like to request 8GiB. This is in order to avoid an error in spawning JH at [https://jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud/hub/spawn/izimmerm@redhat.com](https://jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud/hub/spawn/izimmerm@redhat.com.
)

CC @tumido

[2021-03-29 12:07] tumido commented on #172
On it! :+1:

[2021-03-29 12:13] tumido commented on #172
Original issue tracked upstream: https://github.com/opendatahub-io/jupyterhub-singleuser-profiles/issues/107

[2021-03-29 12:47] tumido commented on #131
So.. after quite some time on this I've managed to fix a sibling issue https://github.com/operate-first/support/issues/117 while this one is still persistent. I need to raise this one back to upstream. I can't make Thriftserver to connect to Openshift Container Storage properly.

[2021-03-29 12:48] durandom commented on #172
@isabelizimm did you check your PVC usage and quota?
Maybe in the Grafana Dashboard?

[2021-03-29 12:54] tumido commented on #169
Hi @rob-baron would you mind if we set the team name to `moc-reporting`? `reporting` seems too generic to me to identify you and your project properly. Would you be fine with that?

[2021-03-29 13:11] hemajv commented on #131
ack, @tumido would you happen to know if there is any workaround we could look into meanwhile such as manually attaching the table to the superset/hue pod somehow?

[2021-03-29 13:11] billburnseh commented on #147
I do not have an ETA for arrival or availability, defer to Michael.

[2021-03-29 13:17] tumido commented on #131
Nope I don't know about any workaround as of now. Maybe @rimolive would be able to help...

In general, if you want to work with Hue or Superset, all the tables have to be loaded and their metadata stored in Hive. And currently Thriftserver is the only interface for Hive we've got. :disappointed:

[2021-03-29 13:44] #156 closed

[2021-03-29 13:54] tumido commented on #156
@MichaelClifford resolved. `opf-jupyterhub` is now listed on the OCP web console. :+1:

![image](https://user-images.githubusercontent.com/7453394/112847109-069fb480-90a7-11eb-9316-88ee055de764.png)

[2021-03-29 14:04] harshad16 opened #173 "opf zero cluster network issue cause CI connection break with PyPI"
**Describe the bug**
we have a CI which is currently running on the operate-first cluster. There is a task that tries to connect with upload.pypi.org and the connection is being timed out each time
we have tested this in a different environment and seem to have no issues.

[code]
**Expected behaviour**

Should not have any issues.

Related-to: https://github.com/thoth-station/thoth-application/iss

[2021-03-29 14:27] pacospace opened #174 "Deploy KFServing on Operate First"
**Is your feature request related to a problem? Please describe.**

As Data Scientist,

I want to deploy my model using KFServing.

**Describe the solution you'd like**
Deploy KFServing, report it back upstream to ODH: https://github.com/opendatahub-io/manifests/issues/63

**Describe alternatives you've considered**

[2021-03-29 14:45] rob-baron commented on #169
moc-reporting is fine.

[2021-03-29 15:28] isabelizimm commented on #172
Is there an easy way to get to Grafana for this PVC? It does not look like it is enabled when I look at the ODH dashboard when logged in.
Or maybe a better question is, is there a self-service way to tell if I hit this limit again?

[2021-03-29 15:28] HumairAK commented on #169
Thank you @rob-baron, we really appreciate the feedback. @larsks has recently updated this form to add a bit more clarity.
You can see it [here](https://github.com/operate-first/support/issues/new?assignees=&labels=onboarding&template=onboarding_to_cluster.md&title=) -- we would be interested to hear your thoughts on this new version and if there are additional improvements we can make to the proc

[2021-03-29 15:39] 4n4nd commented on #172
@isabelizimm We do have a grafana dashboard available where you can check your PVC usage ([link](https://grafana-route-opf-monitoring.apps.zero.massopen.cloud/d/YuYfkHYMk/jupyterhub-usage?orgId=1)). You should be able to select your user id and it should show you your PVC, CPU and Memory usage.

[2021-03-29 15:45] 4n4nd commented on #172
A little more self service way would be checking the usage in your notebook terminal with a cli command.
For example, you can run `df -h /opt/app-root/src` and it would show you the disk usage.

[2021-03-29 15:56] goern opened #176 "operate first a pulp+python_plugin instance (or more)"
[code]

@harshad16 @fridex @tumido this needs refinement

@fridex could you add the Pulp team?

[2021-03-29 15:58] goern opened #175 "add `triage` labels to org"
**Is your feature request related to a problem? Please describe.**
There is a set of handy labels, see https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/cnv-prod/labels_thoth-station.yaml#L353-L383

It might be good to use them within this org too.

**Describe the solution you'd like**
add the labels to operate-first label-sync .yaml

**Describe alternatives you've consi

[2021-03-29 18:08] #117 closed

[2021-03-29 18:11] TreeinRandomForest commented on #165
@tumido this would be great! we are testing pipelines with synthetic (artificially generated) data and having a public bucket would be very convenient while the bug gets fixed upstream

[2021-03-29 18:23] fridex commented on #176
CC @ipanova @fao89 @dralley

Feel free to add others you find relevant. As discussed in the meeting, we would like to deploy pulp with the pulp_python plugin.

[2021-03-29 18:30] fao89 commented on #176
adding @mikedep333 as he is the SME on https://github.com/pulp/pulp-operator

[2021-03-29 20:43] fao89 commented on #176
we currently provide 3 ways of installing pulp:
- https://github.com/pulp/pulp_installer
- https://github.com/pulp/pulp-oci-images
- https://github.com/pulp/pulp-operator

We have a brief explanation of them here:
https://pulpproject.org/installation-introduction/

[2021-03-30 08:45] tumido commented on #176
Ohh, long time no see, Pulp team! :slightly_smiling_face: How are you doing these days? :slightly_smiling_face: Welcome!

I think the `pulp-operator` serves our purpose the best. I think we'd like to be abstracted from the internals of Pulp as much as possible. If the experience of running an operator in active development in a prod-like environment would benefit the Pulp team, I see that as a plu

[2021-03-30 08:50] tumido commented on #174
Please use [General cluster-scoped resource request](https://github.com/operate-first/support/issues/new?assignees=&labels=onboarding&template=request_cluster_resources.md&title=) template next time :wink:

I'll try solving this as part of the Kubeflow redeploy/update for Service Mesh. Will keep you posted. Would you be available to test the deployment on a different cluster once I make it ready?

[2021-03-30 08:52] #833 closed, assigned to nobody

[2021-03-30 09:10] pacospace commented on #174
Sorry @tumido :/ I will for sure!!

Yes would be happy to help, we can try deploying one TF model :)

[2021-03-30 12:38] tumido opened #1027 "Bare Metal Hosts Registration error"
All hosts are reporting registration error. Apparently there's no cluster alert for this.

[code]

![image](https://user-images.githubusercontent.com/7453394/112989753-8a1fdb00-9165-11eb-92c3-776b85d61aa9.png)

[2021-03-30 12:55] tumido opened #1026 "Ceph on Zero cluster is not healthy"

[2021-03-30 13:13] larsks opened #829 "Replace failing /dev/sdb on os-sto-2"
The ceph errors in operate-first/support#1026 were the result of disk errors from `/dev/sdb` on host `os-sto-2`. I'd like to leave this issue open until we see another scrub failure: if it's for the same device we'll need to arrange for a replacement.

[2021-03-30 13:15] #1026 closed

[2021-03-30 13:49] #1027 closed, assigned to larsks, tumido, HumairAK, 4n4nd

[2021-03-30 14:03] #175 closed

[2021-03-30 14:47] naved001 commented on #137
@tumido
The bot somehow still requested a review on a new PR: https://github.com/operate-first/SRE/pull/233

[2021-03-30 14:49] tumido commented on #137
@naved001 seems I've forgotten one repo, sorry :smile: fixing it asap. :slightly_smiling_face:

[2021-03-30 14:59] Shreyanand commented on #165
@tumido Do we already have a public bucket or is there an ETA on this one?

[2021-03-30 15:04] tumido commented on #165
We don't have a public bucket per se, we have a bucket with credentials we don't care if they leak though. Something like `DH-PLAYPEN`. :slightly_smiling_face:

It's not documented yet, but it's available:

Bucket name: `opf-datacatalog`
Access Key: `v3FnruQ78kfeULDjejUB`
Secret Key: `kJiDiHXncLJOXbaL7Zeb5Ok+gkLt9sWIa1rWAJa0`
Endpoint:
- `s3.openshift-storage.svc:443` or `https://s3.openshift-stor

[2021-03-30 15:21] naved001 commented on #137
hey, no worries! Thanks @tumido!

[2021-03-30 15:59] #137 closed

[2021-03-30 16:50] rob-baron opened #177 "A project to automate onboarding"
### Questionnaire

1. TARGET CLUSTER: zero

2. TEAM NAME:  moc-acct-mgt

3. PROJECT NAMES:  moc-acct-mgt

4.  LIST OF USERS: knikolla@bu.edu, robbaron@bu.edu

5. **GPG Key** (OPTIONAL)

    GPG KEY FINGERPRINT:
    KEYSERVER:

---

If you don't want to wait for the maintainers to notice this issue, you can make the changes yourself by submitting a pull request against the configuration repository.

[2021-03-30 16:51] rob-baron commented on #177
This project requires permissions to create and modify and delete users/projects/quotas across the cluster.

[2021-03-30 16:53] rob-baron opened #178 "Is OpenShift's registry available to push images to?"
If not, can it be made available?

If yes, what is the address to push images to it?

[2021-03-30 17:47] durandom commented on #177
@rob-baron do you have a link to a codebase and/or description of what that project would be doing?

[2021-03-30 18:02] msdisme commented on #177
Perhaps it would be helpful if I gave some context.  For a variety of reasons, the MOC (and eventually the NERC) have requirements for onboarding.  Some of these include:

- Tracking users and usage against funding mechanisms (something we currently do poorly) and across multiple services like ceph, openshift, openstack etc. which keep their information in different ways.
- Ability to scale the pr

[2021-03-30 18:16] Shreyanand opened #179 "Error connecting to s3 from kfp"
**Describe the bug**
We see an error connecting to s3 from kfp.

**To Reproduce**
Steps to reproduce the behavior:
1. Get https://github.com/Shreyanand/ocp-ci-analysis/tree/master/notebooks/data-sources/TestGrid/Elyra_test in your env
2. Open the https://github.com/Shreyanand/ocp-ci-analysis/blob/master/notebooks/data-sources/TestGrid/Elyra_test/test_public_bucket.pipeline to check the pipeline
3.

[2021-03-30 18:17] Shreyanand commented on #179
cc @MichaelClifford @oindrillac @pacospace @4n4nd @tumido

[2021-03-30 18:25] durandom commented on #177
@rob-baron @msdisme thanks for the context.

All three bullet points are useful for all op1st environments as well.

1. Can we break it into smaller chunks, like starting with user- and resource tracking?
2. Is there a public codebase already

[2021-03-30 18:33] 4n4nd commented on #179
@Shreyanand Can you try changing the bucket endpoint to `https://s3-openshift-storage.apps.zero.massopen.cloud:443`?

It looks like the pipeline is using port 80 and using `http`

[2021-03-30 18:38] durandom commented on #149
ACK.
@rbo is  https://examples.openshift.pub/ is also a webpage that you just want to host, or do you want to host those small examples? First I thought the latter, but if both NS just host webpages, let's do it :shipit:

@rbo do you want to go through creating the onboarding PRs or shall we (@tumido && @HumairAK :P)

[2021-03-30 19:00] msdisme commented on #177
@HumairAK That is a good point - I think we've continued thinking of this cluster as a staging cluster not internalizing that it is being used in a different way.    As part of the longer term discussion about onboarding/offboarding I mention above I think the tracking in gitops is going to be a really cool requirement to add to the work around onboarding/offboarding and connecting to the systems

[2021-03-30 20:33] MichaelClifford commented on #179
@4n4nd I got a similar error using a different set of notebooks but same op1st bucket. I also changed the endpoint like you suggested above, but still get the following slightly different error:

![image](https://user-images.githubusercontent.com/4494906/113052789-8bf19a80-9175-11eb-8655-d959cd35a8a3.png)

[2021-03-30 21:34] 4n4nd opened #181 "Kibana in yellow state"
**Describe the bug**
https://kibana-openshift-logging.apps.zero.massopen.cloud/app/kibana is in yellow state and non functional.

I think this is because of the recent power outage.

[2021-03-31 09:03] tumido commented on #178
I don't we want users to be pushing to the internal image registry directly. You can import images via `ImageStream`s or reference them remotely and kubernetes will pull them in. We advise to use quay.io for hosting your images.

Or do you want us to maintain a private image registry via Registry Operator?
https://docs.openshift.com/container-platform/4.7/registry/configuring-registry-operator.htm

[2021-03-31 09:16] rbo commented on #149
Feel free to create the PRs, I will take a look over the PR's to learn :-)

[2021-03-31 09:30] tumido commented on #177
@rob-baron @msdisme first of all, welcome! I hope we can find a way to collaborate on this and join our efforts.

Question: How does this onboarding request differs from https://github.com/operate-first/support/issues/169 and @rob-baron's `reporting-5` namespace? Based on what Rob has told me yesterday this should be the same project, is that correct assumption?

[2021-03-31 11:12] larsks commented on #178
@tumido what's the objection to having user''s push directly to the internal image registry?

[2021-03-31 11:36] tumido commented on #178
@larsks Maybe I put it wrong, sorry :smile: ... My objections was that the internal registry is not accessible directly per-se in OCP4. Only via Registry Operator:

https://docs.openshift.com/container-platform/4.7/registry/securing-exposing-registry.html

And since this configuration is not automated for baremetal installs, we would need to configure it manually.
https://docs.openshift.com/contai

[2021-03-31 11:41] tumido opened #182 "I want to be able to use OperateFirst for cloud native development via Eclipse Che (CodeReady Workspaces)"
### Requested actions

#### Operator request

If you want to request an operator, please provide the following:

1. **Name of the Operator**: RedHat CodeReady Workspaces

2. **Operator version**: 2.7

3. **Operator scope**: Single namespace `openshift-workspaces`, later on, the project strategies are configurable (see https://access.redhat.com/documentation/en-us/red_hat_codeready_workspaces/2.7/h

[2021-03-31 11:48] tumido opened #1025 "Improve service reliability via automated tests against the live Operate First environment"

[2021-03-31 12:56] tumido commented on #177
Also, @larsks or anybody, can we get some more insight how this project relates to the Curator project and the Curator cluster we've recently deployed via our ACM?

[2021-03-31 13:19] #839 closed

[2021-03-31 14:11] rob-baron commented on #177
@tumido

This project is part of our automation for our onboarding process.  We currently have a couple of large classes of students use the MOC ever semester, as well as professors with an ever changing list of students.  As we are 4 people, we cannot afford to spend days with everyone who needs access with potentially multiple services (1 OpenStack cluster, 1-3 OpenShift clusters, ... ). We have

[2021-03-31 15:13] durandom commented on #177
I think this is applicable to the Operate First environment as well and we should use our env to prototype it.
Do you have more written documentation on the requirements for this?

[2021-03-31 15:26] 4n4nd commented on #179
@oindrillac no updates yet :(
Do you know if the issue persists with other buckets as well?

[2021-03-31 15:32] oindrillac commented on #179
@4n4nd we tried this on a [public bucket ](https://github.com/operate-first/support/issues/165#issuecomment-810337239)as the kfp pipelines [was exposing bucket creds](https://github.com/operate-first/support/issues/155). We did not see this error with the [previous bucket](https://github.com/aicoe-aiops/ocp-ci-analysis/issues/162#issuecomment-799707059). Is there another public bucket we can try t

[2021-03-31 15:34] 4n4nd commented on #179
I can make a temp public bucket that we can use for testing

[2021-03-31 16:51] xtuchyna opened #183 "Setup credentials in Hue to access private bucket"
**Description**
Hello, I would like to access private bucket within Hue, so that I can connect to it and create tables out of data that is stored on that bucket.

Where can I find instructions to do that? Seems like currently this cannot be set within the UI, maybe there's some issue?

**Additional context**
The `Actions` option is grayed out and cannot be used
![image](https://user-images.githubu

[2021-03-31 16:58] oindrillac commented on #179
Tried it with the temp bucket, and the [job](http://istio-ingressgateway-istio-system.apps.zero.massopen.cloud/pipeline/#/experiments/details/efafd236-b9d3-4701-baf4-c32c4cc02b8f) did not seem to run because of resource limitations

![image](https://user-images.githubusercontent.com/32435206/113181996-653c6e00-9220-11eb-9321-b011f75cdfbd.png)

Upon reducing the resource reqs and allocating low cpu

[2021-03-31 17:06] xtuchyna opened #184 "Superset - cannot create new Tables - blank page"
**Describe the bug**
Currently there is no action available for `Tables` section on Superset - just a blank page with no records showing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://superset-opf-superset.apps.zero.massopen.cloud/
2. Go to Sources -> Tables
3. See unavailable option to create new table

**Screenshots**
![image](https://user-images.githubusercontent.com/466324

[2021-03-31 17:37] msdisme commented on #177
The current project was to get us to parity for an google forms based solution for  openstack and some extensions for OpenShift and quota management (goal is to make things as self service as we can.)   My expectation is that the NERC will have a fair bit of additional requirements as will Operate first which may lead to a rethink of the original work.  We had been using Taiga to capture requireme

[2021-03-31 18:35] #149 closed

[2021-03-31 18:52] fridex commented on #171
As I don't know 3scale, I'll post also our requirements for API management to see if 3scale fits or if we need to find any other product that would serve our purposes well:

* throttle requests from the same IP address - not to allow users post/get requests in a loop making the service not available/high on load
  * this can be also accomplished using a token (e.g. as github throttles unauthentica

[2021-03-31 18:54] dankenigsberg opened #185 "Attach sources to OpenShift Virtualization templates"
**Describe the bug**
Creating a VM in OpenShift Virtualization becomes very easy once the cluster admin attaches sources

https://console-openshift-console.apps.zero.massopen.cloud/k8s/virtualization/~new-from-template?namespace=cnv-testing

Would you please do so for Fedora and possibly RHEL8?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://console-openshift-console.apps.zero.

[2021-03-31 19:11] HumairAK opened #828 "Runbook for diagnosing ceph/storage issues"

[2021-04-01 09:40] tumido commented on #183
That is currently not possible. Hue allows to use only a single set of S3 credentials per user group. Since we don't have SSO enabled yet on Hue, there's no more than a single user available

https://docs.cloudera.com/documentation/enterprise/5-14-x/topics/hue_use_s3_enable.html

If you don't need the S3 file browser in Hue and once #131 is resolved, you can use whatever credentials you want for t

[2021-04-01 09:40] tumido commented on #183
/kind bug

[2021-04-01 09:41] tumido commented on #184
/kind bug

[2021-04-01 09:42] tumido commented on #184
Superset is not properly connected to Hive. We will probably need a separate Hive cluster actually. So far we've been using the "demo" one packaged with data catalog...

[2021-04-01 09:48] tumido commented on #185
/kind feature

[2021-04-01 14:07] Shreyanand opened #186 "PVC 4g to 16g"
### Questionnaire

1. **User details**:
  shanand@redhat.com

2. **Desired resource change**:
My PVC resource is 4g and is about to give up. I'd like to upgrade to 16g.

[2021-04-01 14:23] #186 closed

[2021-04-01 15:54] 4n4nd commented on #179
I was able to run the pipeline using the internal endpoint `http://s3.openshift-storage.svc/`
Another issue was that different endpoints are being used in different parts of the pipeline.

[2021-04-01 16:16] durandom opened #187 "SLI / Status Email"
The Thoth project sends out nice summaries of SLIs and uptime reports, courtesy @pacospace

1. Do we have similar metrics available in Prometheus/Grafana Dashboards
2. Can we re-use the Thoth workflows to produce such an email and send it to the op1st users mailing list?

![image](https://user-images.githubusercontent.com/161888/113323387-30aade00-9316-11eb-8dbe-26dc7e6e9668.png)

[2021-04-01 18:08] oindrillac commented on #179
We were able to get the pipeline working with the updated endpoint.
This is a part of our efforts in https://github.com/aicoe-aiops/ocp-ci-analysis/issues/124

[2021-04-01 18:08] #179 closed

[2021-04-01 19:43] mikedep333 commented on #176
Hi @tumido,

We would love for you to do that.

What internals do you see as important / remaining to be abstracted away?

[2021-04-01 20:01] 4n4nd commented on #176
Hey @mikedep333, we do have one other operator (https://github.com/observatorium/operator) deployed which is in active development. We have set up the crds/clusterroles/bindings in a central location [here](https://github.com/operate-first/apps/tree/master/cluster-scope/base) and other required resources in a separate directory like [here](https://github.com/operate-first/apps/tree/master/observat

[2021-04-02 06:18] tloubrieu-jpl opened #188 "sdap namespace access"
**Description**

Hello, I am accessing the operate first cluster for the first time after our sdap namspace is set up (see ticket https://github.com/operate-first/support/issues/167)

But I don't see a project related to that and I cannot create a project. I can not open a terminal either (forbidden).

My login is loubrieu@jpl.caltech.edu

I was expecting to find a project I can use but maybe I am

[2021-04-02 14:56] jappavoo opened #189 "Adding support for Jupyter{Book} integration"
As requested moving this from Slack to an issue.

To enable a Jupyter{book} to point to operate first JupyterHub resources requires the following support as per their documentation (https://jupyterbook.org/interactive/launchbuttons.html).

Adding this support would allow Operate First users to both author and use interactive textbooks in the form of Jupyter{Book}s.  These books incorporate both st

[2021-04-02 17:05] 4n4nd commented on #189
@harshad16 I think this is something we could add in the thoth base images so it is available for all images that are built from that

[2021-04-02 19:05] phpHavok opened #190 "Request onboard to the OF Zero cluster to deploy hpc-workload-generator"
## Questionnaire

1. **Project description**:

The project I will deploy is called hpc-workload-generator. Its purpose is to allow users to generate arbitrarily specified usage patterns (such as CPU load and RAM usage at specific time intervals) in order to mimic what an HPC job *might* do. The system should be sending Prometheus node_exporter metrics so that a monitoring expert can verify the the

[2021-04-02 20:08] phpHavok commented on #190
Make edits to the "users needing access" section. I didn't realize MOC SSO was a sign-on option, but will use that.

[2021-04-02 20:42] durandom commented on #188
cc @4n4nd
could it be that https://github.com/operate-first/apps/pull/447 is not applied to the zero cluster?

https://github.com/operate-first/apps/blob/master/cluster-scope/overlays/moc/zero/kustomization.yaml

[2021-04-02 21:02] eletonia commented on #41
Hi @tumido @HumairAK
Is there a new ArgoCD instance for the new MOC Zero cluster?

[2021-04-03 17:36] 4n4nd commented on #190
Awesome! Thanks for the issue, I'll create the onboarding PR as soon as I come back to work.

[2021-04-03 17:38] 4n4nd commented on #188
@durandom I forgot to create an [argocd app](https://github.com/operate-first/argocd-apps/tree/main/envs/moc/zero) for this project. That's why the manifests were not applied

[2021-04-05 12:34] jappavoo commented on #189
Is there anything else I can do to help?  Also if I would like to have a custom binary is there a process for requesting the creation of a new image?

[2021-04-05 13:40] harshad16 commented on #189
This seems like a good inclusion to be made.
we can start with a featured image, try it out if it liked then we can move that into the base image.

surely you can help us with the checking of this feature if you have already used it.

we don't have a proper process for requesting new images. everyone can open a request like this.
The operate-first was more dedicated towards the developers, and the

[2021-04-05 13:47] 4n4nd commented on #189
Thanks @harshad16 :+1:

This sounds like a good idea

[2021-04-05 14:46] 4n4nd commented on #188
@durandom we did not need a argocd app for this, the manifests were not added to their respective kustomizations. I have created a PR for the fix https://github.com/operate-first/apps/pull/475

[2021-04-05 15:02] harshad16 commented on #189
once the pr https://github.com/operate-first/apps/pull/476 is merged.
there would be `jupyter-book` image in the jupyterhub
if you can verify that image for us we can install this to the base image , so it available all the images.

[2021-04-05 15:34] accorvin commented on #119
FYI we are working on the pull request for this here: https://github.com/opendatahub-io/odh-manifests/pull/373

[2021-04-05 18:00] 4n4nd commented on #190
@phpHavok I'll add a `uky-` prefix to the namespace name

[2021-04-05 18:05] #188 closed

[2021-04-05 23:34] HumairAK commented on #178
@tumido that's interesting, so I had a skim over the links you provided. The way I understand it, the suggestion to expose the internal registry via a route requires us to update the `configs.imageregistry.operator.openshift.io` resource, but because `managementState` is set to `Unmanaged` -- these changes would not be picked up. Is that right?

If so -- what would it take for us to have it set to

[2021-04-05 23:36] HumairAK commented on #181
I can take a look when I'm back this Wed, if no one else gets a chance to.

[2021-04-06 00:07] HumairAK commented on #187
Hrm the metrics above don't seem analogous to devops / SRE procedures. I would think we would want to take more from how IDH does their uptime reporting (potential for some downstream collaboration here?). Maybe we should look to do something similar? We have some uptime metrics already (@hemajv  has created these).

What would be also interesting is if we can also throw in number of users and pro

[2021-04-06 00:13] anishasthana commented on #187
We definitely had a similar report internally a while back. I'm happy to dig up the code and share those if you'd like. We have plans to do something similar again in the future with Argo. We've almost finished polishing up our jupyterhub SLO's, so that would actually be a nice place to start. i.e how are we actually performing vs our targets.

Usage numbers are harder to determine. With things li

[2021-04-06 00:18] HumairAK commented on #187
Hrm maybe we can identify some common elements, both teams would like to report on, and collaborate on this. Are there any links/docs you can forward us?

[2021-04-06 00:33] anishasthana commented on #187
https://gitlab.cee.redhat.com/data-hub/dh-monitoring/-/tree/master/availability-metrics-job contains the job we had previously been running. As for SLOs, those actually already exist in your docs :-)

[2021-04-06 09:47] tumido commented on #178
@HumairAK no idea, :shrug:

The docs don't mention `Unmanaged` state to naturally occur on bare metal install. It talks about `Removed` state all the time and changing it to `Managed`.

I'm unsure, it would need further investigation into this topic. In the worst case we would need to manage it manually... I also don't think we want to experiment with image registry on a live system without proper

[2021-04-06 12:05] tumido commented on #41
Hey @eletonia, yes!

ArgoCD was migrated to Infra cluster to offer more stable and multicluster environment. This ArgoCD is the same as the one before on CNV, however it now manages 3 different clusters, including Zero cluster. It can be accessed via:

https://argocd.operate-first.cloud/

[2021-04-06 12:10] tumido commented on #119
@accorvin @rimolive if you want it deployed even before it's merged into ODH, we can create a namespace for it and deploy a kfdef against your PR branch. WDYT?

[2021-04-06 12:19] tumido commented on #181
Sold to @HumairAK for.. _free_

![](https://media.giphy.com/media/QW3z72R8ALbqifnOHq/giphy.gif)

[2021-04-06 12:20] accorvin commented on #119
That would be great @tumido

I'm actually blocked right now on not having access to my development environment to test my changes (due to the PSi outage). Can I use the MOC for this?

[2021-04-06 13:03] tumido commented on #119
@accorvin sure, let me create a namespace for you and add you to the operate-frist user group so you can manage that namespace. https://github.com/operate-first/apps/pull/479

Let me know if you can create a kfdef for Trino in that namespace once the PR is merged, I'm worried that will be blocked (if I remember correctly) since we recently limited users from creating kfdefs due to security reasons

[2021-04-06 13:08] accorvin commented on #119
Thanks @tumido! For now I'll just be manually applying the kustomize objects. Once I have Trino functional we can test it via the kfdef.

[2021-04-06 13:48] #190 closed

[2021-04-06 13:51] 4n4nd commented on #190
@phpHavok you should now have access to the namespace `uky-hpc-workload-generator` on the zero cluster. You can login [here](https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/uky-hpc-workload-generator).

[2021-04-06 14:25] larsks opened #827 "Replace ACM ingress certificate"
We would like ACM at https://multicloud-console.apps.moc-infra.massopen.cloud/ to have a signed certificate trusted by major browsers. There are instructions for replacing the certificate [here](https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.2/html/security/security#replacing-the-management-ingress-certificates).

[2021-04-06 14:56] phpHavok commented on #190
@4n4nd Thanks very much! I logged in successfully but have a permissions error. It looks like my institution picks my alias email when I sign in through CI Logon (I wasn't aware of this until now):

[code]

Could you grant access to jacob.chappell@uky.edu ? Thanks so much!

[2021-04-06 15:07] tumido opened #191 "Add user to uky-redhat group"
@4n4nd Thanks very much! I logged in successfully but have a permissions error. It looks like my institution picks my alias email when I sign in through CI Logon (I wasn't aware of this until now):

[code]

Could you grant access to jacob.chappell@uky.edu ? Thanks so much!

_Originally posted by @phpHavok in https://github.com/operate-first/support/issues/190#issuecomment-814188314_

[2021-04-06 15:09] tumido commented on #190
@phpHavok I've replaced the username in the user group here: https://github.com/operate-first/apps/pull/480

Once merged it should work.

[2021-04-06 15:15] tumido commented on #119
@accorvin the namespace `opf-trino` is available for you on the zero cluster now.

[2021-04-06 15:16] tumido commented on #134
The GChat channel was renamed to `[DEPRECATED] Operate First Ops - Use operatefirst.slack.com` and I've posted a message with invite to our Slack in there. I think we can put this ticket to sleep again. :slightly_smiling_face:

[2021-04-06 15:16] #134 closed

[2021-04-06 15:24] #191 closed

[2021-04-06 16:37] eletonia commented on #41
Thanks @tumido
I tried to create an ArgoCD application in the new ArgoCD instance with this spec:
[code]
  But I am getting this error:
  `Unable to create application: application spec is invalid: InvalidSpecError: application destination {https://kubernetes.default.svc mesh-for-data} is not permitted in project 'mesh-for-data'`

  Is there another Cluster URL I should provide?

[2021-04-06 16:45] tumido commented on #41
Hey @eletonia! Yup, that's precisely it. The manifest should specify the name instead:

[code]

[2021-04-06 17:35] tumido commented on #176
@mikedep333

I don't think there's anything remaining to be abstracted away in the case of the operator. That's why I prefer it as the solution here. :slightly_smiling_face: I think we may get an idea on what might be improved once we start using it. Right now my comment was directed mostly to comparison of the 3 methods @fao89 outlined above - the operator is abstracting away tons of complexity c

[2021-04-06 17:37] eletonia opened #192 "Cluster-scoped resources request for MOC Zero cluster"
### Requested actions

We would like the following cluster-scoped resources for Fybrik deployed on the MOC Zero cluster.
@roee88 @ronenkat

#### Resource request

Requesting these resources to be deployed:

- [CRDs](https://github.com/fybrik/fybrik/tree/master/charts/fybrik-crd/templates)
- Cluster Roles/Cluster Role Bindings:
    - [manager-auth-proxy-cr](https://github.com/fybrik/fybrik/blob/mas

[2021-04-07 11:03] durandom commented on #187
Yes to all of the above. Let's start simple though:

Let's get those into an email report. That's our MVP.
Is it those?
https://grafana-route-opf-monitoring.apps.zero.massopen.cloud/d/r7WqgaBMk/operatefirst-availability

@pacospace what do we need to get those converted into percentage over time and into an email report?

[2021-04-07 11:40] durandom commented on #177
@msdisme @knikolla any updates on the requirements and how we could join forces on automating onboarding?

[2021-04-07 12:17] pacospace commented on #187
If you plan to reuse thoth workflow [1]:

- [ ] create a class for metrics specific to Operate First, we can reuse the template for User-API availability.

we consider avg_over_time(up[INTERVAL]) for User API instance.

where:
- INTERVAL can be configured to what you need, ~1, 7, 30 days. (depends on how much Thanos keeps data)

- [ ] add env variable to distinguish between Operate First and Thoth

[2021-04-07 12:36] isabelizimm commented on #172
Hello!! I seem to have hit my limit again... am I able to request upgrade to 16Gi?

[2021-04-07 13:55] HumairAK opened #826 "Create Cluster Compute Resource Grafana Dashboard"
For CPU organized by namespace.

[2021-04-07 14:02] #832 closed

[2021-04-07 14:21] HumairAK commented on #192
context: https://github.com/operate-first/support/issues/41

[2021-04-07 15:53] HumairAK commented on #192
@eletonia some of these charts are relatively heavily templated, can you tell us the helm commands to tempalte these, and which values files to use? even better if you can just direct us to the raw rendered yaml you would like for us to deploy.

[2021-04-07 18:06] #172 closed

[2021-04-07 18:08] HumairAK commented on #172
@isabelizimm the pvc was increased to 16Gi

[2021-04-07 20:24] HumairAK commented on #181
I had to wipe the `.kibana` indices again, same issue as described [here](https://github.com/operate-first/SRE/issues/98#issuecomment-788998681). Kibana is back up.

[2021-04-07 20:24] #181 closed

[2021-04-07 20:26] HumairAK opened #825 "Add kibana runbook step for wiping kibana indices when index migration fails."

[2021-04-07 20:36] #908 closed

[2021-04-08 11:31] tumido opened #194 "Lab CICD group is not populated"
**Describe the bug**
@acidonper is unable to access Argo CD and his projects since the `lab-cicd` group is not being populated

[2021-04-08 11:51] tumido commented on #172
@isabelizimm I think you want to cleanup your pipenv cache. It's consuming 8Gi of your storage now. Just remove it :wink:

[code]

If you want, you can delete the whole `.cache` directory, nothing bad is gonna happen.

[2021-04-08 11:52] tumido opened #1024 "Runbook links to features - 404"
After reorganizing the feature files for user stories the links in runbooks no longer works.

[2021-04-08 12:25] #194 closed

[2021-04-08 13:32] pacospace commented on #146
The Issue was solved upstream, we are waiting for a new release of s2i-lab-elyra, cc @vpavlin @harshad16

[2021-04-08 13:48] fao89 commented on #176
@tumido I'm a noob on k8s world, I never worked with ArgoCD. I have a "CI knowledge" of pulp-operator, meaning I only used pulp-operator on these cases: https://github.com/pulp/pulp-operator/actions/runs/728145612
But I see a great opportunity for us to improve our docs: https://pulp-operator.readthedocs.io/en/latest/
Let me know how can I help or at least what you are missing from the docs

[2021-04-08 14:00] hemajv commented on #187
yes, these are the basic uptime metrics we have for the opf apps/services. I can try following the steps @pacospace mentioned to replicate the thoth workflow

[2021-04-08 14:19] #1024 closed

[2021-04-08 14:19] HumairAK opened #824 "[INCIDENT][MOC/ZERO] - Pods scheduled on not-ready node os-wrk-1 stuck in terminating state"
Hello Operate First users,

We are investigating an ongoing incident affecting JupyterHub on MOC-ZERO cluster. Currently only Jupyterhub is known to be affected, but the issue may extend to other namespaces.

We have various pods in [JH namespace](https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/opf-jupyterhub/pods) stuck in a terminating state. These pods are scheduled on os-wrk-

[2021-04-08 15:19] HumairAK commented on #124
So a few steps we intend to take to clarify the distinctions:

- https://github.com/operate-first/apps/issues/466#issuecomment-815057592
- https://github.com/operate-first/blueprint/issues/62#issuecomment-814919133

[2021-04-08 15:31] durandom commented on #189
cc @TreeinRandomForest

[2021-04-08 18:17] #824 closed

[2021-04-08 20:49] #840 closed

[2021-04-08 21:00] jappavoo commented on #189
Thanks everyone.  I was able to verify that the JupyterBook functionality worked with respect to being able to point my book at the operate first JupyterHub image and it automatically cloned the book repo and ran the notebooks.    Now I just have to work on creating an image that has my custom binaries and kernels.  Thanks again!

[2021-04-09 09:20] tumido opened #196 "Tune CPU reservation on thoth-backend-prod"
**Describe the bug**
`thoth-backend-prod` jumped up and is currently requesting and reserving for itself more than half of the cluster CPU capacity.

currently `thoth-backend-prod` is requesting 171 CPU cores, it actually uses nearly 0 with occasional spikes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [grafana query here](https://grafana-route-opf-monitoring.apps.zero.massopen.clo

[2021-04-09 09:20] tumido commented on #196
/kind bug

[2021-04-09 13:46] Shreyanand commented on #145
issue on upstream: https://github.com/elyra-ai/elyra/issues/1498

[2021-04-09 13:48] harshad16 commented on #196
ack, we can have a set quota defined for all the thoth created namespaces.

out of curiosity, we have one time executable workflows running in the `thoth-backend-prod` namespace , i.e, when we have user request a single task start, completes and closes. Technically it would leave the resources which it requested once the pod is complete.
It is blocking 171 cpu cores, or was it the highest number o

[2021-04-09 13:56] tumido commented on #196
According to the metrics, it's blocking those CPUs. It seems to be due to CPU request on pods/deployments again. Sure, you can select quotas for your project since today. We've finalized the documentation, please coordinate that with @HumairAK

[2021-04-09 13:58] harshad16 commented on #189
This might help with the creation of that image https://www.operate-first.cloud/users/data-science-workflows/docs/create_and_deploy_jh_image.md

**locally**
you can use this image for the base image `quay.io/thoth-station/s2i-custom-py38-notebook:latest` and details about it: https://github.com/AICoE/s2i-custom-notebook.
all one has to do is put there work in this format https://github.com/aicoe-a

[2021-04-09 14:21] HumairAK commented on #89
We now have automation that will create a PR updating all kf-defs after a tag-release in odh-manifests.
- odh-manifests tags new release
- automation triggered, updates all kfdefs in Operate-First to latest release, creates PR
- manual review of pr/merge (only manual step, and we'll keep it this way for a while I think)
- argocd auto deploys changes to live system.

[2021-04-09 14:21] #89 closed

[2021-04-09 15:50] pacospace commented on #174
cc @moficodes

[2021-04-09 16:38] paoloantinori opened #197 "Feedback on onboarding_to_argocd.md"
**Describe the bug**
I'm following the guide step by step and I've found some ambiguity.

Adding my whole list of feedback here:

1. Under the `Prerequisites` sections you can find this sentence: `Please fork/clone the operate-first/apps repository. During this whole setup, we’ll be working within this repository.` This is quite confusing since most of the page requires to operate on a different r

[2021-04-09 16:56] HumairAK commented on #197
Thanks for the feedback @paoloantinori -- all great points, I'll update the onboarding instructions as per the suggestions.

Project names and team names are a 1:1 mapping (with the exception of `cluster-management` and workshop projects), but I understand the confusion and will try to clear that up as well.

 This portion is outdated, good catch. This will need to be updated, I think it would be

[2021-04-09 18:04] HumairAK commented on #197
Project template also needs to have a label pointing to the global project template.

[2021-04-09 18:12] HumairAK opened #823 "[INCIDENT][MOC-ZERO/ODH-KAFKA] - Kafka pods crashing"
Hello Operate First users,

We are investigating an ongoing incident affecting ODH Kafka on MOC-ZERO cluster.

Impacted users: All ODH Kafka users on the MOC Zero clsuter

We will provide updates to this issue thread as the incident progresses.

[2021-04-09 19:43] yaarith opened #198 "User support: S3 Storage request for Ceph drive telemetry"
### Questionnaire

1. **User details**:
   _Your MOC user name and which applications deployed by our team you're planning to use the bucket at:_
   yaarit@redhat.com
   JuyterHub, because the Ceph telemetry dataset uploaded here will be consumed by a jupyter notebook.

2. **Desired bucket name**:
   _Due to technical limitation we can't promise you a bucket name, instead we will use your preferre

[2021-04-09 20:06] HumairAK commented on #198
@yaarith -- will you be planning to access this bucket externally as well?

[2021-04-09 21:26] yaarith commented on #198
@HumairAK yes

[2021-04-09 21:27] chauhankaranraj commented on #198
@HumairAK the goal here is to open source the usage data that the ceph team has been collecting, similar to how Backblaze [publishes its hard disk data every quarter](https://www.backblaze.com/b2/hard-drive-test-data.html#downloading-the-raw-hard-drive-test-data). So I believe yes, this data should be publicly accessible.

If this is not the right place to store such data, then please let us know

[2021-04-11 11:13] goern opened #199 "Deploy Cert Manager"
**Is your feature request related to a problem? Please describe.**
As a User/Application Owner
I want my TLS routes to be auto-mantained
so that letsencrypt certs get renews automatically

**Describe the solution you'd like**
tbd

**Describe alternatives you've considered**
n/a

**Additional context**
This will reduce manual work. I think there is operators for this...

/kind feature
/sig user-exp

[2021-04-11 19:45] #823 closed

[2021-04-12 11:42] tumido commented on #199
We're planning on bringing cert-manager back once we have upgraded Kubeflow. Cert-manager will be installed via operator and available to be used by the users.

https://www.redhat.com/sysadmin/cert-manager-operator-openshift

[2021-04-12 11:45] tumido commented on #197
/kind documentation
/sig user-experience

[2021-04-12 12:21] durandom commented on #187
@hemajv can you add graphs over time to that dashboard? So that, if we zoom in and out via grafana, we see

* `avg_over_time(up[INTERVAL])` as a percentage
* `up` as a line (0/1) to see outages

[2021-04-12 13:24] HumairAK commented on #197
Also: https://github.com/operate-first/apps/pull/506#issuecomment-817101846

[2021-04-12 14:00] tumido commented on #198
@chauhankaranraj The in-cluster S3-compatible storage (Rook/Ceph/Nooba aka OpenShift Container Storage) is not intended as a persistent resilient rock solid storage facility. If the cluster goes down, the data will be lost. This is intended more as an operational storage for faster access to data which are being worked with.

Currently OCS doesn't support multiple set of credentials per bucket nei

[2021-04-12 15:15] chauhankaranraj commented on #198
Makes sense, thanks for the clarification!

 Yes, I believe that's pretty much what we want in this case (@yaarith, pls correct me if I'm wrong). I'll request storage there instead :)

[2021-04-12 15:36] msdisme commented on #177
We are working to embed Kristi with the NERC team to understand their requirements.    If that is not possible in the next sprint (starting Wednesday) than we should explore having him work with operate first first (I wanted to say that!).  I hope to have more details later today.

---
Michael Daitzman (He/Him)
***@***.***
cell:978-201-9965

From: Marcel Hild ***@***.***>
Date: Wednesday, April 7,

[2021-04-12 16:07] HumairAK opened #822 "[SPIKE] Buildling off of SRE-P practices"
There's a few areas we can improve our practices, and/or learn from SRE-P's experience and procedures. After our meeting we identified a few areas of interest:

- Consuming SRE-P's alertmanager config secret (it's auto generated from [here](https://github.com/openshift/configure-alertmanager-operator/blob/master/pkg/controller/secret/secret_controller.go), we will need to get a raw yaml dump from

[2021-04-12 18:25] HumairAK commented on #198
great, once @yaarith confirms, I'll close the other pr.

[2021-04-12 18:51] yaarith commented on #198
Yes, we need persistent storage in our case; will use open-infrastructure-labs/ops-issues#33 instead.
Thanks everyone!

[2021-04-12 18:52] phpHavok opened #201 "Request to use hostPath volumes on OF Zero cluster"
**Cluster**: OF Zero
**Team**: uky-redhat
**Project**: uky-hpc-workload-generator

**Description**

I have a unique application where I need to access the full /sys/fs/cgroup hierarchy (read-only is fine) from within a Docker container. Docker does usually expose /sys/fs/cgroup inside the container, but its usually a more trimmed down tree (not the full cgroup hierarchy which includes the cgroup t

[2021-04-12 19:05] 4n4nd commented on #201
@larsks might have more expertise in this area

[2021-04-12 20:17] ptitzler opened #202 "request access to a namespace"
## Questionnaire

1. **Project description**:

   PROJECT DESCRIPTION: I would like to complete the "Elyra AIDevSecOps Tutorial"  -> https://github.com/thoth-station/elyra-aidevsecops-tutorial/blob/master/docs/source/pre-requisite.md#operate-first-namespace-for-deployment

2. **Target cluster**:

    TARGET CLUSTER: zero

3. **Team name**:

    TEAM NAME: codait-advo

4. **Desired project names**:

[2021-04-12 21:16] ptitzler commented on #155
An [enhancement that will address this issue](https://github.com/elyra-ai/elyra/pull/1529) should be available in the next release of Elyra.

TL;DR:
 - User creates a Kubernetes secret that contains the credentials
 - User references secret in runtime configuration
 - During pipeline execution the credentials are supplied to the pods executing the notebooks | scripts in an opaque way

[2021-04-12 21:31] ptitzler commented on #152
Is the intention here to create a generic KFP topic or one that'd cover common Elyra/pipelines issues? If it's for the latter - we've improved the relevant code in Elyra (in > v2.2.1) and should surface the relevant information in a more user-friendly way.

[2021-04-12 22:05] ptitzler commented on #145
We/Elyra have improved error handling, which should expose the relevant information in the dialog. If you encounter error messages like the ones shown above using the _0.0.7 image_  let us know and we'll improve them. In many cases this cryptic JSON error is masking a runtime configuration issue, which is typically caused by invalid host/port/namespace/user values.

[2021-04-12 22:29] ptitzler commented on #162
For Elyra we keep a summary in this [discussion thread in the forum](https://github.com/elyra-ai/elyra/discussions/1556). The thread links to other documents that outline what the main features are and how to use them.

[2021-04-13 10:39] tumido commented on #201
Yup. By default the security policies around container runtime are quite strict in OpenShift. We will need to create a new SCC for you and grant you `hostpath` access:

https://docs.openshift.com/container-platform/4.7/authentication/managing-security-context-constraints.html

First I will need your help though. In order for us to make the SCC work for you properly we need to grant it to some user

[2021-04-13 11:08] tumido commented on #201
@phpHavok here's the PR https://github.com/operate-first/apps/pull/526

Once I fill in the service account name in here:

https://github.com/operate-first/apps/blob/14a39cbf802c16d4fb19e183b238cad183ba9842/cluster-scope/base/securitycontextconstraints/uky-hpc-workload-generator-hostpath/securitycontextconstraint.yaml#L14

and we merge it, you should be able to mount the `hostPath` if you execute t

[2021-04-13 11:10] tumido commented on #152
/assign @pacospace
/kind documentation
/sig user-experience

[2021-04-13 11:18] #202 closed

[2021-04-13 11:19] first-operator[bot] opened #203 "No images available in JupyterHub"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1617911536096600?thread_ts=1617911536.096600&cid=C01RMPVUUK1_

[2021-04-13 12:30] pacospace commented on #152
Thanks @ptitzler, we can check new version of Elyra then and see if that is enough. This issue was related-to: https://github.com/operate-first/support/issues/145.

But testing v0.0.7 once available, can be useful, maybe we don't need more docs.

[2021-04-13 12:35] pacospace commented on #152
To give more context actually, this issue was to have some docs on how to get into KFP UI and check what is happening in the pipeline and see if and why they failed, if errors are present.

This is because from ELyra UI there wasn't a pipelines status to check errors for specific steps. Not sure if that feature was introduced already and present in 2.2.1. But I think @ptitzler asnwered here: https

[2021-04-13 13:08] HumairAK opened #821 "[Operate-first-users] OpenShift Cluster upgrade, scheduled for Tuesday 2021-04-13"

[2021-04-13 14:16] ptitzler commented on #152
Thanks you!

We do expose errors that occur during _pipeline preparation and pipeline submission_ - these are the only tasks that are performed in JupyterLab and under our control. (Most issues we've seen in the past are related to runtime configuration problems that lead to connectivity failures. Unfortunately there is no "Test connectivity" button on the runtime configuration screen that can be

[2021-04-13 14:19] phpHavok commented on #201
@tumido This is great, thanks so much! I quickly created a Service Account to get going, but I'd like to go back and read all those articles in more detail later on.

[code]

[2021-04-13 14:28] tumido opened #204 "Deploy event eventrouter or something similar to sink kubernetes events into Loki"
**Is your feature request related to a problem? Please describe.**
For Telemetry WG we need to be able to pair logs and events and also store events long term

**Describe the solution you'd like**
Deploy events collector/forwarder and sink it into Loki

**Describe alternatives you've considered**
n/a

**Additional context**
https://github.com/heptiolabs/eventrouter
https://grafana.com/blog/2019/08

[2021-04-13 14:29] tumido commented on #204
/cc @4n4nd @durandom
/kind feature

[2021-04-13 14:29] 4n4nd commented on #203
The issue was, no images were available in the image selection list for JH spawner.
This was an issue for only one user, but the restarting the user's JH notebook server did not help.
Humair had to restart the Jupyterhub pod to rectify this issue

[2021-04-13 14:29] #203 closed

[2021-04-13 14:54] #821 closed

[2021-04-13 15:04] Gkrumbach07 commented on #126
Notebook image created:
Two new Kafka topics: https://github.com/operate-first/apps/pull/527
Adding notebook image to MOC: https://github.com/operate-first/apps/pull/528

Would this demo / use-case live somewhere on Operate First (https://www.operate-first.cloud/data-science/) or would it be best placed somewhere else?

[2021-04-13 15:21] HumairAK commented on #126
In general users keep their demos/application code in a separate git repository, and we house only privileged resource manifests (for deploying the app) in the operate-first org (e.g. cluster resources, some rbac, argocd manifests, etc.). Personally I would prefer to keep it that way.

@tumido @durandom

[2021-04-13 15:30] pacospace commented on #152
Thanks @ptitzler!

Then this issue can be focused on this part:

Then we can describe `debug KFP (or Airflow) pipeline using KFP/Airflow UI` for users, adding some screenshots and description of the UIs (e.g. pipelines, experiments )

[2021-04-13 16:17] hemajv commented on #187
We are also working on adding recording rules to aggregate all the `up` metrics: https://github.com/operate-first/SRE/issues/82
This will help in having an `overall_status` metric which aggregates the uptime metric of all opf applications

[2021-04-13 16:29] Gkrumbach07 commented on #126
@HumairAK I agree. My application code is sourced from my personal repositories and is deployed on a namespace in MOC. Any and all interactions are done through Kafka via this [Jupyter notebook](https://github.com/operate-first/apps/pull/527) image. And all Documentation and demo instruction will be sourced from the same [repo](https://github.com/Gkrumbach07/audio-decoder-demo) that has the Jupyte

[2021-04-13 16:38] #201 closed

[2021-04-13 17:14] tumido commented on #201
@phpHavok the SCC was added and deployed. You should be now able to create Pods with `/sys/fs/cgroup` mounts.

If there's any problem with it, please feel free to reopen this issue. :slightly_smiling_face:

[2021-04-13 17:44] HumairAK commented on #126
Maybe I misunderstood -- are we talking about keeping the application demo deployed on the MOC and linking to it via the website, like the section you linked? I think this is something we can (and probably should) do :)

[2021-04-13 18:34] hemajv opened #820 "Add ArgoCD alerts"

[2021-04-13 19:58] hemajv opened #819 "Setup blackbox exporter"

[2021-04-13 20:06] ptitzler opened #205 "Request for new bucket in namespace codait-advo"
### Questionnaire

1. **User details**:
   Your MOC user name and which applications deployed by our team you're planning to use the bucket at
   - namespace: `codait-advo` user name sent via DM in Slack
   - application: AIDevSecOps Tutorial demo application

2. **Desired bucket name**:
   Due to technical limitation we can't promise you a bucket name, instead we will use your preferred name as a

[2021-04-13 21:58] tloubrieu-jpl opened #206 "Deployment of a helm chart on operate first"
**Description**
I am trying to deploy a helm chart on operate first, project sdap.

I opened a terminal and run the following commands:
[code]
And I am getting the following error:
[code]

It work in our local environment.

Thanks for your help.

[2021-04-14 09:13] first-operator[bot] opened #207 "JupyterHub API in not fully accessible"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1618356831123600?thread_ts=1618356831.123600&cid=C01RMPVUUK1_

[2021-04-14 09:16] tumido commented on #207
So, based on my research I'm getting these results from OPF Jupyterhub:

[code]

Expected result: This API is accessible: https://petstore.swagger.io/?url=https://raw.githubusercontent.com/jupyter/notebook/master/notebook/services/api/api.yaml

[2021-04-14 09:17] tumido commented on #207
/kind bug

[2021-04-14 09:38] pacospace opened #208 "How to roll my own ODH deployment and work on Elyra Pipelines?"
**Is your feature request related to a problem? Please describe.**
As user interested in ODH and Elyra,

I would like to read the documentation on how to roll out my own ODH deployment with some basic functionalities and read some basic tutorials about using Jupyterlab/Elyra and creating pipelines.

**Describe the solution you'd like**
A basic documentation and description specifically for:

- [ ]

[2021-04-14 09:43] goern commented on #208
/sig docs
/sig user-experience

[2021-04-14 09:51] pacospace commented on #148
@tumido  do we want this description under https://www.operate-first.cloud/users/support/ in Tab JupyterHub?

[2021-04-14 09:51] pacospace commented on #152
@tumido  do we want this description under https://www.operate-first.cloud/users/support/ in Tab Kubeflow?

[2021-04-14 10:10] tumido commented on #148
Actually, I think it would be ideal, if we can create an user story in here:
https://github.com/operate-first/blueprint/tree/main/docs/userstories/jupyterhub

and link to it from here:
https://github.com/operate-first/SRE/blob/master/runbooks/jupyterhub.md

We can than start thinking how to surface the runbooks on the website so the "resolutions" via user stories are available to all.

WDYT @Humai

[2021-04-14 12:23] jappavoo commented on #207
Just want to clarify that I will also be needing to make post requests to the api urls and will need to obtain a correct token.  Thanks for all your help.

[2021-04-14 12:25] 4n4nd commented on #207
The token should be available in your notebook server as an environment var

[2021-04-14 12:49] #924 closed

[2021-04-14 12:51] HumairAK commented on #33
Can be part of: https://github.com/operate-first/blueprint/issues/62#issuecomment-814919133

[2021-04-14 12:52] hemajv opened #818 "Update our JH dashboards to pull from upstream ODH"

[2021-04-14 13:35] HumairAK commented on #204
Let's first verify we aren't already getting this via CLO

[2021-04-14 14:00] HumairAK opened #817 "Update our Sprint planning session to incorporate Epics"
To summarize from our last sprint planning discussion, we identified some ways in which we can improve our sprint planning. Key takeaways:

- Incorporate milestones with time-frames that specify a concrete set of tasks (issues) and end goals/outcomes. The completion requirement for the milestone should be abundantly clear, with a reasonable time-frame set.

- A preliminary session for grooming the

[2021-04-14 14:34] tumido commented on #206
Hi @tloubrieu-jpl it seems to me this error is actually on your end. Let's check if you can render those templates first. Can you please try running:

[code]

Can you get the output?

Additional to that I can see that the chart you're trying to apply include custom resource definitions and cluster roles and using operators which are not deployed on the cluster. If you want to apply those resources

[2021-04-14 14:50] harshad16 commented on #173
The working is going on this front in here: https://github.com/CCI-MOC/ops-issues/issues/224

[2021-04-14 15:04] ptitzler commented on #208
For reference, this is what we currently have in the Elyra documentation: https://elyra.readthedocs.io/en/latest/recipes/deploying-elyra-with-opendatahub.html. Our goal is to completely eliminate the need for ODH deployment instructions in the Elyra documentation and link instead to the appropriate topic in the ODH documentation. If I had to redo this doc, it'd probably cover:
- install ODH operat

[2021-04-14 15:10] tumido commented on #208
I'm not sure how much does this fit under Operate First, but there's some kind of ready docs on ODH installation and so on:

- [Install ODH](https://opendatahub.io/docs/getting-started/quick-installation.html)
- [Deploy Kubeflow via ODH](https://opendatahub.io/docs/kubeflow/installation.html)
- [Adding custom images](https://opendatahub.io/docs/administration/installation-customization/add-custom-

[2021-04-14 16:26] tloubrieu-jpl commented on #206
Hi @tumido, thanks for you feedback.

The output of command

[code]

I think the error is supposed to be solved by the option ` --dependency-update` that I have in the helm install command, that is apparently what causes the error, like if i do:

[code]

That is how we usually deploy this chart. Can you give more details on how to add resources in the `cluster-scope` since I never did that manuall

[2021-04-14 16:39] tumido commented on #206
Hm, that is very weird, since I can't replicate that locally. From fresh clone, you're right though, the `--dependency-update` flag is required. Other than that I can render it just fine...

[code]

`helm template` should be a completely offline command. Even if I remove my `~/.kube` folder, I can run it just fine even against a fresh clone. Can you try this against a fresh repo clone as well?

Ca

[2021-04-14 16:48] tloubrieu-jpl commented on #206
I did the test this morning from a fresh repo since I don't have a persistent volume where to clone my repository. When I restart a terminal I am starting in /home/users which is empty.

I also have warnings that you don't have:
WARNING: Kubernetes configuration file is group-readable. This is insecure. Location: /home/user/.kube/config

Could that be related to the fact that I don't have a persis

[2021-04-14 16:51] HumairAK commented on #206
Hrmm a bit confused, can you explain what environment are you running this command? Is it a container? pod?

[2021-04-14 16:52] HumairAK commented on #206
Possibly related: https://github.com/helm/helm/issues/8776#issuecomment-742607909 ?

[2021-04-14 17:01] tloubrieu-jpl commented on #206
I am running the command from a terminal that I opened from the console ('>_' in the upper right menu).

When I click this option, it starts a pod actually and I am running the command from with the pod I guess... Is there a way to get a terminal window on the host ? Sorry obviously I am new to this environment ;)

[2021-04-14 17:34] HumairAK commented on #206
Ahh I understand now. I'm not really sure about using helm via the OCP CLI. But you can run the helm commands on your local machine. I'm not sure _exactly_ how `helm install` works, but you could also do something like

[code]

Anyways this should render just fine, but the `oc apply` will fail because as @tumido said there are some cluster resources included in this helm chart, and we do not allow

[2021-04-14 21:09] hemajv opened #816 "<test>"
<test>

[2021-04-15 13:51] HumairAK opened #815 "PersistentVolumeUsageCritical Runbook"
Let's create a runbook that shows the steps to resolve these errors for different apps.

Use these runbooks as a format reference: https://github.com/openshift/runbooks/tree/master/alerts

Related:
https://github.com/operate-first/alerts/issues/2870

[2021-04-15 14:04] MichaelClifford commented on #204
FYI, from the DS side of things we are also interested in long term storage and accessibility of cluster events : )
https://github.com/aicoe-aiops/operate-first-openshift-data/issues/15

[2021-04-15 15:02] Gkrumbach07 commented on #126
Yes, that is what I was thinking. There are a few questions I had in how this app demo would differ from the conventional. Ideally I would want each new user to get a fresh build of the demo to play with. This would better showcase the point of the demo (which is using cookies to manage user sessions)(you can watch my [demo](https://youtu.be/F_n90IBrSaM) if you want more context).

However, giving

[2021-04-15 15:55] HumairAK commented on #126
Hrm can you elaborate what it looks like for each user to get a fresh build?

You can do this yourself for your namespace by creating a rolebinding like:

[code]

Then create a role called `project-reader` with the resources you want them to be able to `get, list, watch` etc.

That shouldn't be an issue, as long as the Kafka topic retention is reasonably small (afaik yours is fine).

Going to yiel

[2021-04-15 16:15] 4n4nd commented on #126
I would say keeping using the internal route for now, but hopefully in the next week or two I will be able to create "readonly" certs and a couple of public topics accessible by anyone.

[2021-04-15 18:31] first-operator[bot] opened #814 "[JupyterHub] User encountering 500 error"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1618510238133600?thread_ts=1618510238.133600&cid=C01RMPVUUK1_

[2021-04-15 20:09] #816 closed

[2021-04-16 08:04] tumido commented on #126
@HumairAK @Gkrumbach07

...
Then create a role called project-reader with the resources you want them to be able to get, list, watch etc.

Let's keep it simple. This single line enables you to expose the namespace publicly for everybody with view/read access:

https://github.com/operate-first/apps/blob/e0597cc699094a922a72f480787e031d1cb312c0/cluster-scope/base/namespaces/lab-cicd-2-jump-app-cicd/

[2021-04-16 08:07] tumido commented on #204
@MichaelClifford that's why this issue was even created. Based on your questions we decided it's time to try to make you guys a bit happier. :smile:

[2021-04-16 15:18] #818 closed

[2021-04-16 15:24] goern opened #210 "[AICoE] The Varangian Project [tracker]"
### Requested actions

Please initiate the onboarding of https://github.com/AICoE/Varangian We want to use ODH with Elyra Pipelines, Kubeflow and Ray and a separate OpenShift project to host a few Python applications. We need a team of IBMers and Redhatters.

/assign @harshad16
/assign @pacospace

/sig devops
/kind feature
/label triage/needs-information

[2021-04-16 17:27] Gkrumbach07 commented on #126
When I say fresh build, I mean having a temporary namespace (with my demo installed) for a user to interact with. I guess the only need for a "fresh build" would be to increase and decrease pod counts for the simulator. I can defiantly rework the demo a bit so that only readonly access is needed. So disregard the requirement for a "fresh build"

Awesome, I will make a pull request for that small c

[2021-04-16 19:50] HumairAK commented on #126
Great! There are instructions [here](https://github.com/operate-first/operate-first.github.io) on how you can add links (in the readme)

As for where to put this, I think under `Data Science Projects` makes the most sense to me.

But I'll wait for confirmation from @oindrillac @MichaelClifford

[2021-04-19 12:01] first-operator[bot] opened #813 "[INCIDENT][MOC/ZERO] - `os-sto-1` node not ready"
Hello Operate First users,

We are investigating an ongoing incident affecting all services on MOC Zero cluster.

We will provide updates to this issue thread as the incident progresses.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1618817249160300?thread_ts=1618817249.160300&cid=C01RMPVUUK1_

[2021-04-19 14:42] pacospace opened #211 "On board to Hue and Superset use on Operate First"
As OpenDataHub user on Operate First,

I would likw to show managers and users of Thoth a Superset dashboard with all data relative to the use, content and status (similar to https://superset.datahub.redhat.com/superset/dashboard/17/ that we have internally).

Therefore I need:

- [ ] public bucket where to store data accessible by Hue (credentials can be exposed in that case, no problem)
- [ ] ac

[2021-04-19 14:43] pacospace commented on #211
Related-To: https://github.com/thoth-station/thoth-application/issues/842

[2021-04-19 15:14] #813 closed

[2021-04-19 19:59] HumairAK commented on #33
Instead of a column we're just listing them right under the service, as per the new readme: https://github.com/operate-first/support

[2021-04-19 19:59] #33 closed

[2021-04-20 14:21] larsks opened #812 "Add ssh keys for opf operators to zero cluster"
@tumido @HumairAK et al, please update this issue with either (a) your preferred ssh key or (b) confirm that I can just use `github.com/YOU.keys`, and I'll turn that into a pr on the apps repository.

[2021-04-20 15:18] aakankshaduggal opened #213 "Increase PVC"
### Questionnaire

1. **User details**:
   aduggal

2. **Desired resource change**:
   Increase in PVC - 32 gb
---

If you don't want to wait for the maintainers to notice this issue, you can do the changes yourself. Please follow the [docs/user_profiles.md](https://github.com/operate-first/support/blob/main/docs/user_profiles.md) guide.

[2021-04-20 15:37] tumido opened #1023 "Grafana links broken in Runbooks"

[2021-04-20 15:39] #213 closed

[2021-04-20 16:20] #1023 closed

[2021-04-20 18:22] MichaelClifford commented on #126
I agree with @HumairAK  I think the `Data Science Projects` tab is best for this type of work.

[2021-04-21 09:08] pacospace commented on #174
hey @moficodes do you have any update from ODH side? :)

[2021-04-21 13:27] HumairAK opened #811 "Add runbooks to operate-first.cloud/"

[2021-04-21 13:29] tumido opened #1022 "Create JH related alerts for each "issue" to reduce investigation"
Reduce investigation of: https://github.com/operate-first/blueprint/tree/main/docs/userstories/jupyterhub

By specifying a prom alert for each of them.

For example:
- raise a `Jupyterhub PVC pressure` alert when JH user PVC is nearly full
- raise `No kernel installed` alert if no kernel started...

etc.

[2021-04-21 13:37] tumido opened #1021 "Add feature file to the website"
https://github.com/aicoe-aiops/data-science-workflows/pull/32#issuecomment-821248159
https://github.com/operate-first/SRE/issues/263

[2021-04-21 18:58] HumairAK opened #810 "[INCIDENT][MOC/ZERO] - Zero cluster console down, services unreachable"
Hello Operate First users,

We are investigating an ongoing incident affecting the MOC Zero cluster.

Impacted users: All users of MOC Zero.

We will provide updates to this issue thread as the incident progresses.

[2021-04-21 19:30] ptitzler commented on #155
The fix has been delivered and should be available in the `s2i-lab-elyra:v0.0.7` image. There are two additional steps users need to complete:
- create a Kubernetes secret that contains the S3 credentials in the user's namespace (this needs to be done manually)
- specify the secret name in the Kubeflow runtime configuration (this part is important; if no secret is specified Elyra behaves the same

[2021-04-21 20:10] pacospace commented on #155
Thanks @ptitzler, I opened: https://github.com/thoth-station/elyra-aidevsecops-tutorial/issues/136

As user of JH on operate first I might not have requested a namespace for myself, but rather working on JupyterHub only on my notebooks.

With this solution every user now needs to have their own namespace if they want to submit a secure pipeline with Elyra. So it becomes a pre-requisite to use pipe

[2021-04-21 20:33] pacospace commented on #155
I'm running elyra v0.0.7 and I don't see that actually:

![Screenshot from 2021-04-21 22-32-36](https://user-images.githubusercontent.com/27498679/115617383-a12f9400-a2f1-11eb-8931-8637ec7cf7fd.png)

[2021-04-21 20:43] ptitzler commented on #155
Aww, I'm sorry. My apologies. I've mixed up things. [The PR is included in the next release](https://github.com/elyra-ai/elyra/pull/1529), which isn't available yet. We just published 2.2.2 but didn't retrofit this enhancement.

[2021-04-21 20:48] ptitzler commented on #155
Nevertheless, to answer your questions:

Yes, in shared environments it does.

I expected the question (: We cannot do that because Elyra does not have any Kubernetes awareness and therefore cannot access or manipulate any Kubernetes objects. The issue is that the credentials are required when Elyra prepares the pipeline for execution. As part of that preparation it generates archives and uploads

[2021-04-22 06:50] pacospace commented on #155
Thanks @ptitzler I ll make sure we describe this in the tutorial!! And we can see where to place these secrets of the user, if each user can see only their own secrets or if we add the pre-requisite in the tutorial for secure Elyra pipeline, cc @harshad16 @tumido @HumairAK @4n4nd

[2021-04-22 14:43] ptitzler commented on #155
Please correct me if I'm wrong, but the Kubeflow setup on operate first is a single-user setup? When I connected to the web console the namespace appeared to be a static value that is not tied to my user id. If it is a single user deployment, then the pipeline pods are running in the `kubeflow` namespace. Only in multi-user mode are pods executed in the user's namespace.

[2021-04-22 16:40] ptitzler commented on #155
We are going to include this functionality in the 2.2.3 release and will make it available in `s2i-lab-elyra:v0.0.8` fairly soon (🤞 ).

Quick update on my previous comment. I tested this in my environment (KF 1.2 & 1.3) and it appears that the pods are running in a user namespace after all (instead of `kubeflow`) if you created one as part of the setup. (Later releases of KFP/1.2+ started to requi

[2021-04-22 20:07] #810 closed

[2021-04-22 20:11] HumairAK opened #809 "[Operate-first-users] ArgoCD Service upgrade, Friday April 23, 2021"

[2021-04-22 21:48] eletonia commented on #192
Hi @HumairAK
We generated the raw rendered yaml files that we would like deployed on Operate First here:
https://github.com/IBM/the-mesh-for-data/tree/master/samples/operate-first

Please ignore the `m4d-crd.yaml` and `m4d.yaml` files. The cluster-scoped resources we would like deployed are organized by kind into directories.

[2021-04-22 22:53] tumido commented on #113
I think we can close this issue. The workshop has been successfully onboarded and if there's any further issues we should rather open new tickets for those particular problems. :slightly_smiling_face:

[2021-04-22 22:53] #113 closed

[2021-04-22 23:31] first-operator[bot] opened #214 "Deploy minio gateway for S3 UI on datacatalog bucket"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1619129155188500?thread_ts=1619129155.188500&cid=C01RMPVUUK1_

Reference:
https://docs.min.io/docs/minio-gateway-for-s3.html

[2021-04-23 10:28] pacospace commented on #211
do we have an estimated time for this issue?

[2021-04-23 12:42] tumido commented on #214
Different possible solution: https://github.com/thoth-station/s2i-generic-data-science-notebook/issues/15

[2021-04-23 12:50] first-operator[bot] opened #215 "JupyterHub fails to load shell on new terminal"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1619115592184400?thread_ts=1619115592.184400&cid=C01RMPVUUK1_

[2021-04-23 12:51] tumido commented on #215
We can't reproduce this issue anymore. Issue filed for keeping a track record. Closing as WFM. :shrug:

[2021-04-23 12:51] #215 closed

[2021-04-23 13:45] HumairAK commented on #124
Site updated with clearer distinctions between MOC and Operate-First. https://github.com/operate-first/operate-first.github.io/pull/238

[2021-04-23 15:48] gastaldi opened #216 "Quarkus Extension Registry"
## Questionnaire

1. **Project description**:

   Quarkus Extension Registry: This service will provide information for the Quarkus tooling about the existing Quarkus extensions. It's a Quarkus native application requiring a PostgreSQL DB backend.

2. **Target cluster**:

    Zero Cluster

3. **Team name**:

    quarkus

4. **Desired project names**:

    quarkus-extension-registry

5. **Users nee

[2021-04-23 17:01] #809 closed

[2021-04-23 20:00] ptitzler opened #217 "JupyterHub/Elyra pipeline execution fails if secure S3 connection is configured"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch JupyterHub > `s2i-elyra-...`
2. Create a runtime configuration that points to a secured S3 object storage instance (`https://...`)
3. Create a simple notebook
4. Create a pipeline
5. Add notebook to pipeline
6. Run pipeline -> pipeline execution fails in Kubeflow Pi

[2021-04-26 11:28] tumido opened #1020 "Ceph in Error state"

[2021-04-26 11:29] #216 closed

[2021-04-26 11:49] #1020 closed

[2021-04-26 12:44] #1029 closed

[2021-04-26 13:11] HumairAK opened #808 "[Operate-first-users] OpenShift Cluster upgrade, scheduled for Monday 2021-04-26"

[2021-04-26 13:15] #812 closed

[2021-04-26 13:29] HumairAK commented on #216
Hey @gastaldi you should have access to the requested namespace on the zero cluster here: https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/quarkus-extension-registry

(there's a cluster upgrade in process so there may be some disruptions today).

[2021-04-26 13:57] durandom opened #807 "block access to all logs/metrics"

[2021-04-26 13:58] gastaldi commented on #216
Thank you @HumairAK! I am trying to deploy a PGSQL DB in there but I get errors like `0/9 nodes are available: 2 node(s) were unschedulable, 3 node(s) had taint {node-role.kubernetes.io/master: }, that the pod didn't tolerate, 4 Insufficient cpu.`.

Should I have requested a bigger Quota? I appreciate the help

[2021-04-26 15:51] HumairAK commented on #216
Nope, that's due to the upgrade, I'd suggest waiting until it's done.

[2021-04-27 16:11] HumairAK commented on #140
@4n4nd can this be closed?

[2021-04-27 16:12] 4n4nd commented on #140
yeah the `opf-jupyterhub-stage` namespace was added for this :+1:

[2021-04-27 16:12] #140 closed

[2021-04-27 16:13] harshad16 commented on #140
Yes this can be closed, thanks @4n4nd  for the setup.

[2021-04-27 19:28] HumairAK commented on #25
Do we still need this? I'm not sure what the purpose of this is -- can this be closed?

[2021-04-27 19:39] #808 closed

[2021-04-27 21:20] HumairAK opened #806 "CLO's ES operator being oomkilled"
The pod found [here](https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/openshift-operators-redhat/pods) is being oomkilled upon starting. This is manged by the ES operator which in turn is managed by the CLO.

[2021-04-28 09:22] goern opened #218 "no grafana dashboards are available"
**Describe the bug**
It seems that we have lost all the Thoth (or all-all) dashboards.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://grafana-route-opf-monitoring.apps.zero.massopen.cloud/
2. See error: no dashboards

**Expected behaviour**
We can see dashboards.

/kind bug
/priority critical-urgent
/sig devops

[2021-04-28 09:49] tumido commented on #218
@4n4nd may this be related to the https://github.com/operate-first/apps/pull/576 ?

The dashboards are present in the cluster, but not available in Grafana:
![image](https://user-images.githubusercontent.com/7453394/116384024-bdfb2880-a817-11eb-944e-3514db615261.png)

![image](https://user-images.githubusercontent.com/7453394/116384050-c5223680-a817-11eb-9ca2-a9ffe0ee185c.png)

[2021-04-28 09:51] tumido commented on #218
Probably related:
[code]

[2021-04-28 10:04] tumido commented on #218
@4n4nd so.. I've found the root cause. Do you know how to bypass the proxy we've added at https://github.com/operate-first/apps/pull/573

The operator is complaining:
[code]

[2021-04-28 11:17] tumido opened #1019 "Move towards user-workloads-monitoring via Openshift Monitoring"

[2021-04-28 11:27] #817 closed

[2021-04-28 13:19] HumairAK commented on #196
Resolved by implementation of quotas.

[2021-04-28 13:19] #196 closed

[2021-04-28 13:24] tumido opened #805 "Break user-workloads-monitoring epic up into granular issues"

[2021-04-28 13:36] hemajv opened #804 "Consuming SRE-P's alertmanager config"
Related operate-first/operations#247

[2021-04-28 13:39] hemajv opened #803 "Updating runbooks to build-off of the SRE-P's runbooks"

[2021-04-28 13:41] hemajv opened #802 "Improving our incident management procedure"

[2021-04-28 13:45] 4n4nd commented on #218
@tumido looks like we are not overriding the upstream grafana but creating a new one ([upstream](https://github.com/opendatahub-io/odh-manifests/blob/master/grafana/grafana/base/grafana.yaml#L4))

[2021-04-28 13:57] tumido commented on #218
@4n4nd I think we did, but we don't now - this got fixed by https://github.com/operate-first/apps/pull/576 (but the duplicit resource wasn't removed).

What matters for ODH is the filename - not resource name, we should be fine there. Once ODH reconciles, we should be still left with a single grafana there.

[2021-04-28 13:57] tumido commented on #218
Currently the only issue remaining to solve is https://github.com/operate-first/support/issues/218#issuecomment-828329797

[2021-04-28 13:59] 4n4nd commented on #218
I found that the operator for reason is using the route to communicate with the deployment. The current solution I have found is to disable the route creatiion by the grafana-operator and create a route manually

[2021-04-28 14:46] #218 closed

[2021-04-28 14:53] goern commented on #218
@pacospace please check if our data is visible again, thx

[2021-04-28 15:03] pacospace commented on #218
Yes they seem back :)

[2021-04-28 15:12] tumido opened #219 "KFP-Tekton pipelines fails to retrigger"
**Describe the bug**
[code]

Caused by Openshift Pipelines and tekton pipelines conflict/incompatibility with deployed version of `pipelineloop` custom task. We need to enable custom tasks in OpenShift Pipelines and deploy KFP-Tekton's `pipelineloop` for newer Tekton version

[2021-04-29 07:57] PixelJonas opened #220 "Onboarding for new User PixelJonas"
## Questionnaire

1. **Project description**:

Running small demo-envs and maybe a vault-instance for external secrets

   PROJECT DESCRIPTION:

2. **Target cluster**:

    TARGET CLUSTER: `Zero`

3. **Team name**:

    TEAM NAME: team-pixel

4. **Desired project names**:

    PROJECT NAMES: pixel-demos, pixel-vault

5. **Users needing access**:

    LIST OF USERS: jjanz at redhat dot com

6. ** N

[2021-04-29 12:12] ipolonsk opened #801 "Enable monitoring on a namespace"
Create a bash script that accepts a namespace and add the 'monitoring-rbac' component to its kustomization file.

[2021-04-29 12:25] ipolonsk opened #800 "[Automation] Add project admin/edit/view group for a namespace"
Create a script to add different roles for a group (rolebinding) for a giving namespace.
The three roles are admin/edit/view and a new component folder will be created under cluster-scope/components/project-ROLE-rolebindings with the name of the group(and the relevant manifest), and the component will be added to the given namespace kustomzation file.

[2021-04-29 18:13] first-operator[bot] opened #221 "KF Pipelines arbitrarily failing for some pipeline runs"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1619715466232500?thread_ts=1619715466.232500&cid=C01RMPVUUK1_

[2021-04-29 18:15] HumairAK commented on #221
whelp, closing in favor of: https://github.com/operate-first/apps/issues/581

[2021-04-29 18:15] #221 closed

[2021-04-29 20:19] HumairAK commented on #192
@eletonia I've made a PR https://github.com/operate-first/apps/pull/588

Though I'm going over the cluster roles and they seem to be requesting clusterwide access for secrets [here](https://github.com/IBM/the-mesh-for-data/blob/master/samples/operate-first/clusterroles/m4d-system/m4d-proxy-cr.yaml)

This would expose secrets belonging to other users to your team, which we would like to avoid. Can

[2021-04-29 21:15] roee88 commented on #192
We will work on reducing rbac, we have an open issue for that. As for token review, it just allows to verify service account tokens and is part of any operator created by kubebuilder (see https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/config/rbac/auth_proxy_role.yaml) and operator-sdk (see https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3

[2021-04-30 12:51] HumairAK commented on #192
@roee88 sounds good, let us know when the rbac is reduced, and I'll update the pr to bring these resources to our zero cluster.

[2021-04-30 12:59] roee88 commented on #192
@HumairAK we're also working on https://github.com/IBM/the-mesh-for-data/issues/523 to automate sending a PR to this repo on each new tag the changes one of the cluster scoped resources. This should avoid manual work beyond reviews and would allow us to avoid having (duplicate) resources in git just for operate-first.

[2021-04-30 14:58] tumido opened #222 "`kubeflow` resource quota required"
Same as: https://github.com/operate-first/support/issues/159

Kubeflow (pipelines) reserves all the CPU

![image](https://user-images.githubusercontent.com/7453394/116713823-71f5e280-a9d5-11eb-986e-a83aab52eda8.png)

[2021-04-30 15:05] tumido commented on #222
I've manually deleted finished pods:
[code]

![image](https://user-images.githubusercontent.com/7453394/116714650-43c4d280-a9d6-11eb-8fe9-b9494376aef5.png)

There's still few workflows pending and containers spawning. I'll delete those once they finish.

[2021-04-30 15:15] oindrillac commented on #222
@tumido are we waiting on this pipeline to finish? http://istio-ingressgateway-istio-system.apps.zero.massopen.cloud/pipeline/#/experiments/details/97347293-a721-4484-a7a9-58de775b0404

I think this has run for too long, it should not have been running for this long. Seems like something weird.

[2021-04-30 15:27] eletonia commented on #192
We're also working on [this issue](https://github.com/IBM/the-mesh-for-data/issues/523) to automate sending a PR to this repo on each new tag the changes one of the cluster scoped resources. This should avoid manual work beyond reviews and would allow us to avoid having (duplicate) resources in git just for operate-first.

[2021-04-30 17:01] tumido opened #223 "Revisit resource quota for requests"
**Describe the bug**
Today I made an observation that `cpu.limit` quota has no effect on `cpu.request`. The quota we've set for `thoth-backend-prod` has no effect on the total CPU request including completed pods. I have no explanation. Solution is to set limit for `cpu.request` in the quota.

Quota for `thoth-backend-prod` in the UI:
![2021-04-30_18-56](https://user-images.githubusercontent.com/7

[2021-04-30 21:03] aakankshaduggal opened #224 "Unable to assign issues or request for reviews."
**Description**
As a contributor to Operate First, I would want access to assign myself to issues and request reviews from my peers.

**Additional context**
Need additional access to the repo : https://github.com/operate-first/operate-first.github.io

[2021-05-03 11:30] tumido commented on #224
@aakankshaduggal it seems that you were left out from the `contributor` team in this repo. (I hope it was unintentional :stuck_out_tongue: :grin: ) I've added you there. You should have at least `triage` access to all repos in this org now.

I'll double check if there's anybody we forgot about not included in that team. If you know about anybody else, feel free to point them to me.

[2021-05-03 11:35] tumido commented on #224
Actually, I was thinking.. I'm gonna create a new team for you folks that are interested in triage on the website repo. Just to keep things tidy...

[2021-05-03 11:46] tumido commented on #224
So, I've created the @operate-first/contributors-web team now for the website-concerned people. LMK if there's anybody missing.

The `contributors-core` team has the same access on the website repos but it's not their main focus...

[2021-05-03 11:49] tumido commented on #223
Resolved by: https://github.com/operate-first/apps/pull/589

[2021-05-03 11:49] #223 closed

[2021-05-03 15:13] tumido opened #799 "[MOC Zero] Ceph storage reached its capacity"
Edit: Things are starting to hit storage limits due to Ceph capacity.

[2021-05-03 15:35] tumido opened #226 "[SPIKE] How to schedule new pods from within JupyterHub servers"
**Is your feature request related to a problem? Please describe.**
How can user offload work from their JupyterHub pod to a separate pod -like in case a step requires resources above the JH pod resource limit.

**Describe the solution you'd like**
Find out the most user friendly way to schedule pods from a running JH pod

Consider extra costs - setting up kubernetes credentials and so on..

Possib

[2021-05-03 16:05] aakankshaduggal commented on #224
Awesome. Thanks @tumido :D

[2021-05-03 16:05] #224 closed

[2021-05-03 16:40] tumido opened #798 "What happened on Friday 2021-04-30 with CPU pressure"

[2021-05-03 17:06] tumido opened #797 "Thanos failing to query data due to memcached"

[2021-05-03 19:21] tumido opened #227 "Data-science group access to opf-monitoring"
@tumido I get a 403 permission denied on these dashboards as i try to login through moc-sso. Can you please provide access?

_Originally posted by @oindrillac in https://github.com/operate-first/blueprint/issues/83#issuecomment-831305951_

currently only people with get access to opf-monitoring can access grafana (i.e. people in the operate-first ocp group), due to the change here -- we should exp

[2021-05-04 01:38] #801 closed

[2021-05-04 02:05] #227 closed

[2021-05-04 10:52] durandom commented on #119
@rimolive @tumido did we end up installing ODH trino?

https://github.com/opendatahub-io/odh-manifests/tree/master/trino

[2021-05-04 11:28] tumido opened #796 "Incident management and post-mortems"
Further define how we should handle incidents in the SRE for easy search and exploration with the intention to speed up push to upstream.

Proposed system:
1. Incidents are filed in SRE repo
2. We have a (new) distinct label `incident`
3. Once incident is resolved we're gonna summarise the resolution and cause into a post-mortem comment in the issue
4. Add a new label to the issue called `post-mor

[2021-05-04 12:29] rimolive commented on #119
@durandom I think it was unclear who's going to deploy Trino on the operate-first cluster, but I'll work with @tumido to have Trino deployed soon.

[2021-05-04 12:59] tumido opened #228 "[SPIKE] Evaluate Openshift GitOps instead of custom ArgoCD deployment"
Openshift Gitops is GA by yesterday, 2021-05-03, see the [announcement](https://www.openshift.com/blog/openshift-pipelines-and-openshift-gitops-are-now-generally-available).

Evaluate if we can start using it instead of our custom Argo CD deployment.

We need it to meet following criteria:
- [ ] Allows us to bring in kustomize plugins (ksops)
- [ ] Allows uploading and using our GPG keyring

[2021-05-04 12:59] tumido commented on #228
/assign @HumairAK

[2021-05-04 13:36] #220 closed

[2021-05-04 14:23] HumairAK commented on #220
Hello @PixelJonas we've onboarded you as per the details provided. Can you verify that you can access the following namespaces:

https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/pixel-demos
https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/pixel-vault

[2021-05-04 14:24] tumido commented on #119
@durandom @rimolive nope, I did not deploy Trino. My comments and involvement here was to enable @accorvin to be able to install it.

@rimolive if you can prepare a minimal kfdef manifest just for Trino we can deploy it from ODH pretty, would you like to submit a PR for that?

It should go into here:
https://github.com/operate-first/apps/tree/master/kfdefs

I'll do a PR granting you access to that

[2021-05-04 14:42] tumido opened #229 "Include external experimental image streams to ODH JupyterHub"
**Is your feature request related to a problem? Please describe.**
We are starting to see requests coming in about bringing new image versions into our ODH JupyterHub deployment before it hits ODH. I believe that supporting this would bring us closer to the communities around projects which build upon ODH, allowing them to iterate faster on ODH compatible images.

**Describe the solution you'd lik

[2021-05-04 14:57] durandom commented on #119
@hemajv wants to prototype some grafana or superset dashboards that connect to parquet files from the black flake project

[2021-05-04 15:15] #126 closed

[2021-05-04 15:36] HumairAK commented on #229
Image added

[2021-05-04 15:42] tumido commented on #229
Let's keep this one open until we have a user docs that we support this.

[2021-05-04 15:44] HumairAK commented on #229
What would be a good place to document this in your opinion?

[2021-05-04 15:45] HumairAK commented on #119
Relevant:
https://github.com/operate-first/apps/blob/master/docs/odh/adding_kfdefs.md

[2021-05-04 15:59] tumido opened #231 "[TASK] Deprecate operate-first-workloads repo and transfer the content here"
- [x] Bring the repo content in to the `support` repo https://github.com/operate-first/support/pull/232
- [x] Point the front page to the transferred document https://github.com/operate-first/operate-first.github.io/pull/251
- [x] Deprecate the old repo https://github.com/open-infrastructure-labs/operate-first-workloads/pull/5

[2021-05-04 17:05] hemajv commented on #119
yes! Would be more than happy to test it out by connecting to superset/grafana for creating dashboards as currently we are unable to have visualizations in superset

[2021-05-04 17:12] #958 closed

[2021-05-05 12:44] tumido commented on #229
:shrug: What about a short doc in https://www.operate-first.cloud/users JupyterHub section? hosted from a doc in the `support` repo I suppose.

[2021-05-05 13:42] goern commented on #119
@pacospace FYI

[2021-05-06 09:58] tumido opened #235 "Evaluate ResourceLocker for locking partial manifests managed by other resource managers than ArgoCD"
**Is your feature request related to a problem? Please describe.**
ArgoCD is in general not very happy when multiple resource managers are touching the same resource and when it is managing resource partials only.

Evaluate tools that can work along with ArgoCD and provide us a mechanism to sync these resources in parallel to ArgoCD. Maybe the ResourceLocker from RedHat CoP can be a good fit.

**A

[2021-05-06 11:32] #197 closed

[2021-05-06 11:39] fridex commented on #176
Just a friendly ping here. What is the current state of this? We are monitoring this work on the package index meeting with Pulp team. Thanks in advance.

CC @ipanova

[2021-05-06 12:20] tumido commented on #176
Yeah, sorry we had no upgrade on this so far, we've got hammered by a ton of work elsewhere. @fridex

I see the operator didn't reach OperatorHub yet but you have CSV available. It also seems to me that the [cluster role](https://github.com/pulp/pulp-operator/blob/main/deploy/cluster_role.yaml)/[role](https://github.com/pulp/pulp-operator/blob/main/deploy/role.yaml) specified in the direct manifes

[2021-05-06 12:46] fridex commented on #176
Ideally, the operator could be available globally. Short-term, it would be great for us to have just one instance of pulp in one namespace for a selected group of people, small steps could work here. The very first outcome for us is the fact we can run pulp on op1st and can experiment with features it provides to us. The cluster-scope operator can be done in parallel (low priority for us now).

[2021-05-06 14:05] #806 closed, assigned to HumairAK

[2021-05-06 14:21] #796 closed

[2021-05-06 14:52] first-operator[bot] opened #236 "Evaluate Pixielabs"
_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1620312480296200_

maybe <https://docs.pixielabs.ai/using-pixie/use-cases/service-health/>
and it has jupyter notebooks...
Randy George  16:49 Uhr
@Marcel Hild A few folks in CTO & PnT looked at this and the security is very lacking.
btw, I have the scc yaml that you will need to make it work on ocp
[code]

[2021-05-07 14:27] larsks opened #795 "Relocate volumes to NFS storage"
Now that we have additional storage space available, should we relocate some of our larger volumes from the Ceph pool?

The distribution of volume sizes looks like:

![image](https://user-images.githubusercontent.com/82622/117464428-a3633680-af1e-11eb-8881-15bca4be4736.png)

If we just look at volumes `>=` 100GB, we see:

[code]

Do we want to move some of the larger volumes over to the NFS storag

[2021-05-07 14:35] tumido opened #794 "`opf-prometheus` and `opf-observatorium-thanos` data inconsistencies"

[2021-05-07 14:38] gastaldi opened #237 "Support for ACME's Let's Encrypt certificates registration for routes cluster-wide?"
**Description**
There is an [ACME Controller for OpenShift and Kubernetes clusters](https://github.com/tnozicka/openshift-acme) that automatically performs the process of requesting a valid certificate from [Let's Encrypt](https://letsencrypt.org/) to HTTP/S routes when the `kubernetes.io/tls-acme=true` annotation is added to the route.

Are there any plans to make this service cluster-wide or the

[2021-05-10 11:20] tumido opened #793 "Ceph in Error state"

[2021-05-10 11:54] #793 closed

[2021-05-11 09:47] tumido commented on #237
Hey @gastaldi sorry for a late response. We certainly want to have that controller deployed. We've been thinking if this can be replaced with cert-manager operator but that seems it doesn't support OpenShift routes and OpenShift routes don't support loading certificates from secrets so we probably have no choice than deploy both to support providing certificates for different needs in different wa

[2021-05-11 09:52] tumido commented on #199
I'm gonna leave this issue open and tracking the cert-manager (this will come updated with Kubeflow soon) and use the other issue for `openshift-acme`

[2021-05-11 13:49] tumido opened #792 "Convert existing alertmanager configs to `AlertmanagerConfig` resources plugging it into openshift-monitoring alert manager"
Take the alert manager configmaps  we have for our custom alert manager deployments and convert them to `AlertmanagerConfig` resources consumed by alert manager in `openshift-monitoring`

[2021-05-11 13:50] tumido opened #791 "Remove custom alert manager deployments"
Delete custom alert manager deployments.

Required before: operate-first/support#790
Related to: operate-first/support#792

[2021-05-11 13:51] tumido opened #790 "Remove prometheus operator"
Removal of the prometheus operator finalizes the EPIC

[2021-05-11 13:52] tumido opened #789 "Unify grafana deployments into a single instance"
Currently we deploy multiple grafanas - in `opf-monitoring` and  in `opf-observatorium`.

Ideally we should unify these deployments.

[2021-05-11 13:53] tumido opened #788 "Remove custom prometheus instances"
Cleanup prometheus instances deployed via prometheus operator. These instances should be replaced by using prometheus in the `openshift-monitoring` namespace

[2021-05-11 13:55] tumido opened #787 "Enable user workload monitoring"
Turn on the user workload monitoring via `openshift-monitoring`

https://docs.openshift.com/container-platform/4.7/monitoring/enabling-monitoring-for-user-defined-projects.html

This will make the Prometheus in `openshift-monitoring` consume our service/pod monitors and probes etc.

[2021-05-11 13:56] tumido opened #786 "Connect grafana to openshift-monitoring Prometheus respecting RBAC if possible"

[2021-05-11 14:02] #805 closed

[2021-05-11 14:13] tumido opened #785 "Remove monitoring-rbac component"
After: operate-first/support#788

Since there's no custom prometheus deployment in `opf-monitoring`, there's no need to keep this rbac.

Remove the component and cleanup kustomization files for namespaces in cluster scope which included it. If there's nothing left in such kustomization file, this namespace kustomization can be removed as well (e.g. in namespaces like `openshift-operators`).

[2021-05-11 18:19] #811 closed

[2021-05-11 18:21] HumairAK opened #784 "Openshift-pipelines tekton-pipelines-webook pods stuck in terminating state"

[2021-05-12 12:06] oshritf opened #239 "Jupiter spark notebook fails to download session's jar to classpath (driver, executor)"
**Describe the bug and how to repreduce**
[code]
Neither were downloaded to /opt/app-root/lib/python3.6/site-packages/pyspark/jars
Nor listed in spark.sparkContext.getConf().get('spark.jars')

**Expected behaviour**
Ability to extend and use additional packages from spark's notebook

**Additional context**
Is there another way to update pyspark spark-defaults.conf? specifically spark.driver.extraC

[2021-05-12 12:12] tumido commented on #239
I'm sorry @oshritf, we'll probably need to defer this to the ODH community. Operate First doesn't have that expertise.

cc @vpavlin @rimolive @nakfour @lavlas do you have any experience with this? Would you rather see this filed against one of ODH's repos for better visibility, instead of here?

[2021-05-12 12:48] larsks opened #783 "[Automation] Should we settle on a single language for automation scripts? Which one?"
From the discussion @HumairAK started in operate-first/apps#635:

[2021-05-12 12:54] tumido commented on #231
Repository archived

[2021-05-12 12:54] #231 closed

[2021-05-12 13:24] larsks opened #782 "Prevent merging a pull request that depends on another unmerged pull request"
We recently had a pull request merge prematurely. Can our CI tooling be configured to track PR dependencies and prevent a PR from merging if it still has unmerged dependencies?

[2021-05-12 13:32] tumido opened #240 "Change JupyterHub pod "size" quota based on the actual recorded usage"
After https://github.com/operate-first/SRE/issues/281 happened, we'd like to adjust the sizes offered to users in JupyterHub to some reasonable amounts.
![image](https://user-images.githubusercontent.com/7453394/117983537-5a085200-b337-11eb-97cb-a2d5a12b9e8f.png)

https://github.com/operate-first/apps/blob/a67481fca8a5e76a067735deee7d1a1c9c4c170b/odh-manifests/jupyterhub/base/jupyterhub-singleuser

[2021-05-12 13:43] tumido commented on #159
There's still no quota on this namespace @harshad16 can I assign this to you?

[2021-05-12 14:28] pacospace commented on #155
Hey @ptitzler,

running the new image v0.0.8 with Elyra 2.2.4 does not show the new feature you mentioned. You can see the screenshot here:

![Screenshot from 2021-05-12 16-24-19](https://user-images.githubusercontent.com/27498679/117992285-1addff00-b33f-11eb-905e-9a41cd8c432e.png)

[2021-05-12 14:35] ptitzler commented on #155
It's [this setting](https://elyra.readthedocs.io/en/v2.2.4/user_guide/runtime-conf.html#cloud-object-storage-credentials-secret-cos-secret) in your screen shot: ![image](https://user-images.githubusercontent.com/13068832/117993047-3e2f8c80-b2f4-11eb-8adf-e49167f7dc64.png)

[2021-05-12 14:42] harshad16 commented on #159
Yes i will take care of this.
thank you.

[2021-05-12 15:02] pacospace commented on #155
Sorry I didn't catch that, thanks @ptitzler!!!

[2021-05-12 15:09] ptitzler commented on #155
No worries. I guess its purpose can be misinterpreted as a password field because the input is hidden.

[2021-05-12 16:49] tumido opened #781 "[WIP] Github permissions to repos"
Lately we hit an issue with @larsks about permissions in our git organization.

In the current setup most of the org members are granted `triage` role on all of the repos. Surprisingly this `triage` role, doesn't allow you to assign projects to issues. Actually I don't see this permission even mentioned or documented in [this table](https://docs.github.com/en/organizations/managing-access-to-your-

[2021-05-12 20:36] HumairAK opened #780 "Auto-link docs for a given operator in issues for operator onboarding"

[2021-05-12 21:29] #841 closed

[2021-05-13 06:44] tloubrieu-jpl commented on #206
Hello @HumairAK , @tumido ,

Sorry I had to pause to work on something else.

I am now able to deploy on the operate first cluster simply by login `oc login` and then using commands `kubectl ...` or `helm ...` locally.

I've just created a pull request to update the resource I am not able to create directly, see https://github.com/operate-first/apps/pull/642

Let me know if I need to correct somet

[2021-05-13 09:35] tumido opened #241 "Deploy Google Spark operator"
### Requested actions

Recently we've seen a demand for Google Spark operator to be deployed on the cluster.

https://github.com/operate-first/apps/pull/642#pullrequestreview-658728665

Users are trying to bring this operator in on there own at cluster scope - instead of hosting this operator in a user namespace we should fully test in and provide it from OPS managed namespace. @guimou has some ni

[2021-05-13 09:43] tumido commented on #206
Hey @tloubrieu-jpl ! thank you for submitting a PR! We're always very pleasantly surprised when we have new contributors! I love it. :slightly_smiling_face:  I think that we have some security concerns about the Google Spark operator deployed this way, however that should not stop us. I've found few people who should be able to help us with it and we should bring that on in a proper, supportable w

[2021-05-13 09:46] tumido commented on #241
Since the operator itself is deployed from help charts it may be useful for us to try to deploy it via ArgoCD's Helm application. But the end result PR should avoid Helm charts if possible, since we don't want to include remote locations outside of this org to manage cluster scoped resources.

[2021-05-13 10:49] tremes opened #242 "Access for CCX team to be able to test workloads fingerprint gathering"
## Questionnaire

1. **Project description**:

 CCX (connected customer experience) team gathers data from OCP4 clusters and evaluates Insights recommendations against this data.

2. **Target cluster**:

    TARGET CLUSTER: I guess the common one.

3. **Team name**:

    TEAM NAME: ccx

4. **Desired project names**:

    PROJECT NAMES:

5. **Users needing access**:

    LIST OF USERS:

6. ** Names

[2021-05-13 11:42] tumido commented on #242
Hey @tremes ! Glad to have you. From the chat I've noticed that you'd be interested in deploying something like a "latest" version of the insights operator or something? Is that correct assumption? What level of access to our clusters you'd want to get?  In technical terms: Can you please share sample cluster roles you'd like to be granted, is any security context constraint required to be granted

[2021-05-13 12:06] billburnseh commented on #242
Want to note that Radek Vokal from the insights dev org is starting discussion around bringing it to the operate first environment. Might be some opportunity for coordination!

[2021-05-13 12:42] tremes commented on #242
@tumido Thanks. Well my original thought was to get the full kubeadmin access to be able to run the Insights Operator locally (or alternatively just work with someone and share the instructions how to do that)...at least for awhile. Second option (which is more complicated IMO) is to deploy custom insights operator deployment. I would need to be able to create a deployment in the "openshift-insigh

[2021-05-13 13:28] tumido commented on #242
@billburnseh I'll check with him. This should be the ccx/insights operator dev thing so we're probably talking about the same topic.

This issue ties back to [CCXDEV-4842](https://issues.redhat.com/browse/CCXDEV-4842)

[2021-05-13 13:42] tumido commented on #242
@billburnseh Radek confirmed those are 2 independent workstreams - this one goes the other way around than the insights dev/community platform and enables CCX to use OperateFirst as a playground or stage for the insights operator.

[2021-05-13 13:53] tumido commented on #242
@tremes Great summary! There's some meat to this that we can work with. :slightly_smiling_face:

Just to rearrange the thoughts here a bit:
### Option 1
Give away kubeadmin access to our clusters to your team so you can tunnel to the cluster and start an operator from your local machine against our clusters, correct?

Excuse my ignorance in this topic. How is kubeadmin access different from granti

[2021-05-13 14:05] tremes commented on #242
Thanks.
**Add Option 1.** :

- I think there's no difference (I am not very experienced with the OpenShift permission settings, definitions, role etc. TBH)
- Our manifests are https://github.com/openshift/insights-operator/tree/master/manifests and I guess the one executing the command locally needs to access the `system:serviceaccount:openshift-insights:gather`. The steps how to run the IO locall

[2021-05-13 14:08] tumido commented on #241
Related: https://chat.google.com/room/AAAAiODw-Fc/XXTex4jzwQo

[2021-05-13 14:41] tumido commented on #242
Great stuff, thanks for the links! :slightly_smiling_face:

I think for us it would be better to have something really deployed on the cluster, so we can really host you - all pods generate logs, metrics, events - all of it is valuable for us.

Giving you "just" the access seems like an easy way but doesn't contribute much to the platform itself.

If I'm reading those manifests correctly all you a

[2021-05-13 14:54] HumairAK commented on #241
For additional reference these are the cluster rbac that's added from helm:
<details>
---

[code]
</details>

rest are namespace resources that would be delegated to a separate  app.

[2021-05-13 15:10] HumairAK commented on #241
@guimou my understanding is that there is some prep you need to do before we should take this on, if you could bump this thread once it's ready we can go ahead and get this deployed

[2021-05-13 16:01] tumido commented on #237
@gastaldi

[2021-05-13 16:17] HumairAK commented on #241
I think if the plan is for this to be incorporated in to odh, having an odh manifest to point a kfdef to would probably be ideal. Then we could present it as a live deployment of your working example for odh devs to check out.

@tumido

[2021-05-13 16:18] tumido commented on #237
Actually, we have to fix one more thing :facepalm: https://github.com/operate-first/apps/pull/645 one merged it should get deployed asap automatically.

[2021-05-13 16:35] tumido commented on #241
I think if we can deploy it as an ODH component, even better and even easier for us. :+1:

We can deploy from your repo if needed. It doesn't have to be included in the ODH for us to deploy it. But once it is, we should switch over. :slightly_smiling_face:

We certainly prefer ODH components and `kfdefs` over Helm charts. :smile: Would you agree @HumairAK ?

[2021-05-13 16:37] gastaldi commented on #237
@tumido thanks. It looks like the temporary routes are not being created? I see an error in my route:

[code]

[2021-05-13 16:38] HumairAK commented on #241
![image](https://user-images.githubusercontent.com/10904967/118157119-2a655280-b3e8-11eb-8fd7-e4aa678a65ca.png)

[2021-05-13 16:43] gastaldi commented on #237
/pony Twilight Sparkle

[2021-05-13 16:45] tumido commented on #237
It doesn't even start the temporary pods in your namespace. Let me investigate.

[2021-05-13 16:46] tumido commented on #237
Btw, we're hitting rate limit now on the live Let's encrypt.. I'll switch it over to stage for now.

[2021-05-13 16:48] tumido commented on #237
Ok.. Argo CD is changing the configmap and syncing it.. but the operator wants to change the values in it.. Ughgh...

[2021-05-13 16:48] gastaldi commented on #237
I noticed that the ACME operator is a bit aggressive on errors and does not wait between retries

[2021-05-13 16:48] tumido commented on #237
yeah it really is

[2021-05-13 17:14] tloubrieu-jpl commented on #241
Hello, do you have an estimation for the realization of this ticket ? It is a requirement for my deployment (see https://github.com/operate-first/support/issues/206) and I will need to report that to my project.

Thanks,

[2021-05-13 17:23] guimou commented on #241
Well, I'll try to finalize something by the end of this week. But no
guarantees. Although that now you mention it's really waited after its
status in my work queue has improved... 😁

On Thu., May 13, 2021, 13:14 thomas loubrieu, ***@***.***>
wrote:

[2021-05-13 17:38] tumido commented on #237
https://github.com/tnozicka/openshift-acme/issues/78

Seems to be relevant. The operator is currently scales down. I'll investigate tomorrow, it's getting late over here.

[2021-05-13 17:39] tloubrieu-jpl commented on #241
Thanks @guimou, that works well, I was just asking since I had no ideas if the I should expect days, weeks or months, days is perfect time scale !

[2021-05-13 17:44] #807 closed

[2021-05-14 08:17] first-operator[bot] opened #243 "prow down due to s3 unavailable"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1620980062331400_

[2021-05-14 08:19] goern commented on #243
/kind bug
/priority critical-urgent

[2021-05-14 08:24] tumido commented on #243
Yup, Ceph is reporting to be full. Let me see what we can do about it. :shrug:

[code]

[2021-05-14 08:25] tumido commented on #243
Related:
- https://github.com/operate-first/alerts/issues/6886
- https://github.com/operate-first/alerts/issues/6871
- https://github.com/operate-first/alerts/issues/6890
- https://github.com/operate-first/alerts/issues/6894
- https://github.com/operate-first/alerts/issues/6891
- https://github.com/operate-first/alerts/issues/6841
- https://github.com/operate-first/alerts/issues/6833
- https://git

[2021-05-14 08:36] tumido commented on #243
PVC usage is minimal - reporting 380.6 GiB
Noobaa buckets reporting 226.4 GiB
RadosGW buckets reporting 2.34TiB

Overall stats show 3.88TiB allocated
There should be still 1.08TiB available

The numbers doesn't seem to add up - Ceph RadosGW is not exposing any metrics so I can't break it down per bucket. Trying to list the bucket stats via `radosgw-admin` but it seems unresponsive:

[code]

[2021-05-14 08:45] tumido commented on #243
I suspect we have extensive Ceph object buckets allocations hidden from sight since radosgw is not reporting metrics.

I'll try to free up some space by stopping prometheus in opf-monitoring and delete those PVCs there, just because it's an easy target and I'm not deleting user data by that. I hope it'll free my hands to list the buckets and see what's consuming all the space in Ceph