[2022-06-29 14:45] oindrillac commented on #600
@HumairAK looks like we are hitting cpu limits again, shall I increase it? and what do you recommend I increase it to?

[2022-06-29 19:49] veniceofcode opened #601 "chris-store-dev, chris-store-staging , chris-store"
### Target cluster

Smaug

### Team name

chris

### Desired project names

chris-store-dev, chris-store-staging , chris-store

### Project description

This is for deploying chris store ui (https://chrisproject.org/)

### Users needing access

veniceofcode, jennydaman

### Namespace Quota

Large

### Custom quota

_No response_

### Your GPG key or contact

rbanda at redhat dot com

[2022-06-29 20:50] HumairAK commented on #601
As this is requesting [3x large quotas](https://www.operate-first.cloud/apps/content/cluster-scope/quotas.html), can we get an ack for this request? @durandom ?

In the meantime @veniceofcode you can self service this request via: https://www.operate-first.cloud/apps/content/cluster-scope/onboarding_project.html

[2022-06-30 10:05] rbadagandi opened #602 "Kruize project - Resource usages with different service levels (10x,100x)"
This issue is to track the different results from testing Kruize HPO services at varied resource usages i.e with 10x, 100x capacity and sharing the out come of the test performance

As part of this activity, we would be testing the following:
- Draft test cases to run HPO with max resource utilization
- Prometheus overhead
- HPO overhead

This issue is tracked as part of the [#operate-first/comm](

[2022-06-30 10:07] rbadagandi opened #603 "Kruize operator support as future enhancement"
Currently Kruize project do not have an operator dependency. This issue is created as part of feature enhancement tracking for including Operator.

This issue is tracked as part of https://github.com/operate-first/community/issues/205 project

[2022-06-30 13:50] HumairAK commented on #591
minio operator was added to smaug https://github.com/operate-first/apps/pull/2108

[2022-06-30 13:50] #591 closed

[2022-06-30 19:49] HumairAK commented on #600
@oindrillac sure let's increase it by 20 cpus (both limits/requests)

[2022-06-30 19:53] HumairAK commented on #599
this is a problem we've noticed on the os-climate jupyterhub instance as well... https://github.com/operate-first/apps/issues/1918

[2022-06-30 19:56] HumairAK commented on #599
just confirmed this continues to be an ossie on osc-cl2 and osc-cl1

fyi @MichaelTiemannOSC

will add this to the backlog as something that needs to be investigated -- might need to confer with ODH

[2022-06-30 19:59] HumairAK commented on #599
issue doesn't seem to exist in our smaug>stage environment: https://jupyterhub-opf-jupyterhub-stage.apps.smaug.na.operate-first.cloud/hub/spawn

might give clues as to the issue

[2022-07-01 01:02] sesheta commented on #547
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-01 03:42] #680 closed

[2022-07-01 03:49] sesheta commented on #527
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-01 19:49] #600 closed

[2022-07-02 01:03] sesheta commented on #551
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-02 09:42] sesheta commented on #515
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-02 09:42] #515 closed

[2022-07-02 09:42] #679 closed

[2022-07-02 09:42] sesheta commented on #515
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/515#issuecomment-1172869900):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-07-02 09:42] #743 closed

[2022-07-02 18:50] sesheta commented on #324
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-03 03:42] #677 closed

[2022-07-03 03:42] #678 closed

[2022-07-04 06:09] #602 closed

[2022-07-04 06:09] #603 closed

[2022-07-04 15:33] harshad16 opened #604 "Loki service is not serviceable"
### Describe the Problem

The Loki service seems to be not providing the right result.
This could be due to the Morty storage not being available which was being used for loki service.
As described here: https://github.com/operate-first/apps/issues/2064

### Steps to Reproduce

1. Go to https://grafana.operate-first.cloud/d/liz0yRCZz/cluster-logs-quick-search?orgId=1
2. see the result not being av

[2022-07-04 15:34] HumairAK opened #643 "[INCIDENT][Emea/Morty] - Morty cluster is down"
### Clusters Affected

Morty

### Users Affected

All users of morty cluster. Including everyone using morty ODF object buckets (s3).

### Incident Description

Hello Operate First Cloud users.

We are investigating an issue with Morty cluster. Currently the cluster is unavailable, all users of this cluster are affected. Please note that this includes everyone using Morty S3 storage buckets. If yo

[2022-07-04 16:00] #643 closed

[2022-07-04 22:03] sesheta commented on #543
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-05 12:51] #543 closed, assigned to Gregory-Pereira

[2022-07-05 14:06] erikerlandson opened #605 "OS-Climate CL1 cluster is unavailable"
### Describe the Problem

The entire cluster appears to be unavailable: for example the console is not available.

### Steps to Reproduce

https://console-openshift-console.apps.odh-cl1.apps.os-climate.org/   does not work

### Expected behaviour

should see console, etc

### Screenshots

![image](https://user-images.githubusercontent.com/259898/177346739-e73179cb-92c8-453e-aac7-88791256597e.png)

[2022-07-05 15:33] HumairAK opened #642 "[INCIDENT][OSC-Cl1>] - OSC-CL1 Console down"
### Clusters Affected

osc-cl1

### Users Affected

All osc-cl1 users, including trino, superset, jupyterhub, kfp tekton, and other ODH users.

### Incident Description

Hello Operate First Users,

We're investigating an ongoing incident with osc-cl1. Currently console access is down, and potentially other areas as well. We will update this thread as the incident progresses.

### Relevant Links

-

[2022-07-05 16:01] HumairAK commented on #605
ocp authentication pods crashing:

[code]

likely something went wrong wtih recent cert update

[2022-07-05 17:30] #642 closed, assigned to HumairAK

[2022-07-05 17:30] HumairAK commented on #605
Resolved: https://github.com/operate-first/operations/issues/485#issuecomment-1175318987

[2022-07-05 17:30] #605 closed, assigned to HumairAK, redmikhail

[2022-07-05 21:36] SuJingyu111 opened #606 "Request access to smaug alert manager"
### Description
My project requires analyzing logs related to alerts, would benefit if have access to smaug alert manager to check out active alerts.

### Cluster
Smaug

@HumairAK Please take a look. Thanks!

[2022-07-06 13:51] schwesig commented on #595
@dwertent Hi David, how was OSS? Did you made it home safely?

[2022-07-06 14:55] durandom opened #607 "upgrade RHACM to 2.5"
### Description

https://www.redhat.com/en/blog/red-hat-brings-greater-simplicity-and-flexibility-kubernetes-management-latest-version-red-hat-advanced-cluster-management-kubernetes

can we work with the RHACM team to upgrade our ACM to 2.5?

[2022-07-07 15:58] harshad16 commented on #604
@HumairAK  no not yet, Thanos and Prometheus are still having issues.
It is on WIP stage.
will respond to this soon.

[2022-07-07 18:42] sesheta commented on #435
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-07 18:42] sesheta commented on #435
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/435#issuecomment-1178064705):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-07-07 19:03] sesheta commented on #406
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-08 00:50] sesheta commented on #500
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-08 03:42] #683 closed

[2022-07-08 21:50] sesheta commented on #529
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-09 00:42] #686 closed

[2022-07-09 15:50] sesheta commented on #448
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-09 18:47] Gregory-Pereira opened #608 "Prow pre-commit check pod cannot connect to github"
### Describe the Problem

In the process of testing [this pr](https://github.com/operate-first/continuous-deployment/pull/149), I found that the pod running the pre-commit check from Prow cannot connect to Github. Not sure why this is happening.

### Steps to Reproduce

1. Go to any repo that uses prow in Operate-First or Thoth-Station.
2. Create a PR there and check the pre-commit pod.

* not sur

[2022-07-09 18:47] Gregory-Pereira commented on #608
/cc @harshad16 can you  TAL?

[2022-07-09 18:49] Gregory-Pereira commented on #500
/lifecycle frozen

[2022-07-10 12:59] MichaelTiemannOSC commented on #599
I'm doing lots of starting and stopping today, and this issue is KILLING me as a wait minutes for the deployment size to become available.

[2022-07-10 14:42] Gregory-Pereira commented on #599
Could you share some additional information on what you are encountering? As Humair said I don't see this issue on Smaug (see screenshot). Are you running this on one of the OSC clusters?
![Screen Shot 2022-07-10 at 7 40 57 AM](https://user-images.githubusercontent.com/19876404/178149641-170ef155-86d0-4100-9736-4e10e5bca1f2.png)

[2022-07-10 15:34] MichaelTiemannOSC commented on #599
Yes, am seeing on odh-cl2.

Michael

[2022-07-11 18:42] sesheta commented on #182
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-11 18:42] #182 closed

[2022-07-11 19:03] sesheta commented on #422
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-13 10:08] eranra commented on #590
@HumairAK @durandom any progress on that area ???

[2022-07-13 14:45] harshad16 commented on #608
@Gregory-Pereira based on our previous discussion.
I believe you can resolve this issue. right?

[2022-07-14 14:40] first-operator[bot] opened #609 "Grafana data source for moc/smaug has no metrics"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1657801001879709?thread_ts=1657801001.879709&cid=C01RMPVUUK1_

[2022-07-15 03:43] sesheta commented on #319
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-15 03:43] sesheta commented on #319
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/319#issuecomment-1185142960):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-07-15 03:43] #319 closed

[2022-07-15 03:51] sesheta commented on #502
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-15 13:57] #609 closed

[2022-07-16 18:51] sesheta commented on #534
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-18 13:04] sesheta commented on #147
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-18 13:04] sesheta commented on #312
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-18 14:08] HumairAK opened #641 "[osc-cl2] Openmetadata mysql database crashing"
Pod culprit:
https://console-openshift-console.apps.odh-cl2.apps.os-climate.org/k8s/ns/openmetadata/pods

Error:

Rebooting the storage PVC will probably fix this issue, and is non-destructive. OM will just re-ingest everything from trino again, only user data and tokens will be lost which can be easily created. But we should investigate for the root cause first.

[2022-07-18 14:14] #641 closed

[2022-07-18 16:44] #648 closed

[2022-07-18 17:06] HumairAK commented on #502
/remove-lifecycle rotten

[2022-07-18 18:25] Shreyanand opened #610 "Kubeflow pipelines on osc-cl2 fail to terminate"
### Describe the Problem

As the screenshot shows, the Kubeflow pipeline can not be terminated.

### Steps to Reproduce

1. Get https://github.com/os-climate/aicoe-osc-demo in a JH env.
2. Run https://github.com/os-climate/aicoe-osc-demo/blob/master/notebooks/demo2/training.pipeline
3. Go to the pipeline run in Kubeflow and click on termintate.

### Expected behaviour

The pipeline terminates and

[2022-07-18 19:16] #610 closed

[2022-07-18 19:34] first-operator[bot] opened #611 "Add grafana editor role with docs"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1657916572851539?thread_ts=1657916572.851539&cid=C01RMPVUUK1_

[2022-07-18 19:58] #611 closed

[2022-07-19 01:04] sesheta commented on #537
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-19 17:44] HumairAK opened #640 "Create OSC Ops sub-project"
With [rynofinn](https://github.com/rynofinn) and [rynofinn](https://github.com/rynofinn) et all as members.
Identify a time slot, and add it to the operate-first calendar for public visibility.

[2022-07-19 19:33] HumairAK opened #639 "Provide Cluster admin and hashicorp OSC access to LF foundation"
Give cluster admin level access for osc-cl1 and osc-cl2 to [rynofinn](https://github.com/rynofinn) and [rynofinn](https://github.com/rynofinn). As well as vault admin access for osc.

Adding them to these groups should do the job:
https://github.com/operate-first/apps/blob/master/cluster-scope/overlays/prod/moc/smaug/groups/vault-osc-admins.yaml
https://github.com/operate-first/apps/blob/master/cl

[2022-07-19 20:54] first-operator[bot] opened #612 "meteor notebook build stuck"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1658263642126809?thread_ts=1658263642.126809&cid=C01RMPVUUK1_

[2022-07-19 20:56] harshad16 commented on #612
It can be observed on the pipeline, issue is in-regards to push of image to  registry:
[code]

[2022-07-20 02:56] caldeirav opened #613 "Provide Full Developer access to OSC-CL2 for OS-Climate user bryonbaker"

[2022-07-20 15:04] #613 closed

[2022-07-20 15:20] tumido commented on #612
So.. it seems either buildah out of a sudden stopped passing service account credentials (with no change to Meteor introducing this) or image registry stopped accepting the credentials. Image registry logs

[code]

The `no opinion` message is not really helpful here. Investigating a bit more...

[2022-07-21 05:13] harshad16 commented on #612
Tested the pipeline by providing an explicit `auth file` for the authentication.
The pipeline works without issue now.
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/aicoe-meteor/tekton.dev~v1beta1~PipelineRun/meteor-xts69-jupyterbook
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/aicoe-meteor/tekton.dev~v1beta1~PipelineRun/meteor-xts69-jupyt

[2022-07-22 00:51] sesheta commented on #544
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-22 00:51] sesheta commented on #545
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-22 12:38] #658 closed

[2022-07-24 15:51] sesheta commented on #532
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-24 16:04] sesheta commented on #561
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-24 16:04] sesheta commented on #562
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-24 16:04] sesheta commented on #563
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-24 16:04] sesheta commented on #564
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-24 16:04] sesheta commented on #565
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-25 17:19] #639 closed, assigned to nobody

[2022-07-25 17:22] harshad16 commented on #604
This issue is happening because the cache is reaching its limits.
![Screenshot from 2022-07-25 13-22-17](https://user-images.githubusercontent.com/14028058/180837402-ff13ac15-18e2-4c97-a3f0-fa8b7d12a285.png)

The flow should empty the cache once the data is stored in the ceph block storage.

[2022-07-26 18:52] sesheta commented on #165
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-27 22:05] sesheta commented on #491
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-28 21:52] sesheta commented on #542
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-28 21:52] sesheta commented on #546
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-29 13:47] redmikhail opened #638 "Openmetadata Airflow scheduler pod is crashing due to logs filesystem saturation"
Size of PVC for airflow scheduler is set to 1GB and fills up fairly quickly causing Airflow Scheduler pod to fail. By default AirFlow doesn't have limit on number of logs that it can produce.  In following article https://stackoverflow.com/questions/43548744/removing-airflow-task-logs/54195537#54195537 users had to resort to writing script that would rotate/clean log files. As temporary solution w

[2022-07-29 15:24] schwesig commented on #604
/triage accepted

[2022-07-31 03:52] sesheta commented on #547
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-31 06:44] sesheta commented on #527
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-31 06:44] #527 closed

[2022-07-31 06:44] sesheta commented on #527
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/527#issuecomment-1200360999):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-08-01 03:52] sesheta commented on #551
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-01 12:09] schwesig commented on #551
/user experience

[2022-08-01 12:10] schwesig commented on #547
/kind cleanup
/kind feature
/kind governance
/user experience

[2022-08-01 12:12] schwesig commented on #546
/kind cleanup
/kind feature

[2022-08-01 12:12] schwesig commented on #491
/kind feature

[2022-08-01 12:13] schwesig commented on #565
/kind feature
/user experience

[2022-08-01 12:14] schwesig commented on #565
/sig user-experience

[2022-08-01 12:16] schwesig commented on #604
/kind bug
/kind cleanup

[2022-08-01 12:18] schwesig commented on #542
/kind data-scientist
/kind feature
/kind metrics

[2022-08-01 12:18] schwesig commented on #542
/sig operations

[2022-08-01 12:19] schwesig commented on #564
/sig user-experience
/kind feature
/user experience

[2022-08-01 12:19] schwesig commented on #563
/sig user-experience
/kind feature
/user experience

[2022-08-01 12:20] schwesig commented on #562
/sig user-experience
/kind feature
/user experience

[2022-08-01 12:20] schwesig commented on #561
/sig user-experience
/kind feature
/user experience

[2022-08-01 12:22] schwesig commented on #532
/kind feature
/kind data-scientist
/sig operations

[2022-08-01 12:31] schwesig commented on #312
/kind data-engineer
/kind data-scientist
/kind feature
/area monitoring
/area contributor
/sig devops
/sig operations

[2022-08-01 12:33] schwesig commented on #534
/kind academic-administrator
/kind academic-researcher
/kind data-engineer
/kind data-scientist
/sig community
/sig devops

[2022-08-01 12:34] schwesig commented on #608
/kind bug

[2022-08-01 12:34] schwesig commented on #608
/sig devops
/sig operations

[2022-08-01 12:35] schwesig commented on #535
/assign @rbo
issue solved? still need to create another/ our own group?

[2022-08-01 12:36] schwesig commented on #535
/kind feature
/sig community

[2022-08-01 12:36] schwesig commented on #612
/kind bug

[2022-08-01 12:37] schwesig commented on #612
ping @harshad16 ping @tumido

[2022-08-01 12:41] schwesig commented on #422
@harshad16 @MichaelTiemannOSC
is this still a problem/ needs to be fixed?

[2022-08-01 12:42] schwesig commented on #422
/kind bug
/sig devops
/sig operations
/kind cleanup

[2022-08-01 12:42] schwesig commented on #575
/sig devops
/sig operations

[2022-08-01 12:43] schwesig commented on #575
@dystewart is this issue solved by https://github.com/operate-first/apps/pull/2007 ?

[2022-08-01 12:44] schwesig commented on #586
/kind onboarding
/sig devops
/sig operations

[2022-08-01 12:44] schwesig commented on #586
/triage accepted

[2022-08-01 12:45] schwesig commented on #575
/sig devops
/sig operations

[2022-08-01 12:45] schwesig commented on #422
/triage accpeted

[2022-08-01 12:45] sesheta commented on #422
@schwesig: The label(s) `triage/accpeted` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/support/issues/422#issuecomment-1201155097):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions rel

[2022-08-01 12:46] schwesig commented on #422
/triage accepted

[2022-08-01 12:47] schwesig commented on #448
closed by creator
all topics integrated in the current workflow

[2022-08-01 12:48] schwesig commented on #400
/kind feature
/area monitoring

[2022-08-01 12:49] schwesig commented on #533
/area monitoring
/kind onboarding
/kind data-engineer
/kind data-scientist

[2022-08-01 12:50] schwesig commented on #569
/kind onboarding

[2022-08-01 12:51] schwesig commented on #452
done
needed topics soved, some topics overrun by time and changes in organization and processes

[2022-08-01 12:51] #452 closed

[2022-08-01 12:52] schwesig commented on #453
needs a restart with new requests if needed again

[2022-08-01 12:52] #453 closed

[2022-08-01 12:52] schwesig commented on #449
if this is started again, this needs updates/ restart too

[2022-08-01 12:52] #449 closed

[2022-08-01 12:53] schwesig commented on #449
/kind docuentation

[2022-08-01 12:53] sesheta commented on #449
@schwesig: The label(s) `kind/docuentation` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/support/issues/449#issuecomment-1201162618):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions r

[2022-08-01 12:53] schwesig commented on #449
/kind documentation

[2022-08-01 12:53] schwesig commented on #453
/kind handbook
/users documentation
/kind documentation

[2022-08-01 12:54] schwesig commented on #572
/kind data-engineer
/kind data-scientist
/kind feature
/kind metrics
/area monitoring

[2022-08-01 12:55] schwesig commented on #374
/kind metrics
/kind data-engineer
/kind data-scientist
/area monitoring

[2022-08-01 12:57] schwesig commented on #374
@goern @harshad16 can this issue be closed because of

- https://github.com/thoth-station/thoth-application/pull/2082
- https://github.com/thoth-station/thoth-application/pull/2143

[2022-08-01 12:57] schwesig commented on #228
/sig devops
/sig operations

[2022-08-01 12:57] schwesig commented on #228
/kind feature

[2022-08-01 12:58] schwesig commented on #571
/area monitoring
/kind metrics

[2022-08-01 12:59] schwesig commented on #556
/user experience
/kind handbook
/kind documentation

[2022-08-01 13:00] schwesig commented on #556
/sig user-experience

[2022-08-01 13:01] schwesig commented on #585
/kind onboarding

[2022-08-01 15:39] davegord commented on #590
@HumairAK @durandom  -- is there any updates here you can share with us?  Is there anything we can do to help?

[2022-08-01 17:18] dystewart commented on #575
@schwesig Thank you for calling to my attention!
Closing, resolved by [https://github.com/operate-first/apps/pull/2007](https://github.com/operate-first/apps/pull/2007)

[2022-08-01 17:18] #575 closed

[2022-08-01 17:59] HumairAK commented on #581
that should be part of it, this should really be broken into multiple issues, @traytorous did you get a chance to make a separate issue for stackrox/acs?

[2022-08-01 18:45] traytorous commented on #581
I did not let me create one right now @HumairAK

[2022-08-01 18:51] traytorous opened #614 "I want to add stackrox to the smaug cluster"
### Additional Context

Multiple end-users would like to add Stackrox to the smaug cluster so that they can have Kubernetes native security support for their projects. This project consists of two main parts. The first part consists of getting the central component of Stackrox on the smaug cluster. The central component is the control center of Stackrox. It is the portion that has the web interfac

[2022-08-01 18:51] traytorous commented on #614
/assign @traytorous

[2022-08-01 19:07] husky-parul commented on #569
I have a PR WIP for this https://github.com/operate-first/apps/pull/2181 so going to close this issue. Thanks.

[2022-08-01 19:07] #569 closed

[2022-08-01 21:44] sesheta commented on #324
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-01 21:44] sesheta commented on #324
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/324#issuecomment-1201754640):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-08-01 21:44] #324 closed

[2022-08-01 22:15] harshad16 commented on #612
This has been fixed already
all the details are on the [chat](https://operatefirst.slack.com/archives/C01RMPVUUK1/p1658263642126809?thread_ts=1658263642.126809&cid=C01RMPVUUK1)
Thanks for all the help :pray:

[2022-08-01 22:15] #612 closed

[2022-08-01 22:28] harshad16 commented on #422
@schwesig please take a look at my comment
the issue described is an upstream flow that would occur in any build irrespective of our image or not if the application is using package open shift.
IMHO this is something we can explicitly remove in built if needed, however, I feel it would be just an extra step.
If anyone can confirm, that we need to invest time in this. Please provide an acknowledgme

[2022-08-01 22:30] harshad16 commented on #374
The dashboard for prow is still not yet built.
This could be a good issue for someone interested in building dashboard.
I would suggest making this issue frozen and in the backlog.

[2022-08-02 11:22] schwesig commented on #422
@harshad16 That is why I added/ pinged @MichaelTiemannOSC in this comment again.
I will leave this stale by now.
We will see if it becomes urgent again and Michael has an opinion/ update.

[2022-08-02 11:25] rbo commented on #535
Nope, and I don't have the time to work one next 1-2 Months - sorry for that.

[2022-08-02 12:06] MichaelTiemannOSC commented on #422
I'm not an expert in these regards, but I wonder whether the data_files directives in these two cases are not merely making the mess that needs to be cleaned up.  I understand that talking with the python stringutils people might take a while, but do the openshift people really need to push requirements.txt down a level to make things work?

Anyway, I reported what I saw as awkward, and admit that

[2022-08-02 14:02] durandom opened #615 "sesheta not merging"
https://github.com/operate-first/operate-first.github.io/pull/159 is not being merged.

[2022-08-02 17:48] Gregory-Pereira commented on #604
Loki cannot connect to ceph on morty for some reason, investigating this. Logs: ```level=error ts=2022-08-02T17:46:09.044431401Z caller=main.go:157 err="BaseFetcher: iter bucket: Get \"https://s3-openshift-storage.apps.morty.emea.operate-first.cloud/opf-observatorium-metrics/?location=\": dial tcp 46.4.65.182:443: i/o timeout\ncould not sync metas\nmain.runCompact.func8.1\n\t/home/circleci/project

[2022-08-02 18:51] Gregory-Pereira opened #637 "[INCIDENT][Morty] - Morty is currently down"

[2022-08-03 07:10] durandom commented on #615
@harshad16 @goern  looks like we included the repo again in https://github.com/thoth-station/thoth-application/commit/62b44852bbac52b800f0c922131fd44dc42117c9 - but it's not deployed yet
At least the https://prow.operate-first.cloud/tide says it's excluded.

Looking at https://argocd.operate-first.cloud/applications/ci-prow-prod-smaug?resource=&operation=true it's not synced and syncing it gives a

[2022-08-03 07:26] durandom commented on #615
I managed to deploy all out-of-sync components by selecting them.
There's still the issue with plank and horologium stuff not able to be applied. Any ideas?

[2022-08-03 08:19] durandom opened #636 "move workloads off of morty"
since morty is currently down and we only have a limited budget left to support this cluster, I want to move all workloads off of morty and to smaug.

https://github.com/operate-first/support/issues/637

[2022-08-03 13:01] harshad16 commented on #615
With [morty](https://console-openshift-console.apps.morty.emea.operate-first.cloud/dashboards) cluster down
none of the component using object bucket from Morty are able to function
list of the component can be found here: https://github.com/operate-first/apps/issues/2064

once the object bucket issue is fixed. These issues should fix themselves.

[2022-08-04 16:33] Gregory-Pereira commented on #604
The reason why loki cannot connect to S3 on morty is due to there being an issue with the `noobaa-operator` which deploys s3 in the `openshift-storage` namespace. It has an empty imagestream (with a tag name but no image) and cannot lookup the image from `registry.redhat.io` which could be related to redhat registry credentials or to basic networking. In either case I think we should wait on this

[2022-08-04 19:00] guimou opened #617 "ODH-Highlander onboarding"
### Description

### Context
ODH Highlander is a project to bring modular dynamic libraries and applications to OpenShift. It solves the issue of container images sprawling in large shared environments.
The project is described here: https://github.com/guimou/odh-highlander
with a more detailed story here: https://towardsdatascience.com/unlimited-scientific-libraries-and-applications-in-kubernetes

[2022-08-06 21:54] sesheta commented on #406
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-08 00:45] sesheta commented on #529
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-08 00:45] sesheta commented on #529
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/529#issuecomment-1207527147):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-08-08 00:45] #529 closed

[2022-08-08 09:31] goern commented on #615
any update on this?

[2022-08-08 16:42] quaid opened #618 "Mailing list web login not working for some users"
### Describe the Problem

A number of people were auto-subscribed to the community@lists.operate-first.cloud mailing list. There seems to be a dynamic where the email address receives email, but it's not recognized as a full user account.

For example, `tschwesi@redhat.com` is a subscribed address, but when you go to https://lists.operate-first.cloud/accounts/password/reset/ and put in that addres

[2022-08-08 16:51] quaid opened #619 "Keycloak is not working or not configured on mailing list server"
### Describe the Problem

The login page at https://lists.operate-first.cloud/accounts/login/ advertises you can login using another account service by __Keycloak__, but the resulting link show the default configuration is in use and doesn't go anywhere.

### Steps to Reproduce

1. Go to https://lists.operate-first.cloud/accounts/login/
2. Click on __Keycloak__
3. Note that the URL bar is now set

[2022-08-08 16:57] schwesig commented on #618
thanks @quaid for issuing this

[2022-08-08 16:57] schwesig commented on #618
/kind bug

[2022-08-08 16:58] schwesig commented on #618
/sig community

[2022-08-08 21:45] #681 closed

[2022-08-09 11:56] riprasad opened #620 "Vault Integration Required"
### Description

As of now we're storing our  SSO credentials and other sensitive tokens as secrets. Also, currently we are manually creating the secret on the cluster since we cannot push the secret manifests to github. We would like to avoid doing that and use vault for storing our sensitive data, to avoid information leak and manual creating of secrets in our namespace.

Chat Thread: https://ap

[2022-08-09 12:12] riprasad opened #621 "Add Graphana, Prometheus and Thanos access to Apicurio Team"
### Description

Hi Team,
We would like to use the monitoring (prometheus, grafana) and Observatorium(Thanos, Loki) services. Could you please grant the necessary permissions to the [apicurio group](https://github.com/operate-first/apps/tree/master/cluster-scope/base/user.openshift.io/groups/apicurio).

We would like permissions to be able to configure ServiceMonitor to start scraping our applicat

[2022-08-09 17:33] quaid opened #622 "'No data' shown by Grafana on main "Community Cloud" page"
### Describe the Problem

Grafana is displaying zero data, as if it's source is empty or it's not connecting to a service. This service was working a few weeks ago. Grafana shows flags that it is working and updating the charts, but nothing is displayed.

### Steps to Reproduce

1. Go to https://www.operate-first.cloud/community-cloud
2. Scroll down to the "Workloads" section
3. Note the lack of c

[2022-08-09 18:21] duck-rh commented on #618
@quaid being a member of the list does not mean you have an account in the web UI. Now if you register and validate using the same email address then you get to control your subscriptions and other settings, but this is not compulsory as you can simply request membership of the list (certain users prefer this in fact). In this case they were auto-added, do not have an account and need to register

[2022-08-10 17:27] #708 closed

[2022-08-11 07:56] andreaTP opened #623 "Request to add: ResourceQuota for `apicurio`"
### Team name

apicurio

### Explain why this resource is needed

We have two namespaces `apicurio-apicurio-registry` and `api-designer` and we are currently hitting resources limits(mainly CPU but MEM soon too).

[code]

We started deploying multitenant configurations that require additional components and we run >= 3 JVMs components, this means that during rolling updates(involving also `Deploym

[2022-08-11 11:31] durandom commented on #617
@HumairAK can wee the above requirements in os-climate or smaug?

[2022-08-11 14:09] HumairAK commented on #623
/hold

[2022-08-11 14:16] HumairAK commented on #623
@andreaTP I'm going over the namespaces you have listed and they don't seem to be nearing the current quota which is well below the new requested amounts.

![image](https://user-images.githubusercontent.com/10904967/184153539-0b8e4273-cfe5-4cc2-813d-40990ed02d70.png)
![image](https://user-images.githubusercontent.com/10904967/184153625-32a5de1e-bd8e-40fd-9186-dc881928f7e2.png)

In the case of `api

[2022-08-11 14:17] HumairAK commented on #623
fyi @durandom

[2022-08-11 15:07] HumairAK commented on #621
@Gregory-Pereira / @harshad16 ^^^

[2022-08-11 15:15] andreaTP commented on #623
Thanks for the feedback @HumairAK !

Correct, yesterday we scaled all the way down all of our Deployments(requests and instances) in `apicurio-apicurio-registry` to fit into the cluster and have a little space for updating operations etc.

I can decrease the Quota requested for `api-designer` project but, as there are plans to use that environment more heavily, I might get back to it at a later st

[2022-08-11 16:43] durandom commented on #623
I'm also interested in the monitoring infrastructure, since that's a common ask from teams running workloads here.

regarding the bump for quota, I'm good with that. Looks like we still have enough resources on smaug.
@HumairAK you can approve the PR if it's good

[2022-08-12 07:12] riprasad commented on #623
PR: https://github.com/operate-first/apps/pull/2247

[2022-08-12 19:06] sesheta commented on #247
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 15:45] #700 closed

[2022-08-15 17:25] HumairAK opened #635 "etcdGRPCRequestsSlow alerts firing on Smaug"

[2022-08-15 17:29] #637 closed

[2022-08-16 04:06] sesheta commented on #568
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-17 08:05] mimotej commented on #568
/remove-lifecycle stale
@Shreyanand Hi, the [upstream issue](https://github.com/elyra-ai/elyra/issues/2681) is closed. Is this issue resolved or it needs further attention?

[2022-08-17 08:09] mimotej commented on #565
/remove-lifecycle stale

[2022-08-17 08:13] mimotej commented on #564
/remove-lifecycle stale

[2022-08-17 08:24] mimotej commented on #547
/remove-lifcycle rotten
@Gregory-Pereira @HumairAK Do we keep this issue opened or were/will this be handled in different issues?

[2022-08-17 08:38] mimotej commented on #551
/remove-lifecycle rotten

@Gregory-Pereira Will someone work on this, is it in progress or is there different issue that is used for tracking? Can this be closed?

[2022-08-17 08:44] mimotej commented on #546
/remove-lifecycle rotten

@rbo Hi, was this resolved or it needs some work? Can this issue be closed?

[2022-08-17 08:49] mimotej commented on #545
/remove-lifecycle rotten

@csibbitt  Hi, is this still relevant or is it no longer needed?

[2022-08-17 09:00] mimotej commented on #544
/remove-lifecycle

@csibbitt Hi, from description I assume this was a part of a workshop/tutorial. Can this be closed or was it part of project that is needed? I expect same applies for #545 . Thank you

[2022-08-17 09:08] mimotej commented on #542
/remove-lifecycle rotten

@hemajv Hi, is this still wanted or can this be closed?

[2022-08-17 09:11] mimotej commented on #537
/close

Since the demo is done closing this issue

[2022-08-17 09:11] #537 closed

[2022-08-17 09:11] sesheta commented on #537
@mimotej: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/537#issuecomment-1217724516):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-08-17 09:21] mimotej commented on #535
/remove-lifecycle rotten

[2022-08-17 09:41] mimotej commented on #534
/remove-lifecycle rotten

@cdolfi Hi, is this relevant, is it something that is being discussed?

[2022-08-17 09:49] mimotej commented on #422
/remove-lifecycle stale

[2022-08-17 09:56] mimotej commented on #406
/remove-lifecycle rotten

@GaryPWhite Hi checking in, is this still relevant or can this issue be closed?

[2022-08-17 09:58] mimotej commented on #312
/remove-lifecycle stale

[2022-08-17 10:04] mimotej commented on #247
/remove-lifecycle stale

[2022-08-17 10:05] mimotej commented on #562
/remove-lifecycle stale

[2022-08-17 10:05] mimotej commented on #561
/remove-lifecycle stale

[2022-08-17 10:46] mimotej commented on #502
/remove-lifecycle rotten

[2022-08-17 11:06] mimotej commented on #491
/remove-lifecycle stale

@sallyom Hi, is this resolved or is there still something that needs to be done?

[2022-08-17 14:36] cdolfi commented on #534
@butlereric is this something you are still interested in?

[2022-08-17 14:50] mimotej commented on #165
/remove-lifecycle rotten

[2022-08-17 14:50] mimotej commented on #147
/remove-lifecycle stale

[2022-08-17 15:12] Shreyanand commented on #568
Thanks for pointing it @mimotej!

The [upstream issue](https://github.com/elyra-ai/elyra/issues/2681) that we created, resulted in an implementation [issue](https://github.com/elyra-ai/elyra/issues/2681)  which was merged in this [PR](https://github.com/elyra-ai/elyra/pull/2848).

@redmikhail @HumairAK It seems there is a way to add taints in Elyra version 3.11.0. Would that be useful to try out?

[2022-08-18 14:42] HumairAK commented on #547
@mimotej please review: https://github.com/operate-first/support/pull/624
this will resolve this issue

[2022-08-18 15:59] Gregory-Pereira opened #634 "[INCIDENT][Smaug/OBCs] - Overflowing OBCs cause connection issues resulting in 504"
### Clusters Affected

Smaug

### Users Affected

All prow users and `opf-observatorium` users who are attempting to access logs.

### Incident Description

Hello Operate-First Users,

We have been encounter issues with OBCs, and our S3 buckets getting filled. As they are close to overflowing, connection time to the buckets usually exceeds the time limit which results in a 504 error. This currentl

[2022-08-18 19:18] csibbitt commented on #544
Yes, @mimotej, this was originally part of a tutorial I was following and I ended up using other resources instead. I will close this and #545

[2022-08-18 19:18] #544 closed

[2022-08-18 19:18] csibbitt commented on #545
no longer relevant

[2022-08-18 19:18] #545 closed

[2022-08-19 14:30] Gregory-Pereira commented on #500
Closing this issue as the namespace has been created and is availalbe.

[2022-08-19 14:30] #500 closed

[2022-08-19 15:48] #615 closed

[2022-08-19 17:38] #635 closed

[2022-08-22 09:07] goern opened #625 "prow: peribolos and labels not working"
### Describe the Problem

for https://github.com/thoth-station/core/compare/8e6e5ab51d94...7abe7e642c95 both the `thoth-station-labels` and `thoth-station-peribolos` job failed:

`thoth-station-labels`
[code]

`thoth-station-peribolos`
[code]

### Steps to Reproduce

1. go to https://prow.operate-first.cloud/

### Expected behaviour

labels and github config is updated

### Screenshots

n/a

### A

[2022-08-22 18:52] GaryPWhite commented on #406
I think so. Sorry for the long delay :)

[2022-08-22 18:52] #406 closed

[2022-08-22 19:43] first-operator[bot] opened #626 "How can I access Cloudbeaver and add tables to trino on osc-cl2?"
_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1661197307036519?thread_ts=1661197307.036519&cid=C01RMPVUUK1_

[2022-08-22 19:46] HumairAK commented on #626
Let's create a section for cloudbeaver in gitops docs here: https://www.operate-first.cloud/apps/content/README.html

and add a section on "how to access cloudbeaver" for each living instance (there are currently 3, one in smaug, osc-cl1, osc-cl2)

[2022-08-24 14:13] #659 closed

[2022-08-24 17:21] suppathak opened #627 "Request to include CI/CD process for repo: https://github.com/redhat-et/homomorphic-learning"
In order to include automated processes like assigning reviewers for PR, merging PRs after approval, I would like to have a setup for the repo: https://github.com/redhat-et/homomorphic-learning

[2022-08-24 17:22] suppathak commented on #627
cc @harshad16
cc @aakankshaduggal

[2022-08-25 14:03] tumido opened #633 "Investigate manual approval on operators"
Some operators on Infra cluster are complaining that they are turned into `Manual` approval even though they are set to `Automatic`... Hitting the same old thing again.

![image](https://user-images.githubusercontent.com/7453394/186684463-521423ba-a96f-46f2-9e3a-f88ea7a577b1.png)

[2022-08-25 17:09] #633 closed

[2022-08-25 20:22] HumairAK opened #991 "Smaug cluster-scope app in argocd not syncing kvm rbac"
In argocd for [this](https://argocd.operate-first.cloud/applications/cluster-resources-smaug?resource=sync%3AOutOfSync&operation=false&node=argoproj.io%2FApplication%2Fargocd%2Fcluster-resources-smaug%2F0&tab=diff) app we see:

![image](https://user-images.githubusercontent.com/10904967/186760236-b16099be-a0d3-4d61-9b5d-42bf76459555.png)

But in the cluster we see:
[code]
So it's reporting this in

[2022-08-26 08:16] #991 closed

[2022-08-26 09:03] #547 closed

[2022-08-27 17:50] Gregory-Pereira opened #990 "Moving some workloads (Prow) to Jerry to create Multi-cluster Deployment"

[2022-08-27 18:47] Gregory-Pereira opened #989 "[BUG or Flake] Cannot Access Vault"
# Issue summary

I was following the steps documented [here](https://www.operate-first.cloud/apps/content/vault_eso/add_external_secrets_to_ns.html), specifically checking if the correct role to access
 had been given to enable the namespace (opf-observatorium) to fetch secrets from vault. That being said, when attempting to authenticate through the vault UI I tried multiple methods of authenitcat

[2022-08-28 08:17] MichaelTiemannOSC commented on #617
Following...

[2022-08-28 22:26] Gregory-Pereira opened #987 "Prow Fails to independently trigger all tests against PRs"

[2022-08-29 03:30] traytorous commented on #614
Pull request has been made for the central component of stackrox.
https://github.com/operate-first/apps/pull/2211

[2022-08-29 14:16] HumairAK opened #986 "fybrik-osc-cl2 argocd app attempting to deploy namespace (not allowed)"
The argocd app `fybrik-osc-cl2` is deploying via a helm chart, more info here:

https://argocd.operate-first.cloud/applications/fybrik-osc-cl2?resource=sync%3AOutOfSync&operation=false

The helm chart deploys a namespace, this project is not permitted to deploy this (thus the sync is failing). Ideally the helm chart should give an option to not deploy this namespace via some parameter. If it alrea

[2022-08-29 14:57] Gregory-Pereira opened #985 "[Spike] ACM MCO Alerting"

[2022-08-30 09:10] lukehinds opened #628 "NEW PROJECT: next-security-demo"
### Target cluster

_No response_

### Team name

next-security-demo

### Desired project names

next-security-demo

### Project description

A cluster for the OCTO-ET Security Team to stand up a demo for the Next! Event staged in Dallas

### Users needing access

lukehinds

### Namespace Quota

Small

### Custom quota

_No response_

[2022-08-30 09:12] durandom commented on #628
@lukehinds can you elaborate on the size and features of the cluster? I have an idle single node cluster deployed at https://github.com/operate-first/ionos-openshift
I could hand out `cluster-admin`
If you just need namespaces and nothing fancy, I'd recommend a namespace on `smaug`

[2022-08-30 09:20] durandom commented on #628
you're already part of groups [rekor](https://github.com/operate-first/apps/blob/master/cluster-scope/base/user.openshift.io/groups/rekor/group.yaml) and [sigstore](https://github.com/operate-first/apps/blob/master/cluster-scope/base/user.openshift.io/groups/sigstore/group.yaml) but I dont see any namespaces for both teams.

Should we create a new security team or re-use one of those?

[2022-08-30 09:51] lukehinds commented on #628
I am not sure what those are from, it might been efforts a few years ago. A new team would be useful I think, and start un-opinionated.

[2022-08-30 09:52] lukehinds commented on #628
I don't really have any size requirements. At the most I might be running 10 containers or so. This will be for a demo and prototyping.

[2022-08-30 10:21] durandom commented on #374
https://www.kubermatic.com/blog/monitoring-prow-resources-with-prometheus-and-grafana/ is another writeup to give some more context

[2022-08-30 10:35] durandom commented on #374
* https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/opf-ci-prow/routes
* https://deck-metrics-opf-ci-prow.apps.smaug.na.operate-first.cloud/metrics
* http://ghproxy-metrics-opf-ci-prow.apps.smaug.na.operate-first.cloud/metrics
* https://hook-metrics-opf-ci-prow.apps.smaug.na.operate-first.cloud/metrics

[2022-08-30 16:03] Gregory-Pereira opened #984 "Onboard ACM MCO to Operate-First `Infra` cluster"
Action items:
- [x] create namespace `open-cluster-management-observability`
- [x] enable external secrets in said namespace
- [ ] Generate pull-secret. Create an external secret in git for it and reference it.
- [ ] create secret for object storage.  Create an external secret in git for it and reference it.
- [x] verify the observability api-version exists
    - done:
[code]
- [x] create multiClu

[2022-08-30 21:48] schwesig commented on #628
/area community
/kind demo

[2022-08-30 22:29] Gregory-Pereira commented on #621
@riprasad can you confirm you have the permissions you need? I think you should be able to see everything. Let me know if your lacking any permissions, or if i should close this issue.

[2022-08-31 11:33] tumido opened #632 "Infra cluster fails to apply NodeNetworkConfigurationPolicies"

[2022-08-31 12:49] sesheta commented on #532
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-31 12:49] #532 closed

[2022-08-31 12:49] sesheta commented on #532
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/532#issuecomment-1232894796):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-08-31 12:59] #986 closed

[2022-08-31 14:54] rbo commented on #546
With decommission of Morty, we can close the issue. https://github.com/operate-first/apps/pull/2341

[2022-08-31 14:54] #546 closed

[2022-08-31 16:21] Gregory-Pereira opened #983 "Replace the Trino Morty catalog with a catalog backed by a smaug bucket"

[2022-08-31 19:29] #628 closed

[2022-09-01 08:03] riprasad commented on #621
Hello @Gregory-Pereira, Sorry for the delayed response. I was on a long PTO

I can confirm that I am able to access the grafana console at https://grafana.operate-first.cloud/ , however I am unable to create the ServiceMonitor CRD. I believe the `monitoring-edit` role is required for that
[code]

Also, I am getting 403 while trying to access the below URLs:-
1. Thanos Dashboard: https://thanos-que

[2022-09-01 12:33] roastdeer opened #629 "Request: Kubernetes/Openshift Audit logs for a Master's Thesis"
### Description

Hello,
@durandom asked me to open this issue.

I'm currently in research/data hoarding phase of my upcoming Master's Thesis on _Kubernetes/Openshift log anomaly analysis_ (using Machine Learning) and if possible I'd like to receive all kinds of logs that you could provide to me so that I can train my algorithms as best as I can.

I already have some Openshift audit log dumps from

[2022-09-01 13:38] Gregory-Pereira commented on #621
Interesting, while Ive had prometheus, Thanos, and Grafana dashboard access, I am getting an authentication error trying to access those routes through the links you shared, I might have to double check those. In any case I'll get to it this morning. I hope you enjoyed your PTO!

[2022-09-01 15:37] #632 closed

[2022-09-01 15:48] Gregory-Pereira opened #631 "[INCIDENT][Smaug] - Smaug facing networking issues"
### Clusters Affected

Smaug

### Users Affected

Everyone using smaug.

### Incident Description

Hello Operate-First Users,

Smaug is currently facing some networking issues. It has been identified something is wrong with the switches Smaug is using. It seems that it's not completely inaccessible, which would imply to me that only some of the switches are affected, but more information on this w

[2022-09-01 17:12] Gregory-Pereira commented on #629
Firstly nice PFP. To the issue at hand. We're currently moving bits of our monitoring stack around, so i'm not sure if we have a single centralized point for logs from every cluster, but we do have OBCs which store our logs for each cluster. Why don't we start with accessing our  logs from our semi-production Smaug cluster and we can always give you links to access our other logs

Here are the ste

[2022-09-02 09:54] roastdeer commented on #629
Thank you.
(The PFP is DALL-E generated btw)

[2022-09-02 13:54] VannTen opened #982 "Enable tekton/openshift pipelines prow integration"

[2022-09-02 18:46] Gregory-Pereira commented on #621
@riprasad, we encountered [a networking incident](https://github.com/operate-first/operations/issues/497) in Smaug yesterday. Part of its affects were to prevent dns lookup, which made most routes fail as they could not get a callback from openshift-authentication to scope permissions of the person in question attempting to access a route for a given application. I don't think it is fully resolved

[2022-09-02 20:42] MichaelTiemannOSC opened #981 "add oef_openclimate catalog to Trino"
The Open Earth Foundation's Open Climate project includes a PostgreSQL database with data content that would be useful to OS-Climate: https://collabathon-docs.openclimate.earth/openclimate/about-the-platform

The following people at Open Earth Foundation should be able to provide endpoint information and access to the Op1st team: @yeozy95 @evanp.  Both are presently members of the OS-Climate GitHu

[2022-09-03 00:23] Gregory-Pereira commented on #608
bump @Gregory-Pereira

[2022-09-03 00:59] Gregory-Pereira opened #980 "INCIDENT: Prow currently down"
All prow jobs are currently failing with a 503 internal server error. It pipes a hexdump to the logs (see logs below).
[prow.log](https://github.com/operate-first/apps/files/9481590/prow.log)

It just spits out a fat hex dump... More info to come.

/assign
/cc @harshad16

[2022-09-03 15:07] Gregory-Pereira opened #979 "OSC Trino deployments show warnings about OAuth2"

[2022-09-03 15:07] Gregory-Pereira opened #1103 "OSC Trino deployments show warnings about OAuth2"
After looking into the Trino coordinator logs, some rather nasty looking warnings continue to pop up about an `Oauth2 client not being initialized`. Here is a fragment of the error in the stack-trace:
[code]

This warning also appears for for the routes `/ui/api/stats` and `/ui/api/cluster` in addition to `/ui/api/query`. It seems to occur 4 times per route in the logs before the server starts. In

[2022-09-03 19:11] Gregory-Pereira opened #978 "No available Object Bucket Claim supported provisioners in Smaug"

[2022-09-03 22:21] #987 closed

[2022-09-05 08:56] riprasad commented on #621
@Gregory-Pereira I am still getting 403 on all the above 3 URLs.

Also, please grant `monitoring-edit` role to the `apicurio` group to be able to create ServiceMonitor resources for our services.

[2022-09-05 10:38] durandom commented on #614
@traytorous IIUC you created https://github.com/operate-first/apps/pull/2211 by applying a helm chart and then extracting the manifests. I wonder how maintainable this is. If the helm chart gets updated, who will update this PR? 🤷

1. is there an helm / argoc integration?
2. is there another maintained stackrox deployment available? operators? whats the product line? @jeremychoi ?

[2022-09-05 10:41] durandom commented on #614
https://argo-cd.readthedocs.io/en/stable/user-guide/helm/ for managing helm charts with argocd

[2022-09-05 13:34] durandom commented on #629
Thanks @Gregory-Pereira for the detailed response.
I don't think any of those groups are a good fit, since they're all functional teams.
Let's see if we can help without joining a group.

@roastdeer - now that you're part of the operate-first GH org you should be able to access https://grafana.operate-first.cloud/?orgId=1 - but I might be wrong.
Have a look at the data sources and explorer and see

[2022-09-06 14:24] tumido opened #977 "ODF/OCS cleanup in manifests"

[2022-09-06 14:28] tumido opened #976 "OS-Climate cluster-scope overlays do not maintain folder structure"
For unknown reason the operators in CL2 in OSC are not following [ADR 0015](https://github.com/operate-first/blueprint/blob/main/adr/0015-cluster-resources-amendment.md) and [ADR 0009](https://github.com/operate-first/blueprint/blob/main/adr/0009-cluster-resources.md):

Most of the content of this folder should live in base and only patches should be present in the overlays:
https://github.com/ope

[2022-09-06 19:13] traytorous commented on #614
Hi @durandom I think that you are right. I looked through the documentation and created a pull request with the documents that you created. Is this what you meant? With this we can just keep track of the version and it should work in theory.
- https://github.com/operate-first/apps/pull/2389

[2022-09-07 16:09] sesheta commented on #446
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-08 12:52] durandom commented on #374
https://github.com/operate-first/apps/pull/2393 fixes user workload monitoring but also removes the above public routes

[2022-09-08 13:40] durandom commented on #374
I imported all dashboards from https://github.com/kubernetes/test-infra/tree/d917e4a1e773ccf701ac58424a0b4ee3490e8dd1/config/prow/cluster/monitoring/mixins/grafana_dashboards to https://grafana.operate-first.cloud/dashboards/f/XfwHK1M4k/tmp

[code]

[2022-09-09 11:50] codificat commented on #671
The only remaining item here, as far as I can see, is:

- [ ]  move users from osc-cl1 to osc-cl2

What is the status of this?

[2022-09-12 10:00] goern opened #968 "PROJECT: cnbi-bot"
### Select all that apply

- [X] Create a new ArgoCD project for existing team
- [X] Enlist an application to be deployed automatically via ArgoCD
- [ ] Add a new user to an ArgoCD Project

### Team name

thoth

### Target cluster

Smaug

### Managed namespaces

thoth-cnbi-bot-stage, thoth-cnbi-bot-prod

### Team name or your Argo CD project

_No response_

### Application source git repository

h

[2022-09-12 12:33] guimou commented on #617
@HumairAK Hi! Following up on this. Do you need any other info?

[2022-09-12 15:25] harshad16 commented on #608
With the changes made in this pr https://github.com/operate-first/continuous-deployment/commit/2c46a491232ec56ed05e17749622c28377d9ae09
the issue is resolved.
Closing this.

[2022-09-12 15:25] #608 closed

[2022-09-13 08:02] mmelko opened #969 "NEW PROJECT: Kaoto"
### Target cluster

_No response_

### Team name

kaoto

### Desired project names

kaoto

### Project description

Kaoto is the nocode/low-code integration web-based tooling. As integration "backend" it's using camel-k. It's able to design camel-k's integrations, kamelets,kamelet-bindings.
<img width="1680" alt="Screenshot 2022-09-13 at 09 58 59" src="https://user-images.githubusercontent.com/681

[2022-09-13 16:36] HumairAK opened #975 "OSC cluster-resources app failing to sync servie catalog plugin configmap"
The configmap added here: https://github.com/operate-first/apps/pull/2381/files

is failing the sync since the namespace `service-catalog-k8s-plugin` does not exist on these clusters:

[code]

Solution:
Add namespace to osc-cl1 and osc-cl2

[2022-09-14 13:13] sesheta commented on #41
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-15 09:17] goern commented on #671
@tumido could you have a look at the last remaining task? thx!

[2022-09-15 12:14] durandom commented on #671
I think @HumairAK and @redmikhail might know better about moving users. What does moving users entail? I thought they can choose whatever cluster they like to work on?

[2022-09-15 12:16] durandom commented on #41
/lifecycle stale

@roytman can we close this and/or is there another issue to follow the current state of fybrik on operate first?
IIRC you installed components on the os-climate clusters, correct?

[2022-09-15 12:19] roytman commented on #41
Hi, I don't have permissions to close it

[2022-09-15 12:22] durandom commented on #41
you can always ask the bot to close it, I think via `/close`
/remove-lifecycle stale

But I'd like to close with a pointer for people to find out about the current state of fybrik on operate first

[2022-09-15 12:33] durandom commented on #629
@roastdeer right, you need more permissions.
Please create a PR to add you to https://github.com/operate-first/apps/blob/master/cluster-scope/base/user.openshift.io/groups/grafana-viewer/group.yaml as per https://www.operate-first.cloud/apps/content/grafana/docs/map_groups_to_roles.html and https://www.operate-first.cloud/apps/content/observatorium/thanos/request_grafana_access.html

But I just re

[2022-09-15 22:13] sesheta commented on #592
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-16 10:13] sesheta commented on #401
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-16 12:52] durandom commented on #401
/remove-lifecycle stale

@sallyom has there been any progress on this? should we close it or do you still plan to get tracing enabled?

[2022-09-16 12:53] goern opened #970 "https://triage-party.thoth-station.ninja/ not accessible"
### Describe the Problem

https://triage-party.thoth-station.ninja/s/daily?player=0&players=1 is not accessible, it looks like the router can not reach the service.

### Steps to Reproduce

1. go to https://triage-party.thoth-station.ninja/s/daily?player=0&players=1
2. see 'Application is not available'

### Expected behaviour

website should be delivered...

### Screenshots

.

### Additional con

[2022-09-16 19:17] harshad16 commented on #627
The repo is now being watched by operate-first prow instance.
Here is example pr : https://github.com/redhat-et/homomorphic-learning/pull/20
closing the issue.

[2022-09-16 19:17] #627 closed

[2022-09-16 20:26] RobotSail opened #971 "NEW PROJECT: IPFS"
### Target cluster

Smaug

### Team name

redhat-et

### Desired project names

ipfs

### Project description

This project is for experimenting with various IPFS Nodes. We are currently interested in deploying [Estuary](https://github.com/application-research/estuary), and having it operate as an IPFS node within Operate First.
Eventually we would like to share this with the broader community, an

[2022-09-16 20:32] RobotSail commented on #971
/cc @sallyom

[2022-09-19 07:17] VannTen commented on #970
This was presumably due to the openshift image container registry hitting errors, see https://operatefirst.slack.com/archives/C01RMPVUUK1/p1663340453005649 .

triage-party is back on tracks.
/close

[2022-09-19 07:17] sesheta commented on #970
@VannTen: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/970#issuecomment-1250654064):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-09-19 14:28] durandom commented on #971
@RobotSail @sallyom I created https://github.com/operate-first/apps/pull/2421

please note that I changed the group name to be redhat-et-platform to be more discriptive

[2022-09-19 14:29] RobotSail commented on #971
Thanks @durandom, `redhat-et-platform` is perfect

[2022-09-19 14:33] riprasad commented on #621
@Gregory-Pereira any updates on this one?

[2022-09-19 14:34] riprasad commented on #620
@mimotej could you please assign this to the relevant person?

[2022-09-19 17:45] rbadagandi opened #972 "NEW PROJECT: Kruize HPO"
### Target cluster

Smaug

### Team name

kruize

### Desired project names

openshift-tuning

### Project description

[Kruize HPO](https://github.com/kruize/hpo) Hyper parameter optimization is a machine learning performance tool for tuning Kubernetes and Native applications, where it takes a user defined Objective function (SLO) and uses Optuna framework to arrive at the most optimal configurat

[2022-09-19 17:46] rbadagandi commented on #972
Tracking this as part of https://github.com/operate-first/community/issues/205

[2022-09-20 10:54] eranra commented on #590
@durandom Hi Marcel, any progress on this front?

[2022-09-20 11:19] mimotej commented on #620
I'll go ahead and setup what is necessary.

[2022-09-20 15:01] tumido commented on #652
ODF GChat thread: https://chat.google.com/room/AAAABTq-uCM/xE4cR1lCRDk

ODF cluster provisioning is stuck on `External CephCluster error: failed to get external ceph mon version: failed to run 'ceph version'. . timed out: exit status 1`.

Rook ceph operator logs show:

[code]

That made me suspicious of the credentials used/passed to the operator. If I try executing this in the operator pod it ind

[2022-09-20 15:10] tumido commented on #652
Slack thread:

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RT0S2WKX/p1663681175319589?thread_ts=1663681175.319589&cid=C01RT0S2WKX_

[2022-09-20 16:09] tumido opened #973 "Enable vault for secrets management for copilot-ops"
OCTO Copilot ops bot team would like to get access to Vault for secret management for their [copilot-ops](https://github.com/operate-first/apps/tree/master/cluster-scope/base/core/namespaces/copilot-ops) namespace on Smaug.

Please enable a SecretStore + grant them access to Vault UI.

/cc @RobotSail
/assign @mimotej

[2022-09-20 16:43] durandom commented on #972
@rbadagandi let me know if you have a PR to create the namespace and groups. Otherwise I'm happy to take care of it and create one

[2022-09-20 18:41] #41 closed

[2022-09-21 12:02] durandom commented on #590
@eranra @davegord @jotak glad you asked and sorry for letting this slip so long.
We have [jerry](https://www.operate-first.cloud/apps/content/README.html#emea) recently setup, which is a 4.10 cluster.

https://github.com/operate-first/apps/pull/1644/files is an example PR to add an operator.

[2022-09-21 12:05] eranra commented on #590
@durandom YES !!!! THX :-)

[2022-09-21 12:40] davegord commented on #590
@durandom --- this is great news - thank you!  What exactly are the next steps?

[2022-09-21 13:21] durandom commented on #590
@davegord IIUC you want to install an operator to that cluster. Have a look at [operate-first/apps#1644 (files)](https://github.com/operate-first/apps/pull/1644/files) for an example PR.
I can also assist creating the PR

[2022-09-21 13:22] durandom commented on #590
Oh, and you probably also want a namespace and a group. Create an issue here https://github.com/operate-first/support/issues/new?assignees=first-operator&labels=kind%2Fonboarding%2Carea%2Fcluster&template=4_onboarding_to_cluster.yaml&title=NEW+PROJECT%3A+%3Cname%3E

[2022-09-21 13:39] durandom opened #974 "transition all issues from operations repo to support repo"
As discussed in the previous [sig-operations meeting](https://docs.google.com/document/d/1uEcLGP_sBSNwTLPOo_2Nu6oTqPytOTBt0c0_pVUQJwo/edit#) we will start moving issues and content from the https://github.com/operate-first/operations repo into the https://github.com/operate-first/support repository

- [x] move issues
- [ ] move incident template
- [ ] ensure issue creation for repo is disabled via

[2022-09-21 13:40] durandom commented on #974
[code]

[2022-09-21 14:07] durandom commented on #974
[code]

[2022-09-21 14:13] durandom opened #1100 "document onboarding a team to vault"
Once we finished https://github.com/operate-first/support/issues/620 let's also
document how to onboard a new team to vault

https://github.com/operate-first/apps/pull/2430

@mimotej I'll assign you and me to this. I'll capture the relevant changes to the apps repo and you can assist in writing the doc :)

[2022-09-21 14:44] tumido commented on #228
Updated: We're migrating secrets from ksops into vault and allowing other teams to use vault as well, therefore we don't need any custom tooling anymore in ArgoCD and we can pivot to OpenShift GitOps.

[2022-09-21 14:44] tumido commented on #228
/remove-lifecycle frozen

[2022-09-21 15:22] cdoron opened #1101 "Make OpenMetaData base deployment more general"
Hi,
I would like to use the YAML files in https://github.com/operate-first/apps/blob/master/openmetadata/base/ to install `openmetadata-dependencies` and `openmetadata` on OpenShift.
Any help would be greatly appreciated.

We need this for the [fybrik](https://fybrik.io/) project. We would like to run OpenMetadata on OpenShift, and use it as the Fybrik data catalog.
Thanks!

[2022-09-22 15:31] kabir opened #1102 "NEW PROJECT: WildFly"
### Target cluster

Smaug

### Team name

wildfly

### Desired project names

wildfly-service

### Project description

[WildFly](https://www.wildfly.org) is Red Hat's open source Jakarta EE application server. It runs well on OpenShift, but still there is quite a lot of setup the user has to do. We would like to understand better how to run this as a service in the cloud, among other things to mo

[2022-09-23 08:33] durandom commented on #1103
@erikerlandson @Gregory-Pereira can this be closed? If so, what was the resolution?

/assign @Gregory-Pereira

[2022-09-23 13:45] HumairAK opened #1104 "Jupyterhub reported as being unstable for osc-climate"
From @MichaelTiemannOSC :

 [Today at 8:32 AM](https://operatefirst.slack.com/archives/C03LCPTPZ6J/p1663936376765239)
A user has reported substantial instability of JupyterHub notebooks today--many crashes and great instability.  Are there issues that should be noticed to the community?

[2022-09-23 14:38] HumairAK commented on #1104
I am now seeing this message when I attempt to access the Jupyter notebook hub:
[10:37](https://operatefirst.slack.com/archives/C03LCPTPZ6J/p1663943833855259)
Application is not available
The application is currently not serving requests at this endpoint. It may not have been started or is still starting.
Possible reasons you are seeing this page:
The host doesn’t exist. Make sure the hostname was

[2022-09-23 17:59] HumairAK commented on #1104
Issues seem resolved, see below and [1] for further context and action items:

<details>

</details>

[2022-09-23 17:59] #1104 closed

[2022-09-26 11:25] goern commented on #968
anything I need to do to move this forward?

[2022-09-27 14:48] roastdeer commented on #629
@durandom thanks for the assistance. I opened the PR.

I have some logs I can work with so far so let's say I'd like to get some more within 1-2 months? Though I'd like to get more ASAP and the 2 months are a pretty hard limit for me. Does that sound doable?

[2022-09-27 15:58] ryanemerson opened #1105 "NEW PROJECT: Gingersnap"
### Target cluster

Smaug

### Team name

gingersnap

### Desired project names

gingersnap

### Project description

Gingersnap aims to provide a collection of services concerning in-memory storage:

- Inline cache service: an HTTP proxy which transparently intercepts all requests between a consumer and a producer and selectively caches responses based on rules that the user defines.

- Side cach

[2022-09-27 19:19] syedmohdqasim opened #1106 "Integrate Ray with ODH on the smaug cluster"
### Description

we want to Integrate Ray with ODH on the smaug cluster so that people using the smaug cluster can leverage Ray to scale their ml workloads.

[2022-09-27 20:04] #1101 closed

[2022-09-28 13:14] durandom commented on #629
@roastdeer I'll help you getting access to our logging, but I'm not sure how much there currently is, as we're revamping the monitoring and logging stack.
Let's get you access and then see :)

[2022-09-28 13:47] durandom commented on #1106
@erikerlandson @MichaelClifford can you help here? I'm not sure about the current state of ray on smaug

/assign @erikerlandson

[2022-09-28 13:50] durandom commented on #1105
@ryanemerson I'll take care for onboarding the project.
* Do you have some pointers to gingersnap, like a homepage or code repository?
* Do you need anything beyond compute, memory and storage?
* Can you estimate in cores and GB how much compute and memory you'll expect to request?

[2022-09-28 13:50] durandom commented on #1105
/assign @durandom

[2022-09-28 13:51] durandom commented on #1102
@kabir I'll take care of onboarding the project.

* Do you need anything beyond compute, memory and storage?
* Can you estimate in cores and GB how much compute and memory you'll expect to request?

/assign @durandom

[2022-09-28 13:53] durandom commented on #999
/assign @HumairAK

is this still an issue?
does it relate to os-climate?
are any users affected?

[2022-09-28 13:54] durandom commented on #997
/assign @sesheta

[2022-09-28 13:54] durandom commented on #374
/assign @durandom

[2022-09-28 13:56] durandom commented on #838
let's see if this is still relevant after https://github.com/operate-first/apps/issues/2472
until then
/close

[2022-09-28 13:56] #838 closed

[2022-09-28 13:56] sesheta commented on #838
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/838#issuecomment-1260955157):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 13:57] durandom commented on #785
nobody seems to care about leftofers

/close

[2022-09-28 13:57] #785 closed

[2022-09-28 14:00] durandom commented on #247
@erikerlandson @MichaelClifford do you know if this is a user story in ODH or the product-version-of-ODH ?

if so, maybe this is something we can relay to upstream ODH?

/assign @erikerlandson

[2022-09-28 14:05] goern commented on #374
![image](https://user-images.githubusercontent.com/260331/192800110-ec9650d2-965c-42ef-b36e-6b9f1afb8980.png)

[2022-09-28 14:19] durandom commented on #715
@HumairAK do we have `waves` installed? Is this still an issue? Can we close this otherwise?

/assign @HumairAK

[2022-09-28 14:23] durandom commented on #704
@Gregory-Pereira kustomize in our [toolbox](https://github.com/operate-first/toolbox/blob/ccede05a689e3a15d732f253b1f6ec7d9a4b6393/Dockerfile) is from
https://quay.io/repository/viaductoss/ksops?tab=tags&tag=latest

Is the kustomize used by argocd a different one?
Can you provide a link where it's defined?

TBH I would only update if we have a problem :)

/assign @Gregory-Pereira

[2022-09-28 14:24] durandom commented on #702
@rimolive is this something relevant for upstream ODH?

/assign @rimolive

[2022-09-28 14:27] durandom commented on #676
TBH, I think it is good that the grafana dashboards get reset/cleaned up every now and then, otherwise we'd have a lot of stale dashboards.
If somebody actually requests a persistent grafana, we can create such an instance. until then
/close

[2022-09-28 14:27] #676 closed

[2022-09-28 14:29] durandom commented on #657
great idea, but we dont have the critical mass to maintain all the labels 😱
therefore
/close

[2022-09-28 14:29] #657 closed

[2022-09-28 14:29] sesheta commented on #657
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/657#issuecomment-1261001670):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 14:30] durandom commented on #656
we dont use that project board anymore

/close

[2022-09-28 14:30] #656 closed

[2022-09-28 14:30] sesheta commented on #656
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/656#issuecomment-1261002568):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 14:31] durandom commented on #654
the docs are being reworked

/close

[2022-09-28 14:31] #654 closed

[2022-09-28 14:31] sesheta commented on #654
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/654#issuecomment-1261004646):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 14:32] durandom commented on #651
we moved to github SSO - i.e. no emails involved

/close

[2022-09-28 14:32] sesheta commented on #651
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/651#issuecomment-1261005483):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 14:32] #651 closed

[2022-09-28 14:33] kabir commented on #1102
@durandom Thank you!

I don't really know the numbers. Is 4 cores and 16GB doable? And if not enough, I guess I can always ask to increase it?

[2022-09-28 14:34] durandom commented on #650
similar to https://github.com/operate-first/operate-first.github.io/issues/61
and the decision whether to use GitHub discussion or not

@schwesig any updates on the latter?

/assign @schwesig

[2022-09-28 14:35] durandom commented on #533
@jliagouris @SuJingyu111 are you still working on this? Do you still need logs?

/assign @durandom

[2022-09-28 14:36] durandom commented on #647
we're hybrid 🎉

MOC bare metal + AWS + IONOS

/close

[2022-09-28 14:37] durandom commented on #646
/close

[2022-09-28 14:38] durandom commented on #640
@HumairAK is there an os-climate subproject meeting?
Should @schwesig add anything to our website/docs for discoverability?

/assign @HumairAK

[2022-09-28 14:39] durandom commented on #638
@redmikhail is this still relevant?

/assign @redmikhail

[2022-09-28 14:40] durandom commented on #647
/close

[2022-09-28 14:40] #647 closed

[2022-09-28 14:40] sesheta commented on #647
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/647#issuecomment-1261016796):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 14:41] durandom commented on #631
still ongoing https://github.com/CCI-MOC/ops-issues/issues/691

[2022-09-28 14:41] durandom commented on #631
/assign @Gregory-Pereira

[2022-09-28 14:44] durandom commented on #626
@HumairAK @redmikhail since this is for services on the os-climate clusters, is there an os-climate specific doc right now?
Do we have a strategy how to treat documentation for both environments?

/assign @HumairAK

[2022-09-28 14:45] durandom commented on #625
we had prow outages because of storage moving from morty to ionos
is this still failing?

/assign @goern

[2022-09-28 14:46] durandom commented on #623
since https://github.com/operate-first/apps/pull/2247 is merged, I guess we can
/close
this. If not, @riprasad @andreaTP please re-open and let us know what's missing

[2022-09-28 14:46] #623 closed

[2022-09-28 14:46] sesheta commented on #623
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/623#issuecomment-1261024986):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 14:47] durandom commented on #534
@cdolfi do you want to reach out to @butlereric via 📫  ?

/assign @cdolfi

[2022-09-28 14:49] durandom commented on #561
@mimotej @HumairAK I guess this is part of https://github.com/operate-first/robozome 🎉

I'll
/close
this for now, I'm sure you'll have other issues soon in the other repo

[2022-09-28 14:49] sesheta commented on #561
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/561#issuecomment-1261028914):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 14:49] #561 closed

[2022-09-28 14:51] schwesig commented on #586
/assign @HumairAK

[2022-09-28 14:51] durandom commented on #312
@davidohana if you're still interested in working with our data, please re-open this issue

/close

[2022-09-28 14:51] sesheta commented on #312
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/312#issuecomment-1261032388):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 14:51] #312 closed

[2022-09-28 14:56] durandom commented on #535
we're using hackmd and google docs public sharing.

/close

[2022-09-28 14:56] #535 closed

[2022-09-28 14:56] sesheta commented on #535
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/535#issuecomment-1261038683):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 14:56] durandom commented on #542
/close

[2022-09-28 14:56] sesheta commented on #542
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/542#issuecomment-1261039218):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 14:56] #542 closed

[2022-09-28 14:57] #551 closed

[2022-09-28 15:18] ryanemerson commented on #1105
Thanks @durandom

All source is contained in the following repository: https://github.com/gingersnap-cloud

Our website is still WIP.

I don't believe so. I assume this is something we can add in the future if it becomes a requirement?

At this stage we're still in early development, so it's very hard to say. I chose the "Medium" quota as 8Gi is probably the minimum we can work with for developmen

[2022-09-28 15:21] goern commented on #422
circling back through the root causes its seems that

1. v1.0.0 of python-string-utils is still buggy
2. v0.13.1 of openshift-restclient-python fixed the `data_files` problem

I'd consider this an 'wait for upstream' and close this issue

@harshad16 @MichaelTiemannOSC wdyt?

[2022-09-28 15:23] goern commented on #625
RN I dont see any of the mentioned jobs, so I cant check
I'd consider this flake and
/label thoth/potential-flake
/close

[2022-09-28 15:23] #625 closed

[2022-09-28 15:23] sesheta commented on #625
@goern: The label(s) `/label thoth/potential-flake
` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, epic, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, tide/merge-method-merge, tide/merge-method-rebase, tide/merge-method-squash, triag

[2022-09-28 15:23] sesheta commented on #625
@goern: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/625#issuecomment-1261076408):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-09-28 15:25] durandom commented on #562
@HumairAK this will be part of https://github.com/operate-first/robozome

/close

[2022-09-28 15:25] sesheta commented on #562
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/562#issuecomment-1261079857):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 15:25] #562 closed

[2022-09-28 15:26] #563 closed

[2022-09-28 15:26] sesheta commented on #563
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/563#issuecomment-1261080748):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 15:26] durandom commented on #564
@HumairAK @mimotej robozome? https://github.com/operate-first/robozome

/close

[2022-09-28 15:26] sesheta commented on #564
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/564#issuecomment-1261081361):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 15:26] #564 closed

[2022-09-28 15:27] durandom commented on #565
@mimotej @HumairAK hmm, robozome https://github.com/operate-first/robozome

/close

[2022-09-28 15:27] sesheta commented on #565
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/565#issuecomment-1261082202):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 15:27] #565 closed

[2022-09-28 15:28] durandom commented on #601
@veniceofcode is this still required - or is it already onboarded?

/assign @durandom

[2022-09-28 15:28] durandom commented on #619
@quaid is this still an issue?

/assign @schwesig

[2022-09-28 15:29] durandom commented on #622
@schwesig I think we should just remove them and the services tiles as well.
Let's just link to the https://www.operate-first.cloud/apps/content/README.html and https://service-catalog.operate-first.cloud/

[2022-09-28 15:29] durandom commented on #622
/assign @schwesig

[2022-09-28 15:32] sesheta commented on #618
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/618#issuecomment-1261088788):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 15:32] #618 closed

[2022-09-28 15:33] durandom commented on #585
@veniceofcode @HumairAK are you still interested in getting Codeready Workspaces to operate first?

/assign @HumairAK

[2022-09-28 15:35] durandom commented on #556
this is in the works
@tumido @SamoKopecky feel free to add additional info beyond https://github.com/operate-first/service-catalog and https://service-catalog.operate-first.cloud/

/close

[2022-09-28 15:35] #556 closed

[2022-09-28 15:35] sesheta commented on #556
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/556#issuecomment-1261092614):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 15:38] veniceofcode commented on #585
Yes please @HumairAK eagerly waiting for it

[2022-09-28 15:39] veniceofcode commented on #585
also ACS

[2022-09-28 15:47] durandom commented on #607
we're on 2.5.2 now

/close

[2022-09-28 15:47] sesheta commented on #607
@durandom: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/607#issuecomment-1261106979):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-28 15:47] #607 closed

[2022-09-28 18:55] harshad16 commented on #422
yes, i would say so

[2022-09-28 19:30] MichaelTiemannOSC commented on #422
I'll go along.  Shame that python-string-utils folks haven't addressed, but I don't know how it is we are falling afoul of their assumptions, so I don't know what to file as an issue.

[2022-09-28 19:30] #422 closed

[2022-09-28 21:51] jliagouris commented on #533
Yes, we're still working on this. So far we've been using logs generated by our own applications running on OpenShift but we'd be happy to use any real logs you may have.

[2022-09-29 17:32] cdolfi commented on #534
as @butlereric is overloaded right now with current classes, closing

[2022-09-29 17:32] #534 closed

[2022-09-30 08:15] durandom opened #1107 "vault in degraded state"
I unsealed the vault, but login does not work
<img width="632" alt="image" src="https://user-images.githubusercontent.com/161888/193223870-e9272483-d336-47c3-a1f5-66c76d6e9ba7.png">

The only running pod opf-vault-0 logs:

[code]

The other 2 pods are in a not ready state, logs:
[code]

the readiness probe fails with:
[code]

/assign @HumairAK

[2022-09-30 13:51] schwesig commented on #619
agreed to @mscherer
still an issue, but no easy fix

idea workaround
- [ ] remove Keycloak button on https://lists.operate-first.cloud/accounts/login/
- [ ] if important enough, work later on this (assign sesheta)

[2022-09-30 13:57] schwesig commented on #619
about removing the KeyCloak button:
is this some simple switch under settings in https://lists.operate-first.cloud/?
who is admin here?
@durandom ?
@quaid ?

[2022-09-30 14:42] schwesig commented on #650
@durandom no updates I know of, I need to get into this again

[2022-09-30 15:55] quaid commented on #619
Let me poke around ...

[2022-09-30 16:08] HumairAK commented on #1107
resolved, instructions / steps followed here: https://github.com/operate-first/support/issues/1107

[2022-10-01 04:00] syedmohdqasim opened #1108 "NEW PROJECT: Ray on MOC"
### Target cluster

Smaug

### Team name

ray-bu

### Desired project names

ray-bu

### Project description

we want to Integrate Ray with ODH on the smaug cluster so that people using the smaug cluster can leverage Ray to scale their ml workloads. This is part of a student project with BU.

### Users needing access

syedmohdqasim,sumatra-dhimoyee,Oscarzhangzxj,hmyi,saadullah01,mtoslalibu,mosayye

[2022-10-03 22:51] syedmohdqasim commented on #1108
Hi @MichaelClifford does this look good to you?

[2022-10-04 13:09] schwesig commented on #622
/closed by https://github.com/operate-first/operate-first.github.io/pull/195
instead of removing the services tiles (yet), I added the link to https://service-catalog.operate-first.cloud/
reason: the tiles have still some additional links/ info that may be useful, until the service-catalog is full blown or we add the information to another part of the website

[2022-10-04 13:09] #622 closed

[2022-10-04 14:44] MichaelClifford commented on #1108
@erikerlandson @durandom Could we get some support getting this namespace setup for the BU team?

[2022-10-04 14:57] durandom commented on #1108
sure, I'll take care of setting up the namespace.
@MichaelClifford @syedmohdqasim can you provide links to the workloads being deployed? E.g. do you plan to leverage a ray operator? Will it be part of ODH?

[2022-10-04 18:18] HumairAK commented on #620
this is now resolved @riprasad please re-open or create a new issue if anything is still left pending

[2022-10-04 18:18] #620 closed

[2022-10-04 18:22] #1107 closed

[2022-10-04 20:47] #1100 closed

[2022-10-04 21:25] MichaelTiemannOSC opened #1109 "Upgrade OpenMetadata to 0.12.1 with PR 7920 applied"
### Describe the Problem

OpenMetadata 0.12.1 is a new release with many bugfixes.  One bug not fixed affects data profiling (the `modulo` operator is not correctly translated for Trino, resulting in an unexpected `%` in the profiling input stream).  I reported the bug last night and this PR resolved it this morning:

https://github.com/open-metadata/OpenMetadata/pull/7920

Given that we are just

[2022-10-05 11:32] MichaelTiemannOSC opened #1110 "URGENT: Install Trino Python Client 0.317.0 to fix Trino 398 blocker"
### Describe the Problem

Trino 398 exposes a bug in the python client 0.316.0 and earlier.  The nature of the problem is that Trino 398 is UNUSABLE with OpenMetadata due to this bug.  Version 0.317.0 is now available with a fix.

https://github.com/trinodb/trino-python-client/blob/master/CHANGES.md#release-03170

### Steps to Reproduce

All attempted OM ingestions fail.

### Expected behaviour

O

[2022-10-05 13:40] HumairAK commented on #621
@riprasad your team should now have the ability to create service monitors, authenticate with grafana and query the smaug's prometheus (I suggest using moc-smaug datasource which exposes all uwm metrics).

[2022-10-05 13:47] HumairAK commented on #1110
AFAIK we don't install trino client ourselves, if it's being used it's being used internally and provided within each service's image.

We would need to know:

1. What these services are (you identified airflow for example)
2. What version do these _services_ need to be upgraded to to resolve this issue.

[2022-10-05 18:23] oindrillac opened #1111 "Use Operate First clusters for CS 549 Boston University course"
### Description

Hello,

I am teaching an ML course this semester at Boston University (CS 549) and I would like to give the students an option to use the Operate First Community Cloud for their workloads. They would use apps such as Jupyterhub, Kubeflow, Trino, S3 bucket etc

To onboard a student or a group of students to the _Smaug_ cluster, where can we open an issue? Can you please point me to

[2022-10-06 07:46] durandom commented on #1111
@oindrillac this is the right place
I believe everybody can use these applications, IIRC. You can do a dry-run by signing up for a play GitHub account and see how far you get.
If you need a project/namespace we can do this too. Then you'd need to provide similar input as in e.g. https://github.com/operate-first/support/issues/1108

[2022-10-06 07:46] durandom commented on #1109
/assign @redmikhail
can you have a look at this?

[2022-10-06 07:47] durandom commented on #1110
/assign @redmikhail

[2022-10-06 13:46] larsks commented on #715
This is still an issue and cannot be solved with sync waves. I have some thoughts, because we just ran into this on the NERC cluster. I will add them here shortly; making sure I am not a crazy person first.

[2022-10-06 14:07] sesheta commented on #696
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-10-06 17:20] larsks commented on #715
Here's the essential problem:

ArgoCD [performs a dry-run](https://argo-cd.readthedocs.io/en/latest/user-guide/sync-options/#skip-dry-run-for-new-custom-resources-types) before applying an application's manifest in which it checks to make sure that any referenced resource kinds are either:

- Already available in the cluster, or
- Provided by the manifests being installed

When installing an opera

[2022-10-06 19:28] mtoslalibu opened #1112 "NEW PROJECT: AI4cloudops"
### Target cluster

Smaug

### Team name

ai4cloudops

### Desired project names

ai4cloudops

### Project description

This project aims to provide a concerted, systematic approach to building and integrating AI-driven software analytics into production systems. We aim to provide a rich selection of heavily-automated “ops” functionality as well as intuitive, easily-accessible analytics to users,

[2022-10-07 12:11] sostrades-radouanbouadel opened #1117 "install Prometheus-Operator, awx-Operator & MySQL-Operator"
hello,
We plane to install a package of our application with all our DevOps process on sostrades project on CL2, we dont have enough rights to deploy customresourcedefinitions, role, …

Can you please help us to deploy :
- Prometheus-Operator:
- awx-Operator
- MySQL-Operator
- Jenkins
- harbor,

you can use the Following  helm command:

Thanks in advance
SOSTrades team

[2022-10-07 14:15] #1110 closed

[2022-10-07 17:08] sesheta commented on #446
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-10-07 18:13] MichaelTiemannOSC opened #1113 "OM metadata ingestion OOM with prepared queries"
### Describe the Problem

The Trino 398 upgrade required a python-client update to 0.317.0.  This update resolved one problem with prepared statements, but revealed a second more subtle problem.  I have asked for help from the various Slack communities.  This issue tracks the fact that we need to apply whatever the fix to get our system operational.

### Steps to Reproduce

1.  Go to https://openm

[2022-10-07 18:18] MichaelTiemannOSC opened #1114 "OpenMetadata 0.12.1.2 available; fixes data profiling with Trino"
### Describe the Problem

OpenMetadata has a data profiling feature (one of the two major surface features of the `ingestion` functionality).  It was broken for Trino before 0.12.1.2.  We would like to be able to use this major feature of OpenMetadata, that presently works not at all.

The updated package is ready to go on PyPi: pip install openmetadata-ingestion (now version 0.12.1.2)

### Steps

[2022-10-07 18:25] redmikhail commented on #1109
/assign @HumairAK

[2022-10-07 18:26] redmikhail commented on #1109
@HumairAK I think you have already done the work for this , reassigning to you

[2022-10-07 18:30] MichaelTiemannOSC commented on #1109
Superceded by https://github.com/operate-first/support/issues/1114

[2022-10-07 18:30] #1109 closed

[2022-10-10 10:30] durandom commented on #1114
/assign @redmikhail

[2022-10-10 10:31] durandom commented on #1113
/assign @redmikhail

[2022-10-10 10:35] MichaelTiemannOSC commented on #1113
I just checked in with both python-client and OM folks.  No answer back yet, but problem is either (1) our Trino 398 server is somehow under-resourced--should check, or (2) the 0.317.0 client now allows badly behaved apps to flood the server with requests whereas previously there was some behavior in the client that naturally caused the requests to serialize (and hence not flood the server).  Whil

[2022-10-10 14:20] durandom commented on #617
@guimou lets try this on smaug. I'll go ahead and create `highlander` namespace with you as the group member.

[2022-10-10 16:45] #1112 closed

[2022-10-10 22:09] schwesig commented on #446
/close
priorities shifted

[2022-10-10 22:09] #446 closed

[2022-10-10 22:09] sesheta commented on #446
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/446#issuecomment-1273861099):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-10-11 00:28] MichaelTiemannOSC commented on #1114
I just learned about this from OM channel: ./bootstrap/bootstrap-storage.sh migrate-all

[2022-10-11 07:21] durandom commented on #617
I needed to kick argo to actually deploy the changes, it's there now.

`ocs-external-storagecluster-ceph-rbd` on smaug

[code]

on os-climate we have `gp2`

[code]

and `gp2-csi`

[code]

[2022-10-11 07:22] durandom commented on #617
@guimou can you let me know how to enable RWX or what the requirements are?

[2022-10-11 08:39] rbadagandi opened #1115 "Request Kruize to be onboarded to Operate First OCP cluster"
We would request to deploy Kruize HPO project on your OCP cluster and eventually use ArgoCD instance for deployment

[2022-10-11 08:41] rbadagandi opened #1116 "Requesting access to ArgoCD for Kruize HPO"
[https://github.com/kruize/hpo](url) to be onboarded and deployed on Operate First and hence request access to ArgoCD for further deployment process

[2022-10-11 08:50] #1115 closed

[2022-10-11 08:51] durandom commented on #972
@rbadagandi can we close this, now that the namespaces are deployed?

[2022-10-11 08:55] durandom commented on #1116
do you already have a git repo with manifest files?

[2022-10-11 09:16] MichaelTiemannOSC commented on #617
OS-Climate does not intend to be "AWS only", but wants to be cloud-neutral.  If a given technology solution is tied too tightly to a specific cloud, we don't want to tie that too deeply into the architecture.  OpenShift is cloud-neutral, and thus attractive.

[2022-10-11 11:56] guimou commented on #617
Highlander itself is totally agnostic. The requirement is to have RWX volumes to be able to mount the shared library in many pods simultaneously. This can be achieved in different ways depending on the underlying infrastructure:
- On Smaug, you have an external Ceph Cluster, so CephFS should be available as a suitable storage. However it's odd that it does not appear directly in ODF. According [to

[2022-10-11 12:49] MichaelTiemannOSC opened #1118 "simple Trino query runs "forever""
### Describe the Problem

The OpenMetadata ingest process prepares and executes this query:

[code]

When I run this query from a Trino console, I find that one row is returned:

[code]

Hoever, the Trino query is still running, 8 hours later, as can be seen from the Trino console: https://trino-secure-odh-trino.apps.odh-cl2.apps.os-climate.org/ui/query.html?20221011_004732_00559_jpisk

### Steps

[2022-10-11 14:40] guimou opened #1119 "As a user, I want to have access to an RWX storage class, so that I can mount PVC across multiple Pods."
### Additional context

An upcoming release of ODH will bring the notion of workspaces and the ability to mount the same data environment (a PVC)  across multiple Notebooks simultaneously. The shared PVC will be mounted at launch time. This will allow for shared data folders, shared notebooks,...
This feature will also be useful to share models, runtimes, or even applications without having to bak

[2022-10-11 14:40] guimou commented on #1119
@HumairAK

[2022-10-11 14:46] MichaelTiemannOSC commented on #1113
See also https://github.com/operate-first/support/issues/1118

[2022-10-11 14:59] durandom opened #1120 "jerry SSO oauth not working anymore"
I had to remove the jerry cluster from ACM and adopt it again. After this the [Identitatem](https://www.operate-first.cloud/apps/content/acm/adding_managed_cluster_to_identitatem.html) oauth single sign on does not work anymore.

This is the oauth conf on jerry.

[code]

Note, that it's older than the `jerry` Namespace in the infra hub cluster (11 Oct 2022, 10:29)

The secret `jerry-operate-first-

[2022-10-11 15:00] durandom commented on #1120
The IDP controller

[code]

rebooting the installer-controller and operator manager in https://console-openshift-console.apps.moc-infra.massopen.cloud/k8s/ns/idp-mgmt-config/pods made the secret appear

[2022-10-11 15:00] #1120 closed

[2022-10-11 15:22] MichaelTiemannOSC opened #1121 "Need account credentials so OpenMetadata can access Trino for testing"
### Describe the Problem

The OpenMetadata people would like a service account they can use to connect to Trino for testing.  Here's the tail of that thread: https://openmetadata.slack.com/archives/C02B6955S4S/p1665501559447059?thread_ts=1665130725.204809&cid=C02B6955S4S

### Steps to Reproduce

N/A

### Expected behaviour

N/A

### Screenshots

N/A

### Additional context

OpenMetadata is a key t

[2022-10-11 15:40] schwesig commented on #1102
ping

[2022-10-11 15:44] schwesig commented on #968
ping

[2022-10-11 23:40] syedmohdqasim commented on #1108
@durandom yes we want to install a ray operator, we want to make it part of ODH.

[2022-10-12 14:12] rbadagandi opened #1122 "Add_appln.md at the bottom of 'Onboarding to ArgoCD' showing 404"
### Describe the Problem

If you don't want to wait for the maintainers to notice this issue, you can do the changes yourself. Please follow the [docs here](https://github.com/operate-first/apps/blob/master/docs/argocd-gitops/onboarding_to_argocd.md) and/or the [docs/add_application.md](https://github.com/operate-first/apps/blob/master/docs/argocd-gitops/add_application.md) guides.

Both the links

[2022-10-12 14:26] rbadagandi opened #1123 "Request to add SCC to OCP Cluster for Kruize HPO"
### Team name

Kruize

### Explain why this resource is needed

We are working on deploying our project [Kruize HPO](https://github.com/kruize/hpo) on Operate First. We have some restricted privileges and we would want to request Operate First team to enable the following SCC to proceed with our deployment. Currently, the project runs easily locally and on Minikube but when deploying on an Openshi

[2022-10-12 14:39] #1122 closed

[2022-10-12 14:40] rbadagandi commented on #1122
Closing this issue since I updating the document links and submitted [PR 1124](https://github.com/operate-first/support/pull/1124)

[2022-10-14 15:45] rbadagandi opened #1125 "PROJECT: <Kruize HPO for ArgoCD>"
### Select all that apply

- [X] Create a new ArgoCD project for existing team
- [ ] Enlist an application to be deployed automatically via ArgoCD
- [ ] Add a new user to an ArgoCD Project

### Team name

kruize

### Target cluster

Smaug

### Managed namespaces

openshift-tuning

### Team name or your Argo CD project

argocd-kruize-hpo

### Application source git repository

https://github.com/kr

[2022-10-14 16:56] #671 closed

[2022-10-15 23:10] sesheta commented on #592
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-10-19 09:44] schwesig commented on #604
/close
cleanup after change of organisation

[2022-10-19 09:45] sesheta commented on #604
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/604#issuecomment-1283724461):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-10-19 09:45] schwesig commented on #604
/open

[2022-10-19 14:58] redmikhail commented on #1117
@sostrades-radouanbouadel cl2 cluster resources are managed using gitops approach via kustomize and argocd tools. While we support helm charts , general preference is not to use them as it introduces additional source of the artifacts outside of the operate-first github repository.  Prometheus operator may conflict with user-workload-monitoring that is enabled on cluster 2 https://docs.openshift.c

[2022-10-19 18:08] HumairAK commented on #1123
@rbadagandi any particular reasons why the container user needs to run as uid `1001`, can the same not be accomplished if the arbitrary user is is part of the [root group as described here](https://cloud.redhat.com/blog/a-guide-to-openshift-and-uids) ? this way no special privileges will be needed for your deployment

[2022-10-19 19:46] redmikhail opened #1126 "OS-Climate clusters: Update cluster 2 certificates(ingress and api)"
odh-cl2 cluster certificates are expiring on November 3 of 2022 . Letscrypt certificate needs to be extended, corresponding HashiCorp vault secrets need to be updated with new certificate and key

[2022-10-19 19:57] redmikhail commented on #1126
/cc @HumairAK
/label cluster/osc-cl2

[2022-10-19 19:58] sesheta commented on #1126
@redmikhail: The label(s) `/label cluster/osc-cl2` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, epic, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, tide/merge-method-merge, tide/merge-method-rebase, tide/merge-method-squash, triage/

[2022-10-20 14:07] #631 closed

[2022-10-20 15:30] MichaelTiemannOSC opened #1127 "The author of the PCAF data pipeline can create tables but not access them in OM"
### Describe the Problem

There's a permission problem whereby Mutlu Ersin (@mersin35) can use Trino to create a data pipeline, and even copy all the DBT and OM code I copied from Vincent's demo back in August to decorate PCAF source data with metadata.  But he cannot access tables from within OM.  This is a tracking ticket for the issue he raised in today's Data Commons check-in

### Steps to Rep

[2022-10-21 05:48] schwesig commented on #972
/close
can be closed, see comment before

[2022-10-21 05:48] #972 closed

[2022-10-21 05:48] sesheta commented on #972
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/972#issuecomment-1286490194):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-10-21 16:39] #1108 closed

[2022-10-21 21:03] #1126 closed

[2022-10-23 05:34] schwesig opened #1128 "Is https://odh.operate-first.cloud/ not working or just the link?"
### Describe the Problem

On this website https://www.operate-first.cloud/apps/content/odh/README.html
there is a link to the ODH dashboard https://odh.operate-first.cloud/.
this leads to a

1. non https page (security warning)
1. an error
    1. ```Application is not available - The application is currently not serving requests at this endpoint. It may not have been started or is still starting.`

[2022-10-23 05:36] schwesig commented on #1128
@HumairAK @harshad16 @tumido

[2022-10-24 11:38] schwesig opened #1129 "operate-first-in-action.catalog.meteor.zone/README.html is not working"
### Describe the Problem

going to one of our Operate First Videos --> https://youtu.be/sfjAr5EI2ww 'Red Hat Summit 2022 - Operate First in Action'
there is a call to action link --> operate-first.cloud/action
the link is working, but the page shows a `Application is not available`

### Steps to Reproduce

1. go to operate-first.cloud/action
2. automatic forward to https://operate-first-in-action.

[2022-10-24 11:39] schwesig commented on #1129
/cc @durandom

[2022-10-24 12:56] harshad16 commented on #1128
I dont see this route being deployed and pointed to jupyterhub in smaug.
Only route that could be seen is this:
https://jupyterhub-opf-jupyterhub.apps.smaug.na.operate-first.cloud/

someone with access to this domain name will have to check if this is pointing to Smaug.
if yes, then we could create it in Smaug.

[2022-10-24 13:15] schwesig commented on #1128
@harshad16 thank for looking into this.
Access to what domain name? who could look into this?

[2022-10-24 13:24] harshad16 commented on #1128
access to domain name:  `odh.operate-first.cloud` .
we creating an route with hostname is not enough for jupyterhub to show up on it.
the domain name should be pointing to Smaug cluster.

maybe @tumido  would have access to the domain name.

[2022-10-24 13:36] harshad16 commented on #1128
Route is correct and deployed via this manifest:
https://github.com/operate-first/apps/blob/master/kfdefs/overlays/moc/smaug/dashboard/route.yaml

deployment of odh dashboard is happens with
https://github.com/operate-first/apps/blob/master/kfdefs/overlays/moc/smaug/dashboard/kfdef.yaml

and points to this odh-dashboard:
https://github.com/operate-first/odh-manifests/blob/smaug-v1.1.2/odh-dashboar

[2022-10-24 20:50] MichaelTiemannOSC commented on #1127
Should be closed by https://github.com/os-climate/osc-ingest-tools/pull/42

[2022-10-24 22:09] schwesig commented on #1128
awesome! @harshad16 works as expected now.
thanks for your help

[2022-10-25 14:10] MichaelTiemannOSC commented on #1127
Not closed after all.

[2022-10-26 13:56] sherine-k opened #1130 "As a OKD team member, I would like to have a Vault path dedicated to the team, so that we can store secrets and consume them from workloads running on the operateFirst cluster."
### Additional context

We'd like to store some secrets needed by the OKD build pipelines in the vault.
Such as  signing keys, github credentials, quay.io credentials.

These credentials can be rotated by OKD team members using the vault's CLI/UI.

These credentials can be read by a SA in the okd-team namespace with which Tekton task runs are executed, so that the tekton tasks can make use of thos

[2022-10-27 10:22] kabir commented on #1102
@durandom @schwesig Would my request be easier if I start with a Small instance? think that should be enough for me to get set up, and have updated the description.

I guess if it turns out we need more once we start involving more users, it is a case of opening another issue?

I will be running s2i builds to provision WildFly servers, and then deploy user's demo apps in the resulting servers.

I

[2022-10-27 11:07] durandom commented on #1102
@kabir thanks for the bump. This just got forgotten

https://github.com/operate-first/apps/pull/2585

[2022-10-27 11:16] kabir commented on #1102
@durandom Thank you!

[2022-10-27 12:55] #1102 closed

[2022-10-30 14:17] sesheta commented on #400
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-30 14:17] sesheta commented on #572
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-30 14:17] sesheta commented on #571
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-03 00:40] guimou commented on #617
As per previous discussions, because CephFS is not available on Smaug, I have adapted and tested a method that will allow to properly provision RWX volumes based on NFS. It's an implementation of an NFS provisioner and server from the k8s-sig-storage group.
All the instructions are documented here: https://github.com/odh-highlander/nfs-server-and-provisioner
Only the Deployment section has to be i

[2022-11-03 00:41] guimou commented on #1119
As CephFS is not available in the environment, the other method referenced here can be used: https://github.com/operate-first/support/issues/617#issuecomment-1301525293

[2022-11-03 06:58] russellb opened #1131 "NEW PROJECT: apex"
### Target cluster

Smaug

### Team name

apex

### Desired project names

apex

### Project description

I'm working with a team that's prototyping an open-source networking service.

### Users needing access

russellb, nerdalert, dave-tucker, vishnoianil

### Namespace Quota

Large

### Custom quota

_No response_

[2022-11-04 14:49] syedmohdqasim opened #1132 "Request to add: ai4cloudops"
### Team name

ai4cloudops bu group

### Explain why this resource is needed

We are trying to install quarkus superheros application and then run telemetry data analysts on it. we need more CPU's as it is a large distributed application.

### Resource(s) being requested

please increase the CPU limit to 10*Large. like 40 cpu.

[2022-11-05 14:17] sesheta commented on #696
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-11-05 14:17] sesheta commented on #696
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/696#issuecomment-1304554774):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-11-05 14:17] #696 closed

[2022-11-07 12:56] jsenko opened #1133 "Increasing Prometheus metrics retention time"
### Description

Hi team,

Would it be possible to increase the retention time of Prometheus metrics?
Looking at Grafana (specifically the `kube_*` metrics), it seem that it is currently set to 15 days,
and it would be helpful to see the history for at least 1 month.

Thanks!

[2022-11-07 15:00] HumairAK commented on #973
compelted, see linked prs above

[2022-11-07 15:00] #973 closed

[2022-11-07 15:20] durandom commented on #1132
@syedmohdqasim 40 CPUs sounds like a lot for a demo app :)
I'll add this, but let's try to not use too many resources

[2022-11-08 14:54] durandom commented on #1131
@HumairAK can we try out Robozome on this onboarding PR?

[2022-11-08 15:04] durandom commented on #1133
@jsenko we dont have a long term storage solution yet - we had thanos in place - and we're moving off to multi-cluster-monitoring withing ACM

What's your interest in those metrics?

[2022-11-08 15:42] #1132 closed

[2022-11-08 15:57] Gregory-Pereira commented on #1133
I believe with MCO it can be configured per component: https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.3/html-single/observability/index#adding-advanced-config

[2022-11-08 21:58] kabir opened #1135 "Exceeded Quota"
### Description

Hi,

I am trying to get started with the wildlfy-service project on Smaug.

Off-topic: Can this be fixed to wildfly-service (i.e. 'fly', not 'lfy')?

I have installed a postgresql server and am trying to deploy a backend app connecting to that. I first noticed that in the Details pane of the Deployment in the console there is no option to set the number of the pods.

Looking furth

[2022-11-09 15:06] andreaTP opened #1136 "Request to add: securityContext"
### Team name

apicurio

### Explain why this resource is needed

We are investigating a possible performance issue with Quarkus Native Image where we observe a high CPU usage of the service while in idle mode.

Unfortunately trying to run the `perf` command in the container result in an error:

[code]

We would need to be able to guarantee additional capabilities to the container to narrow down t

[2022-11-09 16:07] mersin35 opened #1137 "Jupytherhub can not be started"
### Describe the Problem

![error_screenshot](https://user-images.githubusercontent.com/75088617/200880335-7a701ece-ef5a-4939-baca-160f03f13b6c.png)

### Steps to Reproduce

https://jupyterhub-odh-jupyterhub.apps.odh-cl2.apps.os-climate.org/hub/spawn

can not be started. Additionally the container size can not be selected.

### Expected behaviour

I expect that the Jupyterhub could be started

###

[2022-11-09 16:15] MichaelTiemannOSC commented on #1137
I just tried starting a Jupyter notebook myself and noticed the same 600 second timeout:

<img width="1088" alt="Screen Shot 2022-11-10 at 5 10 27 AM" src="https://user-images.githubusercontent.com/72577720/200882318-cde63734-be67-4b58-81ca-d52952791458.png">

This seems to be a new problem.  I successfully started and ran a notebook just two days ago.

[2022-11-09 16:38] MichaelTiemannOSC opened #1138 "Airflow scheduler leaks 1GB data per day"
### Describe the Problem

Looking at the Grafana system monitor, the Airflow scheduler process consistently leaks 1GB memory per day.  It is quite easy to see in the "last 30 days" view.

### Steps to Reproduce

1.  Go to https://grafana-opf-monitoring.apps.odh-cl2.apps.os-climate.org/d/d2938c37cb72136cf30ac63123d71a666ae1ffcc/data-pipeline-resource-consumption?orgId=1&from=now-30d&to=now
2. Scrol

[2022-11-09 16:48] kabir commented on #1135
I definitely seem to need more resources for what I am trying to do. I worked around the above problem, but now I am seeing

[code]
Essentially I have postgres installed and a backend for my service. The intent is that when users upload a war file, a Helm chart is installed, This in turn creates an application pod, and triggers a set of builds. Once the series of builds has completed the applicati

[2022-11-10 17:05] HumairAK opened #1139 "NEW PROJECT: Test-project"
### Target cluster

Smaug

### Target environment

moc

### Team name

teamx

### Desired project names

projectX

### Project Owner

milan

### Project description

sample project description added here

### Link to project documentation

https://teamx.com

### Users needing access

milan,robert,sheila,ezran

### Namespace Quota

Small

### Custom quota

_No response_

[2022-11-10 18:45] HumairAK commented on #1139
test

[2022-11-10 18:46] HumairAK commented on #1139
test

[2022-11-10 18:48] HumairAK commented on #1139
/robozome retry

[2022-11-10 18:48] HumairAK commented on #1139
/robozome retry

[2022-11-10 18:50] HumairAK commented on #1139
/robozome retry

[2022-11-10 18:51] #1139 closed

[2022-11-10 18:53] HumairAK opened #1140 "NEW PROJECT: example-team"
### Target cluster

Smaug

### Target environment

moc

### Team name

teamx

### Desired project names

teamx-ns

### Project Owner

marcel

### Project description

the greatest project on the planet

### Link to project documentation

https://teamx.com

### Users needing access

tom,marcel,michal,gregory,thor

### Namespace Quota

Medium

### Custom quota

_No response_

[2022-11-10 22:02] HumairAK commented on #1140
/robozome payload

[2022-11-12 04:42] MichaelTiemannOSC commented on #1137
We have been unable to run any notebooks for 3 days.  I still cannot get a working notebook instance.

@durandom please escalate!

[2022-11-14 17:16] #1136 closed

[2022-11-14 18:20] MightyNerdEric commented on #1137
@MichaelTiemannOSC @mersin35 Ryan and I are unable to reproduce this error. Could one of you please provide full steps to reproduce? I was able to start a PyTorch notebook without issue. And I went back to try to open a different notebook, I did see that the container size option was not available. However, it showed up after a few seconds. Very strange, and that definitely needs to be looked into

[2022-11-14 18:22] MichaelTiemannOSC commented on #1137
I've used Custom Elyra notebook since forever.  PyTorch sounds like AI and not needed for straight CSV or XLSX (Pandas) ingestion into SQL (Trino).

[2022-11-14 18:25] MightyNerdEric commented on #1137
@MichaelTiemannOSC What container size? Number of GPUs? Any env vars?

[2022-11-14 18:27] MichaelTiemannOSC commented on #1137
Container size 8GB, 1CPU.  No GPU.  Env cars include passing my GITHUB_TOKEN (secret) and bash as SHELL.  It has worked that way for past 18 months

[2022-11-14 18:39] MightyNerdEric commented on #1137
Ok, looks like I can reproduce the issue like that. Thanks.

[2022-11-14 23:19] sesheta commented on #592
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-11-14 23:19] #592 closed

[2022-11-14 23:19] sesheta commented on #592
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/592#issuecomment-1314536199):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-11-15 03:12] MightyNerdEric opened #1141 "NEW PROJECT: <name>"
### Target cluster

Smaug

### Target environment

_No response_

### Team name

physrisk

### Desired project names

physrisk-resilience

### Project Owner

joemoorhouse

### Project description

Physical risk calculation engine

### Link to project documentation

https://github.com/os-climate/physrisk-ui

### Users needing access

joemoorhouse,floriangallo,MightyNerdEric,rynofinn,negillett,reill

[2022-11-15 08:21] sesheta commented on #606
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-15 08:21] sesheta commented on #581
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-15 08:21] sesheta commented on #595
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-15 11:21] sesheta commented on #448
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-15 11:21] sesheta commented on #502
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-15 11:21] sesheta commented on #491
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-15 11:36] durandom opened #1142 "NEW PROJECT: apex"
### Target cluster

Smaug

### Target environment

moc

### Team name

apex

### Desired project names

apex

### Project Owner

russellb

### Project description

prototyping an open-source networking service

### Link to project documentation

https://github.com/redhat-et/apex

### Users needing access

nerdalert,dave-tucker,vishnoianil

### Namespace Quota

Large

### Custom quota

_No response

[2022-11-15 11:37] durandom commented on #1131
trying out bot onboarding via https://github.com/operate-first/support/issues/1142

[2022-11-15 11:44] #1119 closed

[2022-11-15 11:48] #1142 closed

[2022-11-15 11:50] durandom opened #1143 "NEW PROJECT: apex"
### Target cluster

Smaug

### Target environment

moc

### Team name

apex

### Desired project names

apex

### Project Owner

russellb

### Project description

prototyping an open-source networking service

### Link to project documentation

https://github.com/redhat-et/apex

### Users needing access

russellb,nerdalert,dave-tucker,vishnoianil

### Namespace Quota

Large

### Custom quota

_No

[2022-11-15 11:50] durandom commented on #1142
trying again in https://github.com/operate-first/support/issues/1143

[2022-11-15 11:50] durandom commented on #1131
and again https://github.com/operate-first/support/issues/1143

[2022-11-15 12:56] #1143 closed

[2022-11-15 15:29] kabir commented on #1135
I've done some measurements on sandbox and it seems that each application deployed by the user needs about 800Mb of memory.
To create an instance of the application, a series of builds (including an s2i one) are done.

The intent is to have several people playing with this, as part of that they will be creating/deleting applications. The group of people is small at the moment, so I believe a mediu

[2022-11-15 16:14] durandom commented on #1141
test to kick it

[2022-11-15 17:22] sesheta commented on #147
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-15 17:22] sesheta commented on #165
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-15 17:22] sesheta commented on #568
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-15 17:30] tumido opened #1145 "Request to add: RH-SSO"
### Team name

operate-first  and apex

### Explain why this resource is needed

[Apex](https://github.com/operate-first/support/issues/1131) wants to utilize a Keycloak instance.

It seems it's currently not possible to install Keycloak as a cluster scoped operator - only a single namespace is allowed through OLM. There's some discussion around this in the upstream but so far not much traction (s

[2022-11-15 18:45] russellb commented on #1145
In the immediate term, it would be nice for us to have full control over our keycloak instance. That way we can blow it up as many times as we want as we continue bootstrapping our new service.

We could do that within the `apex` namespace, or you could just give us access to the shared one and let us work on it since we'll be the only ones using it.  As soon as the next service comes along that w

[2022-11-15 18:47] russellb commented on #1145
cc @nerdalert, @dave-tucker, @vishnoianil

[2022-11-15 19:42] MichaelTiemannOSC commented on #1137
I was able to start a notebook using the "regular" Elyra notebook.  I don't know what's broken in the current "custom" Elyra notebook, but I think that both Mutlu and I can get by using the "regular" notebook for now.  We still need this problem fixed, and it would still be nice if https://github.com/operate-first/apps/issues/2009 could be addressed.  Namely, it would be nice to have a "minimal" p

[2022-11-16 11:52] #1135 closed

[2022-11-16 14:06] jelkosz opened #1146 "cluster-as-a-service"
### Target cluster

MOC/Smaug

### Team name

cluster-as-a-service

### Desired project names

caas

### Project Owner

jelkosz

### Project description

As discussed with Tom Coufal today, we would like to collaborate on creating an option to request OCP clusters for users. Basically we will need cluster-as-a-service, hypershift and argo installed.

### Link to project documentation

https://gith

[2022-11-16 16:30] tumido commented on #1146
I'd like to keep this issue open after the initial namespace onboarding. As per our discussion with @jelkosz we'd like to install the cluster-as-a-service, openshift-gitops/argocd, hypershift operators into this cluster and namespace. Then we'd also like to create a space in `operate-first/apps` for `ClusterTemplateInstance`s. We expect the following workflow:

For POC:

1. User creates a `Cluster

[2022-11-16 16:55] tumido commented on #1145
Ok, one more question. Do you plan on installing any other operator into your `apex` namespace? If we go through and install keycloak as a namespace scoped operator into `apex` namespace it will require a `OperatorGroup` resource into your namespace with target namespace `apex`. By desing, OLM allows only a single operator group per namespace - that means any additional operator installed into thi

[2022-11-16 17:06] tumido commented on #1145
This PR will install the rhsso operator into `apex` namespace: https://github.com/operate-first/apps/pull/2624

You than should be able to provision a `Keycloak*` resources locally. If you want to see how our previous `Keycloak` instance was configured you can find it here:

https://github.com/operate-first/apps/blob/fd8f5c3c60ddd1d3d3c302081f6bcbb3cdee8590/keycloak/base/keycloak.yaml

https://git

[2022-11-16 17:54] MichaelTiemannOSC commented on #1121
Bump @MightyNerdEric @durandom

[2022-11-16 18:00] MichaelTiemannOSC commented on #1114
OpenMetadata 0.12.2 was released a few weeks ago.  0.13-preview is available as of yesterday, and may be the best way to align our development efforts with OM.

xref https://github.com/operate-first/support/issues/1121
xref https://github.com/os-climate/os_c_data_commons/issues/183

[2022-11-16 20:27] cooktheryan opened #1147 "NEW PROJECT: emporous"
### Target cluster

MOC/Smaug

### Team name

emporous-devs

### Desired project names

emporous

### Project Owner

cooktheryan

### Project description

All of the development and design of the Emporous project. Formally known as UOR

### Link to project documentation

https://universalreference.io/

### Users needing access

sabre1041,jpower432,afflom,jflowers

### Namespace Quota

Medium

###

[2022-11-17 02:11] #1147 closed

[2022-11-18 12:11] #1145 closed

[2022-11-18 16:01] #1137 closed

[2022-11-18 16:14] MightyNerdEric commented on #1137
Ok, Custom Elyra Notebooks are back in working order. Please let me know if you run into any further issues.

[2022-11-18 20:22] sesheta commented on #574
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-21 20:16] harshad16 opened #1148 "Pulp operator is not auto updating"
The pulp operator on namespace `opf-pulp`, is set to be auto update.
https://github.com/operate-first/apps/blob/4751167f1abbd043c385a249e729175e95d25d8f/cluster-scope/base/operators.coreos.com/subscriptions/pulp-operator/subscription.yaml#L8

However,  the pulp operator is not updating to the latest version. i.e v1.0.0-alpha.3
![Screenshot from 2022-11-21 15-15-20](https://user-images.githubuserco

[2022-11-21 20:59] syedmohdqasim opened #1149 "As a Developer, I want to be able to use ray-operator, so that i can spin ray cluster easily and use them for ai workloads."
### Additional context

We want to setup ray-operator in smaug cluster of operate first cloud. so that anyone can easily setup ray clusters and be able to use it for ai workloads.

### Acceptance Criteria

- when i create a deployment having custom resource as "raycluster" the resource should get deployed, and ray operator should deploy it.

### Relevant links

this is the ray operator we want to

[2022-11-22 11:54] #1148 closed

[2022-11-22 15:14] MightyNerdEric commented on #1141
This needs to be changed to a different environment. To get the bot to pick up that change, I'm closing this and will open a new issue.

[2022-11-22 15:22] erikerlandson opened #1150 "OS-Climate CL2 openmetadata user permissions problem"
The OSC users are unable to view individual table metadata on the OpenMetaData dashboard

starting here:

![image](https://user-images.githubusercontent.com/259898/203352342-f0293678-5332-4410-abd9-3bb23c243dfe.png)

click on a table, and users are seeing this error:

![image](https://user-images.githubusercontent.com/259898/203352554-6b917eab-d18a-4adb-bd7c-2e534ad4abf5.png)

[2022-11-22 16:48] goern opened #1151 "NEW PROJECT: bragi"
### Target cluster

MOC/Smaug

### Team name

thoth

### Desired project names

bragi

### Project Owner

goern

### Project description

Der Gott Bragi gehört zum Geschlecht der Asen und ist der Gott der Dichtkunst. Er ist verheiratet mit der Jugendgöttin "Idun" und begrüßt die gefallenen Krieger in Walhalla. Außerdem ist er Odins und Friggs Sohn.
Bei den Germanen war Bragi hochgeschätzt, da sie

[2022-11-22 16:54] durandom commented on #1116
@rbadagandi sorry for responding late. Please have a look at this issue template https://github.com/operate-first/support/issues/new?assignees=first-operator&labels=kind%2Fonboarding%2Carea%2Fargocd&template=6_onboarding_argocd.yaml&title=PROJECT%3A+%3Cname%3E

At the end is also a documentation for you to create the pull request yourself.
Or these PRs https://github.com/operate-first/apps/pulls?q

[2022-11-22 17:12] durandom commented on #1151
[code]

[2022-11-22 17:48] durandom opened #1152 "slack-first bot can't create issue"
[code]

cc @tumido

I just added the bot to the #support channel

<img width="716" alt="image" src="https://user-images.githubusercontent.com/161888/203385175-70c1d529-b473-4ee3-8e0c-1be1764ec11d.png">

Wasnt he always there?

[2022-11-22 20:53] tumido commented on #1152
I think things may have changed on the github auth endpoint for apps... I need to take a closer look at the GitHub auth via Octokit and update it.

[2022-11-23 08:07] durandom commented on #1151
/robozome payload

[2022-11-23 08:13] durandom commented on #1151
/robozome retry

[2022-11-23 09:17] #1151 closed

[2022-11-23 13:09] tumido commented on #1152
I'm also confused.. It was always there. And in other channels as well. No idea what happened. In my test slack workspace and test slack app the bot remains logged in and subscribed and is also capable of creating issues.. I'll look into this further, it's definitely weird.

[2022-11-24 13:26] sostrades-radouanbouadel opened #1153 "As a sostrades membre, I want to grant access to grafana/chronos and argocd to sostrades teams , so that we like to use the monitoring (prometheus, grafana) and argocd."
### Additional context

we use sostrades on CL2 ans sostrades-namespae in CL1

### Acceptance Criteria

have access to grafana/chronos and argocd

### Relevant links

.

[2022-11-24 15:32] #1153 closed

[2022-11-29 12:33] dave-tucker opened #1154 "As an Apex developer, I want to store secrets, so I can keep my credentials private."
### Additional context

👋 over in the `apex` namespace we'd like access to vault to store some secrets.
We'd like to add secrets using the ui/cli and be able to consume these in our project via the external-secrets operator.

### Acceptance Criteria

- [ ] `apex` is onboarded onto vault

### Relevant links

Same request, different team: #973

[2022-11-29 14:23] sesheta commented on #400
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-29 14:23] sesheta commented on #571
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-29 20:17] #1117 closed

[2022-11-30 16:09] #448 closed