[2020-09-30 13:33] HumairAK opened #630 "[Spike] Start looking into how SRE principles can be applied to public facing projects."

[2020-10-02 14:47] hemajv opened #965 "Define SLIs for JupyterHub"
Document the SLIs for the JupyterHub service under the `sli-slo` folder
Refer to https://github.com/AICoE/aicoe-sre/blob/master/runbooks/jupyterhub.md#monitoring

[2020-10-02 14:48] hemajv opened #964 "Add SLIs/SLOs for JH"

[2020-10-02 14:49] #964 closed

[2020-10-02 14:51] hemajv opened #963 "Add an initial runbook template for JupyterHub"

[2020-10-02 15:55] hemajv opened #962 "[Docs] Document the process for adding public facing Grafana dashboards"
Once we have the dashboard publicly available (#18) we should document the process for getting it added to our repo.
This is also related to https://github.com/operate-first/apps/issues/92.

[2020-10-07 14:29] #965 closed

[2020-10-07 21:00] hemajv opened #961 "Create a runbook template"

[2020-10-12 13:47] #963 closed

[2020-10-26 15:51] HumairAK opened #960 "Deploy ODH monitoring to have a starting point for our monitoring stack on moc"
Use the repo here to reference odh manifests: https://github.com/operate-first/odh

[2020-10-27 14:57] #961 closed

[2020-10-28 14:41] #630 closed

[2020-10-28 14:53] HumairAK opened #1 "Add a basic README.md to the support repo"
The readme should start with including links to the MOC JH, and instructions on how to get access to moc/JH.

[2020-11-02 14:36] SankBad opened #2 "How to create a Jupyterhub image and deploy it on ODH?"
As a data scientist, I want to share my notebooks with others and receive feedback. To make the notebooks more visible, How can I create a Jupyterhub image and deploy it on ODH so that they are available in the JH dropdown?

Is there any documentation regarding this?

Acceptance criteria -

- [x]  Configuration file analysis project available in the drop-down for Jupyterhub images on ODH.

- [ ]

[2020-11-02 16:03] pacospace opened #3 "Create template for issues"

[2020-11-02 16:13] pacospace opened #5 "Can we have default runtimes in Elyra?"
As Data Scientist,

I want to have runtimes defaults so that I don't have to create a new runtime every time to be used in my AI pipeline.

[2020-11-02 16:15] pacospace opened #6 "Requirements to run AI Pipeline through Elyra on ODH on Op1st (more docs?)"
As Data Scientist,

I would like to run AI Pipeline using Elyra. As runtime need to be added to each step and ODH currently supports Kubeflow.
There are some required information missing for the user.

How do I find out which is:

- Kubeflow Pipelines API Endpoint
- Cloud Object Storage Endpoint

do we get user credentials for Ceph? To run AI Pipeline also:

- Cloud Object Storage Username (requir

[2020-11-02 16:27] pacospace opened #7 "Missing defaults runtimes in ODH Elyra"
As Data Scientists,

when I run my Elyra image on ODH and try looking for available runtimes, I don't fin any available.

when I create an AI pipeline and try to assign one image to the step in the pipeline, there is a list of defaults runtimes.

This behaviour I think is a bit confusing. Using upstream image of Elyra from https://github.com/elyra-ai/elyra. This behaviour is not present.

On ODH E

[2020-11-02 16:27] pacospace opened #8 "Missing runtimes list in ODH Elyra"
As Data Scientists,

when I run my Elyra image on ODH and try looking for available runtimes, I don't fin any available.

when I create an AI pipeline and try to assign one image to the step in the pipeline, there is a list of defaults runtimes.

This behaviour I think is a bit confusing. Using upstream image of Elyra from https://github.com/elyra-ai/elyra. This behaviour is not present.

On ODH E

[2020-11-02 18:10] #7 closed

[2020-11-02 18:11] pacospace commented on #7
Replaced by: https://github.com/operate-first/odh-moc-support/issues/8

[2020-11-03 11:29] pacospace commented on #8
This is a question actually, it might be because we use v1.0.0 of Elyra as part of ODH 0.8.0 on Operate first

[2020-11-03 14:12] #3 closed

[2020-11-03 14:17] pacospace commented on #5
I will open this upstream to Elyra community actually

[2020-11-03 14:17] #5 closed

[2020-11-03 14:18] pacospace commented on #8
I ll close it for now and in case reopen,I don't have this issue using Elyra v1.2.1 in elyra-lab-s2i:v0.0.4 from odh

[2020-11-03 14:18] #8 closed

[2020-11-03 14:48] 4n4nd commented on #2
@SankBad we are thinking of following the same structure that is used in [upstream ODH](https://github.com/opendatahub-io/odh-manifests/tree/master/jupyterhub/notebook-images/overlays/additional).

We don't have any documentation yet. But you will have to add your imagestream to the [operate-first/odh](https://github.com/operate-first/odh/tree/master/kfdef/jupyterhub) repo for it to be added to th

[2020-11-03 15:40] MichaelClifford opened #13 "Data Science Users: How should we be deploying our work to this environment?"
**Description**

@durandom, you mentioned "the DS folks have notebooks and workflows" and also "We should only deploy stuff via argocd or PRs to the gitlab repo"; I'm not sure I understand how to deploy stuff via a PR, should we be getting some of our existing notebooks added by PR?  Is there documentation somewhere for how to do this?

Also, on @hemajv 's note, should DS folks be using the servic

[2020-11-03 17:31] goern commented on #8
To shed some light on the release z topic i created https://github.com/opendatahub-io/odh-manifests/pull/224

[2020-11-03 18:05] 4n4nd commented on #6
Will need to:
1. Deploy the Kubeflow Pipelines components from [upstream Kubeflow](https://github.com/kubeflow/manifests/tree/master/pipeline).
2. Add the [imagestream](https://github.com/opendatahub-io/odh-manifests/blob/v0.8.0/jupyterhub/notebook-images/overlays/additional/elyra-notebook-imagestream.yaml) for s2i-elyra in the Jupyterhub namespace.

[2020-11-03 20:17] tumido commented on #6
You can use the ODH's fork of Kubeflow for the best upstream experience on Openshift:

See:
https://github.com/opendatahub-io/manifests/blob/v1.0-branch-openshift/kfdef/kfctl_openshift.yaml

It'll deploy the Kubeflow Pipelines for you. It should be easy to extract only those parts that you need. I'll look into that tomorrow.

[2020-11-03 20:43] 4n4nd commented on #6
yeah i found that and made https://github.com/4n4nd/odh/tree/add-kubeflow-pipeline/kfdef/kubeflow-pipeline

[2020-11-04 09:12] goern opened #14 "what is the mapping of ODH features to the MOC deployment?"
**Description**

Looking at ODH upstream, there is a lot of features included. https://github.com/operate-first/odh-moc-support/issues/6 shows there are differences wrt what gets deploys to MOC.

What feature set of what ODH release is deployed to MOC and how is that documented?

[2020-11-04 09:12] goern commented on #14
can we document the decision analogue to https://github.com/opendatahub-io/odh-manifests/pull/224 ?

[2020-11-04 10:00] durandom commented on #6
let's not deploy anything other upstream than ODH

[2020-11-04 12:05] pacospace opened #15 "Cannot authenticate on JH"
**Describe the bug**
Logging with gmail on JH give authentication error

**To Reproduce**
Steps to reproduce the behavior:
1. Try logging with gmail on JH

**Expected behavior**
Logging in JH after authentication.

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2020-11-04 15:44] hemajv opened #959 "Update README in SRE repo"
Add more content in the README highlighting SRE practices such as SLI/SLO, runbooks etc

[2020-11-04 15:53] hemajv opened #958 "Add documentation for monitoring setup"
Add documentation/best practices on setting up an open/public monitoring stack
Follows operate-first/operations#11

[2020-11-04 16:07] hemajv opened #957 "[Spike] Discuss incident management procedure"
We should implement an incident management procedure to follow for handling outages/incidents related to the ODH services/applications on MOC

Previously we followed: https://gitlab.cee.redhat.com/data-hub/dh-runbooks/-/blob/master/incident_management_procedure.md and tracked incidents through JIRA/OnePortal. For starters, we could track our outages as issues in this repo?

cc @anishasthana @Humai

[2020-11-05 09:42] martinpovolny commented on #2
@SankBad : Let me try to help.

Do you have your own deployment of ODH somewhere? Your cluster or some cluster you have access to?

If you don't then you need one. There are guides for playing with your own instance of ODH here:

https://github.com/operate-first/continuous-deployment/blob/master/docs/index.md

To make an existing image available on ODH, it needs to have an ImageStream created and

[2020-11-05 11:02] durandom commented on #13
once @HumairAK has argocd setup, @tumido can help with setting up e.g. argo workflows

@MichaelClifford what specific application/workflow/notebook/dashboard etc do you want to access or deploy?

[2020-11-05 11:04] durandom commented on #14
the plan is to deploy *all* features of ODH - as laid out in https://github.com/operate-first/odh/issues/10

[2020-11-05 11:06] durandom commented on #6
let's put this on hold until @HumairAK deployed "all the things" (incl. KF pipelines) via https://github.com/operate-first/odh/issues/10

then re-visit the UX of that deployment here

[2020-11-05 11:07] durandom commented on #15
@hemajv can you have a look at this?

[2020-11-05 12:43] pacospace commented on #15
I think is related to the cluster mentioned in the chat.

[2020-11-05 14:43] 4n4nd commented on #15
Yes. Unfortunately, the MOC openshift cluster is down right now.

[2020-11-05 16:31] MichaelClifford commented on #13
@durandom I didn't have anything specific in mind, more a clarification on process. In the event a Data Scientists like myself would want to deploy an application, are there docs for doing this through a PR? In the past I've only evjust used the command line like "oc new-app ..." when testing stuff out our setting up a demo.

[2020-11-05 16:37] MichaelClifford commented on #13
I think @anishasthana answered my question in an email, but thought I'd repost here for continuity.

These docs were written by people who are comfortable with Kustomize and ArgoCD

[2020-11-05 16:49] HumairAK commented on #13
@MichaelClifford  I'm in the middle of setting up projects / permissions for argocd on moc, I've made an issue [here](https://gitlab.com/open-infrastructure-labs/moc-cnv-sandbox/-/issues/52) with a proposed argocd project structure. Basically you guys would fall under the `data-science` project, and you'd be able to deploy apps/etc. to your namespaces under this project -- I'll provide docs on how

[2020-11-06 06:17] harshad16 opened #16 "Request for the cnv cluster ceph details and prometheus details"
**Description**
we liked to request the details about the ceph and prometheus on cnv cluster, so that we can get to know how we can request the credentials. These details are required for project thoth to be able to create an overlay for thoth deployment in cnv cluster.
How and where to request the details for these services?

**Additional context**
This would modified/enable our application to fu

[2020-11-06 11:16] martinpovolny commented on #2
I am adding here

### Steps to add your notebook repo to Thoth for building

### Enable the CI integration

To get image built by Thoth (in Tekton?) (not sure what is the right formulation here) and uploaded to quay.io (image registry) one needs to add the "aicoe-ci" app to the project:

![github-app-2020-11-06_10-36](https://user-images.githubusercontent.com/51095/98358752-7b565180-2027-11eb-9ae0

[2020-11-06 14:19] SankBad commented on #2
Thanks, @martinpovolny and @4n4nd
I will try this and let you know if facing any issues.

[2020-11-06 15:13] martinpovolny commented on #2
@sankBad: this is still a work in progress from my side. Do not hurry, unless you are in a hurry.

[2020-11-06 15:18] SankBad commented on #2
Ohk, the work is not urgent, I will wait

[2020-11-06 15:57] #959 closed, assigned to hemajv

[2020-11-06 16:55] harshad16 commented on #2
@martinpovolny  that's greatly described some parts of it are described in aicoe-ci documentation, but some are missing.
if you would like to add these details to documentation, we would happy with the contribution.

[2020-11-06 17:09] hemajv opened #956 "Latest metrics for Jupyterhub"

[2020-11-07 19:57] martinpovolny commented on #2
Sure, @harshad16

[2020-11-09 08:38] martinpovolny commented on #2
@SankBad : I want to double-check one thing in this issue: You want the notebook to be available on a generic ODH instance somewhere.

You are NOT asking about having your notebook available in the existing ODH instance that we have in Red Hat -- the DH. Correct?

[2020-11-09 09:26] harshad16 commented on #2
If the question is regarding the notebook to be available in the existing internal ODH instance then this repository would be helpful https://github.com/thoth-station/jupyternb-build-pipeline.
we use the pipeline for internal setup, these pipelines build then image and use them in internal ODH instance.

[2020-11-09 15:03] SankBad commented on #2
@martinpovolny , I want my notebook available on generic ODH instance which people outside Red hat can access. This notebook is already available on internal RedHat ODH.

[2020-11-10 07:42] martinpovolny commented on #2
TODO: make sure that the information thah the builder image for jupyter notebook images is `s2i-custom-notebook`, https://github.com/AICoE/s2i-custom-notebook

[2020-11-10 07:46] martinpovolny commented on #13
I'll add myself here. I am currently struggling to deploy our anomaly detection project using argo-cd to an ocp4 cluster.

Working in https://github.com/martinpovolny/ocp4-anomaly-detection/tree/argocd/manifests

I think I got basics right, secrets seem to be kept secret, resources are being created. Only as whole it does not work yet ;-)

[2020-11-10 09:19] martinpovolny opened #17 "notebook content of an image deployed on JH is incorrect"
When deploying a Thoth-built image to OpenShift 4 into JH then the notebooks from the source repository are not present.

This is a placeholder, before I figure out where to put the bugreport of figure a problem on my side.

**Describe the bug**

While experimenting with: https://github.com/operate-first/odh-moc-support/issues/2 I have successfully built an image.
The image is here: https://quay.i

[2020-11-10 14:15] HumairAK commented on #13
@martinpovolny this is a separate argocd cluster we used to manage applications for `aicoe` teams and idh internally, please make an issue about this [here](https://github.com/AICoE/aicoe-cd)

[2020-11-11 13:05] martinpovolny commented on #17
I have had the same problem with another image that I tried -- the cathegorical encoding notebook: quay.io/aicoe/categorical-encoding:v1.0.0

This image is built using the same process (same s2i build image and process).

On the other side when I tried another image:
`docker-registry.upshift.redhat.com/aicoe-notebooks/insights-configuration-files-analysis:latest`
It worked for me.

Please, note th

[2020-11-11 13:22] pacospace commented on #15
any updates on the JH? :)

[2020-11-11 16:27] harshad16 commented on #17
Following through the issue and while trying to recreate, the same issue is hit if the assemble script in aicoe/s2i-custom-notebook is not executed properly. This can happen when the `--scripts-url` is not initialized in the s2i build process, the s2i-custom-notebook requires the `--scripts-url="image:///opt/app-root/builder"` to be set.
As we are using the aicoe-ci tool to do the build, the scrip

[2020-11-11 21:53] hemajv opened #955 "Create SLI/SLO based Grafana dashboard for JupyterHub"
Add a monitoring dashboard for JupyterHub based on our defined SLI/SLO. Export the dashboard as a JSON file and include it in the `dashboards` folder. (Refer to the Grafana documentation [here](https://github.com/integr8ly/grafana-operator/blob/master/documentation/dashboards.md))

(Once this is closed, we can proceed to operate-first/operations#5)

[2020-11-12 11:08] goern commented on #6
ping

[2020-11-12 15:10] HumairAK opened #954 "Prototype: Have alerts integrated with github"

[2020-11-12 18:52] hemajv opened #953 "Create a dashboards directory with README"
Add a `dashboards` folder for placing all the Grafana dashboard JSON files for each of the monitored application/service. Include a README describing the purpose of these dashboards.

[2020-11-13 15:44] #953 closed

[2020-11-16 19:25] 4n4nd commented on #15
@pacospace It should be up and working. I'll close this issue for now, please feel free to reopen it in case it doesn't work.

[2020-11-16 19:25] #15 closed

[2020-11-16 19:26] 4n4nd commented on #17
@martinpovolny did the fix work?

[2020-11-16 19:37] 4n4nd commented on #16
@harshad16 An issue on this repo should be the correct way to request any new components or credentials for any services.
Can you please make individual issues for each request?
Thanks!

[2020-11-16 19:46] harshad16 opened #18 "[TASK] Request for the cnv ceph cluster creds"
**User story**
We thoth-devops, would like to update our gitops related manifest file with correct ceph credentials corresponding to the moc cnv cluster, so that we can have our deployment run successfully and smoothly in the cnv operate-first cluster.

**Additional context**
Thoth component needs/requires ceph credentials to establish a connection with the ceph component for data storage.

**Acce

[2020-11-16 19:50] harshad16 opened #19 "[TASK] Request for the Prometheus connection details."
**User story**
We thoth-devops, would like to update our gitops related manifest file with correct Prometheus details corresponding to the moc cnv cluster, so that we can have our deployment can send metrics successfully to the Prometheus endpoint and push-gateway endpoint.

**Additional context**
Project Thoth components require endpoint to send metrics and to store them.

**Acceptance Criteria**

[2020-11-16 19:51] harshad16 commented on #16
@4n4nd thanks for the information.
I have created separate individual issues for this request.
Thanks, you can close this issue, if they feel correct and no other issue is required.

[2020-11-16 20:17] 4n4nd commented on #18
@durandom do we have any updates on the Ceph instance for MOC?

[2020-11-16 20:20] 4n4nd commented on #19
@harshad16 we are still working on setting up monitoring. Currently we have set up Prometheus, we still need to add Thanos and a Push-gateway.
This might take a little time :(

[2020-11-16 21:52] pacospace commented on #15
Thanks @4n4nd :rocket: :beers:

[2020-11-17 07:47] durandom commented on #18
@4n4nd please have a look at https://gitlab.com/open-infrastructure-labs/moc-cnv-sandbox
If there's nothing in the `/docs` folder, create an issue and tag Lars and ping Lars in google chat.

[2020-11-17 18:42] 4n4nd commented on #2
@SankBad This is an example [PR](https://github.com/operate-first/odh/pull/25) for adding new JH images

[2020-11-17 19:04] 4n4nd commented on #18
Created an issue https://gitlab.com/open-infrastructure-labs/moc-cnv-sandbox/-/issues/54

[2020-11-17 19:43] MichaelClifford opened #20 "Update Jupyter Hub spawner landing page to reflect GPU availability"
**Description**
Not sure if this is the right place for this question.

Since we don't have GPU's available yet, but the UI contains the option to request one, if you select "1" GPU or any number, it will prevent the pod from spawning due to insufficient GPU's available. Should this option be removed until we have this kind of resource available? My concern is that this could be confusing/ off-put

[2020-11-17 22:07] 4n4nd commented on #20
That's because there are no GPUs available on the cluster

[2020-11-17 22:16] 4n4nd commented on #18
@harshad16 I have pinged Lars about the access to the S3 API external to the cluster, but If you are planning to use it within the cluster, you can create a [ObjectBucketClaim](https://github.com/rook/rook/blob/master/Documentation/ceph-object-bucket-claim.md#app-pod) in a namespace

[2020-11-18 14:01] eranra opened #21 "Where is the code for "http://www.operate-first.cloud/config-analysis/configuration-file-analysis-blog" ?"
**Description**

**Additional context**

[2020-11-18 15:12] SankBad commented on #21
Hi @eranra ,

Code is currently on GitHub repo [URL](https://github.com/aicoe-aiops/configuration-files-analysis).
I am in the process of making the notebook to moc [jupyterhub](https://jupyterhub-opf-jupyterhub.apps.cnv.massopen.cloud/hub/login).

Let me know if you have any additional questions?

[2020-11-18 15:16] durandom commented on #21
@SankBad can you add the URL to your blog post too?
And let the PR reference this issue

[2020-11-18 15:22] SankBad commented on #21
Hi @durandom ,

Github URL is in the blog.
I need to change jupyterhub section. I am on it with the issue [link](https://github.com/operate-first/operate-first.github.io/issues/102)

[2020-11-18 18:17] 4n4nd commented on #20
@vpavlin might know better

[2020-11-18 19:36] SankBad commented on #2
Great! I will try this. I will let you know If I am facing any issues.

[2020-11-19 07:16] #21 closed

[2020-11-19 07:17] eranra opened #22 "web site http://www.operate-first.cloud/ is down ???"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-11-19 07:28] oindrillac commented on #22
@eranra If you're trying to access the website, can you please try to visit https://operate-first.github.io/ instead, that should lead you to the same site.

I believe the address https://www.operate-first.cloud/ is currently down, will update once it's back up.

[2020-11-19 07:34] eranra commented on #22
@oindrillac :-)

[2020-11-19 07:34] #22 closed

[2020-11-19 20:08] durandom opened #952 "SPIKE: Evaluate content from OSD team for sre"

[2020-11-23 18:49] MichaelClifford opened #23 "Ceph storage for hosting publicly available datasets"
**Is your feature request related to a problem? Please describe.**

We currently do not have a place where we can publicly host the datasets required to ensure reproducibility of our data science work. Some smaller datasets are currently being stored in github repo's for the time being, but that is only a temporary and non-ideal solution.

**Describe the solution you'd like**

A ceph bucket that c

[2020-11-23 19:03] chauhankaranraj commented on #23
I think this might be a related issue - https://gitlab.com/open-infrastructure-labs/moc-cnv-sandbox/-/issues/54
@4n4nd could probably confirm

[2020-11-23 21:12] 4n4nd commented on #23
Similar request: https://github.com/operate-first/odh-moc-support/issues/18

[2020-11-25 14:04] martinpovolny commented on #17
Yes it did. I applied it in the PRs mentioned above: ^^^

[2020-11-25 14:14] SankBad commented on #2
Just an update my notebooks are now available on MOC JH :partying_face:

[2020-11-25 14:23] SankBad opened #24 "MOC JH gives similar names to every selected projects"
**Is your feature request related to a problem? Please describe.**
Currently, we have different projects in MOC JH that we can select from the Spawn screen.

But, I select any of them, I get a generic name with the format `notebook-yyyy-mm-dd-hh-mm`
If I am working on multiple project's its really difficult to find the project I am interested in, In the following picture I opened four different pr

[2020-11-25 14:25] SankBad commented on #24
Different name feature exist in internal JH

[2020-11-25 14:32] HumairAK opened #951 "[Docs] Add a flight page for upcoming features in the operate-first initiative on the operate-first website"
The purpose of this flight page should be to indicate items/services in their respective stages (pending/available for use/etc.) and links to currently available items/services.

[2020-11-25 14:33] 4n4nd commented on #24
@SankBad This is something that needs to be changes in the build pipeline for JH images.
@harshad16 is already working on it I think ([issue](https://github.com/AICoE/aicoe-ci/issues/82))

[2020-11-25 14:37] HumairAK opened #950 "[Docs] Add links to all available services (both for users and operations) on the operate-first website"
Services:
Users:
- Jupyterhub

Ops:
- Grafana
- Prometheus / Alertmanager
- ArgoCD
- Incidents page (based on operate-first/operations#19 would be just the link to the support repo)

[2020-11-25 14:40] SankBad commented on #24
Great, I am closing this issue.

[2020-11-25 14:40] #24 closed

[2020-11-25 14:45] 4n4nd commented on #2
I will add some documentation for:
* how to add a repo to the thoth build pipeline, maybe @harshad16 already has some docs.
* how to add the built image to the MOC Jupyterhub (creating an imagestream)

[2020-11-25 14:49] harshad16 commented on #2
@4n4nd  yes anand, i have some docs and i will update them in the operate-first/continous-delivery repository.
I m aiming to get everything there by this week.

[2020-11-25 15:40] goern opened #25 "create user on cnv.massopen.cloud w/ std password and view perms"
To have a publically accessible OpenShift project, I want to use a user with view-only permissions and a standard password, so that I can share it in docs.

/kind feature
cc @durandom
/priority important-soon

[2020-11-25 20:34] Shreyanand opened #26 "User interaction with Jupyterhub"
I'm creating this issue to understand and perhaps refine user interaction with JH on Operate first.

Currently, this is the workflow for me if I'm the user:

1. I read a blog on the website and it takes me to an instance of Jupyter hub
2. I login using my google account
3. I select the image corresponding to the blog I read
4. A container is spawned and I see the notebook directory in my PVC

A fe

[2020-11-25 20:51] SankBad commented on #26
Hi Shrey,

I created the same [issue](https://github.com/operate-first/odh-moc-support/issues/24) in the morning.
Later found out this [issue](https://github.com/AICoE/aicoe-ci/issues/82) already exists in `AICoE/aicoe-ci` repo

[2020-11-25 20:56] SankBad commented on #26
The above comment is regarding the 1st idea.

[2020-11-30 01:07] 4n4nd commented on #24
This should be fixed by @harshad16 in [this PR.](https://github.com/AICoE/aicoe-ci/pull/84)

[2020-11-30 01:15] 4n4nd commented on #26
@Shreyanand We need to rebuild all our notebook images so that the existing images in the registry are updated with new ones that have this fix.

[2020-11-30 16:52] harshad16 opened #27 "Request for kafka on operate-first"
**Is your feature request related to a problem? Please describe.**
Thoth-station component uses Kafka messaging.It is a required component for the proper functioning of thoth-station system.
we would like to request Kafka setup on operate-first so that component can connect to it via SSL or SASL connection.

**Describe the solution you'd like**
Use amq-stream operator or strimzi operator to deploy

[2020-11-30 16:53] harshad16 commented on #27
Related-to: https://github.com/operate-first/odh/issues/10

[2020-11-30 17:02] 4n4nd commented on #26
@Shreyanand Yes I think we do want the users to shut down their containers when they exit, but we will keep the PVCs intact. There will be a user profile.

[2020-12-07 12:10] lukehinds opened #29 "rekor as an operate first service"
hello, [project rekor](https://github.com/projectrekor/rekor) is interested in becoming an operate first service to allow argocd deployments to MOG / GKE cluster. This issue will act as a placeholder and means to track / reference.

We are working on an k8s operator and plan to explore monitoring integration.

rekor is a golang based project, it provides a web front end (rest API) and has a backen

[2020-12-07 14:25] tumido commented on #29
cc @durandom

[2020-12-07 14:38] wattsteve commented on #29
Is the intent here to allow the Rekor projects CD to be able to deploy to either the Massachusetts Open Cloud (MOC) or GKE? Is "Operate First" a Red Hat internal initiative or a community initiative?

[2020-12-07 15:14] durandom commented on #29
First step would be to deploy a Rekor service to the MOC cluster via our tooling (argocd, etc) and then deploy to GKE either via the same tooling or another instance of that tooling, re-using the procedures.

This version of Operate First is the community part, concerned with creating an open source equivalent for operations.

[2020-12-07 15:20] durandom commented on #29
@lukehinds can you follow https://gitlab.com/open-infrastructure-labs/moc-cnv-sandbox/-/blob/master/docs/about-the-cluster.md to get access to the cluster? @larsks will enable your account.

@HumairAK can then point you to documentation on how to deploy via our argocd

[2020-12-07 16:45] HumairAK commented on #29
Hey guys, FYI you guys should be able to go ahead and make namespaces and deploy on the MOC cluster right now w/o needing to be added [here](https://console-openshift-console.apps.cnv.massopen.cloud/k8s/cluster/projects).

If this is an operator then it should go [here](https://gitlab.com/open-infrastructure-labs/moc-cnv-sandbox/-/tree/master/manifests/operators) (We keep all operators and cluster

[2020-12-07 17:46] HumairAK commented on #29
I've created an issue [here](https://gitlab.com/open-infrastructure-labs/moc-cnv-sandbox/-/issues/61) for an openshift group for `rekor`, please add the people that would need access to the argocd `rekor` project there.

[2020-12-07 19:08] harshad16 commented on #27
@HumairAK noticed you worked on the kafka deployment.
Thanks for the docs to update the [kafkatopic](https://github.com/operate-first/odh/blob/master/docs/add_kafka_topics.md).
can you please also guide me how to get the:  Kafka broker URL + ca.cert  required for SSL connection ?
so that we can start with thoth component deployment.

[2020-12-07 19:09] harshad16 commented on #18
Thanks @4n4nd  for providing the information and for opening [issue](https://gitlab.com/open-infrastructure-labs/moc-cnv-sandbox/-/issues/54) , this [comment](https://gitlab.com/open-infrastructure-labs/moc-cnv-sandbox/-/issues/54#note_460217132) has made it clear on how to use it.

[2020-12-07 19:09] #18 closed

[2020-12-07 20:38] HumairAK commented on #27
[related](https://github.com/operate-first/odh/pull/62)

[2020-12-07 20:38] #27 closed

[2020-12-07 21:30] eletonia opened #30 "Request to integrate Mesh for Data with ODH"
Hello,

[IBM Mesh for Data](https://github.com/IBM/the-mesh-for-data)(M4D) is interested in integrating with OpenDataHub. After speaking with @durandom and @tumido , we agree that M4D would be a great extension of features providing data cataloguing and data governance. We hope to specifically integrate with JupyterHub and Elyra in ODH.

This issue will act as a placeholder and means to track / re

[2020-12-08 12:30] martinpovolny commented on #2
If you want to add your image to MOC, make a PR such as this one:
https://github.com/operate-first/odh/pull/25

If you need to add your image to the DH (ODH instance run by DH team),
make a PR against the `production` branch here:
https://github.com/AICoE/idh-manifests/blob/production/jupyterhub/bases/custom-images/jupyterhub-custom-images.yaml

[2020-12-08 16:42] hemajv opened #949 "[Docs] Add documentation on how to setup GitHub alertmanager receiver"

[2020-12-08 17:29] tumido commented on #30
cc @pacospace for visiblity (I know you're into all Elyra related things around here!)

[2020-12-08 18:08] pacospace commented on #30
Thanks @tumido! We are working on the extension there as well indeed :) https://www.youtube.com/watch?v=IBzTOP4TCdA

[2020-12-09 19:17] #951 closed

[2020-12-09 19:38] #950 closed

[2020-12-09 20:30] chauhankaranraj opened #31 "Request access to Ceph storage on MOC"
**Description**
Hey team, I wanted to upload some publicly available data that the notebooks in [openshift-anomaly-detection](https://github.com/aicoe-aiops/openshift-anomaly-detection) project will be using. Could I please get read-write access to an s3 bucket on MOC ceph?

**Additional context**
Related issues: #23, aicoe-aiops/openshift-anomaly-detection#3

cc @4n4nd

[2020-12-09 20:33] 4n4nd commented on #31
@HumairAK Should we create a bucket in the `opf-Jupyterhub` namespace, since the data will mainly be accessed using JH notebook servers?

[2020-12-09 20:52] 4n4nd commented on #31
The main requirement here is to be generate read-only keys for the bucket, which can be distributed to the public

[2020-12-10 00:38] HumairAK commented on #31
Hrmm so as I understand it, this will be done via creating OBC's, which I think should be handled similar to PVC's, in which case I think it makes sense to keep our buckets with the namespaces containing the services for which they are meant for (opf-jupyterhub for this particular case).

@tumido @durandom  @anishasthana  thoughts?

[2020-12-10 10:47] tumido commented on #31
Sure you can do that! See the docs here:
Create additional user: https://rook.io/docs/rook/v1.5/ceph-object.html#create-a-user
This CRD should support setting Bucket Policy: https://github.com/rook/rook/blob/master/design/ceph/object/bucketpolicy.md

[2020-12-10 13:08] HumairAK commented on #31
I've had a skim over that repo, I do not think they have implemented bucketpolicies (despite the target being 1.4 and current release being at 1.5). It's also not included in heir docs for OBC's.

[2020-12-10 13:18] tumido commented on #31
I don't know. Maybe you're right. It's certainly missing from the docs on the community page. Yet the policies code seems available:
https://github.com/rook/rook/blob/release-1.4/pkg/operator/ceph/object/policy.go

I don't know. Why don't we just try it. And if it doesn't work, we can come up with a feature request (or voice our interest for the existing one) and work around it for now with some k

[2020-12-10 13:20] HumairAK commented on #31
yeah I'm good with trying it out @4n4nd  ^^

[2020-12-10 13:54] durandom commented on #31
@chauhankaranraj what's the size and kind of the data and how is it being used?

Let's hold back any quick'n'dirty solutions, if we don't know what we actually want to achieve :)
We can continue to discuss the requirements at #23

[2020-12-10 14:11] HumairAK opened #948 "Configure github auth token for alerting arch"
In https://github.com/operate-first/SRE/issues/19, we configured the GitHub alertmanager for handling Prometheus alerts. The GitHub alertmanager requires an auth token to be configured in order to open issues automatically in our repo for alerts being fired. We want to be able to configure the Thoth Sesheta bot for this.

Related PR: https://github.com/operate-first/apps/pull/68

[2020-12-10 14:12] martinpovolny opened #32 "Add a doc to the website on having your notebook repo built and exposed on JH/ODH"
https://github.com/aicoe-aiops/data-science-workflows/pull/24

[2020-12-10 14:18] chauhankaranraj commented on #31
The data is one day's worth of prometheus metrics collected from CI/CD clusters, stored as parquet files (roughly 10MB). It would be for using in the anomaly detection notebook (see aicoe-aiops/openshift-anomaly-detection#3)

[2020-12-10 14:49] HumairAK opened #33 "Add monitoring column to flight page"
Also determine what criteria we would like for services in terms of monitoring.

[2020-12-10 15:57] durandom commented on #31
Let's put it into git and the notebook image for now and wait until we have a better understanding how we git-ops PVC/OBC

[2020-12-10 15:57] #31 closed

[2020-12-10 20:40] SankBad commented on #2
This issue resolved. As we have a doc.
Closing this issue. Thanks @martinpovolny

[2020-12-10 20:40] #2 closed

[2020-12-15 16:25] HumairAK opened #947 "Add thoth-ci files"

[2020-12-15 16:34] #947 closed

[2020-12-15 19:32] #955 closed

[2020-12-18 15:13] HumairAK opened #35 "Making this repo a central location for all operate-first docs"
Hey guys. So I feel as though our documentation is getting a bit disorganized, it's not clear to me when something should go in the repos: `cd`, `apps`, `argocd-apps`, `odh-moc-support`, etc.

2 solutions come to mind:
1) come up with clear distinctions on what type of documentation goes in which repo
2) rename this repo from `odh-moc-support` to just `support` so it becomes `operate-first/support

[2020-12-18 15:18] 4n4nd commented on #35
I think we should
1. Rename the `odh-moc-support` repo to `moc-support`
2. Move docs for the current moc env from the [apps repo](https://github.com/operate-first/apps/tree/master/docs) to the support repo

[2020-12-18 16:23] anishasthana commented on #35
I think it seems like the easiest path to take

[2020-12-18 18:33] HumairAK commented on #14
This question looks answered, for further info you can see the readme [here](https://github.com/operate-first/odh-moc-support). Feel free to re open if there are more questions. Thanks!

[2020-12-18 18:33] #14 closed

[2020-12-18 18:43] #957 closed

[2020-12-18 18:49] HumairAK commented on #29
Rekor argocd project has been setup, and the appropriate users have been given access to the argocd instance. Login [here](https://argocd-server-argocd.apps.cnv.massopen.cloud/applications).

You can create argocd applications via the UI. But note that the ArgoCD Application resource will not be version controller if you do it this way.

If you would like your argocd manifests backed up on vcs, th

[2020-12-21 11:40] durandom commented on #29
@HumairAK is the process in your last comment documented anywhere? If not, please do :)

[2020-12-21 16:21] HumairAK commented on #29
@durandom  -- yep! I've linked to the repo & docs on how they may add their applications on vcs in the comment above.

[2020-12-23 14:43] durandom commented on #35
2 things.

* How about renaming this to just `support`. Independent of the environment and apps?
* Where docs go to I'm undecided. It still makes sense to have all the docs in the repo where the code is. Then aggregate them on the op1st website. We can collect pro's and con's to this approach here.

[2021-01-05 11:13] lukehinds commented on #29
hey, sorry for late reply, seems like the service is offline (you may already be aware):

![image](https://user-images.githubusercontent.com/7058938/103639903-04660800-4f47-11eb-9e0c-03c33631fa73.png)

[2021-01-05 11:29] tumido commented on #29
Hi @lukehinds, I confirm the cluster is currently down. :frowning_face: @HumairAK and @larsks are trying to get hold onto people who can help us get it back online. Unfortunately most of them are either still on Christmas vacation or just came back. It should be up in few days at most.

[2021-01-06 08:59] durandom commented on #30
@eletonia I think the first step would be to deploy a "hello world" of M4D on the MOC cluster and see how it integrates with the components of ODH deployed there.

Do you have a corresponding issue at https://github.com/IBM/the-mesh-for-data to track progress and what the "hello world" would look like?

[2021-01-06 17:10] eletonia commented on #30
@durandom Yes I just created a corresponding issue [here](https://github.com/IBM/the-mesh-for-data/discussions/259)
Once we have access to the MOC cluster, we will try deploying there.

[2021-01-08 14:50] #962 closed

[2021-01-08 19:18] MichaelClifford commented on #23
@4n4nd Can we create a ceph bucket for us Data Science folks in the MOC environment now? :smiley:

[2021-01-08 19:36] #954 closed

[2021-01-11 13:56] #948 closed

[2021-01-11 14:00] pacospace commented on #6
What is the status of this issue? :)

[2021-01-11 15:41] pacospace commented on #6
https://opendatahub.io/docs/kubeflow/installation.html

[2021-01-12 15:55] MichaelClifford opened #36 "ODH Dashboard shows "Not Installed" for all applications."
**Describe the bug**
Although the ODH applications are installed and accessible, for some users the [dashboard page](https://odh-dashboard-opf-dashboard.apps.cnv.massopen.cloud/) indicates that they are all unavailable. And applications show the "application not available page".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://odh-dashboard-opf-dashboard.apps.cnv.massopen.cloud/

[2021-01-12 16:00] HumairAK commented on #36
This looks like an issue with upstream, @tumido wdyt? If so, we should also create an issue there and link this thread.

[2021-01-12 16:19] 4n4nd opened #37 "[TASK] [Hue] Add documentation for accessing MOC Hue"
**User story**
Need documentation on how to access the [MOC Hue](https://hue-opf-datacatalog.apps.cnv.massopen.cloud) environment.

**Additional context**
This documentation should include generic credentials that can be used to access Hue.

[2021-01-12 16:21] HumairAK commented on #37
can we have the docs added [here](https://github.com/operate-first/apps/tree/master/docs/odh) thanks.

[2021-01-12 16:28] durandom commented on #6
@HumairAK @tumido can we make KFPipelines a priority to be installed next?

[2021-01-12 16:35] durandom commented on #37
@4n4nd let's just put the user/pw on the website in the 3rd column of that [table](https://www.operate-first.cloud/users/odh-moc-support/#component-status)

[2021-01-12 16:35] HumairAK commented on #6
Yep will take a look into this.

[2021-01-12 16:44] tumido commented on #36
Hm, interesting. :facepalm:

So the cause of this is that ODH Dashboard deployment runs 2 replicas. Each replica provides a frontend JS bundle and a backend API service which is called on every dashboard load to provide the list of available components in the cluster:

[code]

The problem in this case is that:

<details>
<summary>One replica returns a valid list</summary>

[code]
</details>

<deta

[2021-01-12 18:11] hemajv commented on #35
I also think for now having the docs in their respective repos seems best. We can decide which ones we would like to be rendered on the website such as on-boarding docs etc and provide links to the additional docs available in the repo.

[2021-01-12 20:02] 4n4nd commented on #37
let's keep this issue open, since we still need the docs

[2021-01-12 20:10] HumairAK commented on #37
Woops I think my "related" comment must have caused sesheta to close it. That was unintentional :joy:

[2021-01-12 20:59] 4n4nd commented on #6
https://github.com/kubeflow/manifests/issues/1711

[2021-01-12 21:33] 4n4nd commented on #37
I think github closes any issue that you link with a PR using the UI

[2021-01-13 20:55] hemajv opened #946 "Implement DeadMan's Switch alert"
Setup DeadMan's Switch alert to ensure that our alerting pipeline is functional
Reference: https://jpweber.io/blog/taking-advantage-of-deadmans-switch-in-prometheus/

[2021-01-15 12:52] lukehinds commented on #29
any luck / progress at all guys?

[2021-01-15 13:23] tumido commented on #29
yes @lukehinds, the cluster should be up again. Can you access it?
https://console-openshift-console.apps.cnv.massopen.cloud/

We've also very recently tried to switch over to using declarative namespace and user management. We're still putting together the docs, but in general, please open a ticket like these https://github.com/open-infrastructure-labs/moc-cnv-sandbox/issues/8 https://github.com/

[2021-01-15 14:37] tumido opened #39 "[TASK] Consolidate onboarding docs and ADRs to be up to date"
**User story**
User should be able to follow a single doc to fully onboard to MOC via ArgoCD.

**Additional context**
Including:
- user management
- secrets management
- namespace management
- application deployment to target MOC cluster of choince

**Acceptance Criteria**
- [ ] A single doc with such checklist is present
- [ ] ADRs are up to date with the implementation

[2021-01-15 14:50] HumairAK commented on #39
Just laying down some preliminary thoughts. So the primary use case for this doc:

- The first link we send to anyone requesting MOC access

I would like to be able to send this Doc to a person if they ask the following questions:

**Onboarding MOC**
- How do I get access to MOC?
- I have an account on MOC, how do I create a namespace?
- My team has a namespace, how do _I_ get access to this names

[2021-01-15 15:07] HumairAK commented on #36
Does this meen there's an issue somewhere that exists for this already on the odh repo?

Anyways, looks like this is resolved -- closing, please re-open if there's more to be added/discussed.

[2021-01-15 15:17] tumido commented on #36
This is tied to the "unresolved" multi-namespace deployment. I've just consulted the ODH codebase on it and what I've described in the previous comment is not precise. ODH Dashboard can watch a namespace for `kfdef` changes just fine. The problem is with listing all namespaces available - this is done only on the pod startup RN... I've file an issue against our fork here: https://github.com/operat

[2021-01-15 15:18] HumairAK commented on #36
Awesome, thanks!

[2021-01-18 08:55] goern commented on #29
see also https://github.com/thoth-station/core/issues/262

[2021-01-18 15:38] HumairAK commented on #35
I renamed this repo to be `operate-first/support` since we make a lot of issues that are not odh related and put them here. Will follow up with more PR's to update links on the site.

[2021-01-19 21:10] eletonia opened #41 "Fybrik as an Operate First Service"
We would like to install [Fybrik](https://fybrik.io/v0.4/) on the Operate First cluster that we have received access to. Currently, we install Fybrik components with Helm Charts. @ronenkat @roee88 @hunchback

Is there a specific process for installing applications on the MOC CNV cluster?
@durandom mentioned using Argo-CD

Please point us to the onboarding documentation when it is ready @tumido @Hu

[2021-01-20 01:30] HumairAK commented on #41
Hello @eletonia , as you already know we're right in the middle of getting all the onboarding docs out, in the mean time we'll get your team's argocd project set up. I'll update here when everything is ready.

[2021-01-20 10:43] goern commented on #6
@pacospace will have a time-boxed look if we can help with deploying https://developer.ibm.com/blogs/kubeflow-pipelines-with-tekton-and-watson/

@vpavlin @nakfour comments? ideas?

[2021-01-20 13:00] 4n4nd commented on #6
@goern @pacospace this is next on my list after the monitoring onboarding docs ([issue](https://github.com/operate-first/apps/issues/108)), should I make this a priority and work with @pacospace before the monitoring docs?

[2021-01-20 13:07] pacospace commented on #6
Don't want to make it more priority than what you have to do already :) Thanks @4n4nd

When you have time, as discussed, let's look at: https://github.com/kubeflow/kfp-tekton/blob/master/guides/kfp-tekton-openshift.md#deploy-kubeflow-pipelines-with-tekton-backend and then we can test running a simple pipelines once endpoints are available.

and thanks @tumido @goern @durandom :)

[2021-01-20 13:53] #960 closed

[2021-01-20 14:53] HumairAK opened #945 "Create UP alerts for odh services"
UP alerts need to be implemented for odh services, provided that these services provide these alerts.

[2021-01-20 20:28] sesheta opened #1099 "Prometheus Alertmanager Down"

[2021-01-21 10:28] eranra opened #44 "Expose cluster logs"
**Is your feature request related to a problem? Please describe.**
Logs need to be exposed from OCP cluster in order to execersise Decorus anomaly detection algorithm

**Describe the solution you'd like**
(1) Deploy cluster Logging Operator (CLO) and expose ElasticSearch end-point and Kibana so that it can be consumed by exteral tools such as Decorus
https://docs.openshift.com/container-platform/4

[2021-01-21 10:36] durandom commented on #44
Let's try to get 1) going. @tumido @HumairAK can you point @eranra to a similar PR or yaml code that deploys an operator?
Looking at https://docs.openshift.com/container-platform/4.6/logging/cluster-logging-deploying.html it looks similar to our initial ODH approach - or ist there anything in there that would not be supported via our approach in https://github.com/operate-first/blueprint/blob/main

[2021-01-21 10:38] tumido commented on #41
@eletonia @ronenkat @roee88 @hunchback

Update for you:

As of today you have:
- an user group `mesh-for-data` available to you (definition [here](https://github.com/operate-first/apps/blob/master/cluster-scope/overlays/moc/groups/mesh-for-data.enc.yaml))
- a namespace `mesh-for-data` available as well (definition [here](https://github.com/operate-first/apps/blob/master/cluster-scope/base/namespac

[2021-01-21 10:39] drbwa commented on #44
In addition to ElasticSearch, is it possible to get the raw logs streamed into a Kafka cluster?

[2021-01-21 10:48] durandom commented on #44
Since we also have [kafka](https://github.com/operate-first/apps/tree/master/odh/base/kafka) that should be possible.
PR's welcome 😄 the current team is super busy with establishing processes to deploy and manage new workloads.

But PR reviews and guidance would be a win-win situation, since it also helps validating the processes

[2021-01-21 11:21] tumido opened #45 "Relative url in the issue templates don't work"
**Describe the bug**
Relative url in the issue templates don't work and point to 404.

**To Reproduce**
![Peek 2021-01-21 12-19](https://user-images.githubusercontent.com/7453394/105344218-efde6c80-5be2-11eb-8143-85b9e78b1bc4.gif)
"Onboard to a cluster template" points to [docs](https://github.com/operate-first/support/blob/main/docs/onboarding_to_cluster.md)  as `../../docs/onboarding_to_cluster.

[2021-01-21 11:26] eranra commented on #44
@drbwa Doable, we need to follow instructions here::  https://docs.openshift.com/container-platform/4.6/logging/cluster-logging-external.html#cluster-logging-collector-lo[…]afka_cluster-logging-external

[2021-01-21 14:12] tumido commented on #44
FTR, an example PR against the cluster scoped resources: https://github.com/operate-first/apps/pull/131

Just put the resources within the [`cluster-scope/base`](https://github.com/operate-first/apps/tree/master/cluster-scope/base) folder and reference the resources in the [`cluster-scope/base/overlays/moc/kustomization.yaml`](https://github.com/operate-first/apps/blob/master/cluster-scope/overlay

[2021-01-21 14:21] eranra commented on #44
@tumido I can try to do that, but I am not such an expert in OCP ... what I know to do is deploy using CLI and/or UI ... so how can I know what are the resources that need to be deployed ...

**@tumido any chance to deploy manually (UI or CLI) on the cluster and look on the changes and use that to harden them into this git repo ???**

[2021-01-21 14:25] tumido commented on #44
When it comes to deploying any namespace scoped resources to a namespace you are admin of, you can do that manually just fine. On the otherhand we don't want people touching the cluster scoped resources on a live cluster. So the only way currently to get the cluster scoped resources in, is via the apps repo. If it helps, you can tell us what cluster scoped resources you want to deploy and we'll ta

[2021-01-21 14:25] durandom commented on #44
You can try out stuff manually in a namespace *without* cluster-admin. But adding cluster wide resources is only possible via argo-cd
You can also replicate the setup easily in [quicklab](https://www.operate-first.cloud/operators/continuous-deployment/docs/downstream/quicklab.md) (RH internal) or [CRC](https://www.operate-first.cloud/operators/continuous-deployment/docs/downstream/crc.md)

[2021-01-21 14:48] tumido commented on #44
What can help you with the overall onboarding:
- Understanding [Kustomize](https://kustomize.io/) which we use to structure/generate and compose our manifests with.
- The cluster resources [ADR 0009](https://github.com/operate-first/blueprint/blob/main/docs/adr/0009-cluster-resources.md) which explains the reasons for the specific repo layout.

If there are any issues with any of it, just either c

[2021-01-21 16:45] tumido opened #47 "[TASK] Add a generic doc for secret management"
**User story**
How can users encrypt/manage their secrets so we can deploy them.

**Additional context**
Christoph:

**Acceptance Criteria**
- [ ] A single doc or a section in a bigger doc that can be sent to the users for this purpose

**Linked epics / issues**
#39

[2021-01-21 16:47] tumido commented on #47
GPG key link: http://keys.gnupg.net/pks/lookup?op=vindex&fingerprint=on&search=0x4DC4116D360E3276

[2021-01-21 21:20] HumairAK commented on #41
Hello, the argocd `mesh-for-data` project has been created, you can directly create apps on argocd that belong to the project `mesh-for-data`, but we recommend submitting a pr to [this repo](https://github.com/operate-first/argocd-apps) to have your argocd application stored in git. You can follow the docs [here](https://github.com/operate-first/argocd-apps) to see where to add your application ma

[2021-01-21 22:23] #45 closed

[2021-01-22 01:41] HumairAK commented on #39
I think we've checked all boxes, final step would probably be to add these to the operate first website, then we can close the ticket. Thoughts?

[2021-01-22 09:43] tumido commented on #39
Yes. We have some future docs tasks pending as well, but for the onboarding part of it, we should be fine. :slightly_smiling_face:

[2021-01-22 09:45] tumido opened #48 "[TASK] Create user docs for S3/Ceph/Rook usage"
**User story**
Users wants to provision s3 buckets. We need to advise them to use rook.

**Additional context**
n/a

**Acceptance Criteria**
- [ ] There's a single doc which can be used for the whole bucket request thing.
- [ ] Maybe another issue template?

**Linked epics / issues**

[2021-01-22 13:54] HumairAK commented on #39
I think remaining items before closing this ticket:
- [Onboarding script merge](https://github.com/operate-first/apps/pull/121)
- Add onboarding docs to operate-first website

[2021-01-22 18:46] #47 closed

[2021-01-23 09:50] goern opened #51 "add Prow logging to loki"
**Is your feature request related to a problem? Please describe.**
Add logs/stdout of all pods of https://console-openshift-console.apps.cnv.massopen.cloud/k8s/cluster/projects/opf-ci-prow to loki

/kind feature
/sig documentation
/priority important-soon

[2021-01-23 16:09] goern opened #52 "routes are created in a broken way"
**Describe the bug**
have a look at https://prow.operate-first.cloud/ and https://console-openshift-console.apps.cnv.massopen.cloud/k8s/ns/opf-ci-prow/routes/deck/yaml routes seem to miss the certificate and the canonical host name is strange?!

**To Reproduce**
Steps to reproduce the behavior:
apply https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/cnv-prod/secret-gener

[2021-01-24 17:04] eranra commented on #44
Hi @tumido I used your PR as refrence (and looked also on other resources in the `apps` repo)

I created pr:: https://github.com/operate-first/apps/pull/153/
If you can review?  also, can I check this somehow on local/other OCP cluster .... so that I will know that this works???

@HumairAK @durandom @drbwa

[2021-01-25 09:14] eranra commented on #44
REF: https://github.com/operate-first/apps/issues/154

[2021-01-25 09:16] eranra commented on #44
Open debug issue REF: https://github.com/operate-first/apps/issues/154

[2021-01-25 11:09] tumido opened #53 "Ceph/S3 should allow to enforce bucket policies and should be able to be exposed externally"
**Is your feature request related to a problem? Please describe.**
Ceph/S3 should allow to enforce bucket policies and should be able to be exposed externally. For some applications we need to produce buckets with a single user access - separate set of credentials with

**Describe the solution you'd like**
- User specific policies per bucket
- External route to ceph

**Describe alternatives you've

[2021-01-25 14:41] goern commented on #48
Its a little bit odd that rook is forcing us to use a bucket-name prefix, so https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/cnv-prod/config.yaml#L5 is required.

Can we do something about that?

/sig documentation
/sig user-experience
/open

[2021-01-25 14:48] tumido commented on #48
@goern yes, you can specify the bucket name directly. You just need to make sure this name is unique within the cluster (because the Rook operator operates on a cluster scope and bucket names has to be unique in ceph instance)

Please read this doc:
https://rook.io/docs/rook/v1.5/ceph-object-bucket-claim.html#sample

In our support docs, we advise users to use the `generateBucketName` property, be

[2021-01-25 17:54] harshad16 commented on #52
This was fixed from our end (thoth-station), the manifest was missing some bytes.
Thanks, closing this

[2021-01-25 17:54] #52 closed

[2021-01-25 17:54] #16 closed

[2021-01-25 18:59] #945 closed

[2021-01-25 19:51] harshad16 opened #54 "Facing 503 internal error for s3 object bucket connection"
**Describe the bug**
The application workload of the thoth-station saves the output to the s3 object bucket.
while performing that action the connection is giving 503
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://api.moc.thoth-station.ninja/api/v1/ui/#/Advise/post_advise_python'
2. Click on 'try out'
3. Scroll down to logs, check the adviser id
4. Go to the `thoth-bac

[2021-01-25 21:34] larsks commented on #53
Can you tell me more about this request?

Ceph's S3 implementation (Rados GW) already supports (and enforces) bucket policies. The Noobaa S3 service does as well, although in OCS 4.5 there were some bugs that I think are resolved in OCS 4.6. There is an external route to the S3 endpoints in both cases, but there are no external routes to Ceph (which at least in the MOC environment is typically onl

[2021-01-25 22:04] 4n4nd commented on #53
@larsks could you give us an example on how to generate read only access keys for an `ObjectBucketClaim`?

[2021-01-25 22:08] larsks commented on #53
@4n4nd you mean anonymous read-only access? Or read-only access associated with a particular access key?

[2021-01-25 22:09] 4n4nd commented on #53
I think either should work

[2021-01-25 22:41] larsks commented on #53
Since the OBC is provided by an S3 endpoint, you can just use S3-compatible tooling to set the policy associated with a bucket. For example, to set up anonymous read access, start with an OBC:

[code]

Once that's created, retrieve the generated `Secret` and `ConfigMap` resources and use the resulting information to set `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` variable (or configure an Amaz

[2021-01-26 07:20] harshad16 commented on #54
using the in-cluster host endpoint `http://rook-ceph-rgw-ocs-storagecluster-cephobjectstore.openshift-storage.svc.cluster.local` worked successfully

[2021-01-26 09:16] tumido commented on #54
@harshad16 Yes, I think you need to use the provided `BUCKET_HOST` as endpoint.

https://github.com/operate-first/support/blob/main/docs/claiming_object_store.md#configmap

For external facing route we have an ongoing issue here (it kinda merged with policies) https://github.com/operate-first/support/issues/53

Was your problem solved by using the internal route or do you want to keep this issue o

[2021-01-26 09:27] goern opened #55 "migrate prow"
reconfigure webhook of the org to use https://prow.operate-first.cloud/hook (no other changes):

- [x] AICoE
- [x] thoth-station
- [x] operate-first
- [ ] aicoe-aiops

/sig documentation
/sig devops
/assign @tumido
/assign @harshad16

[2021-01-26 09:52] goern commented on #55
/kind feature
/priority critical-urgent ;)

[2021-01-26 09:52] sesheta commented on #55
@goern: The label(s) `priority/;)` cannot be applied, because the repository doesn't have them

<details>

In response to [this](https://github.com/operate-first/support/issues/55#issuecomment-767430426):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my

[2021-01-26 12:23] martinpovolny commented on #6
I would like to sum up the status of this. I know that @tumido, @4n4nd and @pacospace, you all got somehow involved. I am also very interested.

Can we,  please, sync and create some smaller tasks?

I have deployed kfdef for Kubeflow from here https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_openshift.v1.2.0.yaml to my cluster in QuickLab. But that is a lot of components. Some could b

[2021-01-26 12:47] vpavlin commented on #6
FYI @nakfour has been working on adding KF pipelines on Tekton into a default stack https://github.com/kubeflow/manifests/pull/1721

[2021-01-26 12:54] tumido commented on #6
We've talked with @pacospace and then I've synced with @4n4nd multiple times over this. If I understood the task properly, @pacospace is more interested in deploying the Kubeflow pipelines on Tekton, not just "some" Kubeflow pipelines (by default this is backed by Argo, the Tekton backed pipelines are a new thing).

@pacospace (and @goern)  pointed us to:
- https://developer.ibm.com/blogs/kubeflow

[2021-01-26 14:07] anishasthana opened #57 "Duplicate Secret management key on Operate-first website"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://www.operate-first.cloud/users/`
2. Click on `Onboarding`
3. You will notice two keys/items/headings called `Secret management`. The second one seems to be about s3 usage, so the title should probably be something different :-)

![image](https://user-images.g

[2021-01-26 14:10] tumido commented on #57
Ah.. that slipped my attention. I broke it. I'll fix it :)

[2021-01-26 14:20] #57 closed

[2021-01-26 16:33] tumido opened #58 "[TASK] Create docs for debugging and local manifest builds etc / toolbox guide"
**User story**
Kustomize can be tricky, toolbox is not an usual thing, etc. let's just sum it up how a person can get from a `git clone` to `oc apply` in a single doc.

**Additional context**
https://github.com/operate-first/apps/issues/154

**Acceptance Criteria**
- [ ] A doc explaining how to use kustomize that can be used against our repos

[2021-01-26 17:21] HumairAK commented on #58
++

Just to add, in this doc we should try to not explain things that can be explained via already existing Kustomize docs, but link to the appropriate external docs where applicable.

[2021-01-26 17:30] eletonia opened #59 "Create namespaces for Mesh for Data"
### Requested actions

Select all that apply:

- [ ] Create a user group
- [ ] Add users to a group
- [X ] Create a namespace

### Questionnaire

1. **Team name**:
   Mesh for Data

2. **Desired namespace names**:
  `m4d-system` and `m4d-blueprints`

3. **Users to add**:
   None for now

4. **Target cluster**:
   Choose an environment from [this list](https://github.com/operate-first/apps/tree/mas

[2021-01-27 09:53] goern commented on #6
Sounds like we are good to go on the technical side, next steps are:

- [ ] wait for ODH 1.0 release to include kubeflow+tekton, see https://opendatahub.io/docs/roadmap/future.html https://github.com/kubeflow/manifests/pull/1721 @vpavlin
- [ ] deploy ODH1.0 to Op1st @martinpovolny
- [ ] verify that we can use that environment for https://www.mlprague.com/ @vpavlin @pacospace
- [ ] deploy https://g

[2021-01-27 10:13] tumido commented on #59
PR pending! :tada: https://github.com/operate-first/apps/pull/163

[2021-01-27 11:44] durandom opened #61 "Metrics Dashboard for Notebook Pods"
As an operator, I want to see how much CPU is used by a pod spawned from JupyterHub.

- [x] node-exporter? configured for OpenShift platform
- [x] grafana dashboard that lists notebook pods with CPU usage over time

@oindrillac IIRC we've had a similar dashboard
cc @accorvin @hemajv

[2021-01-27 13:35] hemajv commented on #61
We are working on having these metrics made available in our Prometheus.
You can track the progress here: https://github.com/operate-first/apps/issues/160

[2021-01-27 14:47] goern commented on #55
@tumido can you also check if Sesheta has admin access to aicoe-aiops, so that it can also work on private repos? thx!

[2021-01-27 16:23] tumido commented on #55
@goern it does not. Is there any way to change that permissions globally just for sesheta and for all repos in the org, other than making Sesheta the org owner?

[2021-01-27 17:58] #59 closed

[2021-01-27 18:05] HumairAK commented on #59
The namespaces were created, those in the OCP group `mesh-for-data` have admin access in the namespaces requested. Feel free to re-open if there are any issues.

[2021-01-27 18:32] accorvin commented on #61
@hemajv, @maulikjs is working on this on our current sprint, so he can definitely collaborate with you.

[2021-01-28 09:47] martinpovolny commented on #48
@tumido , @goern : This issue is about claiming S3 buckets as part of an app deployment (via ArgoCD), correct?

Is there a way to claim a bucket for a data scientist (for example one working with the JH instance on MOC)?

Or is the supposed workflow for such case to:

1. do the onboarning https://www.operate-first.cloud/users/support/docs/onboarding_to_cluster.md
1. create an ArgoCD app   https://

[2021-01-28 10:28] tumido commented on #48
We currently don't have an "end user" support for this in place. We have the doc in here:

Mainly targeting application and project owners who can claim the resource into their Openshift namespace. We should have an easier way to do that for the end users...

It make sense to me to have a separate application for user storage, maybe alongside the jupyterhub user profiles? Honestly I think it shoul

[2021-01-28 11:46] goern commented on #55
so what we do is to put Sesheta in a SourceOps team, add all the repos to that team and give sesheta admin access on all the repos.

[2021-01-28 12:33] tumido commented on #55
Ok, the API was easier for me in the end and that was the only way to make sure I caught all the repos.

You can use the script for your purposes as well:
[code]

With following result:
[code]

Done :tada:

[2021-01-28 12:42] goern commented on #55
nice man!!

[2021-01-28 16:15] HumairAK commented on #48
I'm fine with this. But OBC's are something namespace admin's can deploy themselves, so it seems we would end up having OBC's that we manage + OBC's scattered around different namespaces. Is our stance then:
- if you don't want to think about it, we'll do it for you --> in which case we put it in a namespace/repo we're managing
- if you know what to do and have the requisite knowledge --> you can

[2021-01-28 16:40] tumido commented on #48
Precisely that. If it's an end user - data science person or what not, let's do it ourselves - and in that case keep it in a single app, so we keep things tidy, and if they want to do it themselves they probably already have a namespace.

[2021-01-28 17:15] HumairAK commented on #48
So the action items I'm seeing are:
- a nice easy issue template for users to fill out
- an "app" in the apps repo that manages OBCs for the moc environment (possibly other environments??)

[2021-01-28 17:24] tumido commented on #48
I think this should also include guidance onto how to set up: https://github.com/operate-first/support/issues/53 (policy and external routes)

I might need to look into that a bit more.

[2021-01-28 17:54] tumido opened #62 "Kubeflow components' deployment"
**Is your feature request related to a problem? Please describe.**
As per our meeting with mesh-for-data today, there's a requirement to have a Kubeflow deployment up.

**Describe the solution you'd like**
A proper Kubeflow deployment on Openshift

**Describe alternatives you've considered**
n/a

**Additional context**
Related to: https://github.com/operate-first/support/issues/6 https://github.co

[2021-01-28 17:55] tumido opened #63 "Istio deployment"
**Is your feature request related to a problem? Please describe.**
As per our meeting with mesh-for-data today, there's a requirement to have an Istio deployment up and running

**Describe the solution you'd like**
A proper Istio deployment on Openshift

**Describe alternatives you've considered**
n/a

**Additional context**
Related to: https://github.com/operate-first/apps/issues/10

cc @eletonia

[2021-01-28 23:09] goern commented on #62
how does that relate to some kubeflow being part of ODH?

[2021-01-29 10:52] tumido commented on #62
@goern No idea, rn. This is a requirement we collected from the m4d team. I think we would definitely like to leverage ODH's expertise in deploying Kubeflow, though I'm not sure if we want to stash everything into a single namespace and how to handle multi-tenancy in Kubeflow which doesn't support it much... This is just a kick off, right now, feel free to suggest options. :slightly_smiling_face:

[2021-01-29 13:43] durandom commented on #61
cc @sophwats @adrezni @TreeinRandomForest

[2021-01-29 13:58] tumido commented on #39
I think this is done now. Closing

https://www.operate-first.cloud/users/support/docs/onboarding_to_cluster.md

[2021-01-29 13:58] #39 closed

[2021-01-29 13:59] tumido commented on #54
@harshad16  can this issue be closed, does it work for you?

[2021-01-29 14:01] tumido opened #64 "[TASK] Issue template for general cluster-scoped resources request"
**User story**
Project admin interface for requesting cluster scoped resources like CRDs, ClusterRoles and operators

**Additional context**
n/a

**Acceptance Criteria**
- [ ] Issue template for this kind of request

**Linked epics / issues**

[2021-01-29 17:37] sesheta opened #1098 "Grafana Service Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22grafana-service%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Grafana Service Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = Grafana service is no longer avai

[2021-01-29 17:50] #1099 closed

[2021-01-29 17:57] #949 closed

[2021-01-29 18:12] HumairAK opened #944 "Modify template file for alertmanager github receiver to add title"

[2021-01-29 19:14] #1098 closed, assigned to 4n4nd

[2021-01-29 23:13] eletonia commented on #41
Hi @tumido @HumairAK
I tried to create an application in Argo CD with the following inputs in the Argo CD UI:
[code]
However, I'm getting this error:
[code]
Do I have the correct cluster name?

[2021-01-30 10:05] goern commented on #62
We should strive for an architectural decision: is Kubeflow something we deploy per namespace or cluster-wide? is it a service of the platform or something the application owner brings on his own? Is there any interferences to be expected if multiple kubeflow versions are deployed on the cluster but separated by namespaces?

/sig documentation
/sig devops

[2021-01-30 16:50] HumairAK commented on #41
@eletonia  can you make the following changes:
- Change the `spec.destination.server` to: https://kubernetes.default.svc, this should show up in the dropdown.
- Change the `spec.source.path` to the location where your charts are, from looking at your repo _I think_ you are looking for `charts/m4d` as that's where a `chart.yaml` lives.

[2021-01-30 22:31] eletonia commented on #41
I changed those fields:
[code]
but I'm still getting the same error:
[code]
The [ArgoCD documentation](https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/) mentions this:

So I tried changing `spec.source.path` to `spec.source.chart` but that didn't work either

[2021-01-31 12:07] sesheta opened #1094 "Observatorium Loki Distributor Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22opf-observatorium-loki-distributor-http%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Observatorium Loki Distributor Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summ

[2021-01-31 12:07] sesheta opened #1095 "Observatorium Loki Query Frontend Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22opf-observatorium-loki-query-frontend-http%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Observatorium Loki Query Frontend Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH

[2021-01-31 12:07] sesheta opened #1096 "JupyterHub Service Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22jupyterhub%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = JupyterHub Service Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = JupyterHub service is no longer ava

[2021-01-31 12:07] sesheta opened #1097 "ArgoCD Application Controller Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22argocd-metrics%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = ArgoCD Application Controller Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = ArgoCD application c

[2021-01-31 12:08] sesheta opened #937 "Prometheus Alertmanager Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22alert-manager%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Prometheus Alertmanager Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = Prometheus Alertmanager is

[2021-01-31 12:08] sesheta opened #938 "ArgoCD Repo Server Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22argocd-repo-server%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = ArgoCD Repo Server Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = ArgoCD repo server is no lo

[2021-01-31 12:08] sesheta opened #939 "ArgoCD Server Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22argocd-server-metrics%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = ArgoCD Server Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = ArgoCD server is no longer av

[2021-01-31 12:08] sesheta opened #940 "Prometheus Service Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bpod%3D~%22prometheus-odh-monitoring.%2A%22%2Cservice%3D%22prometheus-operated%22%7D&#43;%3E&#43;0%29&amp;g0.tab=1

    Labels:

    - alertname = Prometheus Service Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH

[2021-01-31 12:08] sesheta opened #941 "Observatorium Loki Querier Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22opf-observatorium-loki-querier-http%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Observatorium Loki Querier Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = Lo

[2021-01-31 12:08] sesheta opened #942 "Grafana Service Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22grafana-service%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Grafana Service Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = Grafana service is no longer avai

[2021-01-31 12:08] sesheta opened #943 "Observatorium Loki Ingester Down"

[2021-01-31 12:08] sesheta opened #1093 "Grafana Operator"

[2021-01-31 13:20] eranra commented on #44
Waiting for access credentials (RBAC) Based on PR https://github.com/operate-first/apps/issues/171

[2021-01-31 15:19] drbwa opened #936 "Suitability of issue tickets as labels for log anomaly detection on MOC/OCP"
@hemajv @4n4nd Please allow me a number of questions regarding the issue tickets.

Consider an anomaly detector that learns to detect incidents/outages/failures
based on an analysis of a stream of log messages being produced by a system. This
anomaly detector learns in an unsupervised manner. However, we need some
labels (sets of log messages that are indicative of specific issues) to tune
and tes

[2021-01-31 16:22] #1094 closed, assigned to nobody

[2021-01-31 16:22] #1095 closed

[2021-01-31 16:22] #1096 closed

[2021-01-31 16:22] #1097 closed

[2021-01-31 16:23] #937 closed

[2021-01-31 16:23] #938 closed, assigned to nobody

[2021-01-31 16:23] #939 closed

[2021-01-31 16:23] #940 closed

[2021-01-31 16:23] #941 closed

[2021-01-31 16:23] #942 closed, assigned to nobody

[2021-01-31 16:23] #943 closed

[2021-01-31 16:23] #1093 closed

[2021-01-31 16:31] 4n4nd opened #935 "Prometheus Disk usage alerts"

[2021-01-31 21:42] harshad16 commented on #54
yes, this issue was solved with the internal route and correct secrets.
This can be closed. Thanks for your thoughts :)

[2021-01-31 21:42] #54 closed

[2021-02-01 00:32] HumairAK commented on #41
Hrmm I created a new user that's only in the `mesh-for-data` ocp group, and I was able to create the application in the `mesh-for-data` project using the same spec you provided:
[code]
Can you click the user icon on the left in the ArgoCD console and tell us what you see?

![image](https://user-images.githubusercontent.com/10904967/106403114-eb902b80-63fa-11eb-800b-ad8f736b19a3.png)

Can you also

[2021-02-01 00:54] eletonia commented on #41
I clicked on the user icon and it showed an empty username and no groups
I just tried logging out of Argo CD and logged back in with OpenShift and I was able to create the application! Thanks!

![Screen Shot 2021-01-31 at 7 52 28 PM](https://user-images.githubusercontent.com/6710338/106403701-f8624e80-63fd-11eb-86c1-4397b2f9555d.png)

[2021-02-01 00:56] HumairAK commented on #41
Great to hear!

[2021-02-01 11:44] tumido commented on #62
I totally agree with you. :+1: I actually don't know if Kubeflow can be successfully deployed to any other namespace than`kubeflow` or if it can be split into multiple namespaces yet if there can be multiple Kubeflow deployments... This requires quite a lot of experimentation and testing before we have even the foundation for any decision.

[2021-02-01 13:58] #944 closed

[2021-02-01 14:10] HumairAK commented on #62
We most likely can't do a cluster-wide deployment since both Kubeflow and ODH operatoe on the same set of APIs, it will likely have to be namespace scoped. We could do _multi-namespaces_ in the sense we can have multiple single namespace deployments, but we can't do a multi namespace operator group as per [this adr](https://github.com/operate-first/blueprint/pull/26/files#diff-b339fc9e1d4835a1ffad

[2021-02-01 14:23] eletonia commented on #62
Since we are only using Kubeflow notebooks, is it possible for `mesh-for-data` to get access to the ODH namespace so we can use Jupyter notebooks instead?

[2021-02-01 14:26] tumido commented on #62
The ODH JupyterHub is publicly available to all users (you don't have to have a OpenShift project access even):

https://www.operate-first.cloud/users/support/
https://jupyterhub-opf-jupyterhub.apps.cnv.massopen.cloud/hub/login

Is that what you're asking? We will still plan on deploying the Kubeflow anyways :wink:

[2021-02-01 14:34] eletonia commented on #62
Yes thank you!

[2021-02-01 15:15] tumido commented on #63
Also @eletonia mentioned something about Istio version in Kubeflow to be outdated and having a preference for a newer one? Do I recall it correctly?

[2021-02-01 15:27] eletonia commented on #63
Yes Kubeflow currently comes with Istio 1.3.1 but the latest version of Istio is 1.8.2

[2021-02-01 15:50] hemajv opened #934 "Create issue template for user complaints"
Currently, we have issues being created for only Prometheus alerts. We need to also have an issue template for manually created issues such as capturing user complaints.

Related to operate-first/operations#50

[2021-02-01 15:53] hemajv opened #933 "update incident management section in README"
Update incident management section of readme: https://github.com/operate-first/SRE/blob/master/README.md#incident-management

[2021-02-01 15:55] MichaelClifford opened #67 "How to increase my JH PVC size?"
**Description**

I'm working on some data processing tasks in JH and appear to have run up against my limit of 2GB storage. What steps do I need to take to increase by PVC size?

Please see images below where saving has become blocked and disk usage appears to be at 100%

**Additional context**

![image](https://user-images.githubusercontent.com/4494906/106481206-30a77280-647a-11eb-8e82-8009994ac7

[2021-02-01 16:04] tumido commented on #67
see team.. people started asking already... https://github.com/operate-first/support/pull/66 :smile:

[2021-02-01 16:06] MichaelClifford opened #68 "Default PVC size is too small for data science use cases."
**Is your feature request related to a problem? Please describe.**

The default 2GB PVC size for Data Science users is likely insufficient for almost any use case. The default should be made much larger. How much larger is obviously a question of available resources and expected use (which I'm happy to discuss further in this issue), but 2GB seems rather limiting for ML/DS uses.

**Describe the so

[2021-02-01 16:23] tumido commented on #67
@MichaelClifford there was no need for you to file a new issue.. Sorry for that, if I wrote one more sentence it would not be confusing for you. Sorry. :confused: I just wanted to point out that you are raising a question that we are trying to solve at the same time.. :slightly_smiling_face: Which I found funny...

[2021-02-01 16:23] eletonia commented on #41
The sync keeps failing for this [ArgoCD project](https://argocd-server-argocd.apps.cnv.massopen.cloud/applications/mesh-for-data) that I created. I know you mentioned that cluster-level resources would produce warnings but would it cause the other resources which are namespace scoped to not be deployed to the cluster?

I don't see the services or deployments that were supposed to be created in the

[2021-02-01 16:32] MichaelClifford commented on #67
huh? I don't follow :confused: sorry. There are two related but separate issues. I see this one is being addressed now with #66 (so maybe this is a duplicate issue?) asking how does a user increase their individual PVC size.

But the other #68 is about what the default PVC size should be. (at least I think these are different issues :smiley: )

[2021-02-01 17:33] tumido commented on #67
@MichaelClifford you are totally right.. I can't read. :+1:

Nono, this is not a duplicate. This is totally valid! :slightly_smiling_face:

And the second one, while related is not the same. I just didn't pay enough attention. :smirk:

[2021-02-01 17:46] HumairAK commented on #41
@eletonia yeah I noticed this in your app as well. This may have been an oversight on our part, as before we limited cluster resources at the cluster level (in this method only warnings produced) but now we limit it at a project level (here the behavior is different, in that the app will not deploy in it's entirety), I'll be looking into this to see if we can get cluster-resources ignored and repo

[2021-02-01 18:12] hemajv commented on #61
We now have a grafana dashboard [here](https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/YuYfkHYMk/jupyterhub-usage?orgId=1&var-user_id=aakankshaduggal745-40gmail-2ecom&from=1612181414558&to=1612203014558).
Open to any suggestions on improving this further! :)

[2021-02-01 18:15] anishasthana opened #69 "Jupyterhub Admins"
Jupyterhub has support for "admins" in the jupyterhub interface. The admin interface gives access to some neat features, so we should set up some operate-first team members as admins on the MOC jupyterhub.

[2021-02-01 18:19] chauhankaranraj opened #70 "JupyterHub Spawn Request with GPU Stuck"
**Describe the bug**
JupyterHub pod spawn request gets stuck when requesting a GPU.

Probably not a major issue, because after I waited for a while, the request got killed (I think) and I was able to make a new request without GPUs and it worked.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://jupyterhub-opf-jupyterhub.apps.cnv.massopen.cloud/](https://jupyterhub-opf-jupyterhu

[2021-02-01 18:31] maulikjs commented on #61
Hey @hemajv thats awesome!
Thanks!

[2021-02-01 18:37] maulikjs commented on #61
So one interesting thing that came up is how do we use metrics to calculate the total run time for JH notebook pods for a given time frame in a reliable fashion. We have an internal tracker for that here:  [DATAHUB-2609](https://projects.engineering.redhat.com/browse/DATAHUB-2609).
I am not too keen on calculating it off Prometheus metrics, given Prometheus isn't designed for billing and any gaps

[2021-02-01 18:39] anishasthana commented on #61
Does Jupyterhub not have a metric for this? @hemajv newer version of jupyterhub have something in a similar direction right?

[2021-02-01 18:40] 4n4nd commented on #70
Since there are no GPUs available in the environment, he solution for this issue is to wait for JH to fail which should just take a few minutes and respawn your server with 0 GPUs

[2021-02-01 18:40] #70 closed

[2021-02-01 18:45] accorvin commented on #61
To add to @maulikjs's comment, it would be really nice if we could generate a usage metric that restarts at 0 each month.

[2021-02-01 18:55] 4n4nd commented on #61
maybe we could check the duration for when the cpu usage for the pod was > 0.1 or some small value which means the pod was up

[2021-02-01 19:00] hemajv commented on #61
The new version of jupyterhub metrics includes metrics like hub start time: https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/metrics.py#L53, but they don't seem to have anything defined for pods.

[2021-02-01 19:05] harshad16 opened #71 "Onboard to the thoth group in cnv agrocd"
i would like to request for adding @pacospace to the **thoth** group present on cnv argocd. So that Francesco can also be able to access the https://argocd-server-argocd.apps.cnv.massopen.cloud/applications and view all the apps accessible to the **thoth** group

[2021-02-01 19:19] maulikjs commented on #61
So what we want are probably notebook metrics which don't have much information, we can definitely work upstream and include them here: https://github.com/jupyter/notebook/blob/master/notebook/prometheus/metrics.py
But we don't know what the time-frame there would look like.

[2021-02-01 19:23] maulikjs commented on #61
# HELP container_cpu_user_seconds_total Cumulative user cpu time consumed in seconds.
# TYPE container_cpu_user_seconds_total counter

We do have this metric but for each user we will have to then keep a track of the cores used at each instance (given the no of cores can change for a notebook pod)

[2021-02-01 19:45] 4n4nd commented on #62
@tumido I think there is some confusion here, I don't think we need to deploy kubeflow (as in the controller) because we already have the odh operator set up. We can just have the odh operator deploy Kubeflow components (like the kf dashboard/kf pipelines).

[2021-02-01 20:54] HumairAK commented on #71
Talked with @harshad16  offline, seems like @pacospace is already in the group. Either he's logging in with a different email, or something else is going on.  @pacospace can you tell us a bit more what happens when you try to log in? Thanks.

[2021-02-01 21:00] HumairAK commented on #71
We should also have an issue template where we can direct users for requests like these.

[2021-02-01 21:01] HumairAK opened #72 "[TASK] Add Issue template to request adding a new argocd user"
**User story**
A user should be able to request via issue template how they can be added to an ArgoCD project.

**Additional context**
We have argocd onboarding issue template for projects/applications, but we do not have a way for individuals to request to be added to existing argocd projects/teams.

**Acceptance Criteria**
- [ ] Add to the argocd onboarding template a section to request the addi

[2021-02-01 21:05] harshad16 commented on #71
@pacospace can you share the screenshot of the UI, at the point where once you have logged in and you cant view any of the thoth apps.

[2021-02-01 21:06] #933 closed

[2021-02-01 23:14] HumairAK commented on #41
Update: So I've tried digging around and haven't found a clear way around this. According to [this issue](https://github.com/argoproj/argo-cd/issues/2969) this seems like it's intended. I've also reached out on slack, though I don't expect to get very many responses about this.

For now you can try synchronizing only the out-of-sync resources. To do this, click sync at the top > click "out of sync

[2021-02-02 06:36] pacospace commented on #71
Thanks @harshad16 @HumairAK for looking into it. Apparently was my issue in logging in. I can see all applications. We can close the issue :)

[2021-02-02 06:36] #71 closed

[2021-02-02 11:00] maulikjs commented on #61
as per @4n4nd's note

[code]
We might be able to use a query similar to this which basically divides the total cpu seconds used over a time-frame by the total no of cpu cores used.

But this still leaves out the question about 'reliability'.

[2021-02-02 13:25] tumido commented on #69
I think this goes hand in hand with the #66 and https://github.com/operate-first/apps/issues/100 We should coordinate this by having a common user-data application or something, that would allow setting the user profiles and PVCs etc. It may be required to keep this within the ODH jupyter hub overrides, right? :confused:

[2021-02-02 13:37] tumido commented on #62
I don't think there's much confusion. This ticket is about deploying the Kubeflow components and application via the ODH operator. The users don't care how we deploy it, they want to have the user facing applications available and we should coordinate that.

@goern and @eletonia, FTR:
Yesterday we had a meeting about Kubeflow and decided that there are some technical limitations on the Kubeflow si

[2021-02-02 13:43] accorvin commented on #61
If we were to create a recording rule based on a query like that, what happens to the metric value of the recording rule if Prometheus restarts? Will it survive a restart or get reset?

[2021-02-02 14:01] anishasthana commented on #69
Yeah I think we'll need to use overrides here too

[2021-02-02 14:29] maulikjs commented on #61
That would depend, if we have a PVC attached, it would persist after the restart but we might not scrape for the few seconds it takes to restart the pod (but we have some leeway there given we are using increase and irate which can account for such gaps in data.
What I am more concerned about is a robust thanos service given we will mostly be querying over 30days worth of data.

Also I tested this

[2021-02-02 14:35] #72 closed

[2021-02-02 14:40] HumairAK commented on #62
Whoops, the confusion is from my part. When I read "Kubeflow Deployment" I think the actual deployment of the Kubeflow operator. The way I understand it, we're talking about specific components deployed by kubeflow, but we'll be deploying via ODH.  And these namespaces are hardcoded, Yes?

[2021-02-02 14:49] accorvin commented on #61
Do we need to be able to query more than 30 days of data if we use a recording rule? We won't really need to be able to see what the total consumption was at an arbitrary point it time, just what it is now.

[2021-02-02 14:57] maulikjs commented on #61
@aditya-konarde
@bwplotka
^

[2021-02-02 15:12] 4n4nd commented on #61
I don't think you would need to store 30 days of data if you use a recording rule since it is calculated and stored (to the PVC) as a metric at scrape time.

[2021-02-02 15:28] maulikjs commented on #61
So this is a lookback query, in this case
[code]
It looks back on the past 20m and reports how many seconds the specific notebook pod was running.
Technically we need to store the metric `container_cpu_usage_seconds_total` for 30d to be able to answer the question how many seconds was the notebook for a specific user running in the past 30d.

[2021-02-02 15:31] accorvin commented on #61
I don't think this is true. We need to store the cumulative sum and be able to query what the total is at the end of the month. That's querying a metric for only a specific point in time - namely the end of the month. We don't need to be able to query, at the end of the month, what the value of the metric was for any arbitrary point in the month.

[2021-02-02 16:11] tumido commented on #62
yes, user doesn't care by how we deploy the Kubeflow. And ODH operator is basically the same as Kubeflow operator (`kfdef` in, deployments out). So I would suggest for us using the ODH operator to have a `kfdef` for Kubeflow.

Yes. The Kubeflow specific components are the ones requiring hardcoded namespace - this limitation originates in the kustomize manifests upstream. Which is a shame, but unle

[2021-02-02 16:58] durandom commented on #61
@accorvin @maulikjs I think we have accomplished what's in the original issue. I suggest we close this and start the discussion about the metrics usage in another issue.
Either in this support repo here, or in https://github.com/operate-first/SRE where we track the dashboards.

@maulikjs can you do this and post an issue with the concrete user story / problem definition?

[2021-02-02 22:31] eletonia commented on #41
Thanks @HumairAK ! I was able to deploy the non-cluster level resources by synchronizing only the out-of-sync resources.

To deploy cluster-level resources, you mentioned we can create an upstream link to our kustomization file from [this repo location](https://github.com/operate-first/apps/tree/master/cluster-scope/base) correct? How do we do this?

[2021-02-03 01:37] #64 closed

[2021-02-03 01:39] HumairAK commented on #41
I think we ended up deciding we are going to disallow remote links in kustomizations, instead we store the copy of the resource there, since the resource pointed to a remote link can be updated to be anything and thus take over the cluster. @tumido can you confirm.

@eletonia the doc [here](https://github.com/operate-first/apps/tree/master/cluster-scope) explains the structure of the `cluster-scop

[2021-02-03 09:23] tumido commented on #41
Yes, that is correct. When it comes to cluster scoped resources, I think referencing remote repositories is a security concern to us precisely for the reasons Humair described. I also don't expect the cluster wide resources to change every week, so this should be one-off addition anyways. (However changes are totally possible later on, I just don't expect them to be that frequent as changes to app

[2021-02-03 10:29] tumido opened #75 "Ceph bucket quota can't be updated"
**Describe the bug**
Patching `ObjectBucketClaim`'s `.spec.additionalConfig` value for `maxSize` or `maxObjects` doesn't result in reconciliation, propagation to `ObjectBucket` resource and propagation to the Ceph back-end bucket.

**To Reproduce**
Steps to reproduce the behavior:
1. Create`ObjectBucketClaim` with `maxSize` set to a value
2. `oc patch obc/RESOURCE_NAME -p '{"spec": {"additionalCon

[2021-02-03 10:57] tumido commented on #55
@goern is this issue fully resolved now?

[2021-02-03 11:03] tumido commented on #19
@harshad16 @4n4nd do we have the docs for this already available somewhere?

Isn't adding the monitoring rbac aggregation to the namespaces sufficient for now. We still need to have some docs on the ServiceMonitors, right?

+ The Push gateways is still not available

linking https://github.com/operate-first/apps/issues/193

[2021-02-03 11:04] tumido commented on #17
@martinpovolny was this issue resolved, can you please verify?

[2021-02-03 11:06] tumido commented on #13
@martinpovolny @MichaelClifford  We've introduced new issue templates and documentation to this repository. Please check if that is sufficient resolution for this issue.

https://github.com/operate-first/support/issues/new/choose
https://github.com/operate-first/support/tree/main/docs

[2021-02-03 13:44] 4n4nd commented on #17
I think we can close this issue for now and if @martinpovolny is still facing issues, we can reopen it

[2021-02-03 13:44] #17 closed

[2021-02-03 13:45] #952 closed

[2021-02-03 13:54] 4n4nd commented on #19
@tumido @harshad16 was able to set up monitoring for the thoth components (https://github.com/operate-first/apps/pull/159), but we still need documentation on how to add  the monitoring rbac and servicemonitors.

as for the Push Gateways, I think thoth-station has their own deployment. I will add something about this to the Prometheus onboarding doc that I write.

[2021-02-03 15:22] tumido opened #76 "Black flake onboarding"
### Requested actions

Select all that apply:

- [ ] Create a user group
- [ ] Add users to a group
- [x] Create a namespace

### Questionnaire

1. **Team name**:
   data-science

2. **Desired namespace name**:
   ds-black-flake, ds-example-project (already in place, lacking rbac)

3. **Users to add**:
   n/a

4. **Target cluster**:
   moc

5. **Team or maintainer owned GPG key fingerprint along w

[2021-02-03 16:15] durandom commented on #61
closed as per ^^

[2021-02-03 16:15] #61 closed

[2021-02-04 09:51] pacospace opened #77 "Run ML Workshop on Operate First"
As Workshop Speaker,

I would like to run my workshop on an open environment running on Openshift and using Open Data Hub (ODH) components -> `Operate First`

**Event**: https://www.mlprague.com/
**Dates**: Friday 26  February 2021, 14:00 – 17:30

**Workshop topic**: Cloud-native AI on OpenShift

**Workshop description**: Ever thought of doing a cloud-native AI work? What does that even mean? This

[2021-02-04 13:21] tumido commented on #77
Pending PRs:
- Created user group `workshops` with @pacospace @vpavlin @martinpovolny and me as the users (https://github.com/operate-first/apps/pull/207)
- Created `ws-ml-prague` namespace with `workshops` users as project admins (https://github.com/operate-first/apps/pull/207)
- Created `workshops` ArgoCD project (https://github.com/operate-first/continuous-deployment/pull/104) managed by the `w

[2021-02-04 13:41] HumairAK commented on #62
**Multi-user Isolation**

I took a bit of a gander over at [Kubeflow's  multi-user isolation](https://www.kubeflow.org/docs/pipelines/multi-user/) and it looks.  like this is how they handle multi-tenancy.

For those unfamiliar, basically Kubeflow has "user profiles" which they use interchangeably with k8s namespaces that are mapped to these "user profiles" (the profile itself is a CRD). Automatic

[2021-02-04 13:54] #76 closed

[2021-02-04 13:56] HumairAK commented on #76
Projects were created, please re-open if there's anything else.

[2021-02-04 14:03] durandom commented on #77
Regarding resources:
42 participants * 8GB RAM == 336GB
42 participants * 2-4Cores == 84 - 168 cores

IIUC this is well within the limits of the cluster
cc @larsks

[2021-02-04 15:55] HumairAK opened #932 "Alert receiver for cluster monitoring"

[2021-02-04 16:05] pacospace opened #78 "How to set alarms for application on Operate First?"
As Thoth Maintainer and Manager,

I would like to receive alarms on GitHub.

Reference: https://github.com/thoth-station/thoth-application/issues/854

[2021-02-04 16:09] harshad16 commented on #78
I think this issue is same as https://github.com/operate-first/apps/issues/108
and @hemajv had responded here: https://github.com/operate-first/SRE/tree/master/incident-management
do we want to make this a priority? @pacospace

[2021-02-04 16:11] pacospace commented on #78
Thanks @harshad16 I just saw the link, then we can close this issue actually. And it would be nice to have before we start using MOC for advises.

[2021-02-04 16:12] #78 closed

[2021-02-04 18:14] tumido commented on #77
@pacospace @vpavlin I have set up the https://github.com/operate-first/workshop-apps repo for you. All applications placed within the `ml-prague-2021` folder will be consumed by ArgoCD, placed into `workshops` ArgoCD project and deployed to `ws-ml-prague` namespace on MOC.

I've also set up a Github Actions CI that verifies the application manifests that are expected to be added via PR from the at

[2021-02-04 19:57] 4n4nd commented on #6
keeping issue open until confirmed kf-pipelines works with elyra

[2021-02-05 13:19] pacospace commented on #77
Thank you very much @tumido. Sounds awasome!!

[2021-02-05 19:22] MichaelClifford commented on #68
One additional note in support of larger PVC's: While running a `pipenv lock` working on [this repo](https://github.com/aicoe-aiops/ocp-ci-analysis) I get the following error due to a lack of disk space.

![image](https://user-images.githubusercontent.com/4494906/107078636-936f7580-67bc-11eb-98a0-c0311011766b.png)

Speaking with other team members it sounds like ~4 Gb is used just by the pipenv ca

[2021-02-05 20:10] MichaelClifford opened #79 "mcliffor requests larger pvc"
### Questionnaire
Closes #67
1. **User details**:
mcliffor

2. **Desired resource change**:
 I would like my JH PVC limit to be increased from 2Gb to 20Gb
---

If you don't want to wait for the maintainers to notice this issue, you can do the changes yourself. Please follow the [docs/user_profiles.md](https://github.com/operate-first/support/blob/main/docs/user_profiles.md) guide.

[2021-02-06 16:25] sesheta opened #930 "ArgoCD Repo Server Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22argocd-repo-server%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = ArgoCD Repo Server Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = ArgoCD repo server is no lo

[2021-02-06 16:25] sesheta opened #931 "Observatorium Loki Ingester Down"

[2021-02-06 16:30] #930 closed, assigned to nobody

[2021-02-06 16:42] #55 closed

[2021-02-06 17:15] #931 closed

[2021-02-08 11:53] tumido commented on #68
@MichaelClifford I think all the notebook images built via `s2i-custom-notebook` are based on `s2i-thoth` images. That means a `thamos` binary should be part of the image. Can you please check if you can run:

[code]

within the image? That should query remote Thoth station server and provide you with a lockfile directly, without any local caching and without need to run `pipenv lock`.

That shoul

[2021-02-08 13:51] MichaelClifford commented on #68
@tumido it looks like the thamos binary is present, but I'm getting the following error on `thamos advise`

![image](https://user-images.githubusercontent.com/4494906/107228357-93ed5380-69ea-11eb-924a-10a80520415c.png)

Are there any other steps or configurations that a user has to make to get this to work correctly?

[2021-02-08 14:02] tumido commented on #68
Huh, I think it's configured properly.. This seems `thamos` has some problems with local `src` package. I'll try to create some minimal reproducer and take it back upstream.

[2021-02-08 14:17] tumido commented on #68
raised upstream: https://github.com/thoth-station/thamos/issues/728

[2021-02-08 16:30] HumairAK opened #80 "[TASK] Update Readme with Kubeflow components & and make it more generic"
This repo is for all user-facing apps managed by the operate first team. As such this repo is not only limited to ODH, but also other apps (e.g. kubeflow). So we should update the Readme to be more generic, and also add the applications that are not-odh related under the status charts.

[2021-02-08 17:42] tumido commented on #77
@pacospace all the operate first ArgoCD pieces should be in place. Feel free to test by adding application to:

https://github.com/operate-first/workshop-apps

The app would appear at:
https://argocd-server-argocd.apps.cnv.massopen.cloud/applications?proj=workshops

[2021-02-08 18:21] durandom commented on #61
@maulikjs did you get a chance to create the follow up issue as per above?

[2021-02-08 19:42] harshad16 opened #81 "set scc priviledge true for serviceaccount aicoe-ci in opf-ci-pipelines"
### Requested actions

Some of the tekton pipelines required scc privileges for executions.
The following command can be performed with cluster-admin privileges to fix this:
`oc adm policy add-scc-to-user privileged -z aicoe-ci -n opf-ci-pipelines`

Error log from a pipelinerun:
[code]

This would be required if any user runs into similar issue on other namespaces.

#### Operator Details

1. **Nam

[2021-02-09 08:44] martinpovolny commented on #79
@MichaelClifford : I wonder if the problem is related to pip cache size. If it's full of previous versions of packages as you work over a longer time it might need some purging.

I am not sure what is the best practice with Python but I assume there's a similar problem to other languages and environments.

[2021-02-09 08:49] martinpovolny commented on #69
I wonder what are those neat features.

Googling I've found:
 * killing other people's servers
 * (optionally) accessing other people's notebook

 Are those the features you are after?

[2021-02-09 09:00] martinpovolny commented on #53
@larsks : but such permission setting gets lost as when the bucket is pre-provisioned, isn't it.

Unlike in the case of the Rook proposal.

[2021-02-09 09:59] tumido commented on #79
@martinpovolny see: https://github.com/operate-first/support/issues/68 yes, it kinda is, we're trying to resolve it via `thamos` but that has problem with local packages: https://github.com/thoth-station/thamos/issues/728

[2021-02-09 10:16] #32 closed

[2021-02-09 10:58] tumido commented on #81
Does it really need `privileged`? The docs you've linked mentiones only `anyuid` scc.

[2021-02-09 11:23] tumido commented on #81
PR pending: https://github.com/operate-first/apps/pull/226

[2021-02-09 11:58] larsks commented on #53
@martinpovolny oh, the rook proposal would definitely an improvement once it gets implemented and lands in OpenShift.

[2021-02-09 13:42] MichaelClifford commented on #79
@martinpovolny Yes, the pip cache size is definitely a problem at the moment. But I would also like to have more than 2Gb PVC in general for Data Science work.

[2021-02-09 13:58] martinpovolny commented on #23
So this bucket for DS is to be read-write for the data-science group and read-only for the rest of the world.

@tumido, is that correct that currently, such setting requires a manual step as described in https://github.com/operate-first/support/issues/23 ?

[2021-02-09 14:02] tumido commented on #23
Yes, deploying policy would require us to do manual steps. I'm also worried you can't have a second set of credentials for a bucket though... I'll ask...

[2021-02-09 14:04] tumido commented on #53
@larsks is it possible to have multiple sets of credentials to a bucket? I know there's the original pair created when the bucket is provisioned... Is there a way to get additional creds?

[2021-02-09 14:08] #80 closed

[2021-02-09 14:08] HumairAK commented on #69
@martinpovolny AFAIK, datahub uses admin privileges to help them diagnose/fix issues for their JH users. For example if a server is stuck, you are able to also see it from your side and try to kill it/restart it before going into the openshift console and messing around in there.

[2021-02-09 14:26] harshad16 commented on #81
yes,  that is correct. I was pointing at the docs, as it starts with some of the descriptions.
thanks @tumido for having a look at this.

[2021-02-09 14:35] anishasthana commented on #69
We can also create dummy users for testing purposes. It's been useful in the past.

[2021-02-09 15:24] #81 closed

[2021-02-09 15:38] martinpovolny commented on #23
Summing up the discussion with @tumido on how to deal with buckets in general so that we can move forward with a proposal on how to solve this issue.

## Individual projects
There's no problem to have one or more buckets provisioned for each project. We already have one for the 'black-flake' project.

## Working with Drif, Hue and possibly other tools

We already have the 'data catalog' component

[2021-02-09 15:48] drbwa opened #83 "Kibana server is not available"
**Describe the bug**
This is probably less of a bug than an issue or incident ticket.

Kibana is currently not available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to <https://kibana-openshift-logging.apps.cnv.massopen.cloud/>
2. Instead of being taken to the Kibana dashboard, see the error message: `Kibana server is not ready yet`.

**Expected behaviour**
See the Kibana dashboard.

[2021-02-09 15:54] eranra commented on #83
@drbwa we see in Kibana pod logs ( openshift-logging/kibana-79884d6c4f-9lsqs ) ::

{"type":"log","@timestamp":"2021-02-09T15:31:36Z","tags":["warning","elasticsearch","admin"],"pid":121,"message":"Unable to revive connection: https://elasticsearch.openshift-logging.svc.cluster.local:9200/"}
{"type":"log","@timestamp":"2021-02-09T15:31:36Z","tags":["warning","elasticsearch","admin"],"pid":121,"mess

[2021-02-09 15:57] tumido commented on #83
cc @HumairAK @4n4nd @anishasthana

[2021-02-09 15:59] tumido commented on #83
@eranra you're right. I think the operator did something and rolled out a new deployment of the elastic search. There's currently no service called `elasticsearch` in the namespace, hence the routing is broken...

[2021-02-09 16:05] tumido commented on #83
`elasticsearch-cdm-293ha663-1-587675b879-d9rk8` pod's `proxy` container exploded with:

[code]

[2021-02-09 16:06] tumido commented on #83
and one of 9 `fluentd` pods is in failed state due to:

[code]

other `fluentd` pods are healthy.

[2021-02-09 16:07] HumairAK commented on #83
The operator conditions:
![image](https://user-images.githubusercontent.com/10904967/107391711-f9af0d80-6ac6-11eb-8add-e562780ba306.png)

This sounds to me like there was a new rollout?

[2021-02-09 16:13] tumido commented on #83
yes, there was an automated one.

[2021-02-09 16:15] HumairAK commented on #83
Action item: change subscription to be manual

[2021-02-09 16:15] tumido commented on #83
Seems like the cluster logging has some networking issues. The `fluend` and `elasticsearch` proxy both points to a network related issue.

[2021-02-09 16:19] tumido commented on #83
openshift-monitoring Grafana doesn't hint anything unusual, cluster networking is not effected.

[2021-02-09 16:20] HumairAK commented on #83
ES proxy tls handshake error for the record:

[code]

[2021-02-09 16:23] HumairAK commented on #83
Let's try this?
https://access.redhat.com/solutions/5347071

[2021-02-09 16:26] tumido commented on #83
I don't understand the cause though.. yeah, why not restart it. Go for it! :+1:

[2021-02-09 16:32] tumido commented on #83
seems broken still: [elasticsearch-cdm-293ha663-1-587675b879-46drn-elasticsearch.log](https://github.com/operate-first/support/files/5952729/elasticsearch-cdm-293ha663-1-587675b879-46drn-elasticsearch.log)

[2021-02-09 16:34] HumairAK commented on #83
Kibana is up, in yellow state
![image](https://user-images.githubusercontent.com/10904967/107395353-b8206180-6aca-11eb-8b04-27f7ba9967c4.png)

[2021-02-09 16:37] HumairAK commented on #83
fluentd-k8dnx is still crashing

[2021-02-09 16:43] tumido commented on #83
Kibana's new state:

![image](https://user-images.githubusercontent.com/7453394/107396664-4235ed80-6afe-11eb-8450-89a0140a7348.png)

[2021-02-09 16:43] HumairAK commented on #83
fluentd-qd92x now failing with following logs:
[code]

[2021-02-09 16:45] HumairAK commented on #83
Looks like CLO status showing all fluentd pods in ready state:
`oc get clusterlogging instance`:

[code]

[2021-02-09 16:50] HumairAK commented on #83
Restarted Kibana, it is once again in yellow and `Setting up index template`

[2021-02-09 17:07] tumido commented on #83
Kibana's still yellow. Maybe we should check on the PVC, if it's not full. I have no time for it anymore today though.

[2021-02-09 17:14] HumairAK commented on #83
Doesn't look full:

[code]

[2021-02-09 17:20] HumairAK commented on #83
Interesting:

[code]

[2021-02-09 18:14] #79 closed

[2021-02-09 20:48] HumairAK commented on #83
Deleting only `.kibana_-343928101_ronenschaffergmailcom_2` resulted in another kibana user index resulting in the same error blocking migration. Deleting all the indices seems to have allowed Kibana to get back to green state.

[2021-02-09 20:49] HumairAK commented on #83
Thanks to @anishasthana  for providing guidance on using the Elasticsearch SA token to get successful curl calls to Elasticsearch API.

[2021-02-09 20:50] 4n4nd commented on #83
I was able to query kibana for logs :+1:

[2021-02-09 20:51] HumairAK commented on #83
I encountered a few issues trying to run curl commands both via local host and following the guide provided by CLO [here](https://docs.openshift.com/container-platform/4.5/logging/config/cluster-logging-log-store.html#cluster-logging-elasticsearch-exposing_cluster-logging-store).

In the future it would be helpful if we can get a proper exposed route set up whereby admins can diagnose / apply fixe

[2021-02-09 21:00] HumairAK commented on #83
Kibana having issues connecting to ES it seems:

![image](https://user-images.githubusercontent.com/10904967/107427931-ecf2df80-6aef-11eb-90e7-7e43b45034be.png)

[2021-02-10 00:57] larsks commented on #53
@tumido it looks like the answer is efffectively "no".

It is actually possible to create new AWS credentials, but that requires admin access to the Ceph environment in order to run the `radosgw-admin` command. There is no API access to that feature right now.

[2021-02-10 10:15] goern opened #84 "deploy "Red Hat OpenShift Serverless Operator" to op1st clusters"
**Is your feature request related to a problem? Please describe.**
As a User of OpenShift,
I would like to utilize Serverless features,
so that I can show off an object detection demo.

see https://github.com/sa-mw-dach/manuela-visual-inspection

**Describe the solution you'd like**
n/a

**Describe alternatives you've considered**
n/a

**Additional context**
This is a requirement to run Emanuela d

[2021-02-10 10:16] goern opened #85 "deploy "Red Hat Integration - AMQ Streams Operator" to op1st clusters"
**Is your feature request related to a problem? Please describe.**
As a User of OpenShift,
I would like to utilize AMQ Streams features,
so that I can show off an object detection demo.

see https://github.com/sa-mw-dach/manuela-visual-inspection

**Describe the solution you'd like**
n/a

**Describe alternatives you've considered**
n/a

**Additional context**
This is a requirement to run Emanuela

[2021-02-10 13:22] drbwa commented on #83
@HumairAK I have been able to set up two index patterns in the Kibana dashboard (one on `index*` and on `app*`). However, when trying to retrieve logs for these indices (in the `Discover` tab), the dashboard complains about a `Gateway Timeout`:

[code]

Intermittent connectivity issues to ES?

[2021-02-10 13:27] HumairAK commented on #83
Thanks for the update @drbwa ! I believe this has to do with ES getting full, we have a PR currently in the works that will reduce the retention for now while we work on getting a long term storage in place. Will update accordingly.

[2021-02-10 13:36] drbwa commented on #83
As a little aside, @HumairAK do you know how much storage is currently available to ES? We (our project) will want to keep historic records of logs around and while we may probably want to do this via ETL to object storage, would be interesting to know what the capacity we have for ES is like.

[2021-02-10 13:38] tumido commented on #83
@drbwa currently it has a 200Gi PVC

We're planning on some more long term storage outside of the cluster https://github.com/operate-first/apps/issues/232

[2021-02-10 14:11] hemajv opened #86 "Increase JH PVC"
### Questionnaire

1. **User details**:
hveeradh

2. **Desired resource change**:
Increase JH PVC from 2Gi to 10Gi

[2021-02-10 14:29] HumairAK commented on #83
Monitoring Kfdef updated

[2021-02-10 14:57] sesheta opened #929 "JupyterHub Service Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22jupyterhub%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = JupyterHub Service Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = JupyterHub service is no longer ava

[2021-02-10 15:12] pacospace commented on #77
Thanks @tumido.

[2021-02-10 17:47] HumairAK commented on #86
@hemajv can we close this?

[2021-02-10 17:51] #86 closed

[2021-02-10 19:36] MichaelClifford commented on #23
@martinpovolny sounds good :smile:

[2021-02-10 22:30] HumairAK commented on #83
We decided to re-install the CLO operator and delete the old PVCs, hence losing the data upto this point (~5 days worth).

Given the current rate of ingest, we were capping out on our pvc storage (of 200gigs) with ~4-5 days of logs. We updated the node count to 2, resulting in 2 pvcs, each with ~300Gigs of pvc. Retention is still 7days for now, but we will monitor how many days we can squeeze from

[2021-02-10 22:33] 4n4nd commented on #83
Kibana is up and running right now.

We found that Kibana had old indexes stored (`.kibana*`) that kibana was trying to migrate on every restart. But it would fail and the Kibana would end up in a non functional state. So we decided to delete the old PVCs to get rid of the problematic indexes.

We also found that starting Kibana before elasticsearch was ready led to indexing issues for Kibana.

[2021-02-11 07:44] drbwa opened #87 "Kibana index reveals user name"
**Description**
Kibana seems to contain indices whose names are suffixed with the complete user id/email (of users who created an index?):

![image](https://user-images.githubusercontent.com/1454757/107611807-7cfa6b80-6c4d-11eb-91b2-b02b998b44c9.png)

I am not sure whether this should be considered an issue or not, but it feels like this should be avoided if possible.

/cc @ronenschafferibm @eranr

[2021-02-11 11:59] tumido commented on #87
It seems the index listing is only available to people with the `cluster-log-reader` cluster role (the people with access to infra index etc).

My OpenShift account with this access level gets:
![image](https://user-images.githubusercontent.com/7453394/107633519-73cac800-6c68-11eb-94c3-e339aa7c40ed.png)

While my other account without this cluster role gets:
![image](https://user-images.githubuser

[2021-02-11 12:01] tumido commented on #87
/kind question

[2021-02-11 12:18] tumido commented on #83
Both Kibana and ElasticSearch is stabilized now. The PVC utilization is low.

Thank you @4n4nd and @HumairAK for the reinstall, if was by far the easiest solution :+1:

Post mortem recap:
1. The PVCs were full which broke the indexing (reported ~85% utilization, though it was not enough for index balancing probably)
3. The CLO resource was manually reprovisioned which "reinstalled" the cluster log

[2021-02-11 12:18] #83 closed

[2021-02-11 16:28] tumido opened #88 "Users can't submit Argo workflows since the rbac is limited to operate-first"
ODH Argo shoud be accessible to public

[2021-02-11 19:12] #929 closed

[2021-02-11 19:15] sesheta opened #928 "JupyterHub Service Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=absent%28up%7Bservice%3D%22jupyterhub%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = JupyterHub Service Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = JupyterHub service is no longer ava

[2021-02-11 20:15] #928 closed

[2021-02-12 10:20] goern opened #927 "remove 'in progress' label when 'solved' label is applied"
SSIA

[2021-02-12 10:24] durandom opened #89 "ODH weekly Z Stream releases"
**Is your feature request related to a problem? Please describe.**
@nakfour wrote

**Describe the solution you'd like**
Operate First should deploy each z-stream release into production, with the ability to rollback if problems are detected.

**Additional context**
IIUC z-stream is an update to a stable channel, hence it should not introduce disruptions 🤞
As of now we don't have a staging environm

[2021-02-12 10:26] durandom commented on #89
@nakfour do you have some links where this discussion was tracked? How are z-stream releases tagged?

[2021-02-12 10:50] tumido commented on #89
This Z-stream should be a bug fix release, so the only expected change on our end is to bump all `kfdef` resources from:

[code]

I'd want to have these updated at least semi-automated. We don't want to manually do repetitive PRs changing those 2 lines every week.

It would be nice if we can set up a pipeline/bot that would apply a template based on a release and open a PR. And if we can host the

[2021-02-12 11:23] tumido commented on #89
/sig devops
/kind feature
/priority important-soon

[2021-02-12 15:01] nakfour commented on #89
@durandom Z stream releases are done by a bot and initiated by manually creating an issue for patch release, see here: https://github.com/opendatahub-io/opendatahub-operator/issues/new/choose
Creating the issue right now is manual, hoping to get it automated at some point.

[2021-02-12 16:10] goern commented on #89
@harshad16

[2021-02-12 17:08] tmckayus commented on #89
sounds good to me, as long as they are limited to bug fixes and no API or functionality changes to align with the Semver definition of z-stream.

[2021-02-15 12:03] tumido opened #926 "MOC cluster: Pod scheduling stuck due to CNI"
We started seeing elevated amount of errors for newly scheduled pods:

[code]

![image](https://user-images.githubusercontent.com/7453394/107943707-5f9b0980-6f8d-11eb-849b-e6d10c8194df.png)

Pods are stuck at `ContainerCreating`

This seems to correlate with OpenShift `NodeNetworkReceiveErrs` alerts for the storage nodes firing:

![image](https://user-images.githubusercontent.com/7453394/107943871

[2021-02-15 17:32] oindrillac opened #90 "Error spawning JH Server"
**Describe the bug**
I tried to stop my server and on restarting it, it is stuck on the spawn screen and timed out twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://jupyterhub-opf-jupyterhub.apps.cnv.massopen.cloud/hub/home'
2. Click on 'Stop Server'
3. Now Spawn a new server and select 's2i-minimal' image and 'Large' size.
4. Spawn Fails and times out
4. Click 'Relaunch

[2021-02-16 11:01] goern commented on #90
/kind bug
/sig devops

[2021-02-16 11:54] tumido commented on #90
Thank you for raising this ticket! We're facing some issues with OpenShift networking and pod scheduling. https://github.com/operate-first/SRE/issues/62

This issue is caused by this problem, therefore I'm gonna mark this issue as `duplicate` though I'm gonna keep it open and pin it for visibility.

[2021-02-16 13:52] tumido opened #925 "Have a status page"
Let's have a status page like all grown ups have:

https://www.githubstatus.com/
https://status.thoth-station.ninja/
https://status.starter.openshift.com/

[2021-02-16 15:11] #956 closed

[2021-02-16 18:49] hemajv opened #924 "Add JH dashboards to upstream ODH"
We now have the following JupyterHub monitoring dashboards available that we were able to create in collaboration with the Internal Data Hub team:

1. [JH SLI dashboard](https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/BfSK2f1Mz/jupyterhub-sli-slo)
2. [JH usage dashboard](https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/YuYfkHYMk/jupyterhub-usage?orgId=1)

we should sha

[2021-02-17 09:39] pacospace opened #91 "Cannot access JH with my personal external account"
**Describe the bug**
Cannot access JH with my personal external account. After login it is stack on white page. (using Firefox)

If I try with Chrome, I receive an error reported in the Screenshots section below.

**To Reproduce**
Steps to reproduce the behavior:
1. Login https://jupyterhub-opf-jupyterhub.apps.cnv.massopen.cloud/
2. Select google email

**Expected behaviour**
Access correctly JH

[2021-02-17 10:11] tumido commented on #91
/kind bug

[2021-02-17 10:26] tumido commented on #91
@pacospace I've tried with my personal account and it worked just fine for me. :confused:

Was it your first log in?

Were you met with the "Authorize access" screen?
![image](https://user-images.githubusercontent.com/7453394/108190930-d4e41700-7112-11eb-8974-8dfda3999a51.png)

[2021-02-17 12:08] pacospace commented on #91
Actually no, two days ago I was working with that without problems, but now I cannot access it anymore, even deleting all cookies.

Yes all procedure done the first time I logged in.

[2021-02-17 13:46] tumido commented on #91
@pacospace it seems like a JH single user server is still running for that user just fine. I have no idea what is going on in there.

Can you try accessing it directly please?

[code]

[2021-02-17 13:47] pacospace commented on #20
@tumido @4n4nd @durandom I think this can be closed as there is a new JH UI in ODH 1.0 deployed on Operate First.

![Screenshot from 2021-02-11 16-35-03](https://user-images.githubusercontent.com/27498679/108213155-036feb00-712f-11eb-8a5c-22885e69e5ab.png)

[2021-02-17 13:59] pacospace commented on #91
I can see that and I actually shutdown what was running, then I tried going back to panel and to the server again, but it has blank page at `https://jupyterhub-opf-jupyterhub.apps.cnv.massopen.cloud/user/<USER_EMAIL>/lab?` and nothing happens.

[2021-02-17 14:02] pacospace commented on #91
I stopped the server and started new one and now it is working, Thanks @tumido !

[2021-02-17 14:22] HumairAK opened #923 "Look into adding/registering insights via cloud.redhat.com"

[2021-02-17 14:57] oindrillac commented on #90
Update on this: I still see an issue spawning my NB Server with my existing RH account. I re-spawned and tried logging out during the long spawn process to sign back in with my external personal account and it spawned fine for me with the external account :+1:

[2021-02-17 15:24] tumido commented on #91
This doesn't seem like a standard behavior, I think it might be related to the current cluster instabilities and/or https://github.com/operate-first/support/issues/90 https://github.com/operate-first/SRE/issues/62

[2021-02-17 15:24] tumido commented on #90
May be related: https://github.com/operate-first/support/issues/91

[2021-02-17 15:29] HumairAK commented on #91
Since the issue is resolved, let's close this for now, as we already have an issue for cluster instabilities. We can re-open again once cluster is stable and if we encounter this problem again.

[2021-02-17 15:29] #91 closed

[2021-02-17 21:25] cdolfi opened #93 "cdolfi requests larger pvc"
User details:
cdolfi

Desired resource change:
I would like my JH PVC limit to be increased from 2Gb to 8Gb

The size of my pipenv cache is 1.5 and I am getting a "disk quota exceeded" error when trying to run notebooks

[2021-02-17 22:11] HumairAK commented on #93
@cdolfi  I've increased your pvc to 8Gi. Can you confirm?

[2021-02-18 10:20] goern opened #94 "update community website url in readme"
**Describe the bug**
SSIA

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'README.md'
2. Go to end
3. see the wrong url

**Expected behaviour**
URL should point to https://www.operate-first.cloud/

/kind bug
/sig docs

[2021-02-18 11:04] tumido commented on #93
I think you can also delete the pipenv cache. It's not needed at all.

[2021-02-18 11:19] tumido commented on #20
Let's close it then.  Happy to close issues any time :smile:

[2021-02-18 11:19] #20 closed

[2021-02-18 15:32] sesheta opened #914 "ArgoCD Application Controller Down"

[2021-02-18 15:32] sesheta opened #915 "Prometheus Alertmanager Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22alert-manager%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Prometheus Alertmanager Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = Prometheus Alertmanager is

[2021-02-18 15:32] sesheta opened #916 "Prometheus Service Down"

[2021-02-18 15:32] sesheta opened #917 "Observatorium Loki Query Frontend Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22opf-observatorium-loki-query-frontend-http%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Observatorium Loki Query Frontend Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH

[2021-02-18 15:32] sesheta opened #918 "Grafana Service Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22grafana-service%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Grafana Service Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = Grafana service is no longer avai

[2021-02-18 15:32] sesheta opened #919 "JupyterHub Service Down"

[2021-02-18 15:32] sesheta opened #920 "Observatorium Loki Ingester Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22opf-observatorium-loki-ingester-http%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Observatorium Loki Ingester Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary =

[2021-02-18 15:32] sesheta opened #921 "Observatorium Loki Querier Down"

[2021-02-18 15:32] sesheta opened #922 "Observatorium Loki Distributor Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22opf-observatorium-loki-distributor-http%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Observatorium Loki Distributor Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summ

[2021-02-18 15:32] sesheta opened #1090 "ArgoCD Repo Server Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22argocd-repo-server%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = ArgoCD Repo Server Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = ArgoCD repo server is no lo

[2021-02-18 15:32] sesheta opened #1091 "Grafana Operator"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22grafana-operator-metrics%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Grafana Operator
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = LOW
    - summary = Grafana operator metrics not

[2021-02-18 15:32] sesheta opened #1092 "ArgoCD Server Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22argocd-server-metrics%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = ArgoCD Server Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = ArgoCD server is no longer av

[2021-02-18 16:07] #914 closed

[2021-02-18 16:07] #915 closed

[2021-02-18 16:07] #916 closed

[2021-02-18 16:07] #917 closed

[2021-02-18 16:07] #918 closed, assigned to nobody

[2021-02-18 16:07] #919 closed

[2021-02-18 16:07] #920 closed

[2021-02-18 16:07] #921 closed

[2021-02-18 16:07] #922 closed

[2021-02-18 16:07] #1090 closed

[2021-02-18 16:07] #1091 closed, assigned to nobody

[2021-02-18 16:07] #1092 closed

[2021-02-18 16:40] HumairAK opened #913 "Add monitoring for scrape duration"
As we add more metrics, the scrape durations for cluster-monitor-federation goes up. We don't want this to surpass the scrape timeouts, so we should monitor these and set alerts around it.

[2021-02-18 17:54] HumairAK opened #912 "Increase alert duration check for service availability"
Currently our alerting rules for the MOC prom instance use a 5 min check duration, we should increase this to 10m -- as we're finding that we may need to increase the scrape timeouts as more metrics are added. [Related](#80).

[2021-02-18 17:57] HumairAK opened #911 "Aggregate avaibility of services alerting rules into one alerting rule"
Currently we set alerting rules that use the `up` method which, when prom goes down, results in all services reporting as also being down (even if these services are still up).  A suggestion proposed by @hemajv  is to aggregate all the `up` alerts into one alert called `overall_opf_status` and then alert on this metric only if/when prometheus goes down. The other `up` alerts can remain for basic a

[2021-02-19 02:04] pvaneck commented on #62
Hi all,
I was pointed to this issue in one of the email threads going on regarding Operate First and KFServing.

In regards to KFServing on OpenShift, the latest version of KFserving (v0.5.0) was just recently released, and from what I have tested so far, should work fine. Some OpenShift related documentation for installation can be found here: https://github.com/kubeflow/kfserving/blob/master/doc

[2021-02-19 08:58] pacospace commented on #77
Related-To: https://github.com/opendatahub-io/odh-manifests/issues/327

[2021-02-19 10:35] tumido commented on #62
yes, we're an using older fork, so it should work. Thank you! cc @4n4nd

[2021-02-19 12:39] #94 closed

[2021-02-19 20:08] HumairAK commented on #93
I think this issue is resolved, feel free to re-open if there's more.

[2021-02-19 20:08] #93 closed

[2021-02-22 16:23] pacospace opened #96 "How to free the PVC for a user?"
**Description**
I spawned an image on JH and didn't cloned anything inside, but my PVC result as full. How to free the PVC memory?

**Additional context**

[2021-02-22 17:07] 4n4nd commented on #96
I found a `.cache` dir in your PVC that was taking a lot of your PVC storage (8Gi)
[code]

[2021-02-22 23:24] HumairAK opened #910 "Migrating ArgoCD to MOC-Infra"

[2021-02-23 09:06] pacospace commented on #6
I was able to submit a Kubeflow pipeline with Tekton from new Elyra image for workshop!! 💯 Thanks @4n4nd @harshad16, we can close this issue!

[2021-02-23 13:31] #6 closed

[2021-02-23 16:11] sesheta opened #1080 "Operate First Cluster Monitoring"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=scrape_duration_seconds%7Bnamespace%3D%22openshift-monitoring%22%7D&#43;%3C&#43;45&amp;g0.tab=1

    Labels:

    - alertname = Operate First Cluster Monitoring
    - endpoint = web
    - instance = 10.129.2.35:9091
    - job = prometheus-k8s
    - namespace = openshift-mon

[2021-02-23 16:11] sesheta opened #1081 "Operate First Cluster Monitoring"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=scrape_duration_seconds%7Bnamespace%3D%22openshift-monitoring%22%7D&#43;%3C&#43;45&amp;g0.tab=1

    Labels:

    - alertname = Operate First Cluster Monitoring
    - endpoint = web
    - instance = 10.128.2.8:9095
    - job = alertmanager-main
    - namespace = openshift-m

[2021-02-23 16:11] sesheta opened #1082 "Operate First Cluster Monitoring"

[2021-02-23 16:11] sesheta opened #1083 "Operate First Cluster Monitoring"

[2021-02-23 16:11] sesheta opened #1084 "Operate First Cluster Monitoring"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=scrape_duration_seconds%7Bnamespace%3D%22openshift-monitoring%22%7D&#43;%3C&#43;45&amp;g0.tab=1

    Labels:

    - alertname = Operate First Cluster Monitoring
    - endpoint = metrics
    - instance = 10.128.2.13:8443
    - job = kubevirt-prometheus-metrics
    - namespac

[2021-02-23 16:11] sesheta opened #1085 "Operate First Cluster Monitoring"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=scrape_duration_seconds%7Bnamespace%3D%22openshift-monitoring%22%7D&#43;%3C&#43;45&amp;g0.tab=1

    Labels:

    - alertname = Operate First Cluster Monitoring
    - endpoint = https
    - instance = os-mgr-0
    - job = node-exporter
    - namespace = openshift-monitoring

[2021-02-23 16:11] sesheta opened #1086 "Operate First Cluster Monitoring"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=scrape_duration_seconds%7Bnamespace%3D%22openshift-monitoring%22%7D&#43;%3C&#43;45&amp;g0.tab=1

    Labels:

    - alertname = Operate First Cluster Monitoring
    - endpoint = https
    - instance = 10.129.0.17:8443
    - job = cluster-monitoring-operator
    - namespace

[2021-02-23 16:11] sesheta opened #1087 "Operate First Cluster Monitoring"

[2021-02-23 16:11] sesheta opened #1088 "Operate First Cluster Monitoring"

[2021-02-23 16:11] sesheta opened #1089 "Operate First Cluster Monitoring"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-1:9090/graph?g0.expr=scrape_duration_seconds%7Bnamespace%3D%22openshift-monitoring%22%7D&#43;%3C&#43;45&amp;g0.tab=1

    Labels:

    - alertname = Operate First Cluster Monitoring
    - endpoint = https-main
    - instance = 10.129.2.33:8443
    - job = openshift-state-metrics
    - namespace

[2021-02-23 16:16] #1089 closed

[2021-02-23 16:27] #1088 closed

[2021-02-23 16:29] #1087 closed

[2021-02-23 16:29] #1083 closed

[2021-02-23 16:29] #1084 closed

[2021-02-23 16:29] #1085 closed

[2021-02-23 16:29] #1086 closed

[2021-02-23 16:29] #1080 closed, assigned to nobody

[2021-02-23 16:29] #1081 closed

[2021-02-23 16:29] #1082 closed

[2021-02-23 16:36] sesheta opened #1078 "ArgoCD Server Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22argocd-server-metrics%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = ArgoCD Server Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = ArgoCD server is no longer av

[2021-02-23 16:36] sesheta opened #1079 "ArgoCD Application Controller Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22argocd-metrics%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = ArgoCD Application Controller Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = ArgoCD application c

[2021-02-23 16:36] sesheta opened #1077 "ArgoCD Repo Server Down"

[2021-02-23 17:46] 4n4nd opened #909 "Scraping ArgoCD Metrics from infra cluster"
The MOC ArgoCD instance was moved to the infra cluster which resulted in the ArgoCD Prometheus Metrics being unavailable (#83).
The two possible solutions I can think of rn are:
1. Set up a new Prometheus in infra cluster that collects the ArgoCD metrics (and possibly other metrics in the future).
2. Expose all ArgoCD metrics routes and have them scraped by the CNV OperateFirst Monitoring Promethe

[2021-02-24 20:06] HumairAK commented on #96
@pacospace did that resolve your issue? If so can we close this issue?

[2021-02-24 21:33] pacospace commented on #96
Yes @HumairAK, thanks! and thanks @4n4nd, I ll remember to do that If I see my PVC is going full again due to pipenv cache.

[2021-02-24 21:34] #96 closed

[2021-02-25 21:06] MichaelClifford commented on #36
@tumido @HumairAK not sure if others are still experiencing this issue, but I still get the "Application is not available" page if I select any of the applications besides JupyterHub or Hue on the [dashboard page](https://odh-dashboard-opf-dashboard.apps.cnv.massopen.cloud/) without using an incognito window. I have cleared my cache and done the normal browsing data clearing, but the issue seems t

[2021-02-26 10:09] tumido commented on #36
Unfortunately it works for me just fine in my current profile, in incognito mode and also in a different browser. Can you try a different browser @MichaelClifford? Is this like a persistent issue or it just happens from time to time?

Can you try investigating via DevTools (available on F12 hotkey in Chrome and Firefox) -> `Network` tab, select `Disable cache` and refresh the page. Then select the

[2021-02-26 14:57] MichaelClifford commented on #36
Thanks @tumido

Looks like my browser was forcing an "https://" url were most of these apps are using "http://". Fixed now, but if any one else has this issue in the future, this [StackExcahnge](https://superuser.com/questions/565409/how-to-stop-an-automatic-redirect-from-http-to-https-in-chrome
) article helped. Basically come down to following these 2 steps:

1. Go to `chrome://net-internals/#hs

[2021-02-26 14:57] #36 closed

[2021-03-01 17:53] oindrillac commented on #90
My MOC JH Account is still having issues while spawning. It times out trying to spawn each time. Is this still expected?
I am currently using JH with my external personal account which spawns fine but has only 2 Gigs PVC and hence is a blocker for my work.

[2021-03-01 20:02] erikerlandson opened #97 "Namespace for A Ray+ODH deployment on MOC"
### Requested actions

Select all that apply:

- [ ] Create a user group
- [ ] Add users to a group
- [x] Create a namespace

### Questionnaire

1. **Team name**:
AICOE

2. **Desired namespace name**:
ray-odh-integration

3. **Users to add**:
eerlands@redhat.com

4. **Target cluster**:
moc

5. **Team or maintainer owned GPG key fingerprint along with a keyserver**:
I do not believe I will require

[2021-03-02 07:29] harshad16 opened #98 "onboard fridolin to moc-cnv cluster"
### Requested actions

Select all that apply:

- [ ] Create a user group
- [x] Add users to a group

### Questionnaire

1. **Team name**: Thoth

2. **Desired namespace name**:  All already present

3. **Users to add**: fpokorny@redhat.com

4. **Target cluster**: moc-cnv(moc-base)

5. **Team or maintainer owned GPG key fingerprint along with a keyserver**: NA

[2021-03-02 11:08] tumido opened #99 "Grant cluster logging access to DS group"
### Requested actions

#### Resource request

quote @MichaelClifford :

### Questionnaire

1. **Team name**:  data-science
   Please specify on behalf of which team you are requesting this resource. If you don't have a team yet, please use our other "Onboarding to cluster" template.

---

If you don't want to wait for the maintainers to notice this issue, you can do the changes yourself. Please fo

[2021-03-02 11:22] tumido commented on #98
Resolved via #293

Thank you @harshad16 ! :slightly_smiling_face:

[2021-03-02 11:24] #98 closed

[2021-03-02 11:55] ronensc opened #100 "Permissions to access logging data in Kibana"
**Describe the bug**
I'm part of the `open-aiops` team and as part of the work on DeCorus, I need access to the logging data in Kibana.

**To Reproduce**

**Expected behaviour**
Being able to query logging indices in Kibana

**Screenshots**
![image](https://user-images.githubusercontent.com/31612939/109643933-8a748880-7b5d-11eb-91f1-d7ff9c77abf3.png)

I'm able to list the indices in the Dev Tools

[2021-03-02 11:58] tumido commented on #90
@oindrillac it's spawning just fine for me now, I'm unable to find any logs on your failure. Wanna ping me once you're online today and we can try sorting it out? :slightly_smiling_face:

[2021-03-02 14:01] HumairAK opened #908 "Kibana in yellow state"
Initially reported by @drbwa

![image](https://user-images.githubusercontent.com/10904967/109659526-c267d580-7b35-11eb-938b-d52af8641ccd.png)

[2021-03-02 14:19] #913 closed

[2021-03-02 15:07] tumido commented on #97
Hey @erikerlandson ! We currently don't have a AICOE user group in operate-first right now, I will create a new user group for you, though I think AICOE name is too general, would you mind if I name it `ray`? :slightly_smiling_face:

[2021-03-02 15:21] tumido commented on #100
May this be related to https://github.com/operate-first/SRE/issues/98 ? Can you please try again after the `.kibana` resources are reset?

I've cross checked your and @eranra's permissions to the cluster and I don't see any difference in there. So if there's any discrepancy, it shouldn't be propagated from the OCP RBAC, since that's the same for both of you.

We're also planning on fully reinstall

[2021-03-02 15:48] #99 closed

[2021-03-02 15:57] erikerlandson commented on #97
@tumido, `ray` should be fine :+1:

[2021-03-02 16:54] harshad16 opened #101 "Builds are failing to push the image to image-registry"
**Describe the bug**
Observed that a build corresponding to a buildconfig is failing to push the image artifacts to the internal openshift image-registry.
The logs show error from go routines:
[code]

Related-to: https://github.com/thoth-station/amun-api/issues/611

[2021-03-02 18:14] HumairAK opened #907 "Monitor network traffic/load for ES"
This can extend to other services as well.

We currently suspect that operate-first/operations#98 resulted due to high network load in ES causing socket hangups / time outs for Kibana and external connections to ES. We cannot be 100% sure because we had no monitoring in place to measure trends in leading to the downtime with regards to network load.

As such, we should look in to monitoring networ

[2021-03-02 19:03] 4n4nd opened #906 "Add grafana dashboards to monitor PVC/Network/CPU/Memory Usage for various services"

[2021-03-02 20:45] HumairAK commented on #90
I see that a PR was made w.r.t to this -- was the issue resolved?

[2021-03-02 22:07] HumairAK commented on #100
Hello @ronensc --- we had some issues with Kibana earlier this morning (possibly earlier, though I'm not sure as I wasn't around then), these issues should be resolved -- can you try again and get back to us ?

[2021-03-02 22:16] #97 closed

[2021-03-03 06:54] ronensc commented on #100
@tumido @HumairAK thanks for checking. I tried again and I have the same permission errors. A few moments later, Kibana's status went yellow again. Actually, I think also yesterday, Kibana got into this state a few moments after I tried querying these indices. I suspect that somehow this "yellow status" is related to my actions. Although, I really didn't do anything unusual.

[2021-03-03 11:03] tumido commented on #90
I wouldn't say resolved, the PR is rather a workaround. @oindrillac's original user profile is still not usable and I couldn't figure out why. I've decided it's not worth fixing, because it would eventually be resolved by the cluster reinstall.

I think this issue may be closed as a wontfix (?) probably. WDYT?

[2021-03-03 13:10] HumairAK commented on #100
@ronensc Thanks for the update, you're right, Kibana is down to yellow again -- you can follow the progress [here](https://github.com/operate-first/SRE/issues/98#event-4401869962) as we look into this we'll be posting updates there.

[2021-03-03 13:40] larsks opened #905 "Document cluster/sla and provide links from onboarding materials"
Create a page that describes the operate first cluster(s) and any associated SLA, details about data longevity, etc. Ensure we link to this from onboarding information.

[2021-03-03 13:58] larsks opened #904 "Document User Epic for Monitoring and Alerting"
From discussion on 3/3/2021

[2021-03-03 14:20] HumairAK opened #903 "[Migration to 4.7] Redeployment will result in a new route for cluster, this will require docs to be updated and other configs."
There will be docs in support repo, and the website that will require updates to the cluster route. We should try to get the route before we re-deploy the cluster.

We will also need to update argocd cluster specs.

Please add any other locations / configs that will need to be updated here.

[2021-03-03 14:23] HumairAK opened #902 "[Migration to 4.7] Create a series of post-install steps that will need to take place to restore cluster state of the moc-cnv cluster."

[2021-03-03 14:29] ronensc commented on #100
It turns out that I don't have permissions to get information about the indices but to do have to query them (by adding `/_search` to the URL)

[2021-03-03 14:35] HumairAK opened #901 "[Automation] Improve kustomize build script to run faster."

[2021-03-03 14:36] HumairAK opened #900 "Come up with policies for well formed manifests/configurations."

[2021-03-03 14:38] HumairAK opened #899 "Add validation for resource schemas"

[2021-03-03 15:23] HumairAK commented on #100
@ronensc  I'm still getting used to how CLO does permissions etc.

Can you paste the queries that you don't have perms to (and you require) ?

[2021-03-03 16:18] HumairAK opened #898 "Migration to 4.7 new "zero" cluster"

[2021-03-03 17:03] 4n4nd opened #897 "Grafana dashboards unavailable"

[2021-03-03 17:03] tumido commented on #23
FTR, we recently discovered, that there's also a MOC Swift S3 that can be used as a permanent S3 storage facility.

https://github.com/open-infrastructure-labs/ops-issues/issues/33

[2021-03-03 18:10] erikerlandson opened #102 "expose a `ray-ml-notebook:latest` option from the JH launcher in MOC ODH dash"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**

At a high level, my goal is to port my demo integration[1] into the MOC so that any MOC user of the ODH dashboard can also use Ray with Jupyterhub by choosing `ray-ml-notebook:latest` from the JH launcher menu, and get a ray cluster they can connect to.
In other words, it will work very mu

[2021-03-03 18:24] xtuchyna opened #103 "New bucket for team Thoth [Superset, Hue]"
### Questionnaire

1. **User details**:
MOC username: dtuchyna@redhat.com
Applications to be used with bucket: most recent versions of Hue and Superset (I think that Superset is at 1.0.0 now?) that are possible to deploy and are compatible with themselves.
Bucket should be public (as e.g. `DH-PLAYPEN` on ODH Hue)

2. **Desired bucket name**:
thoth-public

3. **Maximal bucket size**:
2GiB

4. **Max

[2021-03-03 20:41] #897 closed

[2021-03-03 22:17] Shreyanand opened #104 "Kernel crashing"
**Describe the bug**
I'm using Jupyterhub with the user ID shanand@redhat.com, trying to run this [notebook](https://github.com/aicoe-aiops/ocp-ci-analysis/blob/master/notebooks/data-sources/TestGrid/metrics/number_of_flakes.ipynb)
My kernel crashes probably due to some resource problem. I have attached the screenshot of resource usage on the Grafana dashboard.

**To Reproduce**
Steps to reproduce

[2021-03-03 22:18] Shreyanand commented on #104
Also, where can I see the pod logs of my user's Jupyterhub pod?

[2021-03-04 08:39] durandom commented on #104
@martinpovolny I would expect that the user knows about the resource limits for his notebooks.

a) Is there a way to show the limits in the grafana dashboard or at some other point?
b) Can he log into the ocp UI and the jupyterhub namespace and see the logs for his pod?

What are the options? Is see Grafana, Kibana, OCP. Anything else?

[2021-03-04 09:03] durandom commented on #102
cc @goern

@tumido @HumairAK  can help. Looking at https://github.com/erikerlandson/ray-odh-demo/blob/main/deploy/operator/ray-cluster-crd.yaml it seems the CRDs are namespaced - so we don't have to bother with cluster wide resources...

[2021-03-04 09:13] martinpovolny commented on #104
In Elyra there's an indicator at the bottom of the UI:

![kernel-mem-1](https://user-images.githubusercontent.com/51095/109939199-1c50d280-7cd1-11eb-8a7d-ed6f1b1b0cbc.jpg)

You can see the limit for the kernel there: ^^^

When you are getting over the memory limit,  the numbers turn red.

![kernel-omm](https://user-images.githubusercontent.com/51095/109939307-38ed0a80-7cd1-11eb-9b7d-a2e228a39818.j

[2021-03-04 09:25] martinpovolny commented on #104
BUT: even though I requested the 4 Gigs Elyra tells me I have only 1 Gig.

![elyra-mem-2](https://user-images.githubusercontent.com/51095/109941741-c2054100-7cd3-11eb-8dca-49f481238511.jpg)

However, the computation of the notebook ended well. It was not killed. There may be some disconnect between the numbers in the launcher and what Elyra shows (have to search for some documentation).

[2021-03-04 11:14] martinpovolny commented on #104
Grafana presented above is here:
https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/YuYfkHYMk/jupyterhub-usage?orgId=1

[2021-03-04 11:21] martinpovolny commented on #104
@Shreyanand : I'd conclude that you need to request a bigger system as shown in the screenshots above. Does that solve your problem?

[2021-03-04 12:03] ronensc commented on #100
The following request ([Search API](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-search.html)) works for me:
[code]

While, the following request ([Get index API](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-get-index.html)) doesn't
[code]
I get this error:
[code]

I guess it's because `Search API` requires the `read` index privilege while `Get

[2021-03-04 13:52] tumido commented on #102
Not sure if I understand. We're running the ODH dashboard in a separate namespace to all of the other ODH components and we don't want to deploy additional things to that namespace. That being said, it's worth pointing out, that we're running our own fork of the ODH Dashboard, which can see into different namespace and aggregate components across all namespaces where a `kfdef` resource is deployed

[2021-03-04 14:06] erikerlandson commented on #102
@tumido I was using "space where the dashboard runs" as a way to say "where all the odh components are running", since that is the way it works everywhere else.

[2021-03-04 14:11] erikerlandson commented on #102
The pull request should not have been merged, since only one of the six tasks was completed

[2021-03-04 14:22] Shreyanand commented on #104
@martinpovolny Thank you! that does solve the problem, and iiuc the Large instance requests 4 GB and limits at 8? So the data/computation in this version reaches close to 5 GB and it works with the instance.

Also, the memory that Elyra shows is a sum of memory used by all the active kernels instead of just this notebook's kernel, right?

[2021-03-04 15:00] erikerlandson commented on #102
Are the rest of the ODH components living in the same namespace? If I add the singleuser profile objects and the ray operator pod onto my pull request (do I now need to make another PR, or can you revert the other one that was merged prematurely?) will it run in the proper namespace?

Side note, in my demo, I installed the ray operator as a naked pod, and for this integration I want to use a deplo

[2021-03-04 15:34] tumido commented on #102
We prefer to keep the components separate. Therefore we have JupyterHub in one namespace, Data catalog in another, Kafka in another one. As you can see here, each folder corresponds with a different namespace:
https://github.com/operate-first/apps/tree/master/odh/base

Do you want to revert that PR? I don't see any harm in keeping it. It's adding an image to the JH, which is totally fine with me.

[2021-03-04 15:44] tumido opened #106 "Contributing docs mention Prow"
We have this, though it would definitely need some polishing..
https://github.com/operate-first/apps/blob/master/contributing.md

We also use Prow for chat ops, so this can be used as a reference:
https://prow.k8s.io/command-help

But I admit we don't link that or explain that anywhere. Filing an issue for that rn.

_Originally posted by @tumido in https://github.com/operate-first/apps/issues/302#

[2021-03-04 15:45] tumido commented on #106
/kind documentation
/sig docs

[2021-03-04 15:47] HumairAK commented on #106
@harshad16  ^^

[2021-03-04 15:47] erikerlandson commented on #102
I'm OK with multi-PR.  (see discussion on https://github.com/operate-first/apps/pull/302).

One caveat - if people start choosing that image, it will not have a ray cluster behind it until the rest of the PRs get added.

[2021-03-04 15:56] erikerlandson commented on #102
OK, so I need to re-think where other ray-related components are going to live.  Those components are:
- the ray operator CRD  (I think I was installing that into my demo namespace, but never actually looked)
- the ray operator pod itself (this will be analog to the spark operator pod)
- the singleuser profile configmap, and its associated ray template config-map
- the ray operator imagestream
- t

[2021-03-04 15:56] harshad16 commented on #106
Thanks for opening this, i will take this.

[2021-03-04 16:07] erikerlandson commented on #102
In a sense, what matters for pull requests is where in the kustomize directory tree these components need to go.

[2021-03-04 16:48] isabelizimm opened #107 "[WIP] Add end-to-end ML deployment workshop to Operate First"
**Describe the solution you'd like:**
I would be interested in having this workshop[1] live on Operate First
[1] https://github.com/aicoe-aiops/pet-image-detection

**Workshop description: EDITED TO IMAGE DETECTION WS**
This repository has materials from a  tutorial on machine learning model serving workflows and using OpenShift and Seldon. The goal of this workshop is to get developers comfortabl

[2021-03-04 17:07] HumairAK commented on #107
Hello @isabelizimm -- welcome! We will definitely try to get you started, but I think we'll need a bit more information about what your needs are.

Can you expand on what you mean by 'live on Operate First' ? For example, do you need to deploy this app on an openshift environment?

If this is the case we'll need to get you set up with a namespace with the appropriate access. Let us know!

[2021-03-04 18:53] isabelizimm commented on #107
Thank you for the warm welcome!

I'm hoping to have this workshop deployed so when it is used for demos, any MOC user can access it. I had originally imagined it would exist similar to the `ml-prague-2021` notebook dropdown on JH. However, if it's easier to have a designated namespace for the app, I am okay with that solution as well!

[2021-03-04 19:01] tumido commented on #107
I think you kinda want both. You want the image to be usable in the JupyterHub - therefore it will be added like this:
https://www.operate-first.cloud/users/data-science-workflows/docs/create_and_deploy_jh_image.md#adding-the-image-where-you-need-it
Against this directory:
https://github.com/operate-first/apps/tree/master/odh/base/jupyterhub/notebook-images

And for the rest, like your `Service` a

[2021-03-04 19:16] isabelizimm commented on #107
That sounds like a good way to break everything down!

[2021-03-04 19:21] pacospace commented on #77
I think we can close this issue. It was a nice event and we got positive feedbacks from organizers and participatans.

Thanks @vpavlin @tumido @harshad16 @4n4nd @durandom @martinpovolny @goern.

It is available at https://www.operate-first.cloud/users/elyra/README.md.

[2021-03-04 19:40] HumairAK commented on #77
Great work everyone!

[2021-03-04 19:40] #77 closed

[2021-03-04 19:53] HumairAK commented on #107
@isabelizimm  do you already have an image available? If not then the [link that Tom](https://www.operate-first.cloud/users/data-science-workflows/docs/create_and_deploy_jh_image.md#adding-the-image-where-you-need-it) has added above shows you the instructions for buildling/pushing your image.

Once you have an image, you can link it here and we can add the appropriate image stream to [this locati

[2021-03-04 20:18] isabelizimm commented on #107
I'll work on the image and make a PR! Per the namespace, `ws-ml-workflows` or `ds-ml-workflows-ws` are both good with me.

[2021-03-04 22:12] HumairAK commented on #107
@isabelizimm

Have you logged in to the MOC cluster yet? https://console-openshift-console.apps.cnv.massopen.cloud/

If not -- can you? You can use the sso option and any gmail account (e.g. your redhat email). This will automatically create a user for you.

Once done, can you give send either myself or @tumido / @4n4nd  your user id via private dm/email? (this will be the email you used to login)

[2021-03-05 09:54] martinpovolny commented on #104
I do not know :-(

Observation: If I install stuff in a terminal the number shown in the toolbar goes up the same as if I run cells in a notebook. The same goes for running multiple notebooks. If I restart a "kernel" the terminals live on. So it has to be something that is above the jupyter kernel.

But I do not know how it works. I did not find any documentation related to the memory widget.

[2021-03-05 10:22] tumido opened #110 "[TASK] Fix s3 issue template link"
SSIA

/sig user-experience
/kind bug

[2021-03-05 10:28] tumido commented on #103
Hi @xtuchyna sorry for a late response. We have a planned cluster tear down on Monday followed by a new cluster provisioning therefore we're not that quick to onboard new requests.

If you want to use the bucket in your own project (meaning you have a namespace available to you), you can just deploy a `ObjectBucketClaim` resource as described [here](https://github.com/operate-first/support/blob/ma

[2021-03-05 10:44] tumido commented on #102
Let me try. I'd say it should probably go like this:

1. the ray operator CRD: `CustomResourceDefinition` requires cluster-admin privileges to deploy, therefore it has to be placed into: https://github.com/operate-first/apps/tree/master/cluster-scope/base/crds
2. the ray operator pod itself: Your namespace
3. the singleuser profile configmap: Into the ODH JH namespace here: https://github.com/oper

[2021-03-05 13:33] erikerlandson commented on #102
I agree, I was thinking last night it may all need to live in the JH namespace.

[2021-03-05 14:09] #110 closed

[2021-03-05 14:46] HumairAK commented on #107
The namespace + user was created/onboarded. All that's left now is the imagestream to add to JH.

[2021-03-05 14:49] tumido opened #111 "Red Hat Service Mesh deployment"
**Is your feature request related to a problem? Please describe.**
In order to fully support Telemetry WG (https://github.com/open-infrastructure-labs/telemetrywg) we need to have a RH Service Mesh (2.0) deployed on the cluster

**Describe the solution you'd like**
Subscribe to this thing and deploy Jaeger+Kiali+the rest

**Describe alternatives you've considered**
n/a

**Additional context**
This

[2021-03-05 15:01] sesheta opened #1076 "Operate First Cluster Monitoring High Scrape Duration"

[2021-03-05 15:10] tumido commented on #111
/cc goern and this will be for you as well!

[2021-03-05 15:11] #1076 closed

[2021-03-05 15:40] 4n4nd opened #896 "Turn off github alerts until the cluster is reinstalled"
Since we will be reinstalling the cnv/zero cluster soon, I think we should turn off the github alerts so that the repo does not get spammed with alert issues. We can turn them back on once the zero cluster is ready.

[2021-03-05 15:46] goern commented on #111
/sig devops
cc @harshad16

[2021-03-05 15:53] tumido opened #895 "Define Machine Health Checks for Baremetal install - MOC Infra"
We're missing `MachineHealthChecks` for MOC Infra and possibly Zero cluster. We should have a complete understanding of node stability:
https://console-openshift-console.apps.moc-infra.massopen.cloud/k8s/ns/openshift-machine-api/machine.openshift.io~v1beta1~MachineHealthCheck

https://docs.openshift.com/container-platform/4.6/machine_management/deploying-machine-health-checks.html#machine-health-c

[2021-03-05 16:02] tumido opened #894 "MOC Infra cluster - find a remendiation for SystemMemoryExceedsReservation warning"

[2021-03-05 19:48] erikerlandson commented on #102
Ported component checklist to this issue

[2021-03-08 10:09] xtuchyna commented on #103
Hello @tumido , I don't have namespace on my own in CNV cluster, so if I may ask you to create one for me?

[2021-03-08 11:28] xtuchyna commented on #103
update: I will check with team what namespace do we need and than let you know

[2021-03-08 15:05] Shreyanand commented on #104
Hmm that's what I thought. No worries, I think using the Grafana dashboard and this toolbar should be enough for usual debugging. I'll reach out to you if I find some interesting edge cases or if I need more memory. Thanks again, closing this issue :)

[2021-03-08 15:05] #104 closed

[2021-03-08 16:18] harshad16 commented on #103
We are just looking for a public bucket, is operate-first having such a bucket? or should we proceed by creating an objectbucketclaim?

[2021-03-09 17:02] pvaneck commented on #62
FYI, the community manifests for Kubeflow 1.3, which will be released later this month, is planning to include updated Istio/Knative versions (Istio 1.9 and Knative 0.17.4) and also KFServing 0.5.1. The updated Istio version will likely lead to better compatibility of KubeFlow components with Red Hat Service Mesh if that is on the roadmap.

Not sure if anyone here tried deploying KFServing yet, bu

[2021-03-09 17:54] sesheta opened #1072 "Observatorium Loki Ingester Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22opf-observatorium-loki-ingester-http%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Observatorium Loki Ingester Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary =

[2021-03-09 17:54] sesheta opened #1073 "Observatorium Loki Querier Down"

[2021-03-09 17:54] sesheta opened #1074 "Observatorium Loki Query Frontend Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22opf-observatorium-loki-query-frontend-http%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Observatorium Loki Query Frontend Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH

[2021-03-09 17:54] sesheta opened #1075 "Observatorium Loki Distributor Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22opf-observatorium-loki-distributor-http%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = Observatorium Loki Distributor Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summ

[2021-03-09 18:07] #896 closed, assigned to 4n4nd

[2021-03-09 20:13] #902 closed

[2021-03-09 22:08] #1072 closed, assigned to 4n4nd

[2021-03-09 22:08] #1073 closed

[2021-03-09 22:08] #1074 closed

[2021-03-09 22:08] #1075 closed

[2021-03-10 08:35] goern commented on #62
Cc: @harshad16

[2021-03-10 14:22] sesheta opened #1071 "ArgoCD Dex Server Down"
Alertmanager URL: http://alertmanager-odh-monitoring-0:9093

  * firing http://prometheus-odh-monitoring-0:9090/graph?g0.expr=absent%28up%7Bservice%3D%22argocd-dex-server%22%7D&#43;%3D%3D&#43;1%29&amp;g0.tab=1

    Labels:

    - alertname = ArgoCD Dex Server Down
    - prometheus = opf-monitoring/odh-monitoring

    Annotations:

    - severity = HIGH
    - summary = ArgoCD Dex Server is no longe

[2021-03-10 14:23] tumido opened #893 "The links in alerts are not clickable"
The links used in these alerts are not clickable, could we change that?

_Originally posted by @goern in https://github.com/operate-first/SRE/issues/119#issuecomment-795477922_

/kind bug

[2021-03-10 15:06] larsks opened #892 "Personal private keys in sops configuration?"

[2021-03-10 16:56] tumido opened #891 "MOC Zero cluster CLO Job alert"

[2021-03-10 17:03] tumido opened #890 "MOC Zero cluster - PodDisruptionBudgetAtLimit for Istio"
Multiple `PodDisruptionBudgetAtLimit` alert firing for Istio

https://console-openshift-console.apps.zero.massopen.cloud/monitoring/alerts/290354459?alertname=PodDisruptionBudgetAtLimit&namespace=istio-system&poddisruptionbudget=istio-sidecar-injector&severity=warning
https://console-openshift-console.apps.zero.massopen.cloud/monitoring/alerts/290354459?alertname=PodDisruptionBudgetAtLimit&namespa

[2021-03-10 17:08] HumairAK opened #889 "MOC Infra cluster console is down"

[2021-03-10 17:12] #1071 closed

[2021-03-10 17:13] #1077 closed

[2021-03-10 17:13] #1078 closed

[2021-03-10 17:13] #1079 closed

[2021-03-10 17:21] #909 closed, assigned to nobody

[2021-03-10 17:34] #889 closed

[2021-03-10 19:54] #910 closed

[2021-03-10 21:53] #898 closed

[2021-03-11 10:21] acidonper opened #113 "[Workshop] Allocate resource"
### Requested actions

Select all that apply:

- [ X] Create a user group
- [ X] Add users to a group
- [ X] Create a namespace (*2 per user _*-jump-app-cicd_ and _*-jump-app-dev_)

**Meetup Title**: Native Kubernetes CI/CD Pipelines (Tekton, ArgoCD, Helm and more)
**Abstract**: In this meetup, we will explore the new era of Kubernetes CI/CD pipelines based on a set of fancy tools as Tekton Pipeli

[2021-03-11 15:22] tumido opened #888 "MOC Zero - Cluster operators degraded"

[2021-03-11 15:24] anishasthana opened #114 "Instance of Prometheus Pushgateway on Zero cluster"
The [Prometheus Pushgateway](https://github.com/prometheus/pushgateway) provides a great way for short-lived jobs to push metrics to Prometheus for longer term analysis. What are your thoughts about including it in the stack for the Zero cluster?

[2021-03-11 15:35] 4n4nd commented on #114
we don't have a pushgateway instance is because I think it will be difficult to have a single instance of pushgateway available for the public to use and manage labels for every service that pushes metrics to this gateway.
The Thoth team (@harshad16) had a similar requirement and I suggested them to deploy their own instance of pushgateway in one of the thoth namespaces and add a servicemonitor th

[2021-03-11 15:35] anishasthana commented on #114
manage labels in what sense? Shouldn't all metrics that are pushed already have their associated labels?

[2021-03-11 15:40] 4n4nd commented on #114
By manage labels I mean we won't have any control over who pushes metrics to a specific label.
For example, label: `{job="A"}`, anyone who had access to the url would be able to push metrics for that job label.

[2021-03-11 15:56] anishasthana commented on #114
That makes sense. @Jooho I'll let you make a call on how you want to proceed :-)

[2021-03-11 15:59] 4n4nd commented on #114
You could request for a namespace in operate-first and deploy an instance of pushgateway where only you would push metrics and these would be scraped by the operate-first Prometheus.

[2021-03-11 18:14] aakankshaduggal opened #116 "Increase JH memory"
1. **User details** : aduggal
2. **Desired resource change** : Memory increase to32 Gi

[2021-03-11 19:46] 4n4nd opened #887 "Add ServiceMonitor and Alerts for the Thanos service deployed in opf-observatorium"

[2021-03-12 12:51] xtuchyna commented on #103
Hello @tumido , please what's the current status of this?

[2021-03-12 13:10] tumido commented on #103
I'm really sorry @xtuchyna it took me so long, I had a lot on my plate lately and I kinda stalled this ticked. Thank you for the ping! :slightly_smiling_face:

I'm worried we will have problems with creating public buckets. You may need to apply a policy later on which would make the bucket public (or you can share the credentials with the world). By default we can't create buckets which are avail

[2021-03-12 13:21] xtuchyna commented on #103
Okay!! thank you very much and I am looking forward to your reply :100:

[2021-03-12 14:35] xtuchyna opened #117 "Hue storage not accessible"
**Describe the bug**
When on main page, I click on the `S3` on left panel. After a moment of loading, Server error appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://hue-opf-datacatalog.apps.zero.massopen.cloud/
2. Login
3. Click on 'S3' at the left panel
![image](https://user-images.githubusercontent.com/46632404/110954269-970c9400-8348-11eb-99f4-3470dc0c7c6e.png)
4. See

[2021-03-12 15:01] tumido commented on #117
/kind bug

Thank ouu for reporting @xtuchyna I'll take a look! :slightly_smiling_face:

[2021-03-12 15:09] tumido commented on #113
Hi @acidonper, welcome!

Hmm, I'm not sure how to approach this. We don't use a canned users and so on. Our user management works a bit differently here. We have SSO enabled so each person can create their own account, based on the account we assign a group membership (`Group` resource). Then we can create namespaces that are accessible for a certain user group only. Is there a way how we can use

[2021-03-12 15:13] tumido commented on #117
We have an incorrect endpoint set for the bucket. Fix is on the way.

[2021-03-12 15:29] rimolive opened #119 "Add Trino to ODH"
**Is your feature request related to a problem? Please describe.**
Currently, Data Catalog can't move to some features like Access Control, Data Governance because of the Thrift Server limitations. We are considering a change to Trino as it offers all the features we need.

**Describe the solution you'd like**
Let's start with adding Presto in the  ODH manifests and work on integration with the Da

[2021-03-12 15:36] accorvin commented on #119
cc @durandom

[2021-03-12 15:37] accorvin commented on #119
We should be able to reuse the work that the cost management and ansible tower teams have done to install Trino on OCP for this. Theoretically we could Kustomize their deployment manifests and add them into the ODH.

[2021-03-12 15:39] tumido commented on #103
Hey @xtuchyna  a new bucket should be created for you:

Bucket name: `opf-datacatalog-dtuchyna`
Endpoint: `s3.openshift-storage.svc:443` internally within the cluster, `https://s3-openshift-storage.apps.zero.massopen.cloud/`
Credentials: [xtuchyna.txt](https://github.com/operate-first/support/files/6131120/xtuchyna.txt) (it's `asc`, but GH doesn't like that extension)

let me know if it works :+1:

[2021-03-12 15:44] tumido commented on #119
If you want to use OperateFirst as a test bed for an alternative to the current ODH Datacatalog, we welcome that! :+1: How can we help?

[2021-03-12 16:06] rimolive commented on #119
@tumido I'm currently working on the kustomize descriptors. After that, I would need help with start to write some basic referential architecture docs.

[2021-03-12 16:07] accorvin commented on #119
@rimolive presumably we'd also like some help testing this in op-first?

[2021-03-12 16:10] rimolive commented on #119
Yeah, this would be good too.

[2021-03-12 16:22] tumido opened #120 "Kubeflow is missing routes"
**Describe the bug**
[code]

/cc @4n4nd @pacospace

[2021-03-12 17:17] tumido commented on #116
@aakankshaduggal Just to clarify, do you want to increase the RAM or storage capacity?

[2021-03-12 17:18] tumido opened #121 "Hue and Superset are not using default credentials"
**Describe the bug**
After the migration, somebody was faster than us and created the admin accounts already.

https://hue-opf-datacatalog.apps.zero.massopen.cloud/hue/accounts/login
http://superset-opf-superset.apps.zero.massopen.cloud/login/

neither service does use `generic_user:redhat` credentials

We may need to wipe the PVC

[2021-03-12 17:18] tumido commented on #121
/kind bug

[2021-03-12 17:20] tumido commented on #121
/cc @HumairAK @4n4nd

[2021-03-12 18:11] oindrillac commented on #90
This was fixed with the cluster reprovisioning :tada: closing :)

[2021-03-12 18:11] #90 closed

[2021-03-12 19:54] anishasthana opened #886 "Define SLOs for Jupyterhub"
@accorvin wrote a google document at https://docs.google.com/document/d/1YsVYg5ZIdLYBKLxU4iEpt4e_KykE8C8nJD2SEFg52eY/edit outlining possible SLOs for Jupyterhub. @hemajv we'd welcome your input there!

[2021-03-12 19:58] anishasthana opened #885 "Define burn-rate based alerts for Jupyterhub SLOs"
Once we have defined SLOs for Jupyterhub in operate-first/operations#128 , we should create burn-rate based alerts for the SLOs we agreed on.

[2021-03-12 21:10] HumairAK opened #884 "Enable Monitoring for ODH operator"
Noticed there is a service: `opendatahub-operator-metrics` in `openhisft-operators` namespace, that exposes some ODH metrics, let's get this in prometheus via service monitor.

[2021-03-15 13:08] aakankshaduggal commented on #116
@tumido I want to increase the RAM.

[2021-03-15 13:30] tumido commented on #116
/kind feature

![image](https://user-images.githubusercontent.com/7453394/111160538-789dd700-859a-11eb-9c1c-af1baef04e13.png)

Aakanksha would like to see a new size profile available here with greater memory portion.

[2021-03-15 13:46] chauhankaranraj commented on #116
Just for some context, [this](https://github.com/aicoe-aiops/ocp-ci-analysis/issues/149#issuecomment-797090342) comment describes why @Shreyanand @aakankshaduggal and I felt the need for a higher memory JH profile :)

[2021-03-15 13:56] 4n4nd commented on #120
For the Kubeflow dashboard, the route should be in the `istio-system` namespace [link](http://istio-ingressgateway-istio-system.apps.zero.massopen.cloud/).

For direct access to the ml-pipelines api (and any other service we deploy using kubeflow), I think we need to create a route manually for it.

[2021-03-15 14:38] tumido opened #883 "Create a predict_linear alert on the Thanos PVC"
@4n4nd should we create a `[predict_linear](https://prometheus.io/docs/prometheus/latest/querying/functions/#predict_linear)` alert on the Thanos PVC? We could even set it up for other key PVCs, now that I think of it.

_Originally posted by @anishasthana in https://github.com/operate-first/apps/issues/379#issuecomment-799464902_

[2021-03-15 14:42] #116 closed

[2021-03-15 17:26] acidonper commented on #113
Hi @tumido,

First of all, thank you so much and I am so sorry for the delay.

Sure, it sounds great for me. My user is @acidonpe.

Regards!

[2021-03-15 18:40] 4n4nd opened #122 "Black Flake ArgoCD app is failing to sync"
**Describe the bug**
App fails to sync and project manifests are not applied.
ArgoCD app link: https://argocd-server-argocd.apps.moc-infra.massopen.cloud/applications/black-flake?conditions=false

**Expected behaviour**
syncs successfully and applies the manifests in the projects

**Screenshots**
Following Sync Error can be seen:
![Screenshot from 2021-03-15 14-38-48](https://user-images.githubuse

[2021-03-15 19:03] hemajv opened #882 "Alerting, SLIs/SLOs for Kafka"

[2021-03-15 19:26] #912 closed

[2021-03-15 19:44] anishasthana opened #881 "Argo Metrics scraping is broken"

[2021-03-15 19:57] #884 closed

[2021-03-15 19:58] #881 closed

[2021-03-15 20:37] 4n4nd opened #123 "No external route to access object storage buckets of storageclass `ocs-storagecluster-ceph-rgw `"
**Is your feature request related to a problem? Please describe.**
ObjectBucketClaims like `black-flake` are accessible only from inside the operate-first cluster using the following host:
 http://rook-ceph-rgw-ocs-storagecluster-cephobjectstore.openshift-storage.svc.cluster.local

**Describe the solution you'd like**
Create a Route for [this service](https://console-openshift-console.apps.zero.ma

[2021-03-16 09:10] pacospace commented on #84
What is the status of this issue? when do we plan to have this in Operate First? Thanks!!

[2021-03-16 11:24] tumido commented on #84
It is currently in our backlog. We can schedule this for next sprint I think. Would that work for you, @pacospace ?

[2021-03-16 11:27] pacospace commented on #84
That would be awasome @tumido, thanks!

[2021-03-16 11:34] tumido commented on #123
@4n4nd or @Shreyanand if you want to access a bucket externally, please change your bucket claim storage class (you'd need to delete and recreate the bucket) to `openshift-storage.noobaa.io`. That will allow you to use this external route:

https://s3-openshift-storage.apps.zero.massopen.cloud/

We won't be exposing internal ceph, since that is not supported by OCS operator.

We've recently update

[2021-03-16 11:37] tumido commented on #123
/kind question
/sig user-experience
/label wontfix

[2021-03-16 11:37] sesheta commented on #123
@tumido: The label(s) `/label wontfix` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/zero-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advisor, sig/bui

[2021-03-16 11:57] tumido commented on #122
The problem is in the application manifests. Issue raised back to the application team.

[2021-03-16 12:00] tumido commented on #123
Closing as wontfix

[2021-03-16 12:00] #123 closed

[2021-03-16 12:08] tumido commented on #122
I admit the error is not straightforward to decipher. /shrug

Solution found here:
https://github.com/argoproj/argo-helm/issues/507#issuecomment-785202803

Closing as invalid

[2021-03-16 12:08] #122 closed

[2021-03-16 12:12] tumido opened #124 "[TASK] Better wording for the README explaining MOC vs OperateFirst vs ODH"
**User story**
Heidi:

@tumido:

**Additional context**
https://chat.google.com/room/AAAAAYpDdc8/QZOVRVz6olM

**Acceptance Criteria**
- [ ] Updated README.md

[2021-03-16 12:51] tumido commented on #63
Closing, will be managed by ServiceMesh operator. https://github.com/operate-first/support/issues/111

[2021-03-16 12:51] #63 closed

[2021-03-16 13:27] anishasthana opened #880 "Define and Document process for end-user alerting"

[2021-03-16 14:42] #888 closed

[2021-03-16 15:02] #893 closed

[2021-03-16 15:07] HumairAK commented on #124
When we first started, helping manage operations on the moc clusters wasn't our intended goal. So we named everything with the operate-first labels (e.g. opf-<odh-component>), that was mostly gitops related to services specifically we'll be deploying -- and not gitops for environments (e.g. moc clusters). But now we work much more closely with infrastructure as one team, and so we've included envi

[2021-03-16 15:11] Gkrumbach07 opened #126 "integrate semi-complex ODH demo into MOC"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to integrate my tutorial/demo which uses ODH into the MOC. This demo is different because it also relies on deployed model services that live outside of ODH.

- https://github.com/Gkrumbach07/docker-py-kaldi-asr
- https://github.com/Gkrumbach07/call_center_manage

**Additional c

[2021-03-16 15:30] sesheta opened #871 "Operate First Cluster Monitoring High Scrape Duration"

[2021-03-16 15:30] sesheta opened #872 "Operate First Cluster Monitoring High Scrape Duration"
Alertmanager URL: http://alert-manager-opf-monitoring.apps.zero.massopen.cloud

  * firing http://prometheus-portal-opf-monitoring.apps.zero.massopen.cloud/graph?g0.expr=scrape_duration_seconds%7Bnamespace%3D%22openshift-monitoring%22%7D&#43;%3C&#43;80&amp;g0.tab=1

    Labels:

    - alertname = Operate First Cluster Monitoring High Scrape Duration
    - container = virt-operator
    - endpoint =

[2021-03-16 15:30] sesheta opened #873 "Operate First Cluster Monitoring High Scrape Duration"

[2021-03-16 15:30] sesheta opened #874 "Operate First Cluster Monitoring High Scrape Duration"
Alertmanager URL: http://alert-manager-opf-monitoring.apps.zero.massopen.cloud

  * firing http://prometheus-portal-opf-monitoring.apps.zero.massopen.cloud/graph?g0.expr=scrape_duration_seconds%7Bnamespace%3D%22openshift-monitoring%22%7D&#43;%3C&#43;80&amp;g0.tab=1

    Labels:

    - alertname = Operate First Cluster Monitoring High Scrape Duration
    - container = alertmanager-proxy
    - endpo

[2021-03-16 15:30] sesheta opened #875 "Operate First Cluster Monitoring High Scrape Duration"

[2021-03-16 15:30] sesheta opened #876 "Operate First Cluster Monitoring High Scrape Duration"
Alertmanager URL: http://alert-manager-opf-monitoring.apps.zero.massopen.cloud

  * firing http://prometheus-portal-opf-monitoring.apps.zero.massopen.cloud/graph?g0.expr=scrape_duration_seconds%7Bnamespace%3D%22openshift-monitoring%22%7D&#43;%3C&#43;80&amp;g0.tab=1

    Labels:

    - alertname = Operate First Cluster Monitoring High Scrape Duration
    - container = kube-rbac-proxy-self
    - end

[2021-03-16 15:30] sesheta opened #877 "Operate First Cluster Monitoring High Scrape Duration"
Alertmanager URL: http://alert-manager-opf-monitoring.apps.zero.massopen.cloud

  * firing http://prometheus-portal-opf-monitoring.apps.zero.massopen.cloud/graph?g0.expr=scrape_duration_seconds%7Bnamespace%3D%22openshift-monitoring%22%7D&#43;%3C&#43;80&amp;g0.tab=1

    Labels:

    - alertname = Operate First Cluster Monitoring High Scrape Duration
    - container = kube-rbac-proxy-thanos
    - e

[2021-03-16 15:30] sesheta opened #878 "Operate First Cluster Monitoring High Scrape Duration"

[2021-03-16 15:30] sesheta opened #879 "Operate First Cluster Monitoring High Scrape Duration"

[2021-03-16 15:42] #879 closed

[2021-03-16 15:45] #878 closed

[2021-03-16 15:46] #876 closed

[2021-03-16 15:46] #877 closed

[2021-03-16 15:46] #872 closed, assigned to nobody

[2021-03-16 15:46] #873 closed

[2021-03-16 15:46] #874 closed, assigned to nobody

[2021-03-16 15:46] #875 closed

[2021-03-16 15:46] #871 closed

[2021-03-16 15:56] #903 closed

[2021-03-16 16:05] HumairAK commented on #13
This should be resolved via docs linked in last comment. Please feel free to re-open if they are insufficient, and/or unclear, and if there's need for additional documentation.

[2021-03-16 16:05] #13 closed

[2021-03-16 16:06] sesheta opened #869 "SystemMemoryExceedsReservation"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.moc-infra.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.moc-infra.massopen.cloud/graph?g0.expr=sum&#43;by%28node%29&#43;%28container_memory_rss%7Bid%3D%22%2Fsystem.slice%22%7D%29&#43;%3E&#43;%28%28sum&#43;by%28node%29&#43;%28kube_node_status_capacity%7Bresource%3D%22memory%22%7D&#43;-&#43;kube_node_

[2021-03-16 16:06] sesheta opened #870 "AlertmanagerReceiversNotConfigured"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.moc-infra.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.moc-infra.massopen.cloud/graph?g0.expr=cluster%3Aalertmanager_routing_enabled%3Amax&#43;%3D%3D&#43;0&amp;g0.tab=1

    Labels:

    - alertname = AlertmanagerReceiversNotConfigured
    - prometheus = openshift-monitoring/k8s
    - severity = wa

[2021-03-16 16:06] tumido commented on #121
Related to: https://github.com/operate-first/support/pull/125

Resolved by deleting PVCs and reseting DBs

[2021-03-16 16:06] #121 closed

[2021-03-16 16:07] #870 closed

[2021-03-16 16:10] HumairAK commented on #44
I think we can consider this issue complete. 1) Has been completed. And discussions for 2) seem to have been moved to different threads, see: https://github.com/operate-first/apps/issues/232 .

Feel free to re-open if there's more purpose for this thread. Thanks!

[2021-03-16 16:10] #44 closed

[2021-03-16 16:18] #894 closed

[2021-03-16 16:19] #926 closed

[2021-03-16 16:26] #932 closed

[2021-03-16 16:30] sesheta opened #863 "KubeJobFailed"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=kube_job_failed%7Bjob%3D%22kube-state-metrics%22%2Cnamespace%3D~%22%28openshift-.%2A%7Ckube-.%2A%7Cdefault%7Clogging%29%22%7D&#43;%3E&#43;0&amp;g0.tab=1

    Labels:

    - alertname = KubeJobFailed
    - condition

[2021-03-16 16:30] sesheta opened #864 "AlertmanagerReceiversNotConfigured"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=cluster%3Aalertmanager_routing_enabled%3Amax&#43;%3D%3D&#43;0&amp;g0.tab=1

    Labels:

    - alertname = AlertmanagerReceiversNotConfigured
    - prometheus = openshift-monitoring/k8s
    - severity = warning

[2021-03-16 16:30] sesheta opened #865 "PodDisruptionBudgetAtLimit"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=max&#43;by%28namespace%2C&#43;poddisruptionbudget%29&#43;%28kube_poddisruptionbudget_status_expected_pods&#43;%3D%3D&#43;kube_poddisruptionbudget_status_desired_healthy%29&amp;g0.tab=1

    Labels:

    - alertname

[2021-03-16 16:30] sesheta opened #866 "PodDisruptionBudgetLimit"

[2021-03-16 16:30] sesheta opened #867 "KubeJobCompletion"

[2021-03-16 16:30] sesheta opened #868 "PersistentVolumeUsageNearFull"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=%28kubelet_volume_stats_used_bytes&#43;%2A&#43;on%28namespace%2C&#43;persistentvolumeclaim%29&#43;group_left%28storageclass%2C&#43;provisioner%29&#43;%28kube_persistentvolumeclaim_info&#43;%2A&#43;on%28storageclass%

[2021-03-16 16:30] sesheta opened #1070 "KubeJobFailed"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=kube_job_failed%7Bjob%3D%22kube-state-metrics%22%2Cnamespace%3D~%22%28openshift-.%2A%7Ckube-.%2A%7Cdefault%7Clogging%29%22%7D&#43;%3E&#43;0&amp;g0.tab=1

    Labels:

    - alertname = KubeJobFailed
    - condition

[2021-03-16 16:31] #864 closed

[2021-03-16 17:02] sesheta opened #862 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-16 17:03] #862 closed

[2021-03-16 18:03] sesheta opened #861 "FluentdQueueLengthBurst"

[2021-03-16 18:12] 4n4nd opened #127 "Expose Thanos API routes"
**Is your feature request related to a problem? Please describe.**
Thanos is the long term storage for Prometehus metrics and can be queried using the Prometheus API as well as using Thanos' StoreAPI. But for that the routes need to be exposed.

**Describe the solution you'd like**
Create external Routes for Thanos Store and Thanos Query component

**Describe alternatives you've considered**
Curre

[2021-03-16 18:18] #861 closed

[2021-03-16 18:22] sesheta opened #1069 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-16 18:27] HumairAK commented on #126
Hello @Gkrumbach07 !

That sounds neat. So out of your list of deployments we have:

- JupyterHub deployed by ODH. This will give you access to Jupyter Notebooks.

  You can already access it by visiting this [link](https://jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud/) and logging in using the SSO (any gmail account should work). Logging in will also auto create a user for you on our MOC `z

[2021-03-16 18:27] #1069 closed

[2021-03-16 18:31] sesheta opened #1068 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-16 18:36] #1068 closed

[2021-03-16 18:38] erikerlandson commented on #126
@HumairAK  one question I had for the op1st team was: do we want this demo to be running "always", or to be able to spin up all the components on demand for a user.  In theory one might get an on-demand deployment by a properly designed singleuser-profile. running the components in their own namespace has advantages but it is less obvious to me how we could get an on-demand spin-up

[2021-03-16 18:39] erikerlandson commented on #126
cross-referencing #107

[2021-03-16 18:40] sesheta opened #1067 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-16 18:45] #1067 closed

[2021-03-16 18:51] sesheta opened #1066 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-16 18:56] #1066 closed

[2021-03-16 18:57] HumairAK commented on #126
@erikerlandson do you mean like, a custom image that you can select from the spawner? This is something we also support, I've updated my comment to include a link to instructions on how this can be done. But as @tumido has mentioned in that issue you linked, if there are additional requirements like openshift routes/services etc. We try to encourage using your own namespaces so that the `opf-*` na

[2021-03-16 19:01] sesheta opened #1065 "FluentdQueueLengthBurst"

[2021-03-16 19:06] #1065 closed

[2021-03-16 19:25] sesheta opened #1064 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-16 19:30] #1064 closed

[2021-03-16 19:36] HumairAK opened #128 "Onboard odh-pushgateway to zero cluster"
### Requested actions

Select all that apply:

- [x] Create a user group
- [x] Add users to a group
- [x] Create a namespace

### Questionnaire

1. **Team name**:
ai-services

2. **Desired namespace name**:
as-pushgateway

3. **Users to add**:
Communicated via private message.

4. **Target cluster**:
moc/cnv

5. **Team or maintainer owned GPG key fingerprint along with a keyserver**:
N/A

[2021-03-16 19:39] sesheta opened #1063 "FluentdQueueLengthBurst"

[2021-03-16 19:44] #1063 closed

[2021-03-16 19:49] sesheta opened #1062 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-16 19:54] #1062 closed, assigned to nobody

[2021-03-16 19:56] HumairAK opened #129 "feat: Make onboarding issue template clearer/easier to understand"
We need the onboarding to cluster template a lot more clear & easier to consume for a person that has never even seen/heard of operate-first. We should make minimal mention of gpg keys, etc. and phrase things in plain english.

For example the first entry:

[code]

It's not clear what gpg we're talking about. So we should remove this and simply state something like "A team name to logically group

[2021-03-16 20:21] #869 closed

[2021-03-16 20:48] sesheta opened #1061 "SystemMemoryExceedsReservation"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=sum&#43;by%28node%29&#43;%28container_memory_rss%7Bid%3D%22%2Fsystem.slice%22%7D%29&#43;%3E&#43;%28%28sum&#43;by%28node%29&#43;%28kube_node_status_capacity%7Bresource%3D%22memory%22%7D&#43;-&#43;kube_node_status_all

[2021-03-16 20:49] #1061 closed

[2021-03-16 20:49] sesheta opened #1060 "SystemMemoryExceedsReservation"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=sum&#43;by%28node%29&#43;%28container_memory_rss%7Bid%3D%22%2Fsystem.slice%22%7D%29&#43;%3E&#43;%28%28sum&#43;by%28node%29&#43;%28kube_node_status_capacity%7Bresource%3D%22memory%22%7D&#43;-&#43;kube_node_status_all

[2021-03-16 20:53] #1060 closed

[2021-03-16 21:03] sesheta opened #1059 "FluentdQueueLengthBurst"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=delta%28fluentd_output_status_buffer_queue_length%5B1m%5D%29&#43;%3E&#43;32&amp;g0.tab=1

    Labels:

    - alertname = FluentdQueueLengthBurst
    - container = fluentd
    - endpoint = metrics
    - hostname = fl

[2021-03-16 21:08] #1059 closed

[2021-03-16 22:26] sesheta opened #1058 "SystemMemoryExceedsReservation"
Alertmanager URL: https://alertmanager-main-openshift-monitoring.apps.zero.massopen.cloud

  * firing https://prometheus-k8s-openshift-monitoring.apps.zero.massopen.cloud/graph?g0.expr=sum&#43;by%28node%29&#43;%28container_memory_rss%7Bid%3D%22%2Fsystem.slice%22%7D%29&#43;%3E&#43;%28%28sum&#43;by%28node%29&#43;%28kube_node_status_capacity%7Bresource%3D%22memory%22%7D&#43;-&#43;kube_node_status_all

[2021-03-16 22:26] #1058 closed

[2021-03-16 22:26] sesheta opened #1057 "SystemMemoryExceedsReservation"