[2021-05-14 09:10] tumido commented on #243
[code]

[2021-05-14 09:28] tumido commented on #243
Ok, deleting prometheus doesn't changed anything for Ceph. Still reporting totally full. I'll try deleting some bucket claims if that helps in any way.

[2021-05-14 09:34] tumido commented on #176
I'm sorry for the constant delays on this. I'm prioritizing this now I hope I can it something in place in few days.

[2021-05-14 09:42] tumido commented on #243
Ceph is still unresponsive on this. Any thoughts @larsks, @HumairAK ? If not we will have to get support involved. I don't know what else to do. :disappointed:

[2021-05-14 10:24] tumido commented on #237
I don't seem to be able to resolve this myself. I've filed an upstream ticket hoping for some help there: https://github.com/tnozicka/openshift-acme/issues/159

[2021-05-14 10:49] tumido opened #779 "Research if already exists or create an new alert for pods stuck in Terminating state"
Related to: https://github.com/operate-first/SRE/issues/297

Alert if there's a pod that is being in terminating state for longer period of time.

[2021-05-14 11:18] tumido commented on #243
In addition I've reached out to Rook to get a way on how to set quota on buckets: https://github.com/rook/rook/issues/7906

[2021-05-14 13:07] larsks opened #778 "Arrange for CephOSDNearFull warnings to result in some sort of active alert"

[2021-05-14 13:13] HumairAK commented on #243
@larsks is going to attempt raising the set-full ration as described here: https://access.redhat.com/documentation/en-us/red_hat_ceph_storage/4/html-single/troubleshooting_guide/index#deleting-data-from-a-full-storage-cluster_diag to 0.97

There are 2 pvs taht are in "Released" state that we're hoping will get cleared up after doing so.

[2021-05-14 13:27] goern commented on #243
updated https://status.thoth-station.ninja/

[2021-05-14 13:31] larsks opened #777 "[INCIDENT][MOC/Zero] - OCS storage cluster full"
The OCS storage cluster filled up yesterday evening. This has disabled write access to the cluster, resulting in a number of problems.

Alerts:

- https://github.com/operate-first/alerts/issues/6824

Support requests:

- https://github.com/operate-first/support/issues/243

[2021-05-14 14:20] tumido opened #776 "Enforce Noobaa storage class for all object buckets, deprecate RadosGW storage class"
Part of: https://github.com/operate-first/SRE/issues/312

RadosGW/Rook doesn't provide any metrics on bucket usage and consumption. In contrast Noobaa does.

Change/enforce storage class on ObjectBucketClaims:
Good: `openshift-storage.noobaa.io`
Forbidden: `ocs-storagecluster-ceph-rgw`

[2021-05-14 14:37] tremes commented on #242
Yeah I think it sounds good. Thanks.

[2021-05-14 15:03] LaVLaS opened #244 "Onboard odh-developer (llasmith@RH) to Zero cluster"
## Questionnaire

1. **Project description**:
   PROJECT DESCRIPTION: I am requesting access to the JupyterHub environment so that I can recreate any user ODH issues that may be reported by Operate First users

2. **Target cluster**:
    TARGET CLUSTER: Zero

3. **Team name**:
    TEAM NAME: odh-developer

4. **Desired project names**:
    PROJECT NAMES: odh-developer

5. **Users needing access**:

[2021-05-14 23:06] mbestavros opened #245 "Cluster onboarding for the Sigstore team"
## Questionnaire

1. **Project description**:

   PROJECT DESCRIPTION:

From the [website](https://sigstore.dev/what_is_sigstore/): "`sigstore` is a project with the goal of providing a public good / non-profit service to improve the open source software supply chain by easing the adoption of cryptographic software signing, backed by transparency log technologies."

2. **Target cluster**:

    TAR

[2021-05-17 12:39] #159 closed

[2021-05-17 15:02] HumairAK commented on #245
@mbestavros in general we encourage users to have a suffix after their namespace, so that if the team requests more namespaces they can continue to use their team name prefix. Something like:
`sigstore-<suffix-1>`
`sigstore-<suffix-2>`

Do you have a preference for a suffix here for this namespace?

[2021-05-17 15:13] #830 closed, assigned to nobody

[2021-05-17 15:47] mbestavros commented on #245
@HumairAK Maybe `sigstore-deploy`?

[2021-05-17 16:14] harshad16 commented on #243
while setting up an obc with nooba class, the status is lost for the obc
how to resolve this ?
![nooba](https://user-images.githubusercontent.com/14028058/118521888-70345a80-b709-11eb-9ce2-5e2f20535c05.png)

[2021-05-17 16:42] first-operator[bot] opened #775 "[INCIDENT][MOC/Zero] - OBC's using nooba getting "lost""

[2021-05-17 18:38] HumairAK commented on #244
@tumido @4n4nd -- for this, should we give access to `operate-first` admin? I am inclined to just create another `group` which has access to all the odh namespaces w/ admin access and distribute that instead, and prune down the `operate-first` admin group.

[2021-05-17 18:41] 4n4nd commented on #244
@HumairAK yeah let's create a `odh-admin` group and start with access to the `opf-jupyterhub`+`opf-jupyterhub-stage` namespaces

[2021-05-17 20:05] HumairAK opened #774 "[INCIDENT][MOC/Cluster] - os-wrk-1 node is down"

[2021-05-17 20:46] #777 closed

[2021-05-17 20:47] #775 closed

[2021-05-18 10:02] tumido commented on #242
@tremes are there any other users besides you that should get access to this namespace?

[2021-05-18 10:04] tumido commented on #243
@harshad16 was this issue resolved yesterday or is this still pending?

[2021-05-18 11:55] #774 closed

[2021-05-18 13:12] harshad16 commented on #243
The prow seems to be back after yesterday's ceph fix issue.
Marking this as resolved.

[2021-05-18 13:12] #243 closed

[2021-05-18 13:51] codificat opened #247 "How to dispose your own (user) persistent volume claim"
**Is your feature request related to a problem? Please describe.**

I was trying to troubleshoot an issue (thoth-station/jupyterlab-requirements#269) and wanted to "start fresh", and I thought that a quick and reliable way to do that would include getting rid of my PVC and get a new empty PVC attached.

I could not find a way to do that, though.

**Describe the solution you'd like**

A simple docu

[2021-05-18 14:42] #245 closed

[2021-05-18 14:59] 4n4nd opened #773 "Prometheus metrics missing"

[2021-05-18 15:24] #244 closed

[2021-05-18 15:25] #773 closed

[2021-05-18 16:16] larsks opened #772 "Can we label issues in the alerts repository by their priority?"
It would be useful (for filtering, etc) if we could label issues in the [alerts](https://github.com/operate-first/alerts) repository by their severity (`critical`, `warning`, `info`, `none`).

[2021-05-18 16:32] 4n4nd commented on #247
Is there any RBAC that we could add which gives a user access only to their own PVCs?
@HumairAK @tumido

[2021-05-18 16:37] tumido commented on #176
Hey folks, so.. I can offer you 2 options. I think it's up to you to decide which way is more maintainable for you. Note - either of these solutions is temporary. Once you submit your operator to OperatorHub, this model changes - we would consume the operator manifest via subscription from community-operators.

### Option 1 - Direct manifests

Implemented in https://github.com/operate-first/apps/p

[2021-05-18 17:32] larsks opened #771 "Do we need better alerting channels?"
We currently deliver all alerts into the [alerts](https://github.com/operate-first/alerts/) repository. We have operate-first/operations#274 which addresses the source side of things (cleaning up which alerts get delivered), but we also need to think about the sink side of things -- where do we deliver alerts?

Even if we're able to substantially reduce the volume of the alert stream, is the `aler

[2021-05-18 20:14] fao89 commented on #176
we are planning to submit our operator to OperatorHub, so I would vote option 2

[2021-05-19 15:00] tumido opened #248 "Deploy Gatekeeper operator for OPA"
### Requested actions

#### Operator request

If you want to request an operator, please provide the following:

1. **Name of the Operator**: Gatekeeper

2. **Operator version**: Any

3. **Operator scope**: Cluster scope

4. **Documentation and links**:

https://console-openshift-console.apps.zero.massopen.cloud/operatorhub/ns/opf-jupyterhub?keyword=opa&details-item=gatekeeper-operator-product-red

[2021-05-19 15:00] tumido commented on #248
Should be able to provide support for requests like https://github.com/operate-first/support/issues/247

[2021-05-19 15:00] tumido commented on #247
We can do something like this via RBAC. However this is kinda limited, as shown below.

This RBAC will allow users to get/delete their own PVC via ocp cli/UI:

[code]

This results in users being able to get the pvc via CLI:

[code]
![image](https://user-images.githubusercontent.com/7453394/118832856-41f97b00-b8c1-11eb-8704-c0aa396dd5ec.png)

However users can get a list of PVCs without revealing

[2021-05-19 15:04] tumido commented on #176
cc @HumairAK @4n4nd are we also good on using the custom catalog/subscription for the time being (until the pulp operator reaches OperatorHub)?

[2021-05-19 15:51] tloubrieu-jpl commented on #241
Hi @guimou , any update on this ticket ? We need the spark operator for our deployment that is why I am contacting you again.
Thanks

[2021-05-19 15:54] guimou commented on #241
Things are mostly done, just not fully tested. If you want to give it a try... ;-)
- "Manual" instructions: https://github.com/guimou/spark-on-openshift
- Custom manifest for ODH (should make the PR today or tomorrow, I want to check some more things first): https://github.com/guimou/odh-manifests/tree/spark-operator/google-spark-operator

[2021-05-19 18:07] HumairAK commented on #241
@guimou let us know when you've made your pr (I presume you are talking about odh-manifests repo), I think we can consider that ready to deploy on our cluster

[2021-05-19 20:35] 4n4nd commented on #176
yeah using the custom catalog/subscription sounds good to me :+1:

[2021-05-19 21:11] first-operator[bot] opened #249 "JupyterHub request response taking a long time to respond, sometimes incurring timeouts"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1621456566015700?thread_ts=1621456566.015700&cid=C01RMPVUUK1_

[2021-05-19 21:13] HumairAK commented on #249
I suspect this is not a problem on our end since running:

[code]

seems to work fine for any other site. Maybe we're getting rate limited?

Let's wait until tomorrow since it was expressed that this is not pressing, @hemajv can you confirm if this link starts working tomorrow?

[2021-05-19 21:58] guimou commented on #241
@HumairAK Just did the PR for the spark-operator manifest: https://github.com/opendatahub-io/odh-manifests/pull/427

[2021-05-20 11:57] tremes commented on #242
Yes I think we can add @Sergey1011010, @rluders, @natiiix

[2021-05-20 13:24] pacospace commented on #147
Any update on this issue?

[2021-05-20 13:36] tumido commented on #242
@tremes can you please try accessing the namespace at:
https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/openshift-insights

please let me know if there's any issues. :slightly_smiling_face:

[2021-05-20 15:12] #781 closed

[2021-05-20 15:16] hemajv commented on #249
Yes, so it seems like we were being rate limited. I was able to query it without any issues today!

[2021-05-20 16:11] oshritf commented on #239
Modifying os.environ['PYSPARK_SUBMIT_ARGS']  to include desired packages solved it for me

os.environ['PYSPARK_SUBMIT_ARGS'] = \
 '--conf spark.cores.max=2 --conf spark.executor.instances=2 --conf spark.executor.memory=1G --conf spark.executor.cores=1 --conf spark.driver.memory=2G --packages com.amazonaws:aws-java-sdk:1.7.4,org.apache.hadoop:hadoop-aws:2.7.3,io.xskipper:xskipper-core_2.11:1.1.1,co

[2021-05-20 17:33] HumairAK commented on #249
@hemajv okay great, thanks for following up! closing.

[2021-05-20 17:33] #249 closed

[2021-05-20 18:04] HumairAK commented on #241
Okay thanks, I'll set up a kfdef

[2021-05-20 19:02] #783 closed, assigned to nobody

[2021-05-20 20:53] Shreyanand opened #250 "Access loki for Jupyterhub logs"
As a data scientist interested in the logs data collected from Jupyterhub, I would like to get access to get access to http://loki-frontend-opf-observatorium.apps.zero.massopen.cloud/loki/api/v1/, so that I can query it and retrieve logs that I would need for my [analysis](https://github.com/aicoe-aiops/operate-first-openshift-data/blob/master/notebooks/jupyterhub_data.ipynb).

Acceptance
- [ ] Ac

[2021-05-20 20:54] Shreyanand commented on #250
@4n4nd Could you please help with this?

[2021-05-20 21:26] #250 closed

[2021-05-21 10:32] tumido opened #770 "[blocked] Load grafana data source tokens from asecrets"

[2021-05-21 10:57] tumido commented on #239
Thanks for sharing the solution @oshritf ! Glad you've resolved this!

/sig user-experience
/kind documentation

We probably need some documentation around this, so the next person with the same problem doesn't need to invent the wheel again. Reopening because of that.

The docs should live either in here or in ODH. Thoughts?

[2021-05-21 11:11] #786 closed

[2021-05-21 13:48] HumairAK commented on #239
We could add this as part of the runbook so it goes under troubleshooting, wdyt?

[2021-05-21 16:16] HumairAK opened #769 "[INCIDENT][MOC/Zero] - Update to system reserved memory for worker nodes resulting in node reboot."

[2021-05-21 16:38] HumairAK commented on #241
update: I deployed the kfdef but encountered some issues I've posted in the PR linked above: https://github.com/opendatahub-io/odh-manifests/pull/427#issuecomment-845991304

[2021-05-22 10:41] tremes commented on #242
@tumido It seems to work! Thanks a lot.

[2021-05-24 09:42] #242 closed

[2021-05-24 09:49] tumido commented on #176
@fao89 @fridex

Pulp operator is available at cluster scope. It's operated from the `pulp-operator` namespace which is owned by the `pulp` user group:

![image](https://user-images.githubusercontent.com/7453394/119329559-a469c700-bc85-11eb-9183-dcb0a5d52340.png)

Operator is up an running. @fridex can you please try deploying any `Pulp*` CR in any of your namespaces to see if it works?

Also.. a q

[2021-05-24 10:04] fridex commented on #176
Awesome, thanks for the work 👍🏻

I tried to provision Pulp in thoth-test-core namespace. It looks like only postgres was provisioned:

![Screenshot_2021-05-24_11-59-22](https://user-images.githubusercontent.com/880687/119331348-88672500-bc87-11eb-8a4c-202f9b237902.png)

That might be good, but not essential as I do not have pulp expertise. Would it be possible to onboard Pulp team representatives

[2021-05-24 10:15] tumido commented on #176
@mikedep333 and @fao89, you already have access:
https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/pulp-operator

@ipanova wanna be added as well? :slightly_smiling_face:

[2021-05-24 10:22] tumido commented on #176
@fridex here's the operator log for you, it seems to be failing due to quota on that namespace:
[code]

You probably want to request an increase by changing the manifest here:
https://github.com/operate-first/apps/blob/master/cluster-scope/base/core/namespaces/thoth-test-core/resourcequota.yaml

Full operator log attached.

[log.txt](https://github.com/operate-first/support/files/6531561/log.txt)

[2021-05-24 10:31] fridex commented on #176
Thanks @tumido. Long-term, it would be probably better to separate Pulp. Would it be possible to create a separate namespace for pulp experiments so others involved have also access to it? Please do let me know if there is already a procedure for it.

[2021-05-24 11:09] tumido commented on #176
@fridex sure, you can follow this doc here:
https://www.operate-first.cloud/users/support/docs/onboarding_to_cluster.md

You can open an issue in this repo using an onboarding template or DIY via a PR

For PR you can either use our onboarding script in the `apps` repo, as described in the doc linked above, or give a try to our [brand new cli tool](https://github.com/operate-first/opfcli/) if you f

[2021-05-24 13:29] first-operator[bot] opened #251 "Jupyterhub User Servers show 503 error"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1621862179036700?thread_ts=1621862179.036700&cid=C01RMPVUUK1_

[2021-05-24 13:38] 4n4nd commented on #251
We recently performed a cluster configuration upgrade which forced the jupyterhub user server pods to be deleted. But Jupyterhub doesn't seem to know that these user server pods do not exist anymore, which results in users seeing a 503 error when trying to connect to their servers.
![image](https://user-images.githubusercontent.com/22333506/119355714-96ab4600-bc73-11eb-951a-0289726c2665.png)

Befo

[2021-05-24 13:54] #769 closed

[2021-05-24 15:45] 4n4nd commented on #251
Upstream issue: https://issues.redhat.com/browse/RHODS-840

[2021-05-24 15:45] 4n4nd commented on #251
JH pod was restarted which seems to have fixed the issue

[2021-05-24 15:45] #251 closed

[2021-05-24 19:38] larsks opened #768 "Ceph cluster in warning state"

[2021-05-24 21:49] fridex opened #252 "Cluster onboarding for Pulp+Thoth experiments"
## Questionnaire

1. **Project description**:

   PROJECT DESCRIPTION: Experimenting with [Pulp](https://pulpproject.org/), deploying it to operate1st environment and integrating it with [Thoth](https://thoth-station.ninja/).

2. **Target cluster**:

    TARGET CLUSTER: `Zero`

3. **Team name**:

    TEAM NAME: `thoth-pulp-experiments`

4. **Desired project names**:

    PROJECT NAMES: `thoth-pulp

[2021-05-24 21:53] fridex commented on #252
Based on https://github.com/operate-first/support/issues/176#issuecomment-846969421

CC @tumido @ipanova @harshad16 @fao89 @mikedep333 @gerrod3 @dralley

[2021-05-24 21:55] fridex commented on #176
@tumido thanks for the manual - it looks like I would require gpg keys, @harshad16 was open to make this happen so I leave it to pros :) opened https://github.com/operate-first/support/issues/252 to track this

Thanks 👍🏻

[2021-05-24 21:55] 4n4nd commented on #252
@fridex will you be making a PR for this issue or do you want the ops team to do it?

[2021-05-24 21:58] harshad16 commented on #252
I will open the pull requests.

[2021-05-25 16:19] tloubrieu-jpl commented on #241
Hello @HumairAK , @guimou , what would be the estimated time when the spark-operator could be actually available on operate-first cluster ? Thanks

[2021-05-25 17:32] #768 closed

[2021-05-25 17:34] #252 closed

[2021-05-25 17:34] larsks opened #767 "Configure repository permissions for https://github.com/operate-first/curator"

[2021-05-26 09:54] tumido commented on #176
@fridex your namespace should be available now at https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/thoth-pulp-experiments

LMK if it works properly now :slightly_smiling_face:

[2021-05-26 09:58] #767 closed

[2021-05-26 11:29] fridex commented on #176
@tumido awesome, thanks! I was able to access the namespace and deploy pulp (partially). The operator started postgres and redis, but not pulp itself. Might be a resource limitation again? I see just 2 CPUs available in medium. Could you please check this? Thanks! 👍🏻

![Screenshot_2021-05-26_13-26-29](https://user-images.githubusercontent.com/880687/119652335-3f010c00-be26-11eb-8179-fedffa998d1a.p

[2021-05-26 11:49] tumido commented on #176
Yeah, you're hitting quota again. You're creating a Pulp instance with 50Gi storage + redis allocates 1Gi + postgres allocates 8Gi -> 59Gi in total. Your quota is 40Gi now. I'll increase from 40Gi it to 60Gi for you on that namespace and we'll see where that goes. :slightly_smiling_face:

[code]

[2021-05-26 12:40] #800 closed

[2021-05-26 12:49] larsks opened #766 "Enforce use of Noobaa for object storage"
Related to operate-first/support#776, we should enforce that object storage should use the Noobaa storage class. @tumido suggests maybe we can set a 0 quota for the rgw storageclass to prevent new buckets from being created here.

[2021-05-26 12:57] tumido opened #765 "SPIKE - ESI project EPIC scoping"
https://github.com/cci-moc/esi

cc @hpdempsey @durandom @gagansk

[2021-05-26 12:57] tumido opened #1018 "SPIKE - ESI project EPIC scoping"

[2021-05-26 13:03] gagansk opened #764 "GitHub Project Board for Curator"

[2021-05-26 13:04] tumido commented on #248
Maybe let's turn it into an intern project?

[2021-05-26 13:27] tumido opened #763 "Curator/Monitoring - track resource utilization across projects"
Colab with Curator/Koku - create dashboards for per cluster/per project resource consumption

cc @durandom @gagansk

[2021-05-26 13:28] tumido opened #762 "Check on Ceph vs NFS performance"

[2021-05-26 13:29] #795 closed, assigned to nobody

[2021-05-26 16:02] paoloantinori opened #253 "Support a 3scale's Authorino"
**Is your feature request related to a problem? Please describe.**
It would be useful to have a reverse proxy solution to protect endpoints.
3scale has created an interesting new project that is a logical and cloud native evolution of Keycloak Gatekeeper and Keycloak Lokueto. https://github.com/Kuadrant/authorino
Being based on a CRD + Operator pattern should ideally fit well with Operate First in

[2021-05-26 16:05] paoloantinori commented on #253
It could also fit in this larger story: https://github.com/operate-first/support/issues/248

[2021-05-26 16:26] #764 closed

[2021-05-26 16:32] durandom commented on #253
cc @fridex @goern not sure if thoth has similar requirements.

@paoloantinori also deployed https://github.com/3scale-labs/limitador in his namespace, maybe that's interesting too

[2021-05-26 16:47] tumido commented on #176
Ok, now it seems to be complaining due to a different issue:

[code]

Operator is creating `example-pulp-api-svc` service and complains that `nodePort` has invalid value of 24817 (valid range is 30000-32767). Any idea where that comes from?

@fridex is deploying pulp manifest that looks like this:

[code]

any idea what's going on? @fao89 @ipanova

operator log attached:
[log.txt](https://github.c

[2021-05-26 17:10] erikerlandson opened #254 "Update Ray images and RayClusterCRD"
**Describe the solution you'd like**
- Update the Ray images to latest nightly wheels
- Add some packages to the `ml` images to support Dask and XGBoost

**Additional context**
I will be filing a pull request against the zero cluster to make these updates.

[2021-05-26 17:17] tumido commented on #253
The deployment docs are not that precise.

https://github.com/Kuadrant/authorino/blob/master/docs/deploy.md#option-b-custom-deployment
They mean to deploy the project against a live cluster directly via `make deploy` - whoever attempts to implement this issue be aware and don't run the command unless you know which cluster your `kubectl` is pointing at.

We may want to prefer their OpenShift demo

[2021-05-26 17:24] fao89 commented on #176
@tumido I'm not familiar with OCP, but we expand the nodeport range on minikube
https://github.com/pulp/pulp-operator/blob/main/.github/workflows/ci.yml#L37

[2021-05-26 17:26] paoloantinori commented on #253
we can try asking directly @guicassolato if you need any detail!

[2021-05-26 17:35] tumido commented on #176
Oh, sorry to hear that, I don't have a good news for you than. :disappointed:

In OCP this is more complicated. You need to ensure the port range is available and allowed in any underlying OCP provider (AWS, GCP, bare metal) and not blocked by any firewall on the infra level and above. Then you can [go and change the range](https://docs.openshift.com/container-platform/4.7/networking/configuring-n

[2021-05-26 17:37] tumido commented on #176
I've noticed this `if` statement. Is there a way to workaround this and make it so it doesn't bind to a node port? (or am I missing something there..)

https://github.com/pulp/pulp-operator/blob/221c7652118d6c1c6dcda785fe5d651f14e0b101/roles/pulp-api/templates/pulp-api.service.yaml.j2#L25

[2021-05-26 21:15] fao89 commented on #176
@mikedep333 @dkliban @mdellweg ^

I think we can do it, wdyt @chambridge ?

[2021-05-27 08:06] guicassolato commented on #253
Absolutely, @paoloantinori and @tumido! I'll be glad to help.
In fact, it will also be an opportunity to improve our docs.

[2021-05-27 09:32] tumido commented on #253
Awesome! :slightly_smiling_face: I'm sorry, my comment may have came across a bit rude, I didn't mean to - I just took a quick glimpse at your docs to assess the task before we plan on deploying it and just quickly wrote down my findings in here as a sort of "note to self" type of comment. :slightly_smiling_face:

Oh, and we'd be definitely interested in helping you with that! :slightly_smiling_fa

[2021-05-27 10:05] tumido commented on #176
@fao89 here's the ticket https://pulp.plan.io/issues/8833

(In the end I had to create the Plan account I was refusing to last time, lol.. :smile: )

Btw. I've also noticed one more issue caused by the nodePort usage in this service (also described in the issue) - even if we bind a node port from the allowed range, it will still make Pulp API service basically a singleton for the cluster. NodePort

[2021-05-27 10:35] guicassolato commented on #253
No offense taken, @tumido. No worries 🙂

Our docs are indeed in a weird state right now, where most of our examples were thought and tested in a deployment based on a local cluster spawned with kind, and then we have that [Option B: Custom deployment](https://github.com/Kuadrant/authorino/blob/master/docs/deploy.md#option-b-custom-deployment) that you mentioned, which basically translates to "Hey,

[2021-05-27 14:49] chambridge commented on #176
If you are deploying on OpenShift I'd suggest using
[code]
There was a recent PR that went in to fix the nodeport templating so its only used when that ingress_type is specified:
https://github.com/pulp/pulp-operator/pull/146

I think we could leverage https://pulp.plan.io/issues/8833 to make the "default" values in a more friendly range and updated the CRD so it could be configurable (so multiple

[2021-05-27 15:51] tumido opened #761 "Blackbox exporter probe sync issue"

[2021-05-27 17:50] mbestavros opened #255 "`oc get all` throws "Forbidden" errors in the sigstore-deploy project"
**Describe the bug**
In experimenting around with the `sigstore-deploy` project, me and a few others tried running `oc get all` and got what appears to be permissions errors:

[code]

@larsks suggested I open this issue to investigate whether this is something that should be fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a shell as admin of the `sigstore-deploy` project
2. Run `

[2021-05-27 19:38] 4n4nd commented on #254
@erikerlandson can this be closed now?

[2021-05-27 20:12] erikerlandson commented on #254
yes, I'll close it, thanks!

[2021-05-27 20:12] #254 closed

[2021-05-27 22:03] fao89 commented on #176
@tumido with @chambridge help I was able to successfully deploy pulp, I tried to document it here:
https://github.com/pulp/pulp-operator/pull/149

[2021-05-31 11:56] rimolive commented on #239
@tumido Why not both? After all, this is an important info to all the community

[2021-05-31 12:27] goern commented on #255
/kind question

[2021-05-31 13:00] vpavlin commented on #239
Sorry for later response... Glad you found a solution!

[2021-05-31 14:25] HumairAK opened #256 "[TASK] Explicitly document where to add JH imagstreams"
We kind of mention it here: https://www.operate-first.cloud/users/data-science-workflows/docs/create_and_deploy_jh_image.md#adding-the-image-where-you-need-it

But this is linking to an oudated PR.  The structure has changed since then. We should also just describe it in words rather than link to a pr.

[2021-05-31 18:58] HumairAK opened #257 "Onboard OSC group"
## Questionnaire

1. **Project description**:

   PROJECT DESCRIPTION: `A namespace playground to deploy demos for OS-Climate initiative. `

2. **Target cluster**:

    TARGET CLUSTER: `zero`

3. **Team name**:

    TEAM NAME: `osc`

4. **Desired project names**:

    PROJECT NAMES: `osc-playground`

5. **Users needing access**:

    LIST OF USERS: `omitted`

6. ** Namespace Quota **

    QUOTA: `

[2021-06-01 12:40] #257 closed

[2021-06-01 17:34] first-operator[bot] opened #258 "Jupyterhub Notebook publish feature gives 503 error"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1622563295078200?thread_ts=1622563295.078200&cid=C01RMPVUUK1_

[2021-06-02 17:24] 4n4nd commented on #258
Upstream ODH Jupyterhub is moving from the classic interface to the new Jupyter Lab interface which removes the "publish" feature. So this issue might not really be worked on.

[2021-06-03 05:57] vpavlin commented on #258
@4n4nd exactly. We have not touched the publish extension for a long time since there was a plan to move to JupyterLab where it wouldn't work anyway.

We'll probably come up with another solution for that over time.

The publish extension as well as nbviewer sidecar will be removed soon

[2021-06-03 11:23] tumido commented on #239
@rimolive
I don't think we should intentionally create duplicate documentation (things tend to get outdated and diverge). Either we create docs for it in ODH and make OPF link to it, or we decide that this is "environment specific" and create docs in OPF. :slightly_smiling_face:

I'd favor the first option - extend the ODH docs with this and link to that from our runbooks.

[2021-06-03 12:20] fridex commented on #176
I've just tried to provision pulp in `thoth-pulp-experiments` namespace, it looks like the issue reported above still persists (only postgres and redis are up). I see the referenced PR is merged, is there anything else blocking us from provisioning the instance? Thanks 👍🏻

[2021-06-03 12:46] larsks commented on #255
@mbestavros I have some questions about this issue. Is this just an informational question, or are these errors preventing you from doing something? In what context are you running `oc get all`? Generally that command is only mildly useful, since it doesn't actually list *all* resources.

It looks like most of the errors are from kubevirt-related resources, so we're going to try to follow up with

[2021-06-03 12:48] tumido opened #760 "[MOC Zero] Upgrade to 4.7.13"
Tracking issue for OCP upgrade

[2021-06-03 13:32] tumido commented on #176
@fridex
I had to update the custom catalog with Pulp operator to get the update propagated to the cluster. The operator progressed and updated.

I think a better sollution in long run is to switch to the upstream catalog @fao89 mentioned in his docs. Once https://github.com/operate-first/apps/pull/703 merges we can reinstall the operator and you can try it again. And if Pulp team updates their cat

[2021-06-03 13:35] tumido commented on #176
@fridex I'll also add you to the pulp-operator namespace, so you can observe the operator logs for yourself as well. :slightly_smiling_face:

[2021-06-03 14:26] pacospace opened #259 "Deploy Seldon Operator"
### Requested actions

#### Operator request

If you want to request an operator, please provide the following:

1. **Name of the Operator**: Seldon Operator (from ODH)

2. **Operator version**:

3. **Operator scope**:
   All Namespaces

4. **Documentation and links**:
     operator part of ODH

#### Resource request

Please list all the resources you want to have deployed. Please list only the re

[2021-06-03 15:07] tumido commented on #176
@fridex we've now switched to the "official" catalog image via https://github.com/operate-first/apps/pull/703

I've reinstalled the operator on the cluster, so now it should be up to date.

You also have access to [`pulp-operator`](https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/pulp-operator/pods) namespace now.

[2021-06-03 15:24] tumido opened #260 "ODH operator fails to patch PVCs probably due to changes storage class"
**Describe the bug**
Seems like we have a mismatch between PVCs in cluster and manifests deployed via ODH operator:

[code]

It makes ODH operator stuck on a single KfDef and doesn't progress to a next one.

[2021-06-03 15:40] 4n4nd commented on #260
I think a temp fix would be removing the patch that specifies the storageclass

[2021-06-03 16:11] HumairAK commented on #260
Okay so I'm proposing for now we revert back to ceph in the kfdef (the one on live is ceph anyway). Fix the reconcile errors.

Then we need to consider how to migrate to a new db using nfs backend.
I think we can just delete the current db. See [here](https://jupyterhub.readthedocs.io/en/stable/admin/upgrading.html#what-happens-if-i-delete-my-database) for what happens when you delete the db.

My

[2021-06-03 16:15] 4n4nd commented on #258
We can close this then
Thanks @vpavlin!

[2021-06-03 16:15] #258 closed

[2021-06-03 18:18] HumairAK commented on #241
@tloubrieu-jpl we have @guimou 's implementation for odh deployed, are you able to test it out?

You may need to add additional rbac and a serviceaccount, see @guimou 's notes in his branch [here](https://github.com/guimou/odh-manifests/tree/spark-operator/google-spark-operator). If you face permission errors, please post them here and one of us or @guimou will try to help in resolving them.

[2021-06-03 18:19] fridex commented on #176
Thanks 👍🏻

I tried to provision pulp once again, but still no success:

From the operator logs I can see:
[code]

[2021-06-03 18:32] HumairAK commented on #241
@guimou I'm not up to date with the plans for this operator, I see that now it's slated to go to kubeflow first. It would be most appreciated if you could keep this thread in your mind, and update us if there's a better path forward for us to implement your solution, as you work on this.

[2021-06-03 20:59] dystewart opened #261 "OF Access Request"
## Questionnaire

1. **Project description**:

   PROJECT DESCRIPTION: Investigate and gain familiarity with the infrastructure.

2. **Target cluster**:

    TARGET CLUSTER: Zero

3. **Team name**:

    TEAM NAME: redhat-cto-team

4. **Desired project names**:

    PROJECT NAMES: redhat-cto-ns

5. **Users needing access**:

    LIST OF USERS: Dylan Stewart, Tyler Sheehan, Sean Waite, Heidi Dempsey

[2021-06-03 21:10] guimou commented on #241
It's a little bit more complicated. I'll try to submit a PR in Kubeflow to have them update the Spark operator that already exists but is based on an old version. If it's accepted quickly perfect. If this is rejected for whatever reason or takes too long we'll advise.
Meanwhile, people can still use my "instructions" on https://github.com/guimou/spark-on-openshift, or use the manifest from this br

[2021-06-03 21:28] 4n4nd commented on #241
Cool, https://github.com/guimou/odh-manifests/tree/spark-operator is the branch that we have deployed. Once it is accepted upstream kubeflow, we can point the kfdef to upstream kubeflow. All we need someone to do is test our deployment.

[2021-06-04 10:40] ipanova commented on #176
is not this related to this issue https://pulp.plan.io/issues/8833?
@chambridge @mikedep333  can you please keep an eye on this thread while @fao89 is on PTO? What needs to be done to progress with 8833?

[2021-06-04 12:53] chambridge commented on #176
I'm happy to help jump on and debug if you want to give me access. I'm interested in the CR being used for the deploy as well as the logs. I wouldn't think you would be deploying where nodeport would be in use so I'm a bit confused how you're hitting the issue. 8833 could worked for this but really shouldn't be necessary for an OpenShift deployment.

[2021-06-04 17:59] 4n4nd commented on #259
The operator was deployed, there were some issues with it which are documented in [this thread](https://operatefirst.slack.com/archives/C01RT0S2WKX/p1622814297181800). It is still not the latest version.

The current version is v1.2.2 and the latest is v1.7.0. This should be updated once odh releases a newer version that includes [this PR](https://github.com/opendatahub-io/odh-manifests/pull/397/f

[2021-06-07 08:43] pacospace commented on #174
Any update on this issue?

[2021-06-07 13:53] #895 closed

[2021-06-07 15:10] larsks opened #759 "Post alert when certificate is about to expire"
It would be nice to get an alert when the api server certificate is about to expire. We need to either determine if there is an existing metric we can use, or if not, how to expose a new metric to openshfit prometheus, and then ensure there is an appropriate alert configuration for it.

[2021-06-07 17:06] tloubrieu-jpl commented on #241
@HumairAK, @guimou , thanks for the deployment on operate-first. I will test it this week.

[2021-06-08 15:57] first-operator[bot] opened #262 "Jupyterhub url gives error 400 for certain new users"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1623165797106400?thread_ts=1623165797.106400&cid=C01RMPVUUK1_

[2021-06-08 17:26] HumairAK commented on #262
Also attaching image provided by user:
![image](https://user-images.githubusercontent.com/10904967/121230334-1ed94000-c85d-11eb-978e-396bc0a7b4ba.png)

[2021-06-08 17:52] #804 closed

[2021-06-08 18:02] chambridge commented on #176
Can some one send me login information? I assume the above granted me login and RBAC privileges.

[2021-06-08 18:06] 4n4nd commented on #176
@chambridge you shooould be able to use your @redhat.com account to log in

[2021-06-08 18:56] #261 closed

[2021-06-08 19:28] HumairAK commented on #261
Hello, I onboarded the users as outlined above, with the namespace created. I used each users' respective redhat gmail account as the login creds. Let me know if I should instead use a different email for any particular user.

Let us know if there are any issues accessing the namespace! https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/redhat-cto-ns

[2021-06-08 19:32] #262 closed

[2021-06-09 11:37] tumido opened #758 "MOC SSO down"

[2021-06-09 11:50] tumido commented on #176
@chambridge Use https://console-openshift-console.apps.zero.massopen.cloud/ and select MOC SSO - then use your RH account via Google auth provider.

[2021-06-09 12:29] rvansa opened #263 "Horreum: public facing performance results repository"
## Questionnaire

1. **Project description**:

   PROJECT DESCRIPTION: [Horreum](https://github.com/Hyperfoil/Horreum/) is a performance results repository. We'd like to have a public-facing instance that can mirror selected results from a regular regressions tests so that community can consume these. In the first phase we're interested in presenting results for Quarkus.

The project is a Quarkus

[2021-06-09 12:57] #819 closed

[2021-06-09 13:06] #766 closed, assigned to larsks

[2021-06-09 14:09] chambridge commented on #176
The postgres & redis pods are currently stuck in pending waiting for PVCs to get created. Is anyone able to help with that?

![image](https://user-images.githubusercontent.com/29379759/121370414-b6e13300-c90a-11eb-9d22-b49795f184bd.png)

![image](https://user-images.githubusercontent.com/29379759/121370521-cb253000-c90a-11eb-8f91-20f568eced71.png)

[2021-06-09 14:19] 4n4nd commented on #176
@chambridge looks like the current default storageclass isn't working for some reason, as a workaround could you please try using `ocs-storagecluster-cephfs` storageclass for now?

[2021-06-09 14:22] 4n4nd opened #264 "`moc-nfs-csi` storageclass PVCs are stuck in a pending state"
**Describe the bug**
Any newly created PVCs with storageclass `moc-nfs-csi` are stuck in a pending state, which is the default storageclass.

**To Reproduce**
Steps to reproduce the behavior:
1. Create PVC with `moc-nfs-csi` storageclass

**Expected behaviour**
The PVC should be provisioned

**Screenshots**
![Screenshot from 2021-06-09 10-22-12](https://user-images.githubusercontent.com/22333506/1

[2021-06-09 14:25] tumido opened #757 "[INCIDENT][MOC/Zero] - NFS cluster unreachable"
`democratic-csi-controller` is in crash loop due to:
[code]

[code]

[2021-06-09 14:25] tumido opened #1017 "[INCIDENT][MOC/Zero] - NFS cluster unreachable"

[2021-06-09 14:26] 4n4nd commented on #264
Related https://github.com/operate-first/SRE/issues/333

[2021-06-09 14:31] tumido opened #756 "Share access to/make NFS cluster part of Operate First"

[2021-06-09 14:58] chambridge commented on #176
Unfortunately, while postgres had a [custom resource field ](https://github.com/pulp/pulp-operator/blob/main/deploy/olm-catalog/pulp-operator/manifests/pulp.pulpproject.org_pulps_crd.yml#L105-L107)for this redis did not. I have the following [PR](https://github.com/pulp/pulp-operator/pull/154) out to add this capability into the operator.

[2021-06-09 15:15] 4n4nd commented on #264
This should seems to be resolved since PVCs are being provisioned now.

[2021-06-09 15:15] #264 closed

[2021-06-09 15:16] 4n4nd commented on #176
@chambridge the issue with the storageclass should be resolved and your PVCs should be provisioned.

[2021-06-09 15:37] tumido opened #265 "Curator to Zero cluster"
## Questionnaire

1. **Project description**:

   PROJECT DESCRIPTION: Curator

2. **Target cluster**:

    TARGET CLUSTER: Zero

3. **Team name**:

    TEAM NAME: curator

4. **Desired project names**:

    PROJECT NAMES: ???

5. **Users needing access**:

    LIST OF USERS: @gagansk @skanthed

6. ** Namespace Quota **

    QUOTA: ???

7. **GPG Key** (OPTIONAL)

    GPG KEY FINGERPRINT:
    KEYSE

[2021-06-09 15:40] tumido commented on #265
@gagansk @skanthed

we'll provision Koku operator to `koku-metrics-operator` namespace and grant you access to it.

If you need to deploy any additional workloads on zero you'd need another namespace (`koku-metrics-operator` should host the operator only, if possible). Do you want an additional namespace? How should we name it?

[2021-06-09 15:45] tumido commented on #176
Pulp is hitting the quota again (this is expected, since we're not familiar with the requirements). After a chat with @chambridge we decided to bump the namespace quota to 8 CPUs for now and see where that leads us.

[2021-06-09 16:32] gastaldi commented on #263
I believe QUOTA needs to be `large` in this case

[2021-06-09 17:46] tloubrieu-jpl commented on #241
@HumairAK @guimou , I have updated my deployment and tried to deploy it on operate-first, namespace sdap. But I am having an issue that I don't understand:

`% helm install sdap ./helm/  -f values-moc.yaml  -n sdap --dependency-update
Error: rendered manifests contain a resource that already exists. Unable to continue with install: could not get information about the resource: sparkapplications.sp

[2021-06-09 18:08] moficodes commented on #174
sorry for the delay in reply. My github notification is all sorts of busted.

Havent had any direct communication with ODH in a few weeks. Trying to set more of a recurrent event.

@pvaneck on our side has been doing some debugging kfserving on openshift. Will see where he is at right now.

[2021-06-09 19:10] gastaldi commented on #263
@HumairAK fantastic! Thank you so much!

[2021-06-09 19:44] chambridge commented on #176
Pulp is up and running in the `thoth-pulp-experiments` namespace. I'm not sure if the problem from before was the NFS PVC problem or more likely the quota issue that you were hitting. Not knowing your base storage class was NFS and should support ReadWriteMany, I had went a head and used a Ceph ObjectBucket for storage and configured the S3 storage capability.

The CR for deployment looks like the

[2021-06-09 20:05] guimou commented on #241
@tloubrieu-jpl I don't see anything special in you files. Maybe more tied to your own rights in the cluster.
Have you tried just to create a basic standalone dummy Sparkapplication?

[2021-06-09 20:21] fridex commented on #176
@chambridge thanks! 👍🏻

[2021-06-09 20:40] tloubrieu-jpl commented on #241
Thanks @guimou
I tried to simplify my templates to only have the sparkapplication and the role, rolebinding and serviceaccount you required but that does not change the error message.

I noticed that the sparkapplication templates has a sparkVersion property equal 2.4.4 (see https://github.com/tloubrieu-jpl/incubator-sdap-nexus/blob/moc_deployment/helm/templates/webapp.yml). Would that work ?

Als

[2021-06-10 07:01] rvansa commented on #263
Thanks @HumairAK  and @gastaldi !

[2021-06-10 07:48] rvansa commented on #263
Hi @HumairAK, may I ask you how should I proceed with installing the operator that will manage Horreum? There doesn't seem to be any namespace-scoped `operatorgroup` I could use and I don't have a privilege to create one. The console does not allow installing operators at all, I've created a subscription and the install plan gets created (and auto-approved) but then it's stuck installing (probably

[2021-06-10 11:40] durandom opened #755 "Evaluate OpenSLO"

[2021-06-10 13:10] skanthed commented on #265
For questions above -

5. You can add one more user @matankb to the list.

6.  If we can operator storage from 50Gi-100Gi. It would be great. All the reports will be saved in operator storage. If the number of reports reaches the limit and it doesn't find enough space to save all the reports. It will stop generating reports and then we need to delete it manually.

As of now, if we can get an addit

[2021-06-10 13:27] HumairAK commented on #263
@rvansa  -- yes, project-admins are not allowed to deploy operators directly. This also goes for other cluster-scoped resources, and certain namespace scoped resources (like `operatorgroups`).

We store such resources like `operatorgroups` and `subscriptions` in git, and these are automatically deployed once merged via argocd. So you can submit a PR adding these resources to the zero cluster if yo

[2021-06-10 15:13] pacospace commented on #211
@tumido @HumairAK cc

[2021-06-10 15:15] HumairAK opened #754 "OpenShift Infra Cluster upgrade, Monday, June 14th."
Hello Operate First users,

This announcement concerns users of ArgoCD at https://argocd.operate-first.cloud.

We are planning on an upgrade to the Infra Cluster, to 4.6.31, on Monday, June 14th.

We plan to start around 11:00 AM EST and estimate the upgrade to take approximately 2 hours.

Relevant links:
- https://github.com/operate-first/apps/pull/730

[2021-06-10 16:59] tloubrieu-jpl opened #266 "Deployment of rabbitmq on operate first"
**Is your feature request related to a problem? Please describe.**
I am trying to deploy this application: https://github.com/tloubrieu-jpl/incubator-sdap-nexus/tree/moc_deployment
With command:
    helm install sdap ./helm/  -f values-moc.yaml  -n sdap --dependency-update

The application has a dependency with rabbitmq chart and it fails with error message:
[code]

**Describe the solution you'd l

[2021-06-10 20:26] HumairAK commented on #211
@pacospace as far as I know, we're waiting for the new ODH release which will include a lot of upgrades to superset, plus a Trino backend. The release was expected last week when we asked ODH team, but it seems to have been delayed. I'd imagine it shouldn't be more than a week or so. Once it's in, we can hopefully get @rimolive 's help and bring this in to operate first in a functioning order. I'l

[2021-06-10 21:04] pacospace commented on #211
@HumairAK thanks a lot 🍻!!

[2021-06-11 12:59] pacospace opened #267 "Request SA for periodic access to Thanos metrics"
**Is your feature request related to a problem? Please describe.**
Thoth team has a cronjob that provides periodic reports analyzing data from metrics. We would like to start using Thanos metrics instead of Prometheus, to have overview over longer periods.

**Describe the solution you'd like**
Having a SA for periodic access to Thanos metrics.

**Describe alternatives you've considered**

**Additi

[2021-06-11 14:13] HumairAK commented on #266
@tloubrieu-jpl -- We can get you these permissions, I'll make a pr sometime today for this.

[2021-06-11 14:37] tloubrieu-jpl commented on #266
Thanks @HumairAK

[2021-06-11 14:50] HumairAK commented on #265
@skanthed added requested additions from above in https://github.com/operate-first/apps/pull/739

As for the storage requests, currently the operator namespace that @tumido added has no restrictions on storage (or cpu/memory) for that matter. Though we should probably add one in the future, for now we can monitor it's consumption and suggest a reasonable quota later on.

[2021-06-11 14:51] #267 closed

[2021-06-11 16:08] tellison opened #268 "Provide access to Eclipse Adoptium open source project"
## Questionnaire

1. **Project description**:

Eclipse Adoptium builds, tests, and distributes Java runtimes. Adoptium is the new name for the AdoptOpenJDK project, an established project with multiple enterprise participants contributing, and many millions of users.

The project runs an API (api.adoptopenjdk.net) that serves metadata and binaries to end users, and powers our own website. The API

[2021-06-11 16:39] HumairAK commented on #265
@skanthed the pr was merged and should be live, can you verify the changes? and if there's anything else that will be needed?

[2021-06-14 17:56] #754 closed

[2021-06-14 18:22] tumido opened #271 "Why is create on `events` not part of `admin` cluster role?"
**Description**
We've been receiving requests like the one linked below to grant people access to creating events in their namespace - usually they want to deploy some controller that generates events within their namespace. Default `admin` cluster role has no write access to events, it allows read only. Investigate why is that the case for a namespace scoped resource like events.

**Additional co

[2021-06-14 18:23] tumido commented on #271
/kind question

[2021-06-14 18:33] tumido commented on #271
Source:

https://github.com/kubernetes/kubernetes/commit/d56a27f130efe3b841cf2358c7ccbd2c03d932c8#diff-a999c6ded849744b19ac60e4df000eaacc8633d9f17c70237895fcc9467b6656R78

Reached out to author of https://github.com/kubernetes/kubernetes/pull/34729 to get to the bottom of this and to understand if there are any security concerns associated with this.

[2021-06-14 18:46] tumido commented on #237
Hey @gastaldi! There's been finally a fix found and applied to https://github.com/CCI-MOC/ops-issues/issues/224

That changed some shady networking stuff in underlying MOC network and it seems to have fixed this issue as well. The operator seems to be operational now! :slightly_smiling_face:

[2021-06-14 18:47] #266 closed

[2021-06-14 19:02] HumairAK commented on #241
@tloubrieu-jpl you should now have the ability to list/read/create sparkapplications

[2021-06-14 19:03] HumairAK commented on #266
@tloubrieu-jpl you should now be able to create events, this means you can create role/rolebindings with these privileges and provide them to this Serviceaccount

[2021-06-14 19:37] tumido opened #753 "Ilana's departure invalidated pull-secrets"

[2021-06-14 19:55] DanNiESh opened #272 "request to get access of a zero cluster"
## Questionnaire

1. **Project description**:

   PROJECT DESCRIPTION: Our project permits multiple tenants to flexibly allocate baremetal machines from a pool of available hardware, create networks, attach baremetal nodes and networks, and to optionally provision an operating system on those systems through the use of an associated provisioning service.

2. **Target cluster**:

    TARGET CLUSTER

[2021-06-14 21:19] tumido commented on #271
As per discussion here: https://kubernetes.slack.com/archives/C0EN96KUY/p1623697369081700

There seems to be no reason for it to be restricted by default. Upstream fix pending: https://github.com/kubernetes/kubernetes/pull/102858

[2021-06-14 22:17] 4n4nd commented on #272
@DanNiESh could you please tell me what specific resources you would need access to? If you need a namespace, what should the namespace name be?

[2021-06-15 08:51] goern commented on #173
@tumido Can this be closed, as the upstream issue is closed?

[2021-06-15 08:55] tumido commented on #173
I have no idea.. @harshad16 said yesterday he'll check on this. When he says it works properly than it really works and we can close it :slightly_smiling_face:

https://github.com/CCI-MOC/ops-issues/issues/224#issuecomment-860812054

[2021-06-15 12:35] #753 closed

[2021-06-15 12:50] tumido opened #752 "[Incident][MOC][Infra/Zero/Curator] Nodes rebooting due to config change"
We've recently had to apply a node config change to push a new pull secret. This causes nodes to reboot to apply the change. Change is rolling out now.

A sideeffect of the old pull request was that operator hub and ACM was down on the infra cluster.

[2021-06-15 13:43] tumido opened #751 "[Incident][MOC Infra] metal-api is failing"

[2021-06-15 16:13] tumido commented on #272
Hey @DanNiESh we currently manage shared OpenShift instances only. We can provide you with a namespace or more namespaces, but we can't allocate bare metal to you. Maybe Open Infra Labs project can help us with that. :slightly_smiling_face:

cc @billburnseh @larsks @durandom

[2021-06-15 16:14] tumido commented on #271
Upstream PR merged. Write access to events will be part of future kubernetes releases :slightly_smiling_face: :tada:

[2021-06-15 16:52] DanNiESh commented on #272
Hi @tumido, does a project without resources show up anywhere as existing? If so, just a namespace is fine for now.

[2021-06-15 17:02] tloubrieu-jpl commented on #241
Hi @guimou , @HumairAK

I restested the deployment of our appliction using the spark operator.

I've added the role.yaml and the other requested files on https://github.com/guimou/odh-manifests/tree/spark-operator/google-spark-operator

But this gives an error:
Error: roles.rbac.authorization.k8s.io "sdap-spark-role" is forbidden: user "loubrieu@jpl.caltech.edu" (groups=["sdap-mslsp" "system:authe

[2021-06-15 17:27] 4n4nd commented on #272
We could create a namespace/project in the zero cluster with a [x-small resource quota](https://github.com/operate-first/apps/blob/master/cluster-scope/components/resourcequotas/x-small/resourcequotas.yaml). What do you want the namespace name to be?

[2021-06-15 17:42] DanNiESh commented on #272
I want the namespace to be esi-operate-first-project. Actually, we just want a namespace without resources for now. Does a namespace without any resources show as existing in Cluster Zero?  Thanks!

[2021-06-15 17:47] 4n4nd commented on #272
This would just be a limit set to the resources. You can choose to not use any of it.
We can also try to change the resources to `0` using a custom resource quota later.

[2021-06-15 17:51] DanNiESh commented on #272
That's fine!

[2021-06-15 19:52] larsks opened #750 "Zero cluster missing ACM subscription resource"

[2021-06-16 09:38] #760 closed, assigned to nobody

[2021-06-16 12:19] tumido opened #749 "[INCIDENT][MOC Zero] cluster unattached from from ArgoCD"

[2021-06-16 16:46] tloubrieu-jpl commented on #241
Hi @HumairAK @guimou , I've seen that the role we use for spark is the one proposed in the spark documentation (see https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/quick-start-guide.md#about-the-service-account-for-driver-pods and https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/manifest/spark-rbac.yaml) so it is unlikely that we can reduce the

[2021-06-16 16:57] HumairAK commented on #241
@tloubrieu-jpl that's strange, you should be able to deploy this role, what namespace are you deploying this in?

[2021-06-16 17:02] tloubrieu-jpl commented on #241
It is in 'sdap'.

So I replaced the verbs with explicit list of authorizations in https://github.com/tloubrieu-jpl/incubator-sdap-nexus/blob/moc_deployment/helm/templates/role.yaml

(instead of wildcard)

And the chart deployment worked without complaint this time. I still need to look at what is actually starting.

[2021-06-16 17:03] #271 closed

[2021-06-16 17:52] #749 closed

[2021-06-16 18:25] harshad16 commented on #173
Thanks @tumido , i tested it.
The issue is fixed :heart:
closing the issue

[2021-06-16 18:25] #173 closed

[2021-06-16 21:56] tloubrieu-jpl commented on #266
Thanks @HumairAK , I am now bumping into another issue with the rabbitmq deployment.

`create Pod rabbitmq-0 in StatefulSet rabbitmq failed error: pods "rabbitmq-0" is forbidden: unable to validate against any security context constraint: [provider restricted: .spec.securityContext.fsGroup: Invalid value: []int64{1000130001}: 1000130001 is not an allowed group]`

I am trying to override the defaul

[2021-06-17 10:18] tumido commented on #266
I've replied in Slack. I've verified it's possible to deploy the helm chart by changing values:

#### Before
[code]
#### After
[code]

Full installation flow:
[code]
![image](https://user-images.githubusercontent.com/7453394/122378264-1a500e00-cf66-11eb-9785-426acbfa5140.png)

[2021-06-17 10:22] #752 closed

[2021-06-17 10:24] #750 closed

[2021-06-17 13:34] tumido opened #748 "Would you like to participate in our SRE on-call duty?"
Hey team!

I'd like to expand the on-call duty to more folks. While the current rotation that includes me, @4n4nd and @HumairAK works fine, it proved itself to be quite disruptive and time consuming for the 3 of us to be on constant rotation, holding us back from other duties.

On-call duty in operate first context means:
- Handle outside communication in Slack in case of outages and planned upgra

[2021-06-17 17:37] cdolfi opened #274 "Augur instance set up for sandiego"
**Describe the solution you'd like**
The OSPO team (@jberkus and @jasonbrooks) is working on setting up an Augur instance to be accessed for Project Sandeigo on the operate first environment. The postgres DB will need to be able to handle 500+ GB of data. @oindrillac mentioned that @hemajv may have some insight on this process. I would like to set up communication between the two parties to help w

[2021-06-18 14:49] guimou opened #275 "JumpStart Library"
## Questionnaire

1. **Project description**:

   The Jumpstart Library is an initiative from the Red Hat Data Services business unit to provide data engineers and data scientists with a set of repeatable patterns that they can implement in their data pipelines.
   Through different real-life "plausible" scenarios we are illustrating different data pipelines. For each of those scenario we provide:

[2021-06-18 15:15] #751 closed

[2021-06-18 15:22] 4n4nd commented on #275
@guimou we can give you a custom quota for the resources if you could just tell us how much cpu and memory you would need.

[2021-06-18 15:50] 4n4nd commented on #274
/assign @durandom @goern

[2021-06-18 15:54] hemajv commented on #274
@cdolfi We can definitely look into setting it up on operate first as this would also be beneficial for us (for fetching github related data for our team), however @HumairAK @4n4nd may have to look into the amount of resources required by the Augur deployment and if the cluster can accommodate it for Augur
cc @goern @durandom

[2021-06-18 17:08] HumairAK opened #747 "CPU Resources being capped for Zero cluster"
From the cluster compute resources dashboard:

![image](https://user-images.githubusercontent.com/10904967/122594933-b4cb5280-d035-11eb-85c6-8e7ef32b85cd.png)

It seems to me we are basically reaching the cap of how much CPU requests we can make against the cluster. We have taken steps to reduce this number by adding quotas, and adding a JH culler. There is probably more we can be doing, like [her

[2021-06-21 00:50] gastaldi commented on #237
@tumido I can confirm this is working now. It is working in the https://registry.quarkus.io route. Closing this issue now. Thank you!

[2021-06-21 00:50] #237 closed

[2021-06-21 14:13] 4n4nd opened #276 "Jupyterhub Spawner UI has some blank images in the image list"
**Describe the bug**
There are 3 images in the image selection UI which do not have a name

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud/hub/spawn

**Expected behaviour**
All images have a name/description

**Screenshots**
![Screenshot from 2021-06-21 10-04-11](https://user-images.githubusercontent.com/22333506/122776404-13cc

[2021-06-21 14:16] tumido commented on #276
Maps to following ImageStreams:
- s2i-spark-scipy-notebook:3.6
- s2i-spark-minimal-notebook:py36-spark2.4.5-hadoop2.7.3
- s2i-pytorch-py38-notebook:latest

[2021-06-21 14:22] 4n4nd commented on #276
The manifests for these images are in the [upstream odh repo](https://github.com/opendatahub-io/odh-manifests/tree/master/jupyterhub/notebook-images/overlays/additional), seems like they are missing the `opendatahub.io/notebook-image-name` annotation.

[2021-06-21 14:38] 4n4nd commented on #276
Upstream issue: https://issues.redhat.com/browse/RHODS-1014

[2021-06-21 15:08] durandom commented on #274
sure, please create the instance here.
Is there a containerized version of this?

[2021-06-21 15:36] guimou commented on #275
Hi!
Sorry, it took some time to gather the right data and see where we could shrink the ressources. I will put for each environments all the requests and limits that the pods are runnng with, along with what is really consumed. Because a DB pod for example may have a request for 256MB RAM, a limit at 1GB, but in real will consume 300MB for the specific workload we are running. Same for CPU.

### F

[2021-06-21 15:54] jasonbrooks commented on #274
We've been running it from a VM, but we could get it running on openshift. How can I get access to the cluster?

[2021-06-21 15:57] 4n4nd commented on #274
@jasonbrooks could you please create an onboarding issue ([here](https://github.com/operate-first/support/issues/new?assignees=&labels=onboarding&template=onboarding_to_cluster.md&title=)) and specify the namespace name and resources that would be required for this.

[2021-06-21 19:58] durandom opened #277 "OCP on CNV on OCP (nested clusters)"
**Is your feature request related to a problem? Please describe.**
To support ephemeral clusters, we'd like to explore deploying OCP clusters on CNV
Ultimately having a cluster bot

**Describe the solution you'd like**
* pin down the minimal requirements
* is either Hetzner or the zero cluster capable of running this
* how can we declaratively describe and install a cluster
* would ACM be able to

[2021-06-22 07:04] rbo commented on #277
With OpenShift 4.7 kubevirt/cnv is available as Dev Preview
[code]

I assume three node compact cluster is the smallest cluster we can deploy. 3x 16GB RAM + 4 vCPU's

I will check Hetzner cluster after final installation/sizing.

@fabiand do you know if Hive supports kubevirt/cnv?

[2021-06-22 07:17] goern commented on #277
@arminmw FYI

[2021-06-22 08:06] fabiand commented on #277
@rbo there is partial support in OCP - it will likely never be complete.
@ravidbro can possibly help to leverage the partial support.

Otherwise the cluster can be rought up with AI or UPI.

[2021-06-22 08:19] ArminMW commented on #277
How is this different from Scott White's & Arvin Amirian's [Morgan Stanley's presentation on Red Hat Summit 2021](https://events.summit.redhat.com/widget/redhat/sum21/sessioncatalog/session/1617741619673001M92J)
[OpenShift On OpenShift - nested OpenShift](https://static.rainfocus.com/redhat/sum21/sess/1617741619673001M92J/PresentationDeck/Summit%202021%20-%20Morgan%20Stanley_1619807081441001d9Td.p

[2021-06-22 08:25] ravidbro commented on #277
What they showed in the summit wasn't using IPI with KubeVirt provider, that effort wasn't released eventually although it mentioned in the installer 'explain'.

[2021-06-22 11:40] fridex opened #278 "Create a pretty URL for Pulp"
**Is your feature request related to a problem? Please describe.**

As user of Pulp, I would like to have easy access to a Pulp instance. To access Pulp easily, a pretty URL could be created.

**Describe the solution you'd like**

Create a pretty url for pulp. As of now, we use https://pulp.apps.zero.massopen.cloud/. Would it be possible to create a prettier URL? For example https://pulp.operate-f

[2021-06-22 11:41] fridex commented on #278
CC @ipanova @goern

[2021-06-22 12:50] tumido commented on #278
Yes, it would be possible :slightly_smiling_face:

[2021-06-22 13:01] tumido commented on #278
Something like this? https://pulp.operate-first.cloud/

[2021-06-22 13:06] fridex commented on #278
Great! That was faster than I thought. 👍🏻 💯

/close

[2021-06-22 13:06] sesheta commented on #278
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/278#issuecomment-865966321):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-22 13:06] #278 closed

[2021-06-22 13:09] preska opened #279 "Access to a cluster for the Elyra AIDevSecOps Tutorial"
## Questionnaire

1. **Project description**:

   PROJECT DESCRIPTION: I'd like a cluster to run this project https://github.com/AICoE/elyra-aidevsecops-tutorial

2. **Target cluster**:

    TARGET CLUSTER: Infra - Cluster for management via ACM and ArgoCD

3. **Team name**:

    TEAM NAME: chi-rhug

4. **Desired project names**:

    PROJECT NAMES:

5. **Users needing access**:

    LIST OF USERS

[2021-06-22 13:10] tumido commented on #278
@fridex I've created this route manually. If you track these experiments in git somewhere, I can make a PR:

https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/thoth-pulp-experiments/routes/external

[code]

[2021-06-22 13:15] tumido opened #280 "[TASK] Change routes certificates from manual to acme operator"
**User story**
Renewing certificates is a chore, now we have acme operator working, let's convert ArgoCD and ODH-Dashboard routes to be able to use it

[2021-06-22 13:35] fridex commented on #176
It looks like it is not possible to upload Python packages to pulp - the status endpoint shows pulp_python version 3.4.0.dev that is before version 3.4.0 with full twine upload support based on @gerrod3. The pulp_python==3.4.0 release was not propagated to the op1st environment. Can we update to pulp_python==3.4.0?

[2021-06-22 13:39] fridex commented on #278
Please do so - we will eventually move to one pulp instance (no need to have an experimental one).

[2021-06-22 13:40] tumido commented on #279
@preska I'll be onboarding you to the `zero` cluster since that is our workload cluster. Don't worry, you'll still have access to ArgoCD if you need to.

[2021-06-22 13:42] tumido commented on #278
@fridex do you have a repo where you track the pulp resource and other stuff?

[2021-06-22 13:49] fridex commented on #278
If you mean deployment templates - I don't think so. Shouldn't this be tracked on the operate-first side?

[2021-06-22 14:02] tumido commented on #278
I don't think operate first SRE want to take the responsibility over the pulp deployment, we're stretched thin enough already. Wanna own it from some thoth-station repo? We can host an ArgoCD app for it in operate-first.

[2021-06-22 14:03] tumido commented on #278
I mean the `Pulp` resource

[2021-06-22 14:42] margarethaley opened #281 "Simplify and improve Support page for Operate First Users"
- add a link to the github repo (currently only links to website)
- implement bullet points and more concise descriptions so that managed services are easier to read
- float the slack info at the bottom to the top of the page with the github info
- more hyperlinks so it feels less cluttered

[2021-06-22 14:42] tumido opened #282 "Deploy acme operator to the infra cluster as well"
Deploy the same setup of acme operator from zero cluster

[2021-06-22 14:54] 4n4nd commented on #281
/assign @margarethaley

[2021-06-22 16:36] HumairAK commented on #240
Okay so the big issues is majority of the time it seems like the pods are sitting unused, then once in a while they'll spike in cpu usage.

So I'm thinking we adjust the profiles so that the `requests` are way lower and aligned with average usage, and the `limits` can stay as is, to allow the pods to request up to the limit for those moments when usage goes high.

[2021-06-22 16:43] 4n4nd commented on #240
I like this idea, but we might see some OOM kills. I think we should still try it out.

[2021-06-22 16:45] HumairAK commented on #240
I think this will occur when _actual_ usage starts reaching capacity of the cluster I think. Right now it seems like we're way off from that (25% based on the cluster dashboard)

[2021-06-22 17:28] tloubrieu-jpl commented on #241
Hi @guimou , @HumairAK
After spending some time to enable the deployment of back-end pods on operate-first I am now testing the deployment of the SparkApplication.

I am having a java error:
[code]

I did not have time to investigate that yet, but if you have an idea please let me know.
The error can be seen on this pod https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/sdap/pods/ne

[2021-06-22 18:12] #279 closed

[2021-06-23 09:58] #281 closed

[2021-06-23 12:33] #757 closed

[2021-06-23 12:33] #1017 closed

[2021-06-23 12:41] #758 closed

[2021-06-23 13:26] xtuchyna opened #284 "Ceph - cannot retrieve file"
**Describe the bug**
When trying to retrieve a file, timeout error occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. I am using following profile (`.aws/credentials`):
[code]
access key and key id are used from `ceph` secret available on zero cluster in `thoth-test-core` namespace (https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/thoth-test-core/secrets/ceph)
2. try
[c

[2021-06-23 13:49] pacospace commented on #259
@4n4nd where are the endpoints for Seldon? any doc? Thanks!!!

[2021-06-23 14:08] 4n4nd commented on #284
I was able to replicate this issue. Seems like this is an issue in other `nooba` buckets as well. I did not see this issue in `ceph-rgw` type buckets.

[2021-06-23 14:17] HumairAK commented on #284
Looks like we've been getting some nooba alerts the past couple of days: https://github.com/operate-first/alerts/issues?q=is%3Aissue+is%3Aclosed+noobaa

[2021-06-23 14:25] tumido opened #746 "[Incident][MOC Zero] Noobaa endpoint unresponsive"
We're unable to pull data from noobaa via external connection.

Related: https://github.com/operate-first/support/issues/284

[code]

[2021-06-23 14:58] tumido commented on #284
Incident opened at: https://github.com/operate-first/SRE/issues/347

[2021-06-23 15:47] #272 closed

[2021-06-23 18:46] #799 closed

[2021-06-23 21:10] preska commented on #279
Hi, will I be receiving the credentials through here?

[2021-06-24 08:19] durandom commented on #277
@ravidbro do you have any guides/docs on how to get a POC installed?
My naive approach would be

1. create appropriate VMs via CNV
2. use UPI to deploy into the VMs (not sure if that would work with ACM)

But I'm sure the devil's in the detail

[2021-06-24 12:28] HumairAK commented on #279
@preska you can log in to your namespace using your gmail login for `presshar [at] redhat [dot] com`, your namespace is located [here](https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/chi-rhug)

[2021-06-24 12:55] 4n4nd commented on #259
@pacospace I am not really sure about how Seldon works. We just deployed the Operator. I can just give access for the Seldon Namespace to the Data Science group and you can figure it out?

[2021-06-24 12:57] pacospace commented on #259
Sure, sounds good! thanks @4n4nd

[2021-06-24 13:24] #282 closed

[2021-06-24 13:52] #280 closed

[2021-06-24 14:01] 4n4nd commented on #259
@pacospace you along with the data-science group should now have access to the `opf-seldon` namespace.

[2021-06-24 14:03] pacospace commented on #259
Thanks @4n4nd I will check that!!

[2021-06-24 14:03] #127 closed

[2021-06-24 14:31] MichaelClifford commented on #259
I just took a look. And it seems like having access to the operator allows us to deploy instances of seldon. Is this what we want? I would think that only the admins should have this access. Then they can deploy a seldon instance, then give the ds-group access to a shared the instance. WDYT?

[2021-06-24 14:35] pacospace commented on #259
Shouldn't we have an aicoe pipeline for deployment of Seldon model? and in anyc ase let ArgoCD manage manifests?

[2021-06-24 14:38] MichaelClifford commented on #259
Maybe, but this is not for models, I don't think. I'm just talking about the service. Or does each model require its own seldon deployment?

[2021-06-24 14:40] pacospace commented on #259
No don't think so, it is an operator, so just waits for SeldonDeployment CRD, but if you access to that namespace we should make sure users cannot delete those.

[2021-06-24 14:42] 4n4nd commented on #259
That would be ideal, but since the admins don't really have enough cycles to take this on and maintain it, I thought the data-science group can look into this and help us with it.
We have given access to the upstream odh group as well in case we need any help with something.

[2021-06-24 16:23] erikerlandson commented on #259
This demo doesn't work on the MOC, because seldon server doesn't work:
https://www.operate-first.cloud/data-science/pet-image-detection/

[2021-06-24 16:48] 4n4nd commented on #259
@erikerlandson that would be a separate demo created by @isabelizimm, maybe she can help you with it.

[2021-06-24 21:18] antter opened #286 "Increase my PVC in JH"
### Questionnaire

1. **User details**:
atersaak

2. **Desired resource change**:
   Currently have 2Gi, would like to have 20 Gi.

---

If you don't want to wait for the maintainers to notice this issue, you can do the changes yourself. Please follow the [docs/user_profiles.md](https://github.com/operate-first/support/blob/main/docs/user_profiles.md) guide.

[2021-06-24 22:13] chambridge commented on #176
I updated the Custom Resource with:
[code]
This caused the operator to redeploy pulling the latest image from quay.io instead of using the latest tagged image that was within the local registry.

![image](https://user-images.githubusercontent.com/29379759/123338921-9ecaff80-d517-11eb-9daa-a3f478967357.png)

[2021-06-24 22:38] erikerlandson commented on #259
@4n4nd  I think we should consider removing that image from the choices available at `https://odh.operate-first.cloud`, if it is not intended to work there.

[2021-06-25 04:53] fridex commented on #176
Thanks @chambridge. I've tried to upload a package, the upload finished successfully but the package is not seen on pulp (using admin creds):

[code]

[code]

I see `.dev` suffix in the pulp component version. Is it expected?

CC @@gerrod3

[2021-06-25 09:19] tumido commented on #268
This should be closed via https://github.com/operate-first/apps/pull/752

cc @Gregory-Pereira @HumairAK can you verify?

[2021-06-25 09:26] ipanova commented on #176
@thank you @chambridge !
@fridex these are unreleased versions, you're basically working with master, should not you append `simple` to the endpoint?
https://docs.pulpproject.org/pulp_python/workflows/pypi.html?highlight=twine#upload-and-install-packages

[2021-06-25 09:50] tumido opened #745 "Operate First Support cases list"
For tracking purposes, let's keep a list of support cases opened by Operate First:

- [x] [Timeouts in monitoring dashboards](https://access.redhat.com/support/cases/#/case/02793260)
- [x] [Permanently silencing an alert via inhibit rules?](https://access.redhat.com/support/cases/#/case/02776140)
- [x] [OCS operator stuck in "pending" state, errors showing up in event stream](https://access.redhat

[2021-06-25 12:02] fridex commented on #176
Originally tried with just "`simple`" during upload - it resulted in an error:

[code]

The `--verbose` flag shows HTML with the internal error reported. I see the following logs in Pulp API pod:

[code]

Based on the exception, tried with `simple/`. The upload succeeded (see log above) but no packages are listed: https://pulp.operate-first.cloud/pypi/fpokorny-test/simple/

Thanks for any addition

[2021-06-25 12:10] ipanova commented on #176
I'm afraid @gerrod or @dralley should look into this

[2021-06-25 12:22] MichaelClifford opened #287 "User support: S3 Storage request - aicoe-kaggle"
### Questionnaire

1. **User details**:

mcliffor

This will be a shared storage location for datasets and ML models used by the [aicoe-kaggle](https://github.com/aicoe-kaggle) org as they develop with jupyter on the MOC. This should be a private bucket that only members of that org have access to.

2. **Desired bucket name**:

aicoe-kaggle

3. **Maximal bucket size**:
   500 Gb

4. **Maximal buck

[2021-06-25 12:29] MichaelClifford commented on #259
We just got the seldon operator installed on opf. Instead of removing @isabelizimm demo. Let's deploy seldon and update her demo to work with it. WDYT?

[2021-06-25 12:34] MichaelClifford commented on #259
We have given access to the upstream odh group as well in case we need any help with something.

I think we've moved our conversation outside the scope of this issue.

That sounds good @4n4nd, I think we can close this issue and we (DS folks) can  take it form here and help out with the seldon deployments.

[2021-06-25 13:09] HumairAK commented on #268
Yes namespace can be found here: https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/adoptium-project -- let us know if there are any issues. Thanks!

[2021-06-25 13:09] #268 closed

[2021-06-25 14:29] isabelizimm commented on #259
Yes! I can look at upgrading my demo so it works on opf. Tracking issue separately :rocket:

[2021-06-25 14:38] HumairAK commented on #259
Sounds good, thanks folks -- let us know if there's any issues that we can help with.

[2021-06-25 14:38] #259 closed

[2021-06-25 14:38] 4n4nd commented on #259
I don't see Seldon in https://odh.operate-first.cloud/

[2021-06-25 14:51] #286 closed

[2021-06-28 06:40] fridex commented on #176
Thanks, Ina - debugging this with Gerrod. Thanks to @gerrod3 for pointers on how to debug this. Will report back any progress on this.

[2021-06-28 14:35] fridex commented on #176
We face the following issues:

* on the worker side - worker fails to finish upload (ceph/s3 related?):

[code]

* multiple uploads result in unique constraint issues:

[code]

@tumido would it be possible to give @gerrod3 (gubben) access to the `thoth-pulp-experiments` namespace to help with debugging? Thanks in advance. 👍🏻

[2021-06-28 16:40] pacospace opened #288 "Prometheus metrics reported in opf-monitoring are different from actual Openshift metrics"
**Describe the bug**
Prometheus metrics reported in opf-monitoring are different from actual Openshift metrics.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to openshift console metrics and check `sum(container_memory_working_set_bytes{container!="", namespace='thoth-deployment-examples'}) by (pod)`
2. Go to Prometheus console https://prometheus-portal-opf-monitoring.apps.zero.massopen

[2021-06-28 17:01] pacospace commented on #288
cc @hemajv

![Screenshot from 2021-06-28 19-01-02](https://user-images.githubusercontent.com/27498679/123675623-3cd60700-d843-11eb-8ca7-f5cd6236d1a8.png)

[2021-06-28 17:05] pacospace commented on #288
I repeated similar experiment with CPU usage

Openshift console
![Screenshot from 2021-06-28 19-04-17](https://user-images.githubusercontent.com/27498679/123676104-cbe31f00-d843-11eb-8aa5-829f4d480340.png)

Prometheus console
![Screenshot from 2021-06-28 19-04-25](https://user-images.githubusercontent.com/27498679/123676121-cede0f80-d843-11eb-8692-8f42aba20e0b.png)

Thanos console
![Screenshot fro

[2021-06-28 19:13] first-operator[bot] opened #289 "Seldon Operator deployment is calling incorrect api webhook for validation"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1624890948267900?thread_ts=1624890948.267900&cid=C01RMPVUUK1_

[2021-06-28 19:13] 4n4nd commented on #289
upstream issue: https://github.com/SeldonIO/seldon-core/issues/3343

[2021-06-29 06:53] pacospace opened #290 "Deploy OpenVINO Operator"
**Is your feature request related to a problem? Please describe.**
As AIDevOps Engineer,

I want to deploy the model using OpenVINO.

**Describe the solution you'd like**
Install new operator: https://catalog.redhat.com/software/operators/detail/60649a56209af65d24b7ca9e

**Describe alternatives you've considered**

**Additional context**
Related-to: https://github.com/AICoE/elyra-aidevsecops-tutor

[2021-06-29 09:16] xtuchyna commented on #284
Hello @tumido, how's this issue going on so far?

[2021-06-29 11:58] tumido commented on #284
Hey @xtuchyna support case is still pending, RH support is working on it. Sadly we don't have many answers yet. :disappointed:

[2021-06-29 12:16] tumido commented on #287
/assign @Gregory-Pereira

[2021-06-29 13:09] tumido commented on #176
@fridex done, @gerrod3 should have access now

[2021-06-29 14:31] HumairAK commented on #287
@MichaelClifford -- how urgent is this? We're currently trying to resolve an issue with provisioning nooba buckets with support https://github.com/operate-first/SRE/issues/347

We don't have an eta yet, but hope to know more in the coming days.

[2021-06-29 15:24] #802 closed

[2021-06-29 16:02] HumairAK opened #744 "Extending Alertmanager GitHub Receiver to convert alert labels to GitHub Labels"
As per the goal of https://github.com/orgs/operate-first/projects/26  we need to be able to assign meaningful Github labels to alerts created in the [alerts](https://github.com/operate-first/alerts) repo. An easy way to do this would be to simply convert the alert labels themselves to github labels. This will require extending the Github Receiver to add this functionality.

Of course we do not wan

[2021-06-29 18:27] first-operator[bot] opened #291 "[Jupyterhub] Server unavailable/unreachable error while running notebook"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1624985927298500?thread_ts=1624985927.298500&cid=C01RMPVUUK1_

[2021-06-29 18:29] 4n4nd commented on #291
Attached screenshot in the thread:
![Screenshot from 2021-06-29 12-57-38](https://user-images.githubusercontent.com/22333506/123848990-4f554c80-d8e6-11eb-8de5-7e612b437960.png)

[2021-06-30 12:16] tumido opened #292 "[TASK] Convert issue templates to issue forms"
**User story**
Issue forms are a new fancy way to template issues. I think they will be much more useful than our current templates

**Additional context**
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms

**Acceptance Criteria**
- [ ] Onboarding to cluster template in the suppor

[2021-06-30 13:33] HumairAK commented on #292
this is freakin awesome, great find!

[2021-06-30 13:55] 4n4nd opened #294 "Request Namespace for Prometheus Anomaly Detection Demo"
## Questionnaire

1. **Project description**:

Deploy Prometheus Anomaly Detector as a demo ([source](https://github.com/AICoE/prometheus-anomaly-detector))

2. **Target cluster**:

  Zero

3. **Team name**:

    prometheus-anomaly-detector

4. **Desired project names**:

    prometheus-anomaly-detector

5. **Users needing access**:

    asanmukh@redhat.com, hveeradh@redhat.com, vgrover@redhat.com

[2021-06-30 13:55] 4n4nd commented on #294
@hemajv

[2021-06-30 14:16] tumido opened #295 "NEW PROJECT: test issue"
### Target cluster

Zero

### Team name

foo

### Desired project names

bar

### Project description

baz

### Users needing access

me

### Namespace Quota

Small

### Custom quota

abc

### Your GPG key or contact

def

[2021-06-30 15:47] #295 closed

[2021-06-30 16:07] #294 closed

[2021-07-01 13:46] #746 closed

[2021-07-03 04:59] tloubrieu-jpl commented on #241
Hi @guimou, @HumairAK,

I revised the docker image I was using to use the one created by @guimou . I don't have anymore the error above but apparently when spark worker are created, I now have this error:

[code]

`sdap-spark` (https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/sdap/serviceaccounts/sdap-spark/yaml) is the service account I created according to the guideline on https

[2021-07-06 16:45] antter opened #296 "NEW PROJECT: github-labeler"
### Target cluster

_No response_

### Team name

github-labeler

### Desired project names

github-labeler

### Project description

My project is an app that can download github issue datasets, train models to predict their issue labels, and perform inference through an app.

### Users needing access

atersaak@redhat.com

### Namespace Quota

Large

### Custom quota

_No response_

### Your GPG

[2021-07-06 19:34] harshad16 commented on #296
we will work on it soon.

[2021-07-06 19:47] harshad16 commented on #296
Currently, all system nodes are on the cap, we are discussing the node utilization and onboarding of more projects.
can you describe why is a large quota is needed?

[2021-07-07 07:50] pacospace commented on #288
any update here @tumido @hemajv @4n4nd ?

[2021-07-07 11:45] #822 closed

[2021-07-07 11:53] tumido commented on #288
/kind bug needs-triage

let's talk about it on this sprint planning. I think it may be related to https://github.com/operate-first/SRE/issues/287

[2021-07-07 11:53] sesheta commented on #288
@tumido: The label(s) `kind/needs-triage` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/support/issues/288#issuecomment-875540083):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions rela

[2021-07-07 11:56] HumairAK commented on #124
I think the distinction is relatively clear now with the various updates to the site / readme's etc. If anyone feels different please re-open this explaining what else can be improved.

[2021-07-07 11:56] #124 closed

[2021-07-07 12:04] #825 closed

[2021-07-07 12:07] #834 closed, assigned to nobody

[2021-07-07 12:15] #907 closed

[2021-07-07 12:19] pacospace commented on #288
Sure because I feel Openshift metrics are not scraped at all now, checking https://prometheus-portal-opf-monitoring.apps.zero.massopen.cloud/graph?g0.expr=sum(container_memory_working_set_bytes%7Bpod%3D%27elyra-aidevsecops-tutorial-1-bq8nv%27%2Cnamespace%3D%27thoth-deployment-examples%27%2Ccontainer%3D%27%27%2C%7D)%20by%20(pod%2C%20namespace)&g0.tab=1&g0.stacked=0&g0.range_input=1h for example, bu

[2021-07-07 12:21] HumairAK commented on #228
@rbo pointed out that the following: https://issues.redhat.com/browse/GITOPS-766

Is planned for version 1.3 and together with GitOps 1.2 will be GA

[2021-07-07 13:10] #747 closed

[2021-07-07 13:19] HumairAK commented on #228
Based on the comment above, let's close this out. And create a follow up (blocked) issue for when this goes GA and we can adopt the gitops operator.

[2021-07-07 13:37] 4n4nd commented on #291
@lavlas commented:
[code]

and @vpavlin's comment on this was
[code]

There were CRI-O alert events in the cluster:
![image](https://user-images.githubusercontent.com/22333506/124768456-ac648a00-df06-11eb-9785-cbbfb4127137.png)

This suggests that the problem here was more of an in-cluster load/networking issue

[2021-07-07 14:21] tumido opened #743 "Create an warning alert for possible CPU overcommit in case of node outage"

[2021-07-07 14:41] guimou commented on #275
@Gregory-Pereira @4n4nd
Hi! Did not have time to do a follow-up, but where are we with this? Do you need further info?

[2021-07-07 14:47] 4n4nd commented on #275
@guimou the issue is that we are currently capped on Compute resources and we are expecting new hardware soon.

[2021-07-07 14:57] hemajv opened #297 "Superset/Trino not accessible"
**Describe the bug**
Trino after being recently deployed is not accessible. Superset also does not seem to be running.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://trino-route-opf-trino.apps.zero.massopen.cloud/
2. Go to http://superset-opf-superset.apps.zero.massopen.cloud/

**Expected behaviour**
Trino/Superset login landing page

**Screenshots**

![Screenshot from 2021-07

[2021-07-07 15:25] hemajv commented on #297
cc @4n4nd @rimolive

[2021-07-07 15:54] tumido opened #298 "As an OPF SRE, I want to safely store my secrets in HashiCorp Vault and use External secrets to deploy them, so I may securely track secrets via GitOps without risking exposure."
**Updated**

Acceptance criteria:
- [x] Install Vault on Smaug
- [x] Add OIDC (via dex?) for vault
- [x] Add kubernetes auth support for vault
- [x] Install External Secrets Operator on Smaug as a pilot
- [x] Confirm external secrets can be created and fetch secrets via k8s auth from vault.

[2021-07-07 15:54] tumido commented on #298
/cc @HumairAK
would you like to add something?

[2021-07-07 16:05] guimou commented on #275
Ah, ok. Thanks for the feedback.

[2021-07-07 16:17] HumairAK commented on #298
I think that covers the current usage. Though I would say it's not always clear where we would end up using sops in the future as new cases arise.

But let's investigate vault and see where it takes us.

[2021-07-07 20:55] hemajv opened #299 "Deploy DBeaver and configure with Trino"
**Is your feature request related to a problem? Please describe.**
In order to create tables/schema in Trino, we need to have DBeaver deployed so that we can use it to connect to Trino.

**Describe the solution you'd like**
DBeaver deployment on operate first

[2021-07-07 20:55] hemajv commented on #299
cc @HumairAK @4n4nd

[2021-07-08 11:10] robpblake opened #300 "NEW PROJECT: Decision-as-a-Service"
### Target cluster

Zero

### Team name

baaas

### Desired project names

baaas-dfm, baaas-dfs, baaas-dmn-jit, baaas-trusty-ai, baaas-modeler

### Project description

Decision-as-a-Service (DaaS) is the first effort from the Business Automation group at Red Hat to provide managed services to our customers. We envision it will become part of a larger portfolio of Business Automation as a Service

[2021-07-08 14:33] MaxLanLiu opened #302 "NEW PROJECT: microservices"
### Target cluster

Rick

### Team name

grok-micro

### Desired project names

grok-micro

### Project description

Our project is about deploying and testing several microservices benchmark like BookInfo and DeathStarBench. We plan to test things like version updates and various workloads. Results from this project will bring better understanding of microservices and better research projects.

#

[2021-07-08 14:39] tumido commented on #300
Hey @robpblake unfortunately we might need to hold your onboarding request for a bit. In last week we had too many teams onboarding the clusters and since our deployment runs on bare metal, we're struggling to scale the cluste. We should have new HW incoming in a week or so, we'll keep you updated.

[2021-07-08 15:01] robpblake commented on #300
@tumido OK thanks for the heads-up.

From your perspective, is there any of the onboarding we can complete before the new HW arrives, or do we need to wait?

[2021-07-08 15:38] harshad16 commented on #302
We are currently capped on hardware compute resources. Onboarding requests are currently put on hold. We are expecting new hardware soon, until then your onboard request will remain in a pending state.

we will get back to you soon.

[2021-07-08 15:45] MichaelClifford commented on #287
any update here? @HumairAK

[2021-07-08 16:14] 4n4nd commented on #297
related https://github.com/opendatahub-io/odh-manifests/pull/454

[2021-07-08 16:29] Gregory-Pereira commented on #287
Sorry not yet, I can try to get to it today.

[2021-07-08 18:23] jasonbrooks commented on #274
We will create this onboarding issue. We have to get augur running in a container, so for now, we're installing it in a blade in our datacenter.

[2021-07-08 19:25] MichaelClifford opened #303 "Pytorch-jobs Operator on Zero Cluster?"
Does the the zero cluster have [Pytorch-jobs](https://github.com/kubeflow/pytorch-operator) included as part of its Kubeflow deployment. If not, could it be added?

cc: @pacospace @TreeinRandomForest @erikerlandson

[2021-07-08 19:27] jberkus commented on #274
It's running, what it's not doing is populating the database, which I'm still troubleshooting.

[2021-07-08 19:39] 4n4nd commented on #303
@MichaelClifford I couldn't find the instructions to install this operator in the [kubeflow components page](https://www.kubeflow.org/docs/components/).

[2021-07-08 19:39] 4n4nd commented on #303
But I do see some manifests and overlays [in their repo](https://github.com/kubeflow/pytorch-operator/tree/master/manifests/overlays) that we could use

[2021-07-08 19:42] pacospace commented on #303
cc @nakfour

[2021-07-08 19:44] 4n4nd commented on #303
We are on v4.7.13

[2021-07-08 20:06] nakfour commented on #303
KF 1.3 on OCP v4.7 has issues, but not specific to pytorch operator. To install it, use ODH operator and customize this example [kfdef](https://github.com/kubeflow/manifests/blob/v1.3-branch/distributions/kfdef/kfctl_openshift_v1.3.0.yaml), You most like will only need istio, cert-manager, openshift-scc and pytorch operator.

[2021-07-09 12:18] uidoyen opened #304 "NEW PROJECT: Debezium-ui"
### Target cluster

Infra

### Team name

debezium

### Desired project names

debezium-ui

### Project description

Debezium is an open source distributed platform for change data capture. Start it up, point it at your databases, and your apps can start responding to all of the inserts, updates, and deletes that other apps commit to your databases. Debezium is durable and fast, so your apps can r

[2021-07-09 13:01] harshad16 commented on #304
We are currently capped on hardware compute resources. Onboarding requests are currently put on hold. We are expecting new hardware soon, until then your onboard request will remain in a pending state.

we will get back to you soon.

[2021-07-09 15:24] #826 closed

[2021-07-12 14:38] rimolive commented on #119
I suppose this issue can be closed since we have already Trino deployed. WDYT?

[2021-07-12 14:39] accorvin commented on #119
I agree. Will let someone from op first chime in.

[2021-07-12 14:39] rimolive commented on #297
Can this issue be closed? The systems mentioned in this issue are already available.

[2021-07-12 14:43] 4n4nd commented on #119
@rimolive @accorvin We are waiting on this PR upstream: https://github.com/opendatahub-io/odh-manifests/pull/454

We do have it deployed currently, but I had to change the image being used manually. once the above PR ismerged, we can update our superset kfdef to point to the master branch and directly deploy it from upstream.

[2021-07-12 15:27] 4n4nd commented on #288
@pacospace there are a couple of things here that are leading to this discrepancy.

1. We have multiple instances of prometheus for redundancy so when you query a metric, it has 2 instances of the same metric with the labels `{prometheus_replica=xxxx}`. When you do a `sum` query, this adds the same metric twice, once from each replica. This is fixed in thanos where metrics from multiple replicas a

[2021-07-12 20:27] #299 closed

[2021-07-13 12:22] tumido commented on #300
@robpblake there's not much you can do. I'll prepare a PR in the meantime, but we have to wait for the HW before merging it anyways.

[2021-07-13 12:23] tumido commented on #298
Also.. most of the route certs are now handles by the ACME operator, so handling `Route` kind is not a hard requirement anymore.

[2021-07-13 14:39] tumido opened #305 "Deploy Vertical Pod Autoscaler operator and Implement Auto Scaling of compute resources"
### Background:

In Kubernetes, while actual workloads run within containers, Pods are in fact the smallest deployable unit of computing. This means that all compute resources (CPU/Memory) for any workload are specified at the Pod level. In Kubernetes, both forms of compute resources, CPU and Memory, are specified in similar ways, and are done so in a static manner. That is to say, when managing w

[2021-07-13 16:07] HumairAK opened #1016 "[INCIDENT][MOC/Zero] - Node disk pressure"
Hello Operate First users,

We are investigating an ongoing incident affecting MOC Zero cluster. One of the nodes `os-wrk-0` is under node disk pressure, and had to be marked unscheduled those increasing the load on other nodes. This has resulted in user workloads encountering issues when scheduling pods.

Impacted users: All MOC Zero users, including Jupyterhub and other ODH services users.

We w

[2021-07-13 18:13] #1016 closed, assigned to larsks, tumido, HumairAK, 4n4nd

[2021-07-13 19:35] cdolfi opened #306 "Create temporary augur db as an openshift external service"
**Description**
The OSPO team has set up a temporary Augur instance to be able to use for EDA/initial work as a long term solution is being worked on(https://github.com/operate-first/support/issues/274).  The data source is available from random cloud instances on GCE, but somehow you can't connect to it from a Notebook instance running in MOC/OF. The solution identified by @jberkus is for someone

[2021-07-13 20:28] jberkus commented on #306
Here's the service we need available:

* augur.osci.io
* port 6432
* protocol: postgresql

[2021-07-13 23:50] rimolive commented on #211
I believe this one can be closed. Trino and Superset are deployed and integrated.

[2021-07-14 13:20] rbo opened #307 "Cluster basis configuration not fully documented in Git."
**Description**

If I'm looking into [ArgoCD](https://argocd.operate-first.cloud/applications?proj=cluster-management&sync=&health=&namespace=&cluster=&labels=&view=list) I recognize that the infra cluster have more than one application. But there is it document which cluster gets which applications?

![image](https://user-images.githubusercontent.com/36604/125628293-1baaeffb-6f08-4a92-a0d9-f4bb59

[2021-07-14 13:24] rbo commented on #307
Here an example: https://github.com/stormshift/clusters/tree/first-try

[2021-07-14 13:24] rbo commented on #307
/cc @HumairAK

[2021-07-14 13:28] fridex commented on #176
The twine support should be fixed, thanks to @gerrod3 - now waiting for https://github.com/pulp/pulp-operator/pull/165 to get merged.

[2021-07-14 13:39] first-operator[bot] opened #742 "MOC / Zero cluster - pods taking a long time to add eth0"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1626268740400600?thread_ts=1626268740.400600&cid=C01RMPVUUK1_

[2021-07-14 14:16] HumairAK opened #308 "Trino requires more resources"
#### Resource request

As per @rimolive 's suggestions, we are currently not supplying Trino with enough resources. Just to summarize slack discussion:

*  1) More CPUs == Faster Queries,
   2) More Memory == More joins, Aggregates, etc.
* I'd say you can start with 4 CPUs and 8GB per worker (including the coordinator). That means you need a cluster with 16 CPUs and 24GB of Memory total.

Link to

[2021-07-14 16:18] TreeinRandomForest commented on #303
@4n4nd would it be possible to do what @nakfour suggested?

[2021-07-14 16:40] erikerlandson commented on #303
Somewhat speculative, but would be interesting to try adding torch to the ray images and see if we can do pytorch using ray instead of a separate torch op

[2021-07-14 17:22] jasonbrooks opened #309 "Unable to access public pgbouncer endpoint from jupyter notebook"
I'm attempting to access a postgresql database that's running behind a pgbouncer proxy on a public IP from within a jupyter notebook running in the Operate First cloud. I'm able to access the database from my notebook, from a pod in another openshift cluster, and from jupyter notebooks running locally and on that openshift cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https:

[2021-07-14 17:30] jberkus commented on #309
More information: we specifically checked pgbouncer and firewall logs on the database server, and no connection attempts got that far.  So the connection is definitely being blocked, or at least not routed, inside OF.

[2021-07-14 19:13] 4n4nd commented on #309
similar issue: https://github.com/operate-first/support/issues/173

[2021-07-14 19:18] HumairAK commented on #309
@larsks any ideas on why they are experiencing the following behavior?

so I can resolve the server's address, but it seems like all outgoing connections to it are blocked. Which is, btw, the Openshift default.

[1000950000@jupyterhub-nb-jberkus-40redhat-2ecom ~]$ ssh mailto:jberkus@augur.osci.io|jberkus@augur.osci.io

[2021-07-14 19:24] fao89 commented on #176
I just merged it!

[2021-07-15 08:14] goern commented on #307
/kind question
/kind docs
/assign @HumairAK
/assign @tumido

[2021-07-15 08:14] sesheta commented on #307
@goern: The label(s) `kind/docs` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/support/issues/307#issuecomment-880493312):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my

[2021-07-15 10:32] fridex commented on #176
Thanks, Fabricio. What is needed on the deployment side to apply the change on the Operate First instance? (I'm still getting task errors, I understand your fix is related)

[2021-07-15 11:22] fao89 commented on #176
you need to pull the images again, like this
https://github.com/operate-first/support/issues/176#issuecomment-867987933

[2021-07-15 12:20] MichaelClifford opened #310 "NEW PROJECT: Project Meteor"
### Target cluster

Zero

### Team name

ai-coe

### Desired project names

project-meteor

### Project description

https://github.com/AICoE/meteor

### Users needing access

mcliffor

### Namespace Quota

Medium

### Custom quota

_No response_

### Your GPG key or contact

_No response_

[2021-07-15 15:46] 4n4nd opened #311 "Network latency issues in MOC/Zero cluster"
There have been reports of access to user applications (like Jupyterhub) being slow/lagging.
Other users have also reported connection issues between in cluster services (`sdap`)

[2021-07-15 15:49] 4n4nd commented on #311
We asked the `network-observability` team in openshift if there were any metrics that we could look at to get more insight with this issue, they suggested some metrics `haproxy_server_*`. Slack thread:  https://coreos.slack.com/archives/C01DMAD88JF/p1626289311159700

[2021-07-15 15:51] 4n4nd commented on #311
cc @HumairAK

[2021-07-15 16:36] tloubrieu-jpl commented on #311
Hello,

In the sdap namespace on operate first there are a lot of intermittent network issues like reported in this log message:
cassandra.cluster.NoHostAvailable: ('Unable to connect to any servers', {'172.30.18.177:9042': OSError(None, "Tried connecting to [('172.30.18.177', 9042)]. Last error: timed out")})

This service is up and sometime accessible but very often not accessible as shown in th

[2021-07-15 20:01] HumairAK opened #1015 "Add an ability to automatically assign issues based on github labels"

[2021-07-16 13:28] HumairAK commented on #310
This was completed by: https://github.com/operate-first/apps/pull/844
Namespace here: https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/projects/aicoe-meteor

[2021-07-16 13:28] #310 closed

[2021-07-16 15:39] MichaelClifford commented on #310
Thanks @HumairAK

[2021-07-16 16:01] HumairAK opened #1014 "Add a dashbaord for investigating/monitoring network related issues for a cluster"
The motivation here is to help resolve issues [here](https://github.com/orgs/operate-first/projects/30), as we are a bit in the blind, we need more data / monitoring/ visualization to help us in figuring out the state of the cluster from a networking standpoint.

Acceptance criteria:
- list of metrics that we need that are available to us
- a basic dashboard to get us started leverage these metric

[2021-07-16 17:07] 4n4nd commented on #311
@larsks suggested pinging a local pod to check for packet loss.
Tried pinging a pod on `os-wrk-1`([pod](https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/opf-jupyterhub-stage/pods/jupyterhub-1-hzwbt)) from debug pods on different nodes.

Results:
[code]

We can see some consistent packet loss

[2021-07-16 19:38] HumairAK commented on #307
/cc @larsks @4n4nd
Figured you might have some opinions here :)

So we discussed this in slack earlier, but to paint the context -- I think what @rbo is trying to get at is, if you are setting up a new cluster, and want to just create an Argocd App that will deploy all the basic cluster configurations, then why is the alert receiver not included in the `cluster-resources` app?

I think - that our

[2021-07-18 06:03] tloubrieu-jpl commented on #311
Hi @4n4nd, does that mean somthing should be done ? Thanks

[2021-07-19 07:56] fridex commented on #176
Tried to reprovision the whole pulp instance after some experimental changes. It looks like the whole deployment was brought up with the operator. Unfortunatelly, when trying to create a pulp python repository, I'm getting the following error on API:

[code]

Thanks for any pointers how to fix this.

[2021-07-19 08:22] rbo commented on #307
I don't know, this is what I like to figure out. Maybe together with operate first. Because this is a typical customer question.

[2021-07-19 11:43] davidohana opened #312 "Feasibility for AIOps on alerts/issues data"
Hi @tumido

I work with Eran and Bruno on the AIOps effort.  Eran suggested that the data you have is pretty similar to another use case in which we have successfully applied a supervised model for alert filtering, prioritization, and localization.
We would like to create a supervised model which will "predict" whether an alert candidate in https://github.com/operate-first/alerts is relevant and a

[2021-07-19 11:57] eranra commented on #312
@durandom FYI ^^^

[2021-07-19 14:07] pacospace commented on #288
Perfect thanks @4n4nd, I added that filter, where I can find the name of the replicas instead?

[2021-07-19 16:31] erikerlandson opened #313 "NEW PROJECT: enterprise-neurosystems"
### Target cluster

"Rick" cluster (EMEA)

### Team name

enterprise-neurosystems

### Desired project names

enterprise-neurosystems

### Project description

Enterprise Neurosystems is a project backed by a consortium of Red Hat affiliated companies and organizations to promote practices and standards relating to AI-Ops and also cloud-native development for AI:
https://github-wiki-see.page/m/Ent

[2021-07-19 17:22] 4n4nd commented on #312
In that repo, the alerts are prometheus alerts. We get openshift cluster alerts, but since there were a few alerts that were too frequent and created a lot of noise, we tried to silence them (configured [here](https://github.com/operate-first/apps/blob/master/cluster-scope/overlays/prod/moc/common/alertmanager-main-secret.yaml)) and also some user side application alerts that are configured [here]

[2021-07-19 18:32] hemajv opened #314 "User guide for Trino+Superset"
Include documentation/guide on using Trino and Superset

Trino: https://trino-route-opf-trino.apps.zero.massopen.cloud/
Superset: http://superset-opf-superset.apps.zero.massopen.cloud/
CluodBeaver: http://cloudbeaver-opf-trino.apps.zero.massopen.cloud/

[2021-07-19 21:07] hemajv commented on #314
Created an initial guide here: https://docs.google.com/document/d/1m8wBr3s4763kIlU6S3HMunkEQI_e2586HcmvENHsEss/edit?usp=sharing

[2021-07-20 15:14] Gkrumbach07 opened #315 "ODH JupyterHub injecting Kafka SSL certs"
**Description**
I am trying to consume and produce messages on kafka inside a jupyter notebook which is hosted on Operate First's deployment of ODH JupyterHub. In other instances where I used kafka in MOC Zero, I was able to inject the SSL certs as OpenShift secrets which were mounted as a volume in the container. Is this something I can do in the JupyterHub instance? Would I need to create anothe

[2021-07-20 18:48] HumairAK commented on #119
Looks like we're good to close this out, special thanks to @rimolive for all his help and continued guidance.

[2021-07-20 18:48] #119 closed

[2021-07-20 20:09] hemajv commented on #314
Short demo walk through also available here: https://drive.google.com/file/d/1SM0wpkdxvSC3J-LJ2d0HJN1ZysgCJ_C1/view?usp=sharing

[2021-07-20 20:10] #297 closed

[2021-07-21 12:16] #901 closed

[2021-07-21 13:10] #211 closed

[2021-07-21 13:18] pacospace commented on #314
Link to CloudBeaver is not available @hemajv :/

[2021-07-21 13:26] larsks commented on #309
I'm going to raise this issue with Boston University's IT department, because it sounds very similar to an issue [we encountered previously](https://github.com/CCI-MOC/ops-issues/issues/224). Note that issue took some time to resolve, although I hope things will move faster this time.

[2021-07-21 13:56] first-operator[bot] opened #316 "PVCs of `moc-nfs-csi` type cannot be attached on `os-wrk-0` pods"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RT0S2WKX/p1626875110312500?thread_ts=1626875110.312500&cid=C01RT0S2WKX_

[2021-07-21 14:39] HumairAK commented on #316
suspecting network related issue

[2021-07-21 14:40] HumairAK commented on #316
events from a test pod on `os-wrk-0` trying to mount to pvc:

![image](https://user-images.githubusercontent.com/10904967/126507719-fedabc6c-0b11-4c00-8e89-fe431cb858d8.png)
events from a test pod on `os-wrk-1` trying to mount to pvc:
![image](https://user-images.githubusercontent.com/10904967/126507732-28ef4c46-c680-4be7-ab67-63e83d6e07e3.png)

[2021-07-21 14:41] HumairAK commented on #316
@4n4nd pinged the storage cluster from `os-wrk-0` and `os-sto-1`, the results:

[code]

[2021-07-21 15:17] hemajv commented on #314
@pacospace there was a PVC issue which is now resolved, it should be accessible again: http://cloudbeaver-opf-trino.apps.zero.massopen.cloud/

[2021-07-21 15:29] pacospace commented on #314
Thanks a lot @hemajv!! 💯

[2021-07-21 15:42] pacospace commented on #314
cc @xtuchyna

[2021-07-21 17:13] erikerlandson commented on #313
@goern  recommended I switch the target cluster to the "Rick" cluster in the emea, which can be provisioned immediately.
cc @tumido

[2021-07-21 18:16] MichaelClifford commented on #303
@4n4nd would it be possible to update the current `apps/kubeflow-components/base/kfdef.yaml` with the kfdef @nakfour linked above? Or possibly just add the relevent lines for tf-jobs and py-torch jobs?

https://github.com/kubeflow/manifests/blob/42a19c0825d23149c0edb67757b04a635d6a26f0/distributions/kfdef/kfctl_openshift_v1.3.0.yaml#L55-L64

[2021-07-21 18:21] MichaelClifford commented on #303
@erikerlandson any luck on using the default torch package and using ray to distribute the computation?

[2021-07-21 18:26] erikerlandson commented on #303
@MichaelClifford  I haven't personally used it, but I know of a couple people from the IBM Research group that used the ray horovod stuff successfully.

[2021-07-21 18:46] larsks commented on #309
Just to remind myself to I don't need to bother @naved001 next  time I need a host on a BU network other than 192.12.185.0/24:

[code]

[2021-07-21 18:51] larsks commented on #309
I've opened BU IS&T ticket INC13263917 for this issue.

[2021-07-21 19:24] MichaelClifford commented on #303
@4n4nd  the training operators can be found here: https://www.kubeflow.org/docs/components/training/

[2021-07-21 20:22] MichaelClifford commented on #287
Hi @Gregory-Pereira any updates on this?

[2021-07-21 20:26] 4n4nd commented on #288
I think we can set up an instance of thanos querier for the opf-prometheus which should fix the replicas issue.

[2021-07-21 20:39] 4n4nd commented on #303
@MichaelClifford @TreeinRandomForest the issue with that is we don't have a functional Istio deployment in our cluster. Since that is a dependency, we will need to figure that out first.
@HumairAK @tumido do you folks have any suggestions?

[2021-07-21 21:18] MichaelClifford commented on #303
What about this? http://istio-ingressgateway-istio-system.apps.zero.massopen.cloud/?ns=kf-demo

isn't it being used to run kfpiplines currently?

[2021-07-22 14:12] tumido opened #318 "NEW GROUP: sre"
**User story**
1. Create new user group called `sre` and add all on-call members to it.
2. Import this group into all clusters (`cluster-scoped/overlays/common`)
3. Grant this group ClusterRole `cluster-reader`

**Additional context**
SRE on-call members need to be able to see and observe the cluster.

**Acceptance Criteria**
- [ ] Group exists in all clusters
- [ ] Group has proper RBAC

**Refere

[2021-07-22 14:26] 4n4nd commented on #316
closing since this is fixed

[2021-07-22 14:26] #316 closed

[2021-07-22 15:58] tumido opened #319 "[TASK] Create "Namespace delete" issue template and docs"
**User story**
We don't have any docs, issue templates or automation for deleting a namespace.

**Additional context**
Zero cleanup initiated by @erikerlandson made us aware that we have no formal procedure for this.

**Acceptance Criteria**
- [ ] There's an issue template
- [ ] There's `opfcli` command
- [ ] There's documentation around this (ADR?)

[2021-07-22 17:20] erikerlandson commented on #319
reference PR removing a namespace:  https://github.com/operate-first/apps/pull/857

[2021-07-22 20:41] erikerlandson commented on #313
I removed one of my unused namespaces from the zero cluster, so that cluster is now possibly an option again.
cc @durandom

[2021-07-23 07:21] fridex opened #321 "Pulp deployment requires more resources"
**Resource request**

Namespace `thoth-pulp-experiments` is low on resources - we cannot bring some pods up.

![Screenshot_2021-07-23_09-21-06](https://user-images.githubusercontent.com/880687/126749480-3da83898-9be0-4ca4-83ea-ff301fe403d1.png)

![Screenshot_2021-07-23_09-20-05](https://user-images.githubusercontent.com/880687/126749368-2266f854-32be-442e-a7da-5bc57bd042d8.png)

Please increase me

[2021-07-23 07:28] fridex commented on #176
Yesterday we had a debugging session with @gerrod3 and @fao89. The issue I reported above does not look relevant anymore after reprovisioning the pulp instance. twine uploads work now, we are able to upload built packages. However, the download is not operational. @gerrod3 suggested adjusting `PULP_CONTENT_ORIGIN` ([see docs](https://docs.pulpproject.org/pulpcore/configuration/settings.html#conten

[2021-07-23 08:02] tumido commented on #321
FTR: Double the memory quota: https://github.com/operate-first/apps/pull/859

[2021-07-23 08:46] tumido commented on #306
@HumairAK @larsks @4n4nd  any idea why it's not possible to connect to external service from a JH notebook? Like, sure, we can define external service resource, but I thought JH pods can access resources outside of the cluster, so I wonder why it's no the case here.

PR for external service here: https://github.com/operate-first/apps/pull/860

[2021-07-23 10:57] 4n4nd commented on #306
@tumido https://github.com/operate-first/support/issues/309 this issue might have more information

[2021-07-23 12:24] ipanova commented on #176
@fridex thank you for the summary, that was helpful to understand where is the problem and that there is progress around it.

[2021-07-23 13:16] #321 closed

[2021-07-23 13:48] #314 closed

[2021-07-26 13:57] pacospace opened #322 "Run ML Workshop on Operate First"
As Workshop Speaker,

I would like to run my workshop on an open environment running on Openshift and use Open Data Hub (ODH) components -> `Operate First`

**Event**: https://www.devconf.info/us/
**Dates**: September 2/3  August 2021

**Workshop topic**: Cloud Native AI using Openshift

**Workshop description**: Ever thought of doing a cloud-native AI work? What does that even mean? This workshop

[2021-07-26 19:47] 4n4nd commented on #306
this does not seem to be a DNS issue so the external Service did not work. I suspect this is the same issue as #309 let's continue the discussion in that thread.

[2021-07-27 14:23] larsks commented on #309
BU ticket INC13263917 has been picked up by a network engineer.

[2021-07-27 14:47] 4n4nd commented on #306
This issue is being tracked at https://github.com/operate-first/support/issues/309. Closing this one.

[2021-07-27 14:47] #306 closed

[2021-07-27 15:47] 4n4nd commented on #315
@Gkrumbach07 let's create a public kafka user with limited privileges

[2021-07-27 16:28] first-operator[bot] opened #323 "JH spawner UI custom variables do not delete"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1627402215008600_

[2021-07-27 16:29] 4n4nd commented on #323
Image added by the user:
![image](https://user-images.githubusercontent.com/22333506/127191911-29e9e85c-72dc-4fc7-9464-03b30d8edbe3.png)

[2021-07-27 16:42] 4n4nd commented on #323
I was able to reproduce this issue, looks like the `jupyterhub-singleuser-profile-USERNAME-envs` configmap isn't update after you remove the var in the UI.

[2021-07-27 16:52] 4n4nd commented on #323
But when you try to set another variable, it replaces the older variable in the configmap.

[2021-07-27 17:03] HumairAK opened #324 "[TASK] Dynamic Flowchart on the Opf website that describes the state of the OPF cloud"
Context:

As more clusters are added to the operate-first environments, and as we bring more workloads onto these clusters, it is easy to forget and lose track of everything that's deployed. As such, it becomes increasingly difficult for a newcomer to gain an understanding of what is deployed in our community cloud. The types of information that we expect should be easily accessible and apparent a

[2021-07-27 17:05] HumairAK commented on #324
@durandom

[2021-07-27 17:15] jeff-phillips-18 commented on #323
Fixed by https://github.com/opendatahub-io/jupyterhub-singleuser-profiles/pull/164

[2021-07-27 17:20] 4n4nd commented on #323
oh awesome, I think we can close this issue in that case.

[2021-07-27 17:20] #323 closed

[2021-07-27 18:19] cdolfi commented on #309
For context:  augur.osci.io is one of the endpoints that is not accessible

[2021-07-28 08:42] durandom commented on #324
+1 on starting with the current HW available. This is the most asked first question. "What's the size of the environment? Is it real?"

For a POC we can start with a handcrafted dashboard (either simple table view or this topology plugin) and store the dashboard in a git repo. After that we look into autogenerating the dashboard based on real data.

[2021-07-28 14:27] HumairAK opened #326 "[TASK] A testdrive JupyterBook for updating PVC size"
**User story**
As a newcomer JH user to Operate First I would like an easy hands on guide on how I can use Git and interact with the operate-first repos to update my JH PVC size.

**Additional context**
Thus far we have been documenting our procedures/guides/how-to's in markdowns.

With the recent effort behind [meteor](https://github.com/AICoE/meteor) we have the opportunity to take this further

[2021-07-28 14:47] HumairAK commented on #326
One obvious concern here is the duplication of documentation. Let's first try this out, see what it would look like, and then discuss ways in which we can organize and source information from a single location.

[2021-07-28 14:49] HumairAK commented on #326
@durandom

[2021-07-28 16:01] durandom commented on #326
@HumairAK so there's no `opfcli` involved yet, correct? That's good.

Ultimately we would get rid of the https://github.com/operate-first/blueprint/blob/main/docs/userstories/jupyterhub/increase_pvc_size_jh.feature file and have the jupyterbook the source (or include the .feature file)

@mimotej let's start with a new repo. @isabelizimm can add pointers for a minimal jupyterbook.

[2021-07-28 21:18] larsks commented on #309
The initial response from network engineering is:

[2021-07-29 13:39] HumairAK opened #1013 "OS-STO-1 Node reporting connectivity outage from network-diagnostics"
Under the events for node `os-sto-1` we can see the following:

[code]

Found here: https://console-openshift-console.apps.zero.massopen.cloud/k8s/cluster/nodes/os-sto-1/events

As soon as the connection is restored, it reports an outage right after.

[2021-07-29 15:39] MichaelClifford commented on #303
@4n4nd can this istio be used?
 http://istio-ingressgateway-istio-system.apps.zero.massopen.cloud/?ns=kf-demo ?

[2021-07-29 15:45] MichaelClifford commented on #287
Hi @Gregory-Pereira any updates on this?

[2021-07-30 14:28] fridex opened #327 "Route to pulp.operate-first.cloud is broken"
**Describe the bug**

It looks like pulp.operate-first.cloud is somehow broken. Navigating to http://pulp-test-thoth-pulp-experiments.apps.zero.massopen.cloud/ works though.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulp.operate-first.cloud
2. See "Application is not available" error

**Expected behaviour**

Users should be able to access the Pulp instance.

[2021-08-02 19:41] fridex commented on #327
Closing this. The issue was in the target port that did not correspond to the one configured on the service.

/close

[2021-08-02 19:41] #327 closed

[2021-08-02 19:41] sesheta commented on #327
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/327#issuecomment-891283643):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-08-03 15:06] HumairAK opened #1012 "[INCIDENT][MOC/Zero] - node os-wrk-1 missing"
Hello Operate First users,

We are investigating an ongoing incident affecting a node on the MOC Zero cluster that has become unavailable.

Impacted users: all workloads on MOC Zero cluster

We will provide updates to this issue thread as the incident progresses.

[2021-08-03 16:09] erikerlandson commented on #313
Closed by https://github.com/operate-first/apps/pull/872

[2021-08-03 16:09] #313 closed

[2021-08-03 17:28] HumairAK opened #1011 "JupyterHub Network related issues"
The past few weeks there have been a lot of reports about JH network instabilities, issues, etc. Instead of having 10 different slack threads discussing the same thing, let's start posting the errors/issues here so that they are better catalogued.

[2021-08-03 18:26] larsks commented on #309
BU IT says that the problem is resolved:

My quick test suggests that this is true; I was able to access `augur.osci.io` port `22` from one of the openshift nodes. @cdolfi @jasonbrooks can you confirm that things are working?

[2021-08-04 08:02] durandom opened #330 "Stanford SLAC PoC for Ceph"
**Description**

This is a starting issue for gathering more information about a PoC involving a ceph cluster.
More details TBD.

**Additional context**

cc @ryancoffee @slac-omarq @mmgaggle @bwright-aiml

[2021-08-04 12:24] HumairAK opened #1010 "Send all cluster metrics to central prometheus instance to be visualized in grafana on smaug."

[2021-08-04 13:12] rbo commented on #324
This grafana plugin looks very interesting, you can add draw.io flowcharts direct into grafana and also add metrics for different colors: https://grafana.com/grafana/plugins/agenty-flowcharting-panel/

[2021-08-04 14:02] larsks opened #741 "Install new operate first cluster - 🐲 Smaug 🔥"

[2021-08-04 14:11] cdolfi commented on #309
@larsks once the zero cluster for the operate first cloud environment is back up I will test it out!

[2021-08-04 14:16] aakankshaduggal opened #331 "Request : Access to Superset"
As a Data Scientist working on https://github.com/aicoe-aiops/ocp-ci-analysis/issues/78, I need access to Superset and cloudbeaver.

username - aduggal
email - aduggal@redhat.com

cc- @hemajv @HumairAK

[2021-08-04 14:27] amsaparov opened #332 "Request : Access to Superset and Cloudbeaver"
As a Data Scientist working on aicoe-aiops/ocp-ci-analysis#78, I need access to Superset and cloudbeaver.

username - asaparov
email - asaparov@redhat.com

cc- @hemajv @HumairAK

[2021-08-04 14:57] HumairAK opened #333 "Onboard OS Climate to Operate First"
This issue to identify the tools/services that the os climate will need that can be provisioned via Operate-First, instead of redeploying it in a separate cluster.

I initially deployed ODH (Superset/Trino/JH) on the OS cluster but the same tools are deployed on the Operate First Zero cluster, and it seems like it may be more beneficial if instead to just leverage that instead.

A huge benefit is

[2021-08-04 14:58] HumairAK commented on #333
@durandom please let me know if I have missed anything.

[2021-08-04 15:00] HumairAK commented on #333
Also @erikerlandson @caldeirav

[2021-08-04 15:50] #315 closed

[2021-08-04 15:57] durandom commented on #324
@rbo this is what @HumairAK is using :)

[2021-08-04 15:57] erikerlandson commented on #333
I believe we may want to maintain the current AWS cluster as a "production" cluster, per discussion with @caldeirav

[2021-08-04 16:00] durandom commented on #333
If so, I suggest to either adopt or re-deploy it from the operate first ACM instance and manage the deployment via overlays in the apps repo.

[2021-08-04 16:01] erikerlandson commented on #333
The Allianz workflow requires GPUs to run, so for this to be a viable dev environment, the zero cluster will need GPU resources adequate to this use case. cc @ChristianMeyndt

[2021-08-04 20:02] hemajv commented on #332
Manually created user account for both CloudBeaver (granted `user` role) and Superset (granted `alpha` role).

[2021-08-04 20:03] hemajv commented on #331
Manually created user account for CloudBeaver (granted `user` role) and Superset (granted `alpha` role).
Creds shared with @aakankshaduggal

[2021-08-04 20:06] aakankshaduggal commented on #331
Thank you @hemajv :heart:

[2021-08-04 20:06] #331 closed

[2021-08-05 06:35] rbo commented on #324
Oh really, ups. I understood @HumairAK uploaded the picture/png from draw.io. 😄

[2021-08-05 11:12] durandom commented on #333
Good point and good opportunities for either remove the dependency for GPUs or add GPUs to the new environment.

[2021-08-05 12:24] HumairAK commented on #324
@rbo the plugin uses diagrams [exported from draw.io](https://algenty.github.io/flowcharting-repository/DRAWIO.html)

[2021-08-05 14:41] tumido opened #334 "Manage DNS declarativelly"
### Requested actions
Changing DNS is one of the last remaining tasks we do manually when provisioning new clusters and/or cnaming routes (like argocd.operate-first.cloud etc.) Switchboard (or any similar thing) can help us with that.

#### Operator request

If you want to request an operator, please provide the following:

1. **Name of the Operator**: switchboard
2. **Operator version**:  I don't

[2021-08-05 14:44] caldeirav commented on #333
Some requirements from developer user point of view:
1) Single dashboard with access to all the components / tools (JupyterHub, Superset,  Trino, etc...)
2) All accesses should be governed by GitHub authentication
3) Having an end-to-end guide covering the development using a GitOps approach i.e. take elyra-aidevsecops-tutorial + management of data lineage

[2021-08-05 15:45] tumido commented on #334
Btw as @durandom mentioned, Switchboard looks a bit unmaintained.

I've found https://github.com/replicatedhq/kubeflare which works with cloudflare only so it's not useful either.

If anybody has any sugestion for declarative DNS, bring it on! It doesn't have to be a kubernetes manifest, but it really needs to be able to be automated via CI.

[2021-08-05 16:34] 4n4nd opened #335 "Add Trimaran Schedular for load aware node workload scheduling"
@durandom suggested that we should deploy the [Trimaran](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/trimaran) Schedular plugin.

Blog post: https://cloud.redhat.com/blog/improving-the-resource-efficiency-for-openshift-clusters-via-trimaran-schedulers

I think this might help us with our Node workload distribution issues and we should try it out.

[2021-08-05 16:51] tumido commented on #335
This should nicely complement https://github.com/operate-first/support/issues/305 I like it. :slightly_smiling_face:

[2021-08-05 18:26] cdolfi opened #337 "NEW PROJECT: Sandiego"
### Target cluster

Zero

### Team name

opso

### Desired project names

sandiego

### Project description

Project Sandiego will glean information from open source-ecosystem data sets that can help drive community- and business-oriented decision making. Using data-analysis tools built by OSPO and IBM Research, as well as community metric tools from Project CHAOSS, Sandiego will enable contributo

[2021-08-05 19:13] #332 closed

[2021-08-05 21:39] larsks commented on #309
I'm closing this issue for now because I believe it's resolved. If you have the chance to test it out and find otherwise, please reopen it and ping me. Thanks!

[2021-08-05 21:39] #309 closed

[2021-08-06 03:36] redmikhail commented on #333
As far as I understand one of the by-products of the OS-C project was to develop and test set of tools that could be portable to environments run by current or future members of the OS-C community and potentially used in on-prem environments - @caldeirav correct me if I am wrong. If it is still one of the goals, running development environment as a service and have it managed by ACM may potentiall

[2021-08-06 04:05] caldeirav commented on #333
Yes this is why I Operate First as a "master control" environment for OS-C. We can drive deployments from ACM on multiple infrastructure, including the environment we need to have for R&D on data commons platform, the environment where the ITR / NLP / Physical Risk data science teams are doing development, and in the future there could be other streams / organizations running from the same platfor

[2021-08-06 06:28] durandom commented on #334
Does Terraform or https://crossplane.io/ support our DNS? What's our DNS based on anyway?

[2021-08-06 09:47] tumido commented on #334
Terraform does support Google Cloud DNS via
 https://registry.terraform.io/modules/terraform-google-modules/cloud-dns/google/latest

While crossplane looks neat it seems it currently doesn't have any support for DNS Zones in Google. Based on their docs they support Google Compute Engine VPC Network only, which is not useful for our usecase.

https://crossplane.io/docs/v0.4/api/crossplaneio/stack-g

[2021-08-06 16:45] oindrillac opened #338 "Access to Cloud beaver and SuperSet"
For os-climate stream demo, we need access to Superset and cloudbeaver.

username - ochatter, eerlands
email - ochatter@redhat.com, eerlands@redhat.com

cc- @hemajv @HumairAK @erikerlandson

[2021-08-08 09:18] rbo opened #339 "Setup proper (letsencrypt?) certificates for ingress."
Setup proper certificates for ingress.

[2021-08-08 09:19] rbo opened #340 "Please install openshift-pipelines operator"

[2021-08-08 09:24] rbo opened #341 "NEW PROJECT: builder ( demo onboarding for simple user access)"
### Target cluster

Morty

### Team name

rbo-builder

### Desired project names

rbo-builder

### Project description

Building container images via tekton pipeline.

### Users needing access

rbo

### Namespace Quota

Medium

### Custom quota

_No response_

### Your GPG key or contact

https://keys.openpgp.org/search?q=rbohne@redhat.com

[2021-08-08 09:28] rbo opened #342 "Quota resource overview about entire cluster"
**Description**

Do we have an overview of the available resources and quota of a cluster?

For example User onboarding at Rick cluster, how do we check If we have enough space left?

**Additional context**

[2021-08-08 09:35] rbo opened #343 "NEW PROJECT: examples-openshift-pub on rick"
### Target cluster

Morty

### Team name

examples-openshift-pub

### Desired project names

examples-openshift-pub

### Project description

EMEA Deployment of https://examples.openshift.pub

### Users needing access

rbo

### Namespace Quota

Medium

### Custom quota

_No response_

### Your GPG key or contact

https://keys.openpgp.org/search?q=rbohne@redhat.com

[2021-08-08 09:50] rbo opened #344 "Update Rick cluster to 4.8.2"
Before onboarding of users, we should try to update to laster stable version 4.8.2 including ODF/OCS?

Current version:
OpenShift: 4.7.12
ODF/OCS: 4.7.2

[2021-08-08 10:09] rbo opened #345 "Issue Template "Onboard to Continuous Deployment" - broken link"
**Describe the bug**

The issue template  "Onboard to Continuous Deployment " has a broken link:
Broken: https://github.com/operate-first/apps/tree/master/cluster-scope/base/groups
Should be: https://github.com/operate-first/apps/tree/master/cluster-scope/base/user.openshift.io/groups ?

https://github.com/operate-first/support/blob/main/.github/ISSUE_TEMPLATE/onboarding_argocd.md#creating-a-new-p

[2021-08-08 10:16] rbo opened #346 "Onboard to argocd examples-openshift-pub"
### Requested actions

Select all that apply:

- [ ] Create a new ArgoCD project for existing team
- [ ] Enlist an application to be deployed automatically via ArgoCD
- [ ] Add a new user to an ArgoCD Project

### Questionnaire

#### Creating a new project

1. **Team name**:
   Please tell us your team name, which corresponds to [an already available user `Group`](https://github.com/operate-first/

[2021-08-09 16:23] vrutkovs opened #347 "NEW PROJECT: Synapse server"
### Target cluster

Smaug

### Team name

matrix-synapse

### Desired project names

matrix-synapse, matrix-element, matrix-postgresql, matrix-slack-bridge,

### Project description

This project sets up [Matrix](https://matrix.org) chat server. The chat rooms could connect to other servers, making it a federated solution. Matrix also has a concept of bridges, which allows it emulate users from ot

[2021-08-09 16:23] vrutkovs commented on #347
/cc @durandom

This is not urgent, but would be lovely to have

[2021-08-09 20:24] HumairAK commented on #338
this is resolved, access was given on the os climate cluster

[2021-08-09 20:24] #338 closed

[2021-08-10 06:13] durandom opened #348 "DNS lists.operate-first.cloud"
For https://github.com/operate-first/community/issues/53 we need a DNS entry for lists.operate-first.cloud

cc @mscherer @goern

[2021-08-10 06:17] durandom commented on #347
This is great, it's the first contact into the OKD community.
Once the Smaug https://github.com/operate-first/SRE/issues/359 cluster is up we can start onboarding.

@vrutkovs you also should consider using our ArgoCD for deploying your workloads

[2021-08-10 11:31] goern opened #349 "onboard cgoern to rick"
I'd like to deploy an app to rick ;)

[2021-08-10 12:29] goern opened #350 "NEW PROJECT: b4mad-racing"
### Target cluster

Rick

### Team name

b4mad

### Desired project names

b4mad-racing

### Project description

This is a multi-tenant deployment of a SimRacing Telemetry Community Service!

### Users needing access

cgoern@redhat.com

### Namespace Quota

Medium

### Custom quota

_No response_

### Your GPG key or contact

34AFE2A7C8E00ED66916D95DA9FBD7DE773B2A34

[2021-08-10 13:02] HumairAK commented on #349
looks the same as https://github.com/operate-first/support/issues/350
closing

[2021-08-10 13:02] #349 closed

[2021-08-10 13:18] HumairAK commented on #339
I believe we use Openshift ACME for this for zero cluster, see [here](https://github.com/operate-first/apps/blob/63e2edab970133f7b0ab4826a870ab80e0867efb/docs/issuing_certificates.md#securing-openshift-routes-with-acme-lets-encrypt). @tumido set this up. WDYT?

[2021-08-10 13:39] HumairAK commented on #340
To do this declaratively add the subscription to the rick cluster here: https://github.com/operate-first/apps/blob/master/cluster-scope/overlays/prod/emea/rick/kustomization.yaml

e.g. for the zero cluster we have:
https://github.com/operate-first/apps/blob/master/cluster-scope/overlays/prod/moc/zero/kustomization.yaml#L123

I think that should be sufficient. Then argocd will deploy it, or...it wo

[2021-08-10 13:40] HumairAK commented on #345
yes it should, good call! mind submitting a pr?

[2021-08-11 16:13] eletonia commented on #41
Hi @tumido
We renamed Mesh for Data to Fybrik so can you create the following with the Fybrik name?

- `fybrik-system` namespace
- `fybrik` user group
- `fybrik` ArgoCD project

You can delete everything on the cluster with `mesh-for-data`
Thanks in advance!

[2021-08-11 16:25] eletonia commented on #192
Hi @HumairAK
We reduced our RBAC requirements and generated the raw rendered yaml files that we would like deployed on Operate First here:
https://github.com/fybrik/fybrik/tree/master/samples/operate-first

Please ignore the `fybrik-crd.yaml` and `fybrik.yaml` files. The cluster-scoped resources we would like deployed are organized by `kind` into directories.

Sidenote: our project was renamed fro

[2021-08-12 12:10] durandom commented on #312
@davidohana is the answer by @4n4nd sufficient?

Like discussed with @eranra it would be great to get a model trained on the data that is currently available, even if it's not super useful - because we dont have *enough* data. Eventually there will be enough data, we should make sure now, that the data has the right structure and qualities, features.

So, a notebook for model training would be sup

[2021-08-12 12:47] rbo opened #351 "Where are the user story for cluster-onboarding from SRE/Ops perspective?"
**Description**

I'm looking for the user story for cluster-onboarding from SRO/Ops perspective?

@durandom pointed me to https://github.com/operate-first/blueprint/tree/main/docs/userstories but there is nothing for cluster-onboarding from SRE/Ops perspective. What's are the steps for cluster onboarding?

**Additional context**

[2021-08-12 12:47] rbo opened #740 "Document new cluster onboarding process"
**Description**

I'm looking for the user story for cluster-onboarding from SRO/Ops perspective?

@durandom pointed me to https://github.com/operate-first/blueprint/tree/main/docs/userstories but there is nothing for cluster-onboarding from SRE/Ops perspective. What's are the steps for cluster onboarding?

**Additional context**

---
edit by @tumido:

Acceptance criteria - Let's have a doc that ca

[2021-08-12 18:27] #1012 closed, assigned to larsks, HumairAK

[2021-08-13 03:30] bkoz opened #352 "PROJECT: Bob Kozdemba"
### User details

bkozdemba@gmail.com

### Desired resource change

I'm working with 3D CT data sets and running out of jupyter notebook disk storage. Can I get my jupyterhub PVC expanded to 10GB please?

Thanks,
Bob

[2021-08-13 07:17] goern commented on #348
[code]

[2021-08-13 07:18] goern commented on #348
/priority critical-urgent
/close

[2021-08-13 07:18] sesheta commented on #348
@goern: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/support/issues/348#issuecomment-898245055):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-08-13 07:18] #348 closed

[2021-08-16 08:53] davidohana commented on #312
@durandom @4n4nd Sorry for the late response, forgot to write the reply.
I think that currently, the data is not in a usable shape for applying ML, and we may need to enhance the workflow for processing alerts and make it more structured so that we can create a model of it in few months.
The most important thing is a way to determine if an alert is "interesting" or "relevant", so that we have labe

[2021-08-16 10:35] harshad16 opened #353 "create content TLS route for the pulp-content"
**Is your feature request related to a problem? Please describe.**
It would be great to have a TLS route created for the `pulp-content`. This would the serve endpoint for serving the pulp content for installing the packages served from the pulp instance on the operate-first.

**Describe the solution you'd like**
create a TLS Route: `pulp-content.operate-first.cloud`
configure against: `pulp-conten

[2021-08-16 10:35] harshad16 commented on #353
cc: @fridex @tumido

[2021-08-16 13:23] tumido commented on #353
`pulp-content.operate-first.cloud` is CNAMEd to the Zero cluster app router. You can define your namespaced route on your own. :slightly_smiling_face:

[2021-08-16 13:34] fridex commented on #353
Thanks, created a route in `thoth-pulp-experiments` namespace. Could it be also secured using TLS?

[2021-08-16 14:08] harshad16 commented on #353
Here is the TLS set route: https://pulp-content.operate-first.cloud

[2021-08-16 14:24] harshad16 commented on #353
thanks everyone.

[2021-08-16 14:24] #353 closed

[2021-08-16 14:26] HumairAK opened #1009 "[INCIDENT][ZERO/PVCs] - PVCs unable to mount images"
Hello Operate First users,

We are investigating an ongoing incident affecting PVC mounting on MOC Zero cluster.

Impacted users: All OCP Zero users that are using PVCs, this includes Jupyterhub users.

We will provide updates to this issue thread as the incident progresses.

[2021-08-16 15:38] oindrillac opened #354 "Request : Access to Superset and Cloudbeaver"
As a Data Scientist working on aicoe-aiops/ocp-ci-analysis#78, I need access to Superset and Cloudbeaver.

username - ochatter
email - ochatter@redhat.com

cc- @hemajv @HumairAK

[2021-08-16 18:42] #354 closed

[2021-08-17 10:38] hkkolodner commented on #312
@hkolodner so I will get updates

[2021-08-17 11:52] durandom commented on #312
@4n4nd can you link to the operational procedure, i.e. probably something like https://www.operate-first.cloud/operations/sre/incident-management/incident-management-procedure.md , which defines the workflow for alert processing?

[2021-08-17 12:27] HumairAK commented on #184
@hemajv this is resolved now right?

[2021-08-17 13:13] hemajv commented on #184
@HumairAK yes, we can close this out!

[2021-08-17 13:13] #184 closed

[2021-08-17 19:09] #352 closed

[2021-08-18 10:06] rbo commented on #345
Unfortunately I don't have time next weeks :-(

[2021-08-18 12:23] tumido commented on #339
ACME controller is not capable of this, since ingress needs a certificate secret, while ACME operator can work with routes only.

I even think @larsks had a support case opened on this a while back to provide us guidance on automation of this - without a result. For now we manage those certs manually. Here's an example for zero:
https://github.com/operate-first/apps/blob/master/cluster-scope/overl

[2021-08-18 12:27] tumido commented on #340
Did any of the manual deployments happened or not at all? looking at the cluster we did no manual changes, correct?

Let's do it properly then. :slightly_smiling_face:

@mimotej would you like to give it a try?

[2021-08-18 12:36] tumido commented on #344
We can do this via our ArgoCD the same way we upgrade Zero and other clusters.

[2021-08-18 12:37] tumido commented on #343
Let's attempt this via hitchhikers guide. cc @mimotej

[2021-08-18 12:38] rbo commented on #344
Try it, but be careful with OCS/ODF

[2021-08-18 12:43] rbo commented on #340
Only manual deployment after cluster installation was the OCS/ODF installation & configuration.

[2021-08-18 13:31] tumido opened #739 "Document new cluster onboarding process"

[2021-08-18 13:35] tumido opened #738 "Create shared Bitwarden"
Based on https://github.com/operate-first/blueprint/issues/92#issuecomment-901120449

[2021-08-18 14:44] tumido opened #356 "`os-wrk-1` not mounting volumes"
**Describe the bug**
Pods are stuck in init because they can't mount volumes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://meteor-shower-aicoe-meteor.apps.zero.massopen.cloud/
2. Paste https://github.com/AICoE/elyra-aidevsecops-tutorial url
3. Click "Show details"
4. Click workloads pods and get one from the Tekton pipelines scheduled to `os-wrk-1`.

**Expected behaviour**
Vol

[2021-08-18 15:10] 4n4nd commented on #356
The issue is only seen with moc-nfs-csi storageclass PVCs. This suggests the issue is one we have seen before https://github.com/operate-first/support/issues/316

[2021-08-18 16:38] tumido opened #357 "[TASK] Cleanup obsolete group memberships after Keycloak migration"
After users are migrated to Operate First SSO, we should clean up existing Groups and remove members no longer active in community.

- [ ] remove `ipolonsk` https://github.com/operate-first/apps/pull/842#discussion_r669958990
- [ ] remove `martinpovolny` https://github.com/operate-first/apps/pull/842#discussion_r669958457 https://github.com/operate-first/apps/pull/842#discussion_r691335959
- [ ] r

[2021-08-18 16:46] #739 closed

[2021-08-18 17:06] #340 closed

[2021-08-20 09:58] paoloantinori commented on #111
hi there. is the deployment of Istio something still in the pipeline for Operate First?

[2021-08-23 15:15] fridex opened #359 "Add Fabricio to thoth-pulp-experiments namespace"
Could you please please add @fao89 (kerberos: faguiard) to the `thoth-pulp-experiments` namespace with edit permissions?

Thanks in advance.

[2021-08-23 16:57] chauhankaranraj opened #360 "Access Request: Cloudbeaver"
As a data scientist working on aicoe-aiops/ocp-ci-analysis#78 and aicoe-aiops/ocp-ci-analysis#344, I need access to cloudbeaver

Username: kachauha
Email id: kachauha at redhat dot com

/cc @hemajv @HumairAK

[2021-08-23 17:44] fao89 commented on #359
@fridex I believe this is not needed anymore, I found the issue, and it seems to be working now, please test it:
https://pulp.operate-first.cloud/pypi/test/simple/

[2021-08-23 18:22] larsks opened #737 "Upgrade infra cluster to 4.8"
Full support for 4.6 has not been available since March (extended maintenance support [ends in October 2022](https://access.redhat.com/support/policy/updates/openshift)). As we're moving to 4.8 on newer clusters, we should bring the Infra cluster up to 4.7.

[2021-08-23 20:46] HumairAK opened #361 "Hook up Hue with Trino to replace cloudbeaver"
Currently cloudbeaver does not have oauth enabled, and the plan is to only add it to [their enterprise version](https://github.com/dbeaver/cloudbeaver/issues/443). AFAIK hue accomplishes pretty much the same thing, and is also an ODH offering with [oidc](https://github.com/cloudera/hue/blob/master/desktop/conf.dist/hue.ini#L772) support. So let's try `hue` out.

Acceptance criteria:

- [ ] 1. Conf

[2021-08-23 20:47] HumairAK commented on #361
@hemajv can you provide the list of features that need to be supported by hue that cloudbeaver provides, so @suppathak knows what to look for.

[2021-08-23 21:55] fao89 commented on #359
Actually, I found another error, pulp-operator keeps reconciling with this error:

[code]

[2021-08-24 04:46] fridex opened #362 "Increase thoth-pulp-experiments-custom persistent volume quota"
### Requested actions

Please increase `thoth-pulp-experiments-custom` quota in thoth-pulp-experiments namespace. See https://github.com/operate-first/support/issues/359#issuecomment-904159934 as a reference.

### Questionnaire

1. **Team name**: Thoth

[2021-08-24 04:48] fridex commented on #359
Given your pulp expertise, it might be good to have you available in the namespace.

Related: https://github.com/operate-first/support/issues/362#issue-977698424 Thanks for spotting this 👍🏻

[2021-08-24 16:55] HumairAK commented on #362
@fridex what quota do you need updated? You can also put in a pr updating the file here: https://github.com/operate-first/apps/blob/master/cluster-scope/base/core/namespaces/thoth-pulp-experiments/resourcequota.yaml with the preferred resource quotas.

[2021-08-24 18:58] MichaelClifford commented on #219
cc @tumido @4n4nd @pacospace

Any update on this? We are at a stage in the AI4CI project where having a recurring pipeline run is critical.

[2021-08-25 07:17] durandom commented on #277
https://github.com/openshift/hypershift-toolkit

Currently examining the path of using Hypershift with kubevirt provisioner

[2021-08-25 07:21] durandom commented on #361
@HumairAK please consult with @rimolive and the ODH community if that's a recommended approach.

[2021-08-25 11:00] fridex commented on #362
@HumairAK thanks, updated in https://github.com/operate-first/apps/pull/924

[2021-08-25 12:02] #362 closed

[2021-08-25 12:59] HumairAK commented on #182
I talked with @JPinkney and he directed me to https://marketplace.visualstudio.com/items?itemName=redhat.vscode-didact

This is really cool stuff, very katacoda like experience (but with a full fledged ide) that we can offer within our docs. @durandom you probably want to take a look at this as well.

[2021-08-25 13:48] #738 closed, assigned to rbo

[2021-08-25 14:28] HumairAK commented on #361
@rimolive WDYT? We basically would like to stop relying on cloudbeaver/dbeaver if we can instead use Hue.

[2021-08-25 15:25] rimolive commented on #361
I believe it's doable since Presto/Trino connector in Hue also uses PyHive, but make sure to enable user impersonation in the connector.

https://docs.gethue.com/administrator/configuration/connectors/#trino

[2021-08-26 12:47] pacospace opened #363 "Provide link to ArgoCD UI in ArgoCD section of operate first website"
**Is your feature request related to a problem? Please describe.**
As Operate First User,

I usually look for answers respect to the component I'm considering directly in the section relative to that (e.g. ArgoCD). In this case I could not find the URL link to the UI of ArgoCD.

**Describe the solution you'd like**
Provide link to ArgoCD to ArgoCD section of operate first website

**Describe alter

[2021-08-26 13:35] HumairAK opened #364 "Support for multiple buckets in Trino and access permissions"
**Is your feature request related to a problem? Please describe.**
Right now we can only configure one bucket to trino, and we have no ways of controlling access to it.

**Describe the solution you'd like**
We would like to be able to support multiple buckets in trino, and follow this up with onboarding for "adding your bucket", and controlling who can query these buckets, the more granular we can

[2021-08-26 18:18] #276 closed, assigned to nobody

[2021-08-26 18:49] first-operator[bot] opened #365 "[Jupyterhub] 500 Error when spawning a notebook server"
Hey there 👋

This is a Slack discussion you wanted me to capture.

_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1630001737018700?thread_ts=1630001737.018700&cid=C01RMPVUUK1_

[2021-08-27 08:34] pacospace opened #366 "opf-jupyterhub-stage needs new version of jupyterhub-img"
**Describe the bug**
opf-jupyterhub-stage needs new version of jupyterhub-img because current version breaks the UI, no images are shown even if all imagestreams are set correctly.

**To Reproduce**
Steps to reproduce the behavior:
1.Login and try to spawn an image

**Expected behaviour**
Image lists to be spawn is available in JH UI.

**Screenshots**

![Screenshot from 2021-08-27 10-37-13](https:

[2021-08-27 09:27] tumido opened #367 "`os-wrk-0` not mounting volumes"
**Describe the bug**
Similar to: https://github.com/operate-first/support/issues/316 and https://github.com/operate-first/support/issues/356#issuecomment-901196373

![image](https://user-images.githubusercontent.com/7453394/131105603-3c927098-9145-476c-a978-046fab2e2753.png)

[2021-08-27 13:43] HumairAK opened #1008 "SMAUG Onboard"

[2021-08-27 15:00] #366 closed, assigned to nobody

[2021-08-27 21:26] larsks opened #736 "A question about existing clusterrolebindings"
We create a clusterolebinding named `cluster-admins-rb` to grant cluster admin privileges to the `cluster-admins` group.

OpenShift ships with two existing clusterrolebindings named `cluster-admin`:

[code]

And `cluster-admins`:

[code]

I'm not sure what the principals `system:cluster-admins` or
`system:masters` refer to. Can we utilize these bindings instead of
creating our own? Does anyone kno

[2021-08-29 14:48] larsks opened #735 "Rethinking decisions about how we organize the apps repository"
Let's say I'd like to import an application (like `metallb` or `kfdefs` or `external-secrets` or whatever) into the apps repository. That application has:

- namespaced resources that we place in a top-level application
- cluster-wide resources (rbacs, crds, etc) that get merged into the `cluster-scope` application

By separating out application components in the `cluster-scope` directory, we intr

[2021-08-30 11:25] tumido opened #368 "[TASK] Provision a cluster for DevConf US 2021 demo"
Zero is not stable enough for a workshop and Smaug has not yet finished onboarding.

Please provision an AWS cluster and set it up via operate first

[2021-08-30 13:24] #318 closed

[2021-08-30 14:53] tumido opened #734 "Pre-devconf spike"

[2021-08-30 17:01] antter opened #369 "NEW PROJECT: github-labeler"
### Target cluster

Zero

### Team name

github-labeling-team

### Desired project names

github-labeler

### Project description

The project is just a model to automatically attach labels to github issues. The goal is to expose an endpoint that sesheta or a similar bot can use for inference. Shouldn't require too many resources so I can start on a small tier.

### Users needing access

atersaak@

[2021-08-31 12:28] fao89 commented on #176
@tumido I've been seeing this at the operator logs:
Actually, I found another error, pulp-operator keeps reconciling with this error:

[code]
I suspect it may be related to NFS settings, could you please take a look?

[2021-08-31 13:37] erikerlandson commented on #364
trino examples in python
https://gitlab.cee.redhat.com/data-hub/dh-code-samples/-/tree/master/trino

[2021-08-31 16:03] eletonia opened #370 "Requesting resources for Fybrik (previously Mesh for Data)"
### Requested actions

We would like cluster-scoped resources necessary for [Fybrik](https://fybrik.io/v0.4/) deployed on the MOC Zero cluster.
We reduced our RBAC requirements and generated the raw rendered yaml files that we would like deployed here:
https://github.com/fybrik/fybrik/tree/master/samples/operate-first

Please ignore the fybrik-crd.yaml and fybrik.yaml files. The cluster-scoped res

[2021-08-31 16:04] eletonia commented on #192
Reopened a new issue here: #370

[2021-08-31 16:04] #192 closed

[2021-08-31 19:15] EldritchJS opened #371 "BUCKET: weech"
### Username

eldritchjs

### Desired bucket name

weech

### Maximal bucket size

_No response_

### Maximal bucket object count

_No response_

### Your GPG key or contact

_No response_

[2021-09-01 09:32] goern opened #372 "MIGRATE PROJECT: thoth-test-core"
### Target cluster

Rick

### Team name

aicoe-thoth

### Desired project names

thoth-test-core

### Project description

This is `thoth-test-core` and all it's dependencies being migrated from `zero` to `rick`

### Users needing access

same as on `zero`

### Namespace Quota

Custom

### Custom quota

[code]

### Your GPG key or contact

_No response_

# Acceptance Criteria
- [ ] all thoth-test-

[2021-09-01 09:32] goern commented on #372
@harshad16 @Gregory-Pereira

[2021-09-01 15:07] MichaelClifford opened #373 "Add member to data-science group on zero and smaug clusters"
Can we add @antter to the data-science group on the zero and smaug clusters?

[2021-09-01 22:19] tumido commented on #368
Resolved

[2021-09-01 22:19] #368 closed

[2021-09-01 22:30] tumido opened #733 "Post-devconf teardown"

[2021-09-01 22:30] tumido opened #1007 "Post-devconf teardown"
Delete `devconfus2021` cluster. Delete (unordered):

- [x] Remove `KlusterletAddonConfig` from ACM app in ArgoCD
- [x] Remove ArgoCD apps for this cluster (https://github.com/operate-first/argocd-apps/pull/199)
- [x] Remove cluster from ArgoCD
- [x] Remove leftover overlays if not reusable for smaug

/cc @mimotej @4n4nd @HumairAK

[2021-09-02 11:53] goern opened #374 "add Prow metrics dashboard to grafana"
**Is your feature request related to a problem? Please describe.**
Prow is exposing a lot of metrics for example at http://gh-proxy-metrics-opf-ci-prow.apps.smaug.na.operate-first.cloud/metrics please make them available as a grafana dashboard. https://github.com/kubernetes/test-infra/tree/d917e4a1e773ccf701ac58424a0b4ee3490e8dd1/config/prow/cluster/monitoring/mixins/grafana_dashboards might be he

[2021-09-02 12:25] tumido opened #732 "[INCIDENT][MOC/Zero] Nodes down"

[2021-09-02 16:39] durandom opened #375 "deploy OpenShift into POD"
POD - Penguin on Demand https://pod.penguincomputing.com/

- [ ] bootstrap a cluster
- [ ] get cluster under ArgoCD / ACM control
- [ ] deploy JH

might re-use some of the Hetzner docs: https://github.com/operate-first/hetzner-baremetal-openshift

this is a placeholder issue. Folks from SLAC, RH and POD will cc on this issue to get started.

[2021-09-02 16:42] durandom commented on #375
@aiyagari can you help deploying to POD?

@slac-omarq @ryancoffee we need specs for the cluster from you

[2021-09-02 18:27] ryancoffee commented on #375
Just tried logging into the server and it is down, from memory, 750 GB sys mem, 2 TB NVME for storage, 20 quad cores, V100 (lower memory version), P40, P4, and is host to a GraphCore M-2000 (4 IPUs, working on upgrading to 16 IPUs but that is months out.)

[2021-09-03 10:55] goern opened #376 "NEW PROJECT: thoth-station-website"
### Target cluster

Rick

### Team name

aicoe-thoth-devops

### Desired project names

thoth-website-prod

### Project description

This project is hosting https://thoth-station.ninja/ (in the future)

### Users needing access

cgoern, hnalla, fpokorny, fmurdaca

### Namespace Quota

Medium

### Custom quota

_No response_

### Your GPG key or contact

_No response_

[2021-09-03 17:23] #376 closed

[2021-09-04 04:54] goern opened #377 "rick: no internal registry configured -> build break"
**Describe the bug**
Error starting build: an image stream cannot be used as build output because the integrated container image registry is not configured

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://console-openshift-console.apps.rick.emea.operate-first.cloud/k8s/ns/thoth-website-prod/builds/thoth-station-website-1/events

**Expected behaviour**
Builds succeed, image is de

[2021-09-04 20:07] erikerlandson opened #378 "[TASK] install a new `registry-secret` for os-climate"
**User story**
as an os-climate admin, I need to enable aicoe-ci image builds pushed to the quay.io os-climate org

I have downloaded the kubernetes secret from the robot account, let me know how I should get that to you.

reference:
https://www.operate-first.cloud/blueprints/continuous-delivery/docs/setup_cd_pipeline.md#configuring-build-requirements

[2021-09-06 07:52] yrobla opened #379 "NEW PROJECT: access logs for investigation regarding machine learning"
### Requested actions

I am Yolanda from Red Hat. I need to get access to logs, in order to work on a machine learning project as part of an university degree. I am interested in getting logs from insights, in order to work on a model for error prediction.

### Questionnaire

1. **Team name**:
Yolanda Robla <yroblamo@redhat.com>

[2021-09-06 13:36] durandom commented on #147
@msdisme @accorvin  any updates on the GPUs that have been shipped to the BU datacenter?
@accorvin can you post the number and type of the GPUs here real quick?

[2021-09-06 15:49] msdisme commented on #147
I believe they have arrived – not sure of the quantity but I will look at getting them installed in the next week or so – more specific details as soon as I have them.

Also, we are working to put in place a relationship with a group that has people  onsite at the data center so that we have more flexibility – I do not have an eta on that yet.

From: Marcel Hild ***@***.***>
Date: Monday, Septembe

[2021-09-06 15:59] msdisme commented on #147
Crosslinking this ticket with https://github.com/CCI-MOC/ops-issues/issues/312

[2021-09-07 12:49] accorvin commented on #147
@durandom they should have received 3 P100s

[2021-09-07 12:49] larsks opened #731 "VolSync project for replication and backups"
@hpdempsey recently sent me a link to [a blog post](https://next.redhat.com/2021/08/23/introducing-volsync-your-data-anywhere/) about the [VolSync](https://github.com/backube/volsync) project. It looks like it may be an interesting solution to self-service PV backups (and maybe some of the replication features would also be of interest?).

I haven't looked at it in any detail yet, but thought othe

[2021-09-07 12:50] harshad16 commented on #378
send them to me via email.
i will set them in the service.

[2021-09-07 13:54] durandom commented on #379
@4n4nd can you point @yrobla to the documentation to get access to the loki logs?

[2021-09-07 14:06] pacospace commented on #378
Related-To: https://github.com/AICoE/aicoe-ci/issues/137

[2021-09-07 14:25] HumairAK opened #1006 "Set up cert-manager for Infra, smaug, balrog"

[2021-09-07 14:50] HumairAK opened #1005 "[INCIDENT][CLUSTERS/ALL] - Authentication (SSO & Keycloak Github Auth) Down"
Hello Operate First users,

We are investigating an ongoing incident affecting authentication for all clusters.

Impacted users: All users

We will provide updates to this issue thread as the incident progresses.

[2021-09-07 15:02] harshad16 commented on #378
Please use the secret-name as `os-climate-pusher-secret` in your .aicoe-ci.yaml

[2021-09-07 15:13] erikerlandson commented on #378
Awesome, thanks!

[2021-09-07 17:50] larsks opened #730 "Give lars access to shared bitwarden"
I would like access to the shared bitwarden instance created via https://github.com/operate-first/SRE/issues/363 so that I can put the kubeadmin passwords there for the smaug, zero, and infra clusters. I'm not currently a member of the [operate-first group](https://rover.redhat.com/groups/group/operate-first), and I'm not sure how to access bitwarden once the group membership is arranged.

[2021-09-08 06:54] goern opened #380 "Prow: pods cant write log"
**Describe the bug**
All of the Pods created for Prow jobs fail with a very similar error message: `{"component":"initupload","error":"failed to upload to blob storage: failed to upload to blob storage: encountered errors during upload: [writer close error: blob (key \"prow-logs/logs/periodic-close-rotten/latest-build.txt\") (code=Unknown): RequestError: send request failed\ncaused by: Put \"http:

[2021-09-08 10:13] durandom opened #381 "Onboard Koku Cluster"
@chargio maintains a long-running cluster in AWS:

https://console-openshift-console.apps.costdemo.openshift.mbulab.xyz/

We would like to

- [ ] adopt the cluster to our ACM instance
- [ ] manage cluster upgrades
- [ ] deploy real or play workloads to the cluster via ArgoCD

Benefits for our community:
- adds additional compute capacity for the Operate First community cloud
- adds a long running

[2021-09-08 10:15] durandom commented on #381
@HumairAK can you comment on what is needed to adopt a cluster? Right now the cluster has oauth for GH configured.

@mimotej please document this process in the hitchhiker guide

[2021-09-08 12:24] harshad16 commented on #380
[code]

zero cluster seems not to be functioning :(

[2021-09-08 13:50] oindrillac commented on #219
bump @tumido @4n4nd @pacospace

[2021-09-08 14:02] #1005 closed

[2021-09-08 14:05] HumairAK opened #1004 "[INCIDENT][CLUSTERS/Zero] - Cluster is down"
Hello Operate First users,

We are investigating an ongoing incident affecting the Zero Cluster. There are networking issues being experienced as well as console downtime. Access to the cluster and other managed services (like ODH) are also affected.

Impacted users: All zero cluster users

We will provide updates to this issue thread as the incident progresses.

[2021-09-08 14:36] harshad16 opened #382 "Manual route create is getting removed automatically"
**Describe the bug**
Experienced the deletion of the Route which was manually created in the **smaug** cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Networking> Routes
2. Create a route from service through `create route` option
3. Go back to routes and refresh
4. Check if the created route is present or not.

**Expected behaviour**
Route to be properly populated.

**Screens

[2021-09-08 16:05] HumairAK opened #1003 "ArgoCD does not sync deletions properly"

[2021-09-08 19:05] MichaelClifford opened #383 "PROJECT: github-pr-labeler"
### Select all that apply

- [ ] Create a new ArgoCD project for existing team
- [X] Enlist an application to be deployed automatically via ArgoCD
- [ ] Add a new user to an ArgoCD Project

### Team name

_No response_

### Target cluster

_No response_

### Managed namespaces

_No response_

### Team name or your Argo CD project

aicoe

### Application source git repository

https://github.com/ai

[2021-09-08 19:05] MichaelClifford commented on #383
cc @antter

[2021-09-08 19:09] MichaelClifford commented on #383
related to https://github.com/operate-first/support/issues/369

Will requests targeting the zero cluster be moved to smaug?

[2021-09-08 20:50] HumairAK commented on #248
Updated the task list to function more as a project

[2021-09-08 20:51] HumairAK commented on #305
Added task list to function more as a project.

[2021-09-09 13:31] MichaelClifford commented on #305
Do we think it would be reasonable to add to the task list something like, `evaluate the number of VPA interventions with and without initial resources limits defined by usage statistics analysis`?

In short, evaluating how @Shreyanand 's jupyterhub usage analysis could be used with the VPA operator?  Or should we consider this a separate initiative?

[2021-09-09 13:34] HumairAK commented on #305
@MichaelClifford can you elaborate what you mean by "with and without initial resources limits"

[2021-09-09 13:44] MichaelClifford commented on #305
Good question @HumairAK I could have been more clear :smiley:

@Shreyanand did some work that showed the "default" resource limits for JH pods did not accurately reflect usage. So what I probably should have said above is "number of VPA interventions with "default" resource limits set vs "optimized" (or something) resource limits set" where we incorporate some analysis based on historical usage to

[2021-09-09 13:58] 4n4nd commented on #305
@MichaelClifford I think that would be a separate issue/initiative since this issue is to set up the VPA operator over the whole cluster. We should create a separate issue to see how this specifically affects the pods in JH namespace.

[2021-09-09 14:36] 4n4nd commented on #383
yes, most zero requests should be moved to the smaug cluster. Unless there are other reasons for them to use emea/rick.

[2021-09-09 14:53] 4n4nd opened #384 "User Support: Back up data stored in `opf-datacatalog` bucket on zero cluster"
cc @MichaelClifford @oindrillac @aakankshaduggal

[2021-09-09 14:54] MichaelClifford commented on #305
:+1:  That is fine to track this idea as a separate issue @4n4nd, just thought it might fit well with `Track CPU/Memory utilization in Grafana, confirming results` task.

Also, just to be clear JH was our test case, but there is no real reason why the same approach could not be taken with any other application.

[2021-09-09 15:03] HumairAK commented on #305
I think the tracking should be in a separate issue, but it should be part of the same epic. So we can link it here and work in tandem.

But I love this idea, and I definitely think we should do this for a whole cluster.

[2021-09-10 08:16] goern commented on #377
Related-To: https://github.com/operate-first/support/issues/376

[2021-09-10 08:16] goern commented on #377
/assign @rbo

[2021-09-10 13:18] durandom commented on #370
@mimotej @Gregory-Pereira @4n4nd can you guide @eletonia to similar PRs for this - or documentation?

[2021-09-10 13:45] #364 closed

[2021-09-10 15:49] 4n4nd commented on #370
@eletonia
1. All our cluster-scoped resources should go [here](https://github.com/operate-first/apps/tree/master/cluster-scope/base), they are organized as `apiVersion/kind/...`.
2. For namespaces and groups, we have a [cli tool](https://github.com/operate-first/opfcli#usage) that you can use to create the necessary manifests ([an example PR](https://github.com/operate-first/apps/pull/818)).
3. Fo

[2021-09-10 16:00] cdolfi commented on #337
Is there an update on a timeline for this?

[2021-09-10 16:31] harshad16 commented on #382
Argocd auto-sync on the app enabled , is the reason for this
when we switched it off, it allowed us to create the route.
![route-test](https://user-images.githubusercontent.com/14028058/132886859-a068b8a2-0ff6-41ca-8c40-94849e2fa399.png)

Thanks everyone.

[2021-09-10 16:31] #382 closed

[2021-09-10 19:01] erikerlandson commented on #378
this new push secret is working so I will close this issue

[2021-09-10 19:01] #378 closed

[2021-09-13 13:09] #363 closed

[2021-09-13 15:14] larsks opened #729 "Connect smaug cluster to storage"
We need to provide persistent storage to the smaug cluster. Ideally this would be via the Ceph service provided by [NESE](https://nese.mghpcc.org/), but their engineer (yes, singular) appears to be swamped and we have been unable to tease an ETA out of them. In the interim, one option is to connect smaug to the existing NFS server.

[2021-09-13 15:16] larsks opened #728 "Install nmstate operator on smaug"

[2021-09-13 15:51] rbo commented on #377
Image registry was forgotten at https://github.com/operate-first/hetzner-baremetal-openshift/issues/12   :-(

Another topic for the cluster onboarding checklist...

/cc @tumido

[2021-09-13 16:22] goern commented on #377
@rbo could you deploy it now?

[2021-09-14 16:39] HumairAK opened #1002 "Programmatic authentication with dex"
Given that we're using dex atm, and there's no indication when we'll be able to switch to keycloak, it would be nice if we can enable programmatic authentication via dex + oauth. I came accross this: https://dexidp.io/docs/custom-scopes-claims-clients/#cross-client-trust-and-authorized-party that seems like it might allow for this, but might require us to write a small client app that can provide

[2021-09-14 19:30] msdisme commented on #147
we plan to put those into individual machines for now.  We will keep our eyes out for systems capable of handling multiple GPU's.

[2021-09-15 11:59] HumairAK commented on #311
Stale issue, closing -- please re-open if needed.

[2021-09-15 11:59] #311 closed

[2021-09-15 11:59] #742 closed

[2021-09-15 12:00] #1013 closed

[2021-09-15 12:01] #1011 closed

[2021-09-15 12:11] HumairAK opened #1001 "Migrate workloads from Zero to Smaug"
Let's use this issue to track all PR's related to Smaug migration. Please edit/flesh out this issue more to account for everything that needs to be migrated.

ODH:
- [x] JupyterHub / Idle culler  (let's quota the JH namespace as well) (https://github.com/operate-first/apps/pull/1054)
- [x] Trino/Superset/Cloudbeaver/hue
- [x] Seldon Operator (https://github.com/operate-first/apps/pull/1068)
- [x]

[2021-09-15 12:45] larsks opened #727 "Configure NFS vlan on smaug worker nodes"

[2021-09-15 12:59] #727 closed

[2021-09-15 13:02] tumido opened #386 "[TASK] Deploy VolSync (previously known as Scribe) to sync/backup PVCs"
**User story**
Offer users a way to distribute their PVC content across Operate First clusters

**Additional context**
https://volsync.readthedocs.io/en/latest/index.html
https://github.com/backube/volsync

**Acceptance Criteria**
- [ ]

**Linked epics / issues**

[2021-09-15 13:05] HumairAK commented on #367
Stale, closing.

[2021-09-15 13:05] #367 closed

[2021-09-15 17:03] dhonza opened #387 "Export log data sample for anomaly detection system"
### Requested actions
I kindly ask you to provide an export of a sample of your cluster log files (we have discussed that with @durandom via call). I lead a small Log Anomaly Detection team at AIC, CTU in Prague (see https://www.aic.fel.cvut.cz/). We experiment with NLP-based methods to analyze raw log files. Lately, two of my students defended their theses:

Martin Koryťák: "Anomaly Detection Met

[2021-09-16 09:19] goern opened #388 "ArgoCD Project Thoth needs access to rick,smaug cluster"
**Is your feature request related to a problem? Please describe.**
As a Thoth Application Owner,
I want ArgoCD Project Thoth be configured,
so that I can deploy applications to smaug and rick clusters

**Describe the solution you'd like**
tbd

**Describe alternatives you've considered**
tbd

**Additional context**
Looking at https://argocd.operate-first.cloud/settings/projects/thoth it is only pos

[2021-09-16 11:53] #787 closed

[2021-09-16 13:33] larsks opened #726 "If we stop using KSOPS, how do we handle non-Secret secret data?"

[2021-09-16 14:21] screeley44 opened #389 "ACM role based access"
Right now the only access granted to ACM is full admin access - should we move to a role based implementation so users only have access to their projects/clusters

https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.3/html/access_control/access-control#over[…]roles

This might require upgrading to 2.3 version

cc
@HumairAK

[2021-09-16 14:23] HumairAK commented on #389
yes we should! and yes we should upgrade to acm

[2021-09-16 14:45] screeley44 opened #390 "NEW PROJECT: uShift-Dev"
### Target cluster

Zero

### Team name

octo-ushift-dev

### Desired project names

ushift-dev

### Project description

This is development work to introduce the process of deploying a Microshift (uShift) cluster on a VM/Instance of operate-first cluster (zero-cluster). It's a POC to deploy the cluster and add it to RHACM mgmt.

### Users needing access

screeley@redhat.com,cooktheryan@redhat.co

[2021-09-16 14:49] screeley44 commented on #386
@tumido - John Strunk is the creator and my team worked very closely on this project with him and would be able to assist when needed, just let me know and I can pull in John or other resources to assist

[2021-09-16 14:51] screeley44 commented on #386
@tumido - would this be a part of the "managed services" offered? volsync is also going to be in tech preview for RHACM 2.4, just fyi

[2021-09-16 14:58] screeley44 commented on #386
Also, VolSync currently only handles file and block pvc's, might want to think about how to handle object/bucket data as well (NooBaa, rclone, ???)

[2021-09-16 15:08] screeley44 opened #391 "NEW PROJECT: ushift-dev-rick"
### Target cluster

Rick

### Team name

octo-ushift-dev

### Desired project names

ushift-dev

### Project description

This is development work to introduce the process of deploying a Microshift (uShift) cluster on a VM/Instance of operate-first cluster (rick-cluster). It's a POC to deploy the cluster and add it to RHACM mgmt.

### Users needing access

screeley@redhat.com,cooktheryan@redhat.co

[2021-09-16 15:33] durandom commented on #390
@rbo @tumido does rick have CNV ?

@screeley44 do you need any operators / capabilities available in the cluster?

[2021-09-16 15:55] screeley44 commented on #390
@durandom - at this point I don't think we need any other operators or capabilities other than KubeVirt/CNV (or whatever method we are thinking for VM/instances) to get a VM running (specific OS Image) where I can then deploy uShift.  From there, we can see what we are missing.

Another interesting case might be running uShift as an "all-in-one" container in a namespace but that is not quite ready

[2021-09-16 18:32] HumairAK commented on #389
ACM was successfully upgraded to 2.3
next step is to start handing out roles for existing clusters, I have a few already in mind. And tie it to cluster onboarding, and add docs regarding this.

[2021-09-16 18:44] harshad16 commented on #155
Thanks all for working on this and fixing this issue.

[2021-09-16 18:44] #155 closed

[2021-09-16 18:49] harshad16 commented on #372
This issue is corresponding to this issue: https://github.com/thoth-station/thoth-application/issues/1769

[2021-09-16 18:58] goern commented on #377
https://docs.openshift.com/container-platform/4.8/registry/configuring_registry_storage/configuring-registry-storage-baremetal.html

@tumido @Gregory-Pereira could one of you take this?

/priority critical-urgent
/remove-priority important-soon

[2021-09-16 19:10] harshad16 commented on #380
This issue is fixed by using the ceph from rick cluster.

[2021-09-16 19:10] #380 closed

[2021-09-16 20:55] larsks opened #725 "Upgrade ArgoCD to the current release (2.1.2)"

[2021-09-16 21:47] #372 closed

[2021-09-17 07:26] rbo commented on #390
@durandom CNV is not installed. Depending on the VM size would need more computing power.

uShift is the "tiny" version of openshift, right? Very interesting!

[2021-09-17 08:26] durandom commented on #390
looking at https://github.com/redhat-et/microshift we should be able to start with 2 CPU cores, 2GB of RAM, 2.6GB

@larsks @tumido how involved would it be to install CNV into rick?

https://github.com/operate-first/apps/blob/db96f19f650f6408b7b6f69dd498cb97624831d2/cluster-scope/overlays/prod/moc/infra/kustomization.yaml#L38-L41

[2021-09-17 10:19] durandom commented on #387
@4n4nd please link to documentation on how to access our cluster logs

[2021-09-17 11:13] robpblake commented on #300
@mariofusco : FYI, this is the onboarding ticket for DaaS into operate-first.cloud

[2021-09-17 11:58] larsks commented on #390
CNV is not difficult to install. It should be relatively quick to get it up
and running as long as you are not waiting for me to do it :).

On Fri, Sep 17, 2021 at 4:26 AM Marcel Hild ***@***.***>
wrote:

--
Lars Kellogg-Stedman ***@***.***>

[2021-09-17 12:42] #388 closed

[2021-09-17 12:47] #732 closed

[2021-09-17 12:47] #1004 closed, assigned to larsks, HumairAK, 4n4nd

[2021-09-17 14:21] durandom commented on #390
@screeley44 would you be interested in helping out to get CNV on the rick cluster? It's all git-ops and it would be a nice learning experience to familiarize yourself with the operate first tooling.

[2021-09-17 15:43] screeley44 commented on #390
@durandom - sure I can try to help out for this, but would need some pointers on where to get started with the tooling

[2021-09-17 19:03] oindrillac opened #392 "Demo cluster required for OSS session on AI4CI"
We would need a demo cluster to be provisioned for our demo at [OSS on AI4CI](https://sched.co/lBwp) which needs to be active until Sep 30.

**Users Needed:**
1-2

**Components Needed:**
- JupyterHub with Elyra  with profile `Extra Large - Memory intensive`
- Kubeflow Pipelines
- Trino
- Cloudbeaver
- SuperSet
- Cluster with Seldon Operator deployed

cc:  @aakankshaduggal @MichaelClifford @HumairA

[2021-09-17 19:13] HumairAK commented on #392
quick approximation on resources needed, donnu about kfpipelines and seldon

JupyterHub with Elyra - 2 core, 2gb mem, 1gb storage
JH Extra Large Pod x2 - 8 cores, 100 gb mem, 40gb storage (?)
Kubeflow Pipelines - no clue @4n4nd got any ideas?
Trino - 20 cores, 80gb mem, 20gb storage (taken from zero's specs, we could maybe lower this a little here depending on data size/query size)
Cloudbeaver - 1

[2021-09-17 19:17] HumairAK commented on #392
trino / JH pods are the big resource hogs, could maybe reduce trino down to 8cores/40gb mem and see where that lands us if we need to

[2021-09-17 19:22] HumairAK opened #1000 "Democratic CSI Driver on Smaug timing out"
The democratic CSI controller keeps crashing due to time outs.

See the controller pod [here](https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/democratic-csi/pods).

From the csi driver container logs:

[code]

[2021-09-17 19:34] oindrillac commented on #392
We also need an S3 storage, forgot to add that. Perhaps we can use the one on rick which @4n4nd set up for us?

[2021-09-17 19:35] 4n4nd commented on #392
yeah the bucket on Rick should be fine for that.

[2021-09-18 14:51] 4n4nd commented on #392
I am not sure, I think this is configured by the user for each pipeline run

[2021-09-20 12:58] harshad16 commented on #392
As you pointed out, the pipeline resources are indeed set by users.
on account of the deployment of kubeflow pipeline itself, i think it requires 2 cpu and more than 4 gb of memory.
more details: https://github.com/kubeflow/pipelines/search?p=6&q=cpu

[2021-09-20 15:07] MichaelClifford opened #393 "Missing option for requesting GPU's through spawner UI in OS-Climate cluster"
We are looking to test out use of the GPU on the os-climate cluster, but the jupyterhub launcher is missing the "number of GPU's" option (see below image). What needs to happen to 1) have this option added back to the UI. 2) or is there another method by which we can request a GPU node for our JH instance?

![image](https://user-images.githubusercontent.com/4494906/134025464-59911285-2034-467f-8d1

[2021-09-20 15:13] durandom commented on #392
@tumido can you try to guess what such a cluster in AWS would cost us? Ping @codificat to get numbers if needed.
@HumairAK what are the odds that either smaug is available by then?
@HumairAK @tumido can we use or upgrade rick for that?

[2021-09-20 15:19] HumairAK commented on #392
we are spinning up a cluster on aws already, expected to have all the tools mentioned above provisioned by eod

[2021-09-20 17:32] harshad16 opened #394 "Install kafka on rick cluster"
**Is your feature request related to a problem? Please describe.**
Project thoth components use kafka service, it would be great if we can install kafka on rick cluster.
kafka is shipped with odh, we can leverage that

Lets install a small kafka, to not overload the cluster.
we can have :
2 replica of kafka
3 replica of zookeeper

this should fit in the larger type resource quota.

**Describe the

[2021-09-20 17:33] harshad16 commented on #394
related-to: https://github.com/thoth-station/thoth-application/issues/1769

[2021-09-20 19:20] HumairAK commented on #392
JupyterHub: https://jupyterhub-opf-jupyterhub.apps.ai4ci.aws.operate-first.cloud/
Superset: https://superset-secure-opf-superset.apps.ai4ci.aws.operate-first.cloud
Trino: https://trino-secure-opf-trino.apps.ai4ci.aws.operate-first.cloud
Cloudbeaver: https://cloudbeaver-opf-trino.apps.ai4ci.aws.operate-first.cloud
ML Pipelines: http://ml-pipeline-ui-kubeflow.apps.ai4ci.aws.operate-first.cloud
Clust

[2021-09-20 19:23] aakankshaduggal commented on #392
Thank you @HumairAK
I was able to access them :smile:

[2021-09-21 13:02] tumido opened #395 "API certificates are not trusted"
**Describe the bug**
When `oc login` the client complains that the certificate for API is not properly signed

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behaviour**
Cert is trusted and accepted.

**Additional context**
Please fix this on clusters which have cert-manager installed only.

[2021-09-21 13:04] harshad16 opened #396 "Provision an AWS cluster for Thoth-station"
**Is your feature request related to a problem? Please describe.**
The thoth-station production environment has been down for nearly 2 weeks now (after we lost zero cluster), we would like to have an AWS cluster provisioned as the Smaug cluster seems to be in issues.
This would allow us to serve our users.

Requirements:

Openshift 4.7 or above

Minimum Cluster requirement:
CPU: 72
Memory: 128 Gi

[2021-09-21 16:39] HumairAK commented on #396
Looking at the ec2 instance types, this seems to fit for the requirement:

For master nodes (3 nodes):
m5.2xlarge - 8vCPU, 32GiB RAM

For workers (3 nodes)
c5.9xlarge - 36vCPU, 72GiB RAM - Compute Optimized

300 GB storage per node

For context, we currently have a cluster that's:
3 x m5.2xlarge + 3 x m5.8xlarge (100 GB SSD each node)

After running for about a day, the costs for this were approxi

[2021-09-21 18:22] harshad16 commented on #396
@codificat  yes you are right, i have updated the description now :+1:
thanks

[2021-09-21 18:27] HumairAK commented on #396
Haven't tried configuring aws s3, but maybe we can get more info?
How much s3 storage is needed?

[2021-09-21 18:29] harshad16 commented on #396
Is AWS s3 a different configuration?
maybe we can start with 50Gb and see about it from there.

[2021-09-21 18:51] codificat commented on #396
I don't think it's about (pre-)provisioning... it would be about using the AWS S3 API endpoint instead of Ceph (meaning you don't have to install Ceph). Makes sense?

[2021-09-22 05:15] goern commented on #396
Please go ahead.

In any case we are happy to move the workload to a more cost efficient cluster when available...

[2021-09-22 09:00] codificat commented on #396
One suggestion: when provisioning the cluster, could you add the custom tag `openshiftClusterID` to the installer, with a value of your choice (e.g. `thoth-station`)? You can specify this in [`platform.aws.userTags`](https://docs.openshift.com/container-platform/4.8/installing/installing_aws/installing-aws-customizations.html#installation-configuration-parameters-optional-aws_installing-aws-custom

[2021-09-22 12:19] durandom commented on #396
Can I suggest to use / resize the workshop cluster for this?
The we have only one cluster, unless there are technical reasons for slicing by cluster

[2021-09-22 12:43] tumido commented on #390
Hey @screeley44

Installing CNV should be as simple as subscribing to the operator. You can take a look at this PR https://github.com/operate-first/apps/pull/1015

What you need to do is:
1. create a new overlay `kubevirt-hyperconverged/overlays/emea/rick` in the `operate-first/apps` repo.
2. update cluster scoped resources in `operate-first/apps` repo for rick in `apps/cluster-scope/overlays/prod

[2021-09-22 13:00] tumido commented on #396
@HumairAK I'd prefer more of a smaller worker nodes just because of the cost efficiency when auto scaling the cluster - also let's rather provision a cluster that is smaller than the initial demand and autoscale it based of the actual usage.

The proposed worker nodes cost ~$40 a day that is much more expensive to autoscale than something that cost ~$10... what about `c5.2xlarge` or `c5.4xlarge` i

[2021-09-22 13:23] HumairAK commented on #396
@tumido yeah initially thought this too. Not against it -- but their largest CPU or Memory heavy pod should be able to fit on a node.

[code]
@harshad16 any pods using more than 8 cores and 16GiB?

Good to know, thanks!

[2021-09-22 13:31] harshad16 commented on #396
@HumairAK we have one pod which touches about 6cpu and 12 Gb memory.

[2021-09-22 13:40] HumairAK commented on #396
Sounds like `c5.2xlarge` should be sufficient then.

[2021-09-22 13:50] tumido commented on #337
Hey @cdolfi sorry for the delays again.

Question - what kind of storage do you want for this project? Is it block storage or an object bucket?

In case you want to have huge object storage you may want to consider if Operate First is the right place for that. We can't ensure you persistent and resilient bucket store, I think you may be better with requesting a bucket from MOC https://github.com/o

[2021-09-22 13:59] 4n4nd commented on #396
I think we should do 2 worker nodes of `c5.9xlarge - 36vCPU, 72GiB RAM - Compute Optimized`.
1. This will provide the users (thoth) with more flexibility for larger pod scheduling
2. 2 nodes will satisfy the minimum cpu requirement (i.e. 72 cpus).
3. If needed more in the future, we can add smaller nodes

If we do `c5.2xlarge: vCPU 8, MEM 16GiB`, we will need 9 nodes to satisfy the minimum require

[2021-09-22 15:34] tumido commented on #396
Let's not go with less than 3 nodes as the bare minimum due to availability zones. Each region has 3 avail zones, so let's have at least a node in each.

Is it really a bare minimum or peak usage though? I think @Harshad's request means "this is the bare minimum to handle our peak usage", not that this is consumed at every time. So I expect that we'll need 3-4 nodes in off-peak times and 6-9 at pe

[2021-09-22 15:41] cdolfi commented on #337
@sgoggins can you help answer this question?

[2021-09-22 16:15] 4n4nd commented on #396
Yeah that sounds good to me :+1:

[2021-09-22 16:41] harshad16 commented on #396
Sounds good to me, when can we expect this to be available ?

[2021-09-22 16:57] HumairAK commented on #396
So to summarize, we're looking at:
3 x m5.2xlarge (masters)
5 x c5.4xlarge  (workers)

Correct?

[2021-09-22 17:10] harshad16 commented on #396
sounds good to me :+1:

[2021-09-22 19:47] screeley44 commented on #391
@HumairAK @tumido - any status on this yet? or is rick cluster also on hold?

[2021-09-22 19:53] screeley44 opened #397 "Provision CNV on Rick Cluster"
Installing CNV should be as simple as subscribing to the operator. You can take a look at this PR operate-first/apps#1015

What you need to do is:

- create a new overlay kubevirt-hyperconverged/overlays/emea/rick in the operate-first/apps repo.
- update cluster scoped resources in operate-first/apps repo for rick in apps/cluster-- - scope/overlays/prod/emea/rick/kustomization.yaml - you can inspi

[2021-09-22 19:53] screeley44 commented on #397
/assign @screeley44

[2021-09-22 19:54] screeley44 commented on #390
@tumido - thanks, I'll let ya know how it goes once I get access - I'll track in this issue #397

[2021-09-23 09:30] tumido commented on #396
Yes :+1:  :slightly_smiling_face: Let's o it :slightly_smiling_face:

[2021-09-23 09:42] tumido commented on #337
FTR this onboarding should be a priority once we have clusters available again.

[2021-09-23 10:04] schwesig commented on #390
/priority critical-urgent

[2021-09-23 10:06] schwesig commented on #397
/priority critical-urgent
/kind feature
/triage accepted

[2021-09-23 10:38] goern commented on #396
cool, who will do it?

[2021-09-23 10:44] durandom commented on #396
Is the process documented? If so maybe somebody who hasn't done it yet, could run with it and improve it.

[2021-09-23 13:51] HumairAK commented on #396
what should the name of this cluster be?

[2021-09-23 14:01] tumido commented on #396
Moria?

[2021-09-23 14:15] goern commented on #396
Ozora?! like in https://www.youtube.com/watch?v=123Z5KLLiO8 ?

[2021-09-23 14:17] HumairAK commented on #396
That's not Lord of the Rings :roll_eyes:

[2021-09-23 14:39] HumairAK opened #398 "Thoughts on provisioning an AWS monitoring cluster for our monitoring stack?"
With the zero cluster down, and smaug currently lacking storage, we do not have any monitoring in place. This I think begs a very critical question -- should the monitoring stack be on the same cluster as where we run our user workloads? We are currently in the blind, with no proper visualizations/metrics/etc as we had this originally running on zero. All the effort towards aggregating metrics ont

[2021-09-23 14:42] 4n4nd commented on #398
I think this is a great idea :+1:

[2021-09-23 14:42] HumairAK commented on #398
@tumido @4n4nd @durandom

[2021-09-23 14:45] harshad16 commented on #396
We would like to go with **balrog**
@HumairAK please let us know what is the step in the procedure.

[2021-09-23 15:34] HumairAK commented on #396
the cluster is being provisioned

[2021-09-23 15:35] harshad16 commented on #396
Thanks @HumairAK

[2021-09-23 15:38] HumairAK commented on #396
@durandom
https://github.com/operate-first/support/pull/399

[2021-09-23 15:46] HumairAK commented on #396
bah I missed this, can this be added post install?

[2021-09-23 16:18] 4n4nd commented on #396
Added tag `openshiftClusterID=thoth-station` to all the balrog EC2 Instances, Volumes and Elastic IPs.
I don't think this tag will be added automatically for any volumes that are provisioned later for PVCs.
@codificat is there any way to do that?

[2021-09-23 17:05] eletonia commented on #370
@4n4nd I tried to create an application on [ArgoCD](https://argocd.operate-first.cloud/applications) using this YAML:
[code]
But I'm getting this permission denied error even though I'm logged in through GitHub:
![Screen Shot 2021-09-23 at 12 51 24 PM](https://user-images.githubusercontent.com/6710338/134551886-595e9e1d-e13a-49a0-a8f6-dc2ff38c9039.png)

Also, I don't see `Fybrik` as one of the Arg

[2021-09-23 20:43] codificat commented on #396
Thanks!

I'm not aware of a way to do this automagically outside of the installer.

That's fine though. This should already cover the highest costs.

More info: the tag is not yet part of the established reporting, it's a "PoC" that is being tried by a sister AWS account. Having it in these resources opens the door to include it in that experiment and hopefully provide more details on the associat

[2021-09-23 21:21] cdolfi commented on #337
@tumido Block storage

[2021-09-24 13:48] #1000 closed

[2021-09-24 13:49] #729 closed

[2021-09-24 14:51] HumairAK commented on #396
Okay I created an iam user/bucket policy/bucket and sent @harshad16 the access/secret key and confirmed it works.

I think that about does it for this cluster right? Can we close this?

[2021-09-27 09:04] durandom opened #400 "optimize instance sizes"
https://learnk8s.io/kubernetes-instance-calculator provides a comparison of cloud instances for a given input of pod requests / limits

I would like to see those input numbers for our clusters and then validate our sizing.

cc @hemajv @Shreyanand

[2021-09-27 13:00] HumairAK opened #999 "Superset route in dashboard doesn't work, and first/last name need to be set"
As per @rimolive :

So we should set these in oauth set up in superset config, they can be usernames for now since we don't get first/last names  via github (iirc). Also, the secure route is not used in dashboard so we should update that as well, maybe just patch the original route to use acme.

[2021-09-27 14:52] sallyom opened #401 "Enable OpenTelemetry Tracing in CRI-O, Etcd, Kube APIServer"
**Is your feature request related to a problem? Please describe.**
As of kube-1.22 and etcd 3.5, exporting OpenTelemetry trace data is experimental
* Etcd: https://etcd.io/docs/v3.5/op-guide/monitoring/#distributed-tracing
* APIServer: https://kubernetes.io/blog/2021/09/03/api-server-tracing/

And CRI-O also has opentelemetry tracing support:
* https://github.com/cri-o/cri-o/pull/4883

**Describe

[2021-09-27 16:03] HumairAK opened #998 "Deploy triage party and add webinar issues"
Identify which cluster to deploy [triage-party](https://github.com/google/triage-party), deploy it there, then add the webinar issues to this if done before webinar deadline.

[2021-09-27 16:19] HumairAK opened #997 "Implement a Superset DB backup / recovery plan"
IDH Superset has an impelementation, @maulikjs  and @rimolive are a good contact for how to do this for operate-first.

[2021-09-28 14:05] DanNiESh opened #402 "Adding a beginner tag for issues"
**Is your feature request related to a problem? Please describe.**
Margaret Haley(mhaley@redhat.com) and I would like to work on some unassigned issues. For an Operate First beginner who wants to contribute to this project, it's nice to have some easy and newbie-friendly issues to tackle. However, the current labels don't cover this category, so we don't know what to start with.

**Describe the so

[2021-09-28 14:54] hpdempsey commented on #402
@margarethaley adding you to this issue

[2021-09-28 18:58] HumairAK opened #996 "ACM resources are not playing well with ArgoCD"
As you can see here: https://argocd.operate-first.cloud/applications/acm-infra

Problem 1:
ArgoCD seems to want to prune this resource `ManagedClusterInfo` which is created by acm, probably because it's adding the `app.kubernetes.io/instance: acm-infra` label, and we haven't added it in git

Problem 2:
There's also the `ManagedClusterSet` we have deployed called `argocd-managed` which will not syn

[2021-09-28 19:07] HumairAK opened #995 "How should we handle resourcequotas for namespaces when they differ from cluster to cluster?"
Currently resource quotas are cloud-wide, this keeps things simple but gives us less flexibility when we need different quotas for similar namespace deployments. E.x. `opf-jupyterhub` one clusterA may not need as many resources as `opf-jupyterhub` on clusterB.

I think just adding overlays, and patching over quotas is the easiest way to do this. But if someone has a more intelligent / cleaner solu

[2021-09-28 20:15] HumairAK opened #994 "Keycloak log reporting errors for duplicate key value violations"
More specifically:
[code]

Found here: https://console-openshift-console.apps.moc-infra.massopen.cloud/k8s/ns/keycloak/pods/keycloak-0/logs

[2021-09-29 06:58] durandom commented on #401
@sallyom are you looking for ways to enable this in Etcd in our environment? We define cluster-scope configuration in https://github.com/operate-first/apps/tree/master/cluster-scope
Is this something we would have to do at boot time? I have no idea on how to pass cli arguments :/

@HumairAK @tumido

[2021-09-29 10:08] durandom commented on #398
what about the previous/current infra cluster?

[2021-09-29 12:24] #733 closed

[2021-09-29 12:24] #1007 closed

[2021-09-29 13:17] HumairAK opened #993 "Discuss how to introduce new users to operations in operate-first"

[2021-09-29 14:18] durandom opened #403 "deploy OpenStack"
With the zero cluster decommissioned, we might consider deploying an experimental OpenStack cluster to that hardware.
The process should follow a GitOps approach as much as possible.

https://github.com/open-infrastructure-labs/moc-cnv-sandbox/blob/master/docs/hardware.md

@larsks if you don't have any strong objections, would you work with @EmilienM to give him access to the hardware?

[2021-09-29 14:37] oglok commented on #390
Hey @tumido , could you please add me as part of the octo-ushift-dev team so I can get access to the cluster? Thx

[2021-09-29 15:44] hpdempsey commented on #402
Discussed in Operate First sprint planning today, and team supports working on this.  Marcel also notes that there is a webinar and Hacktoberfest coming up, so it would be useful to have issues tagged for that as well.  Note the "good first issue" tag is already available here, so probably makes sense to use that.  There was general agreement that all team members should go ahead and tag some exis

[2021-09-29 16:03] DanNiESh commented on #402
Awesome!

[2021-09-29 17:38] msdisme commented on #403
If we plan to do this it would be good to base the work on the installation that RH consulting helped craft for the NERC.   I'll get a link to the git repository for that.

[2021-09-29 17:43] #377 closed

[2021-09-29 17:46] tumido commented on #390
Hey! Sorry for the delays, we're still fighting some issues with the Smaug cluster so we haven't started onboarding users there. Onboarding to Zero was halted at the moment, since the HW is not reliable there. I'm gonna make all the PRs ready to go out as soon as we can start onboarding you guys. Sorry for the inconvenience :slightly_smiling_face:

[2021-09-29 18:19] harshad16 opened #404 "Trouble creating PVC in balrog cluster"
**Describe the bug**
The PVC creation is having an issue in **balrog** cluster.
while testing the pvc creation , it seems the process is pending for more time than anticipated

Example: https://console-openshift-console.apps.balrog.aws.operate-first.cloud/k8s/ns/opf-kafka/persistentvolumeclaims/test

Are there any specific distribution of PV that we need to use? (For example: 2gb,4gb,8gb etc)

[2021-09-29 18:20] harshad16 commented on #404
Related-to: https://github.com/thoth-station/thoth-application/issues/1983